/************************************************************************
 *  ReqUpdatePages.css                                                  *
 *                                                                      *
 *  Stylesheet for the scripts QueryDetailyyyy.php                      *
 *                                                                      *
 *  History:                                                            *
 *	    2019/12/04	    created                                         *
 *                                                                      *
 *  Copyright &copy; 2019 James A. Cobban                               *
 ************************************************************************/

/*	column containers */
    div.column1	{float: left;
		width: 28em;
		margin-top: 1px;
		margin-right: 3px;
		}
    div.column2	{float: left;
		margin-top: 1px;
		margin-right: 3px;
		}
    div.column3	{float: left;
		margin-top: 1px;
		margin-right: 3px;
		}
/*	labels of various widths */
    label.labelSmall9em {font-family: sans-serif;
		font-weight: bold;
		font-size: smaller;
		text-align: right;
		vertical-align: top;
		padding: 0px 3px 0px 3px;
		margin-top: 1px;
		float: left;
		width: 11em;
		}
    label.labelSmall6em {font-family: sans-serif;
		font-weight: bold;
		font-size: smaller;
		text-align: right;
		vertical-align: top;
		padding: 0px 3px 0px 3px;
		margin-top: 1px;
		float: left;
		width: 6em;
		}

