<!--*********************************************************************
 *  1841_DuffusNotes.html                                               *
 *                                                                      *
 *  History:			                            					*
 *	    2018/11/13	    convert to HTML template			            *
 **********************************************************************-->
      <div id="breadcrumbs" class="hidden">
    	<a href="/genealogy.php">Genealogy</a>: 
    	<a href="/Articles/index.php">Articles</a>: 
      </div>
	  <div class='article'>
        <h1>Description of Duffus Parish Census of 1841</h1>
	
		<h2>Enumeration District 1</h2>
		
		<p><b>Description
		of District</b></p>
		
		<p>So much of
		the parish of Duffus as lies to the North of the Road leading from
		Cross Heads at the Bigran by the Village of Newduffus to the Gate of
		Gordonston near the old manse and the Road leading from the Gipsy
		Cave at the Sea shore to Cross Roads at Bigrae comprising the whole
		north East quarter of the parish.</p>
		
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>In this
		schedule the enumerator appears to have confounded the number of
		inhabited houses with that of distinct families.  [several lines
		scratched out and illegible}</p>
				
		<p>The
		village of Newduffus, comprehended in this district, appears to have
		lost 39 of its inhabitants since 1831; the resident population then
		being 198 &amp; now (1841) only 159.  This decrease I attribute to
		ordinary <u>population fluctuation</u>, combined with a little
		colonial <u>emigration </u>within the last 10 years.</p>
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>Archibald
		Thomson, Enumerator</i></p>
				
		<h2>Enumeration District 2</h2>
		
		<p><b>Description
		of District</b></p>
				
		<p>So much of
		the parish of Duffus as lies East of the Road leading from Cross
		Roads at Bigrae by Unthank to Claymill &amp; South of the Road
		mentioned in the 1st District as leading from Cross Roads at Bigrae
		and terminating at the Old manse comprising the whole South East
		quarter of the parish.</p>
				
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>All farm
		servants or agricultural labourers sleeping over stables, or in
		out-houses, a practice pretty frequent in this part of the country,
		have been conisdered distinct families, &amp; the apartments as
		occupied or separate homes, &amp; enumerated accordingly</p>
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>Archibald
		Garden, Enumerator</i></p>
				
		<h2>Enumeration District 3</h2>
		
		<p><b>Description
		of District</b></p>
				
		<p>So much of
		the parish of Duffus as comprises the village of Hopeman together
		with the Lode on the East &amp; Mrs. Grays &amp; William W. Hardy's
		on the West.</p>
				
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>This
		schedule, which comprehends the fishing village of Hopeman
		exclusively, exhibits an increase of 145 souls in that town since
		1831.  This may be accounted for by stating that the seafaring
		portion of the pupulation marry almost unversally and in early life a
		female assistant being next to indispensable in the profession and
		rear numerous families which likenin soon intermarry.  Moreover a new
		Harbour attracts many labourers from a distance together with their
		families; several of which, it is believes, still remain in the
		Village.</p>
				
		<p>The
		abbreviation Ind. has been applied in this Schedule to designate
		individuals in poor &amp; indigent circumstances, who are in general
		unable to work and who have no distinctive profession by which to
		mark them out.</p>
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>,
		Enumerator</i></p>
				
		<h2>Enumeration District 4</h2>
		
		<p><b>Description
		of District</b></p>
				
		<p>That
		portion of the parish of Duffus comprised between the Road leading
		from the Gipsy Cove at the Sea side by wester Unthank to Clay Mill
		and thence along the Parochial boundary line on the South to James
		Stephens at Easterton near the Burghead turnpike and thence along the
		said turnpike to College, thence northward via Old Roseisle to the
		east end of Cummingston, being the entire middle section of the
		parish.</p>
				
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>The
		remarks at the end of  Schedule 2nd of this Parish applies equally to
		this Sched. 4th.</p>
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>James
		Fraser, Enumerator</i></p>
				
		<h2>Enumeration District 5</h2>
		
		<p><b>Description
		of District</b></p>
				
		<p>So much of
		the parish of Duffus as lies between the Road leading from
		Cummingston by Old Roseisle to where it intersects the Burghead
		Turnpike at College; and thence along the said turnpike to the toll
		gate of Burghead, including the Village of Cummingston.</p>
				
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>The
		Village of Cummingston in this District, now containing a population
		of 155 souls, has, it appears, decreased 43 since the Census of 1831.
		 For this the enumerator can assign no visible cause farther than one
		of those occasional fluctuations to which populations in in general
		liable.  Every house occupied by two or more families separately has
		been entered in this schedule as but one House &amp; as many Families
		as it was found to contain at the time; even alltho' such families
		consisted but of one individual only.</p>
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>John Riach, Enumerator</i></p>
				
				
		<h2>Enumeration District 6</h2>
		
		<p><b>Description
		of District</b></p>
				
		<p>So much of
		the parish of Duffus as comprises the eastern Section of the Village
		of Burghhead, or that portion cut off by a straight line which
		commencing at the toll gate on the South and passing along the main
		street terminates at the Secession Chapel on the North.</p>
				
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>In the
		village of Burghead, of which this &amp; the 7th Schedules contain
		the number, &amp; names, exclusively of the entire resident
		population, there appears an increase since 1831 of 116 souls.  This
		augmentation the subscriber would attribute, as at Hopeman (schedule
		3) chiefly to the piscatory &amp; more prolific portion of the
		community.  The Enumerator appears to have annexed the word Seaman to
		sailor &amp; fisherman indiscriminately.  This it has been
		endeavoured to remedy so fas as the subscribers' local knowled
		extends by prefixing the letter M. to the word seaman in order to
		designate a saiolor properly so called; or F. to signify a foisher,
		or person engaged in the haddock &amp; herring fisheries.  The
		abbreviation Ind. seems to have been grossly misapplied here; the
		great majority of the class indicates thereby consisting of paupers,
		&amp; persons in narrow &amp; straitnes circumstances; this has been
		corrected simply by completing the word in the case of persons really
		&amp; truly Independent. 
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>Al'r
		Fraser, Enumerator</i></p>
				
				
		<h2>Enumeration District 7</h2>
		
		<p><b>Description
		of District</b></p>
				
		<p>So much of
		the parish of Duffus as comprises the Western Section of the foresaid
		village of Burghead or that portion of it cut off to the West by the
		line mentioned in the preceding district number 6.</p>
				
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>The
		remarkes annexed to Schedule No. 6th, which see, apply with equal
		force to this; and the designations, where known, have been corrected
		in a manner exactly similar. 
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>Alexander
		Steel, Enumerator</i></p>
				
				
		<h2>Enumeration District 8</h2>
		
		<p><b>Description
		of District</b></p>
				
		<p>The West
		of the parish of Duffus lying to the South and Westward of the
		Turnpike Road leading from Burghead to Elgin, being the entire South
		West Section of the paris.</p>
				
		<p><b>Remarks
		of Schoolmaster or other person appointed to divide the Parish by the
		Sheriff or Provost</b></p>
				
		<p>On this
		schedule no remark occurs.</p>
				
		<p><i>John Riach, Schoolmaster</i></p>
				
		<p><i>Simon
		Thomson, Enumerator</i></p>
				
	  </div> <!-- article -->
