<!--*********************************************************************
 *  ArticlesIndex.html							*
 *									*
 *  This template contains information for displaying a list of		*
 *  articles about genealogy.						*
 *									*
 *    History:								*
 *	2015/01/29	created						*
 *	2018/01/23	converted to template				*
 *	2018/02/25	add Locations user guide			*
 *									*
 *  Copyright &copy; 2018 James A. Cobban				*
 **********************************************************************-->
<div class='body'>
  <div class='hidden' id='breadcrumbs'>
    <a href='/genealogy.php'>Genealogy</a>: 
  </div>
  <h1>Genealogy Articles
    <span class='right'>
	<a href='/genealogyHelp.html' target='help'>? Help</a>
    </span>
  </h1>
  $MSG
  $TRACE
  <h3>Genealogy User Guides:</h3>
    <p class='label'>
	<a href='/displayPage.php?template=Articles/ReadingHandwriting'
		target='_blank'>
	  <i>Reading Handwriting</i>
	</a>:
    </p>
    <p class='label'>
	<a href='/displayPage.php?template=Articles/FrenchOccupations'
		target='_blank'>
	  French Occupations
	</a>:
    </p>
    <p class='label'>
	<a href='/displayPage.php?template=Articles/MicrofilmGimp'
		target='_blank'>
	  Microfilm and Digital Imaging
	</a>:
    </p>
    <p class='label'>
	<a href='/displayPage.php?template=Articles/FileFormatsInGenealogy'
		target='_blank'>
	Digital Representation in Genealogy</a>:
    </p>
    <p class='label'>
	<a href='/displayPage.php?template=Articles/SpreadsheetsInGenealogy'
		target='_blank'>
	Using Spreadsheets in Genealogy</a>:
    </p>
    <p class='label'>
	<a href='/displayPage.php?template=Articles/Newsletter2013_10'
		target='_blank'>
	  User Guide: Features of the Page for an Individual in the Family Tree
	</a>:
    <p class='label'>
	<a href='/displayPage.php?template=Articles/IntroductionToUpdating'
		target='_blank'>
	  User Guide: Getting Started with Updating the Family Tree
	</a>:
    </p>
    <p class='label'>
	<a href='/displayPage.php?template=Articles/Locations'
		target='_blank'>
	  User Guide: Understanding Locations
	</a>:
    </p>
</div> <!-- body -->
