<!--*********************************************************************
 *  History:															*
 *		2018/01/23		created											*
 **********************************************************************-->
<div class='hidden' id='breadcrumbs'>
    <a href='/genealogy.php'>Genealogy</a>: 
    <a href='/Articles/index.php'>Articles</a>: 
</div>
<div class='body'>
  <h1>Introduction to Updating the Family Tree</h1>
<iframe src="/Articles/IntroductionToUpdating.pdf" type="application/pdf"
	class="white" width="100%" height="600px">
  &lt;iframe&gt; not supported by this browser.  
  <a href="/Articles/IntroductionToUpdating.pdf">download</a>
</iframe>
</div>
