<!--*********************************************************************
 *  History:								*
 *	2010/12/07	created						*
 *	2015/05/11	use contactAuthor.php to contact administrator	*
 *			add pointer to list of articles in head/foot	*
 *			use two columns to reduce length of page	*
 **********************************************************************-->
<div class='hidden' id='breadcrumbs'>
    <a href='/genealogy.php'>Genealogy</a>: 
    <a href='/Articles/index.php'>Articles</a>: 
</div>
<div class='body'>
  <h1>Microfilm in the Age of Digital Imaging</h1>
<iframe src="/Articles/MicrofilmGimp.pdf" type="application/pdf"
	class="white" width="100%" height="600px">
  &lt;iframe&gt; not supported by this browser.  
  <a href="/Articles/MicrofilmGimp.pdf">download</a>
</iframe>
</div>
