<!--*********************************************************************
 *  History:															*
 *		2010/12/07		created											*
 *		2015/05/11		use contactAuthor.php to contact administrator	*
 *						add pointer to list of articles in head/foot	*
 **********************************************************************-->
    <style type='text/css'>
	table.letters {
		margin-left: 80px;
		margin-top: 3px;
		margin-right: 3px;
		margin-bottom: 3px;
		border-top: solid 2px white;
		border-right: solid 2px black;
		border-bottom: solid 2px black;
		border-left: solid 2px white;
		padding: 0px;
		background-color: white;
		border-spacing: 0px;
		}
	td.letter {
		border: solid 1px black;
		padding: 4px;
		margin: 0px;
		}
    </style>
<div class='hidden' id='breadcrumbs'>
    <a href='/genealogy.php'>Genealogy</a>:
    <a href='/Articles/index.php'>Articles</a>: 
</div>
<div class='article'>
<h1>
    <i>Reading Handwriting</i>
    </h1>
  <p>
    One of the biggest challenges which is encountered in interpreting any
    historical document is reading handwriting. If I were Dante I would reserve
    a special form of eternal punishment for the bureaucrat who first decided
    that these documents should be filled out in longhand. That is because,
    despite the amount of time dedicated to teaching handwriting in school,
    it remains a highly idiosyncratic behaviour. Indeed it is so idiosyncratic
    that some people claim they can identify personality traits from your
    handwriting, and certainly criminologists can usually distinguish between
    an individual's handwriting and even a deliberate imitation of that
    handwriting by someone else.
  </p>
  <p>To this is added the issue that we so seldom need to deal with handwriting
    these days. All formal correspondence, for example filling in order forms, 
    uses block printing so it is
    only in personal letters that we ever see handwriting. And with the
    ever-increasing
    penetration of computers and cell-phones with text capability
    into our lives even that use of handwriting is
    fading. As with all skills the interpretation of handwriting requires
    regular practice, and we just don't get that practice any more. Some of
    the volunteers on this project are retired teachers, who have probably
    had more practice than most people at reading handwriting, but many of
    those volunteers also report problems.
  </p>
  <p>Documents created in the middle of the 19th century, such as the 1842
    through 1881 censuses, and many early BMDs, were written by people
    who came from a range of
    educational backgrounds, and who were therefore taught according to various
    standards for handwriting.  In particular British, American, and French 
    handwriting styles were distinctly different in this period. 
    One aspect to be particularly on the
    watch for is the old-fashioned  &ldquo;sharp s&rdquo; or &szlig;.  This is
    easy to mis-interpret as &ldquo;ff&rdquo; or &ldquo;fs&rdquo;, 
    but should be transcribed as &ldquo;ss&rdquo;. 
    The significance of the use of a  &ldquo;&szlig;&rdquo; instead of an
    ordinary &ldquo;s&rdquo; was that
    it signaled that the letter was to be pronounced as a voiceless
    &ldquo;s&rdquo; rather
    than the voiced  &ldquo;z&rdquo; sound that a single letter &ldquo;s&rdquo;
    normally has in English when it appears between two vowels or after
    a vowel or voiced consonant at the end of a word.
    Note that the  &ldquo;sharp s&rdquo; only occurs at the end of words
    in English.  For example if you see a given name that looks like 
    &rdquo;Agne&szlig;&rdquo; or a surname that looks like 
    &ldquo;Harri&szlig;&rdquo;, then
    transcribe it as  &ldquo;Agness&rdquo; or &ldquo;Harriss&rdquo;.
  </p>
  <p>Fortunately by the end of the 19th century the primary school system
    of teaching handwriting was well established and generally I find the 1901
    census easier to read than earlier censuses, when literacy was not as
    general.  Unfortunately the turn of the last century was the high point for
    hand-writing, as shortly thereafter the type-writer came into universal
    use in offices, and hand-writing for official purposes started its
    long decline to the current sad state.
  </p>
  <p>The purpose of this note is to provide some useful hints on how to approach
    reading handwriting.
  </p>
  <p>The most important rule of reading handwriting is to first familiarize
    yourself with the style of the individual who wrote the document.
    Fortunately with official documents you generally have several pages that
    are all written by the same individual, and that individual was to some
    extent recognized by the community as literate.  However one must
    remember that the primary quality required of any census enumerator
    or township clerk was that
    they had supported the winning party in the preceding election,
    not that they had great handwriting.  Until you are
    very familiar with reading 19th century handwriting do not
    dive straight in; first immerse yourself in the document. In particular
    surnames are <b>not</b> a good place to start, because there are so many
    different surnames, from so many cultures.
  </p>
  <p>For example consider the following fragment:
  </p>
  <p class='label'>
	<img src='/templates/Articles/image002.jpg' border='0' height='75' width='122'>
  </p>
  <p>At first glance the surname appears to be &ldquo;Guuu&rdquo; which
    makes no sense.
    However this enumerator actually has extremely good handwriting, and the
    given names are all perfectly obvious. It is the third line that gives
    the clue. The appearance of the given name &ldquo;Jennie&rdquo; 
    shows that when this enumerator writes a string of &ldquo;n&rdquo;s they
    come out looking like &ldquo;u&rdquo;s.
    With this clue looking back at the surname you can see that there is a
    subtle difference between the second letter and the third and
    fourth letters, 
    so the surname is most probably &ldquo;Gunn&rdquo;. Note,
    however, that when the enumerator writes a single &ldquo;n&rdquo; it has
    a more standard profile.
  </p>
  <p>If the handwriting is particularly difficult I like to start out by
    creating a table of the way in which the enumerator writes capital letters.
    If you know what letter a name starts with you are much more likely to
    be able to puzzle out the rest. Also, even if you still find the remainder
    of the name impenetrable, when someone later comes along to use the
    transcription they are much more likely to be able to find their relatives
    if the first letter is correct. To create this table you can start with the
    &ldquo;Sex&rdquo; column.
    Believe it or not I have encountered censuses where it was actually
    difficult to distinguish between &ldquo;F&rdquo; and &ldquo;M&rdquo;! 
    Now go to the &ldquo;Marital Status&rdquo; column.
    This is a good one because there is frequently only a subtle difference
    between &ldquo;M&rdquo; and &ldquo;W&rdquo;. 
    Now go to the &ldquo;Relationship&rdquo; column, where you will
    obtain the appearance of &ldquo;H&rdquo; and &ldquo;D&rdquo;.&nbsp; 
    From the birthplace column
    you will obtain &ldquo;O&rdquo; for &ldquo;Ontario&rdquo;, 
    &ldquo;Q&rdquo; for &ldquo;Quebec&rdquo; (a really good letter,
    since people nowadays are frequently confused 
    by its resemblance to the digit &ldquo;2&rdquo;), &ldquo;E&rdquo;
    from &ldquo;England&rdquo;, 
    and &ldquo;I&rdquo; from &ldquo;Ireland&rdquo;. It is important to know what
    &ldquo;I&rdquo; looks like because it often resembles &ldquo;J&rdquo;.
    As a result of this potential confusion the street names in
    Washington, DC jump from &ldquo;I Street&rdquo; to &ldquo;K Street&rdquo;. 
  </p>
  <p>As you construct this table be aware that individuals will write a capital
    letter differently depending upon its context. In particular they will
    write it differently when it stands by itself as opposed to when it is
    the beginning of a word.&nbsp; The following is an example of such a table
    constructed from a randomly chosen census district.&nbsp;
    For this particular
    enumerator note how he sometimes prints the initial capitals for 
    &ldquo;H&rdquo; and &ldquo;S&rdquo;, and switches between a round
    top &ldquo;M&rdquo; and pointed top &ldquo;M&rdquo;.
  </p>
<table class='letters'>
    <tr>
      <td class='letter'>A</td>

      <td class='letter'>
	<img src='/templates/Articles/image003.jpg'></img>
      </td>

      <td class='letter'>J</td>

      <td class='letter'>
	<img src='/templates/Articles/image004.jpg'></img>,
	<img src='/templates/Articles/image005.jpg' / >
      </td>

      <td class='letter'>R</td>

      <td class='letter'>
	<img src='/templates/Articles/image006.jpg'></img>
      </td>
    </tr>

    <tr>
      <td class='letter'>B</td>

      <td class='letter'>
	<img src='/templates/Articles/image007.jpg'></img>
      </td>

      <td class='letter'>K</td>

      <td class='letter'>&nbsp;</td>

      <td class='letter'>S</td>

      <td class='letter'>
	<img src='/templates/Articles/image008.jpg'></img>,
	<img src='/templates/Articles/image009.jpg' / >
      </td>
    </tr>

    <tr>
      <td class='letter'>C</td>

      <td class='letter'>
	<img src='/templates/Articles/image010.jpg'></img>
      </td>

      <td class='letter'>L</td>

      <td class='letter'>
	<img src='/templates/Articles/image011.jpg'></img>
      </td>

      <td class='letter'>T</td>

      <td class='letter'>
	<img src='/templates/Articles/image012.jpg'></img>
      </td>
    </tr>

    <tr>
      <td class='letter'>D</td>

      <td class='letter'>
	<img src='/templates/Articles/image013.jpg'></img>
      </td>

      <td class='letter'>M</td>

      <td class='letter'>
	<img src='/templates/Articles/image014.jpg'></img>,
	<img src='/templates/Articles/image015.jpg' / >
      </td>

      <td class='letter'>U</td>

      <td class='letter'>&nbsp;</td>
    </tr>

    <tr>
      <td class='letter'>E</td>

      <td class='letter'>
	<img src='/templates/Articles/image016.jpg'></img>
      </td>

      <td class='letter'>Mc</td>

      <td class='letter'>
	<img src='/templates/Articles/image017.jpg'></img>
      </td>

      <td class='letter'>V</td>

      <td class='letter'>
	<img src='/templates/Articles/image018.jpg'></img>
      </td>
    </tr>

    <tr>
      <td class='letter'>F</td>

      <td class='letter'>
	<img src='/templates/Articles/image019.jpg'></img>
      </td>

      <td class='letter'>N</td>

      <td class='letter'>
	<img src='/templates/Articles/image020.jpg'></img>
      </td>

      <td class='letter'>W</td>

      <td class='letter'>
	<img src='/templates/Articles/image021.jpg'></img>,
	<img src='/templates/Articles/image021.jpg' >
      </td>
    </tr>

    <tr>
      <td class='letter'>G</td>

      <td class='letter'>
	<img src='/templates/Articles/image022.jpg'></img>
      </td>

      <td class='letter'>O</td>

      <td class='letter'>
	<img src='/templates/Articles/image023.jpg'></img>
      </td>

      <td class='letter'>X</td>

      <td class='letter'>&nbsp;</td>
    </tr>

    <tr>
      <td class='letter'>H</td>

      <td class='letter'>
	<img src='/templates/Articles/image024.jpg'></img>,&nbsp;<img src='/templates/Articles/image025.jpg' / >
      </td>

      <td class='letter'>P</td>

      <td class='letter'>
	<img src='/templates/Articles/image026.jpg'></img>
      </td>

      <td class='letter'>Y</td>

      <td class='letter'>&nbsp;</td>
    </tr>

    <tr>
      <td class='letter'>I</td>

      <td class='letter'>
	<img src='/templates/Articles/image027.jpg'></img>,
	&nbsp;<img src='/templates/Articles/image028.jpg'></img>
      </td>

      <td class='letter'>Q</td>

      <td class='letter'>
	<img src='/templates/Articles/image029.jpg'></img>
      </td>

      <td class='letter'>Z</td>

      <td class='letter'>&nbsp;</td>
    </tr>
  </table>

  <p>By now you should have a feel for the originator's handwriting. Start
    transcribing by filling in the &ldquo;Given Names&rdquo; column,
    while staying alert
    for additional capital letters to fill in your table. Until you have that
    table complete you may continue to have problems with middle initials.
    Watch for names that start with &ldquo;Th&rdquo; or &ldquo;Mc&rdquo; as
    these combinations
    frequently result in shorthand abbreviations.
  </p>
  <p>Only once you are comfortable with the enumerator's handwriting should
    you transcribe the Surname column. This is probably the single most
    important
    column in your transcription. A family historian can always go back to
    the images to verify that you have correctly transcribed the values for
    all of the other fields, but if you have not correctly transcribed
    the surname
    nobody will ever be able to find the specific record.
  </p>
</div>
