/************************************************************************
 *  CountyMarriageEditQuery.css											*
 *																		*
 *  Stylesheet for the scripts CountyMarriageEditQuery.php				*
 *																		*
 *  History:															*
 *		2019/12/19		created											*
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 ************************************************************************/

    div.left	{   float:		        left;
		            padding:            0px;
		        }
/*	column containers */
    div.column1	{   float:		        left;
		            width:		        440px;
		            margin-top:	        1px;
		            margin-right:	    3px;
		        }
    div.column2	{   float:	            left;
		            margin-top:	        1px;
		            margin-right:	    3px;
		        }
    div.column3	{   float:	            left;
		            margin-top:	        1px;
		            margin-right:	    3px;
		        }
/*	labels of various widths */
    label.labelCol1 {
		            font-family:	sans-serif;
		            font-weight:	bold;
		            font-size:	    smaller;
		            text-align:	    right;
		            vertical-align:	top;
		            padding:	    0px 3px 0px 3px;
		            margin-top:	    1px;
		            float:		    left;
		            width:		    175px;
		            }
    label.labelCol2 {
		            font-family:	sans-serif;
		            font-weight:	bold;
		            font-size:	    smaller;
		            text-align:	    right;
		            vertical-align:	top;
		            padding:	    0px 3px 0px 3px;
		            margin-top:	    1px;
		            float:		    left;
		            width:		    140px;
		            }
    label.labelCol3 {
		            font-family:	sans-serif;
		            font-weight:	bold;
		            font-size:	    smaller;
		            text-align:	    right;
		            vertical-align:	top;
		            padding:	    0px 3px 0px 3px;
		            margin-top:	    1px;
		            float:		    left;
		            width:		    140px;
		            }
    label.labelSmall6em {
					font-family:	sans-serif;
					font-weight:	bold;
					font-size:	    smaller;
					text-align:	    right;
					vertical-align:	top;
					padding:	    0px 3px 0px 3px;
					margin-top:	    1px;
					float:		    left;
					width:		    6em;
		            }

    /*	input styles */
    input.left {
					font-family:	sans-serif;
					text-align:	    left;
					text-transform:	capitalize;
					padding:	    0px;
					border-top:	    1px solid black;
					border-left:	1px solid black;
					border-bottom:	1px solid white;
					border-right:	1px solid white;
					width:		    250px;
		            margin-bottom:	2px;
		        }
    input.leftnc {
					font-family:	sans-serif;
					text-align:	    left;
					padding:	    0px;
					border-top:	    1px solid black;
					border-left:	1px solid black;
					border-bottom:	1px solid white;
					border-right:	1px solid white;
					width:		    250px;
					margin-bottom:	2px;
		}
    input[type='checkbox'].left {
					font-family:	sans-serif;
					text-align:	    left;
					text-transform:	capitalize;
					padding:	    0px;
					border-top:	    1px solid black;
					border-left:	1px solid black;
					border-bottom:	1px solid white;
					border-right:	1px solid white;
					width:		    25px;
		            margin-bottom:	2px;
		        }
    input.leftvar {
					font-family:	sans-serif;
					text-align:	    left;
					padding:	    0px;
					border-top:	    1px solid black;
					border-left:	1px solid black;
					border-bottom:	1px solid white;
					border-right:	1px solid white;
					margin-bottom:	2px;
				}

