/**
 *  MarriageRegQuery.css
 *
 *  Stylesheet for the scripts MarriageRegQuery.php
 *
 *  History:
 *	2014/01/03	created
 *
 *  Copyright &copy; 2014 James A. Cobban
 **/

    fieldset.other    {
		border:		1px solid #808000;
		padding-left:	1px;
		padding-bottom:	1px;
		padding-right:	1px;
		}
    legend.labelSmall {
		font-family:	sans-serif;
		font-weight:	bold;
		font-size:	smaller;
		text-align:	right;
		vertical-align:	top;
		padding:	0px 3px 0px 3px;
		margin-top:	1px;
		}
/*	column containers */
    div.column1	{float: left;
		width: 23em;
		margin-top: 1px;
		margin-right: 3px;
		}
    div.column2	{float: left;
		margin-top: 1px;
		margin-right: 3px;
		}
    div.column3	{float: left;
		margin-top: 1px;
		margin-right: 3px;
		}
/*	labels of various widths */
    span.labelSmall {font-family: sans-serif;
		font-weight: bold;
		font-size: smaller;
		text-align: right;
		vertical-align: top;
		padding: 0px 3px 0px 3px;
		margin-top: 1px;
		float: left;
		width: 11em;
		}
    label.labelSmall {font-family: sans-serif;
		font-weight: bold;
		font-size: smaller;
		text-align: right;
		vertical-align: top;
		padding: 0px 3px 0px 3px;
		margin-top: 1px;
		float: left;
		width: 10em;
		}
    label.labelSmall5em {font-family: sans-serif;
		font-weight: bold;
		font-size: smaller;
		text-align: right;
		vertical-align: top;
		padding: 0px 3px 0px 3px;
		margin-top: 1px;
		float: left;
		width: 5em;
		}
    label.labelSmall9em {font-family: sans-serif;
		font-weight: bold;
		font-size: smaller;
		text-align: right;
		vertical-align: top;
		padding: 0px 3px 0px 3px;
		margin-top: 1px;
		float: left;
		width: 9em;
		}
    input.actleft {
		font-family:	sans-serif;
		text-align:	left;
		background-color: white;
		color:		black;
		text-transform: capitalize;
		padding:	0px;
		border-top:	1px solid black;
		border-left:	1px solid black;
		border-bottom:	1px solid white;
		border-right:	1px solid white;
		width:		14em;
		}

    select.actleft {
		font-family:	sans-serif;
		text-align:	left;
		background-color: white;
		color:		black;
		padding:	0px;
		width:		14em;
		}
