/************************************************************************
 *  WmbDetail.css                                                       *
 *                                                                      *
 *  Stylesheet for the script WmbQuery.php                              *
 *                                                                      *
 *  History:                                                            *
 *	    2020/01/03	    created                                         *
 *                                                                      *
 *  Copyright &copy; 2020 James A. Cobban                               *
 ************************************************************************/

/*	column containers */
    div.column1	{   float:          left;
		            width:          470px;
		            margin-top:     1px;
		            margin-right:   3px;
		        }
    div.column2	{   float:          left;
		            margin-top:     1px;
		            margin-right:   3px;
		        }
    div.column3	{   float:          left;
		            margin-top:     1px;
		            margin-right:   3px;
		        }
/*	labels of various widths */
    label.labelSmall {
                    font-family:    sans-serif;
		            font-weight:    bold;
		            font-size:      smaller;
		            text-align:     right;
		            vertical-align: top;
		            padding:        0px 3px 0px 3px;
		            margin-top:     1px;
		            float:          left;
		            width:          10em;
		}
    label.labelSmall5em {
                    font-family: sans-serif;
		            font-weight: bold;
		            font-size: smaller;
		            text-align: right;
		            vertical-align: top;
		            padding: 0px 3px 0px 3px;
		            margin-top: 1px;
		            float: left;
		            width: 5em;
		        }
    label.labelSmall7em {
                    font-family: sans-serif;
		            font-weight: bold;
		            font-size: smaller;
		            text-align: right;
		            vertical-align: top;
		            padding: 0px 3px 0px 3px;
		            margin-top: 1px;
		            float: left;
		            width: 7em;
		        }
