<!--*********************************************************************
 *  403pagefr.html                      								*
 *									                                    *
 *  Handle an HTTP 403 error, Access Denied             				*
 *									                                    *
 *    History:								                            *
 *	    2019/02/13	    created						                    *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/home.html">Home Page</a>:
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    </div>	
    <div class='body'>
      <h1>Accès Refusé</h1>
      <p>Accès refusé à l'URL <b>"$URL"</b>
      $TRACE
      </p>
    </div> <!-- body -->
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
