<!--*********************************************************************
 *  403pageen.html                      								*
 *									                                    *
 *  Handle an HTTP 403 error, Access Denied             				*
 *									                                    *
 *    History:								                            *
 *	    2019/02/13	    created						                    *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/index.html">Home Page</a>:
      <a href="/genealogy.php?lang=en">Genealogy</a>:
    </div>	
    <div class='body'>
      <h1>Access Denied </h1>
      <p>Access denied to the URL <b>"$URL"</b>
      $WARN
      </p>
    </div> <!-- body -->
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
