<!--*********************************************************************
 *  404pageen.html														*
 *																		*
 *  Handle an HTTP 404 error, Page not Found							*
 *																		*
 *    History:															*
 *		2010/02/13		created											*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/home.html">Home Page</a>:
      <a href="/genealogy.php?lang=en">Genealogy</a>:
    </div>	
    <div class='body'>
      <h1>Page Not Found</h1>
      <p>The page name portion <b>"$PAGENAME"</b> of the URL <b>"$URL"</b> 
        is misspelled.
      $TRACE
      </p>
    </div> <!-- body -->
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
