<!--*********************************************************************
 *  404pagede.html														*
 *																		*
 *  Handle an HTTP 404 error, Page not Found							*
 *																		*
 *    History:															*
 *		2010/02/13		created											*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/index.html">Startseite</a>:
      <a href="/genealogy.php?lang=de">Genealogie</a>:
    </div>	
    <div class='body'>
      <h1>Webseite nicht gefunden</h1>
      <p>Der Seitennamenabschnitt <b>"$PAGENAME"</b> der URL <b>"$URL"</b> 
        ist falsch geschrieben..
      $TRACE
      </p>
    </div> <!-- body -->
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
