<!--*********************************************************************
 *  404pagees.html														*
 *																		*
 *  Handle an HTTP 404 error, Page not Found							*
 *																		*
 *    History:															*
 *		2010/02/13		created											*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/index.html">Home Page</a>:
      <a href="/genealogy.php?lang=es">Genealogia</a>:
    </div>	
    <div class='body'>
      <h1>Página no Encontrada</h1>
      <p>La parte del nombre de la página <b>"$PAGENAME"</b> de la URL <b>"$URL"</b> 
        está mal escrito.
      </p>
      $TRACE
    </div> <!-- body -->
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
