<!--*********************************************************************
 *  404pagefr.html														*
 *																		*
 *  Handle an HTTP 404 error, Page not Found							*
 *																		*
 *    History:															*
 *		2010/02/13		created											*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/index.html">Accueil</a>:
      <a href="/genealogy.php?lang=fr">Génealogie</a>:
    </div>	
    <div class='body'>
      <h1>Page non Trouvée</h1>
      <p>La partie du nom de page <b>"$PAGENAME"</b> de l'URL <b>"$URL"</b> 
        est mal orthographié.
      $TRACE
      </p>
    </div> <!-- body -->
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
