<!--*********************************************************************
 *  Advertiseren.html												    *
 *																		*
 *  Template for a web page for account management by an advertiser.	*
 *																		*
 *  History:															*
 *		2020/01/17		created											*
 *      2021/04/01      use ES2015 module                               *
 *																		*
 *  Copyright &copy; 2021 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">
		  Genealogy
      </a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">
		  Services
      </a>:
    </div>	
    <div class="body">
      <h1>
        <span class="right">
		  <a href="/AdvertiserHelpen.html" target="help">? Help</a>
        </span>
		  Advertiser $ADNAME Account Management
      </h1>
      $TRACE
      $MSG
      <form id="locForm" name="locForm" action="Advertiser.php"
                  method="post" enctype="multipart/form-data">
          <h2>Your Current Advertisement:</h2>
          <div id="displayAdvertisement" style="float: left;">
              $ADVERTISEMENT
          </div>
          <input type="hidden" name="lang" id="lang" value="$LANG">
          <input type="hidden" name="Debug" id="Debug" value="$DEBUG">
          <div class="row" style="margin-left: 3em; margin-top: 8px; clear: both;">
            <span class="pad">
              <button type="submit" id="Submit">
                <span style="display: inline;">
		          Update Account Settings
                </span>
              </button>
            </span>
            <span class="pad">
              <a href="/Advertisements/$ADNAME.html" download class="button">
		          Download Current Advertisement
              </a>
            </span>
            <span class="pad">
              <input type="file" accept=".html"
                    id="file" name="file" style="display: none;">
              <button type="button" id="upload">
		          Upload New Advertisement
              </button>
            </span>
          </div> <!-- class="row" -->
          <h2 style="clear: both;">Statistics by Month:</h2>
          <!--- Put out the response as a table -->
          <table class="details" id="dataTable">
          <!--- Put out the column headers -->
            <thead>
		      <tr>
		        <th class="colhead">
		            E-Mail
		        </th>
		        <th class="colhead">
		            January
		        </th>
		        <th class="colhead">
		            February
		        </th>
		        <th class="colhead">
		            March
		        </th>
	            <th class="colhead">
			        April
		        </th>    <!--  4 -->
	            <th class="colhead">
			        May
		        </th>      <!--  5 -->
	            <th class="colhead">
			        June
		        </th>     <!--  6 -->
	            <th class="colhead">
			        July
		        </th>     <!--  7 -->
	            <th class="colhead">
			        August
		        </th>   <!--  8 -->
	            <th class="colhead">
			        September
		        </th><!--  9 -->
	            <th class="colhead">
			        October
		        </th>  <!-- 10 -->
	            <th class="colhead">
			        November
		        </th> <!-- 11 -->
	            <th class="colhead">
			        December
		        </th> <!-- 12 -->
	          </tr>
	        </thead>
            <tbody>
		      <tr id="bodyRow">
		        <td class="total left">
		          <input type="text" class="white leftnc" size="18"
			                name="AdEmail" id="AdEmail"
			                value="$ADEMAIL">
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL01
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL02
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL03
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL04
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL05
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL06
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL07
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL08
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL09
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL10
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL11
		        </td>
		        <td class="total right" style="min-width: 90px">
			            $TOTAL12
		        </td>
		      </tr>
            </tbody>
          </table>
      </form>
    </div> <!-- class="body" -->
    <div class="hidden" id="messages">
        <span id="notAnAdvertiser">
            You are not accessing this page from an Advertiser account.
            Please use the "Contact Author" item in the page menu to
            contact the administrator if you wish to advertise 
            on this site.
        </span>
        <p id="fileUploaded">
            You have updated your advertisement page.
        </p>
    </div>
    <div class="balloon" id="Helpfile">
        Specify the file to be uploaded to the web-site.
    </div>
    <div class="balloon" id="Helpupload">
        Initiate the upload of the new advertisement template
        to the web-site.
    </div>
    <div class="balloon" id="HelpAdEmail">
      This field permits the user to change the e-mail address associated
      with the advertiser account.
    </div>
    <div class="balloon" id="HelpSubmit">
      Click on this button to apply changes to the account.
    </div>
    <script src="Advertiser.js" type="module">
    </script>
