<!--*********************************************************************
 *  Advertisersen.html                                                  *
 *                                                                      *
 *  Template for a web page for managing the advertisers.               *
 *                                                                      *
 *  History:                                                            *
 *      2019/12/20      created                                         *
 *      2020/01/12      add totals line to display                      *
 *                      add ability to add a new Advertiser             *
 *                      add ability to delete an Advertiser             *
 *                      complete changing name and e-mail address       *
 *                                                                      *
 *  Copyright &copy; 2020 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">
          Genealogy
      </a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">
          Services
      </a>:
    </div>  
    <div class="body">
      <h1>
        <span class="right">
          <a href="/AdvertisersHelpen.html" target="help">? Help</a>
        </span>
          Advertisers Master List
      </h1>
      $TRACE
      $MSG
      <p class="message" id="notadmin">
          Only an administrator can use this application
      </p>
      <p class="label" id="advertisersCount">
          $COUNT Advertisers match the specified pattern.
      </p>
      <form id="locForm" name="locForm" action="Advertisers.php"
                  method="post">
          <input type="hidden" name="lang" id="lang" value="$LANG">
          <input type="hidden" name="Debug" id="Debug" value="$DEBUG">
          <div class="row" style="margin-left: 3em; margin-top: 3px;">
            <button type="submit" id="Submit">
                <span style="display: inline;">
                  Update
                </span>
            </button>
            &nbsp;
            <button type="button" id="Add">
                <span style="display: inline;">
                  Add an Advertiser
                </span>
            </button>
            &nbsp;
            <a href="mailto:?to=$TOLIST&amp;bcc=$BCCLIST&amp;subject=[JamesCobban.net]%20Notice%20to%20Advertisers"
                  class="button" id="bulkMail">
                <span style="white-space: nowrap; text-indent: 0em;">
                    Send Mail to all Advertisers
                </span>
            </a>
          </div> <!-- class="row" -->
          <div class="center" id="topBrowse">
            <span class="left" id="topPrev">
              <a href="/Advertisers.php?limit=$limit&amp;offset=$prevoffset&amp;lang=$LANG">
                &lt;---
              </a>
            </span>
            <span class="right" id="topNext">
              <a href="/Advertisers.php?limit=$limit&amp;offset=$nextoffset&amp;lang=$LANG">
                ---&gt;
              </a>
            </span>
                rows $FIRSTOFFSET to $LAST of $COUNT
            <div style="clear: both;"></div>
          </div> <!-- id="topBrowse" -->
          <!--- Put out the response as a table -->
          <table class="details" id="dataTable">
          <!--- Put out the column headers -->
            <thead>
              <tr>
                <th class="colhead" id="NameHead">
                    Advertiser Name
                </th>
                <th class="colhead">
                    E-Mail
                </th>
                <th class="colhead">
                    January
                </th>
                <th class="colhead">
                    February
                </th>
                <th class="colhead">
                    March
                </th>
                <th class="colhead">
                    April
                </th>    <!--  4 -->
                <th class="colhead">
                    May
                </th>      <!--  5 -->
                <th class="colhead">
                    June
                </th>     <!--  6 -->
                <th class="colhead">
                    July
                </th>     <!--  7 -->
                <th class="colhead">
                    August
                </th>   <!--  8 -->
                <th class="colhead">
                    September
                </th><!--  9 -->
                <th class="colhead">
                    October
                </th>  <!-- 10 -->
                <th class="colhead">
                    November
                </th> <!-- 11 -->
                <th class="colhead">
                    December
                </th> <!-- 12 -->
                <th class="colhead">
                    Annual Total
                </th> <!-- 12 -->
                <th class="colhead" id="ActionsHead">
                    Actions
                </th> 
              </tr>
            </thead>
            <tbody>
              <tr id="Row$id">
                <td class="$rowtype left">
                  <input type="text" class="white leftnc" size="18"
                            name="AdName$id" id="AdName$id"
                            value="$adname">
                  <input type="hidden"
                            name="OldAdName$id" id="OldAdName$id"
                            value="$adname">
                  <input type="hidden"
                            name="RowNum$id" id="RowNum$id"
                            value="$row">
                </td>
                <td class="$rowtype left">
                  <input type="text" class="white leftnc" size="18"
                            name="AdEmail$id" id="AdEmail$id"
                            value="$ademail">
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count01
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count02
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count03
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count04
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count05
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count06
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count07
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count08
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count09
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count10
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count11
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $count12
                </td>
                <td class="$rowtype right" style="min-width: 90px">
                        $total
                </td>
                <td class='center'>
                  <button type='button'
                            id='Delete$id'>
                        Delete
                  </button> 
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr id="footRow">
                <th class="total left" id="NameFoot">
                        Totals
                </th>
                <td class="total left">
                        &nbsp;
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL01
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL02
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL03
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL04
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL05
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL06
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL07
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL08
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL09
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL10
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL11
                </td>
                <td class="total right" style="min-width: 90px">
                        $TOTAL12
                </td>
                <td class="total right" style="min-width: 90px">
                </td>
                <th class="total left" id="ActionsFoot">
                    Actions
                </th>
              </tr>
            </tfoot>
          </table>
          <input type="hidden" name="AdName999999999" value="">
      </form>
    </div> <!-- class="body" -->
    <div class="hidden" id="templates">
        <table>
          <tbody>
            $TEMPLATE
          </tbody>
        </table>
    </div>
    <div class="hidden" id="messages">
        <span id="duplicateName">
            New advertiser name '$adname' is a duplicate of an existing advertiser name. 
        </span>
    </div>
    <div class="balloon" id="Helppattern">
      <p>
          This is an 
          <a href="https://www.regular-expressions.info/posix.html#ere">
              extended regular expression</a>,
          as supported by MySQL,
          which is used to search for advertisers based upon their advertiser name.
      </p>
      <ul>
        <li>If the pattern contains no special 
            characters then only advertisers containing that string will be included.
            For example the pattern "bob" will match advertisers containing the
            string "bob".  Note that the search ignores case, so that pattern
            will also match "Bob" and "BOB".
        </li>
        <li>If the pattern begins with a caret '^' then only advertisers that
            <b>begin</b> with the remainder of the pattern are included.  
            For example the pattern
            "^Ba" displays advertisers starting with "Ba" (or "ba" or "BA").
        </li>
        <li>If the pattern ends with a dollar sign '$', then only advertisers that
            <b>end</b> with the remainder of the pattern are included.  
            For example the pattern
            "CA$" matches advertisers that end with "CA" (or "ca" or "Ca").
        </li>
        <li>In a pattern a period '.' matches any single character.  For example
            the pattern "B.b" matches any advertiser that contains two letter Bs
            separated by one character, for example "Bab", "Beb", "Bib", "Bob",
            or "Bub" anywhere in the advertiser name.
        </li>
        <li>In a pattern an asterisk '*' matches zero or more of the preceding
            character; "bo*b" matches "bb", "bob", and "boob"
            anywhere in the advertiser name.
        </li>
      </ul>
    </div>
    <div class="balloon" id="HelpmailPattern">
      <p>
          This is an 
          <a href="https://www.regular-expressions.info/posix.html#ere">
                extended regular expression</a>,
          as supported by MySQL,
          which is used to search for advertisers based upon their advertiser name.
      </p>
      <ul>
        <li>If the pattern contains no special 
          characters then only advertisers whose e-mail address contains that string
          will be included.
          For example the pattern "London" will match advertisers whose e-mail address
          contains the
          string "London".  Note that the search ignores case, so that pattern
          will also match "LONDON" and "london".
        </li>
        <li>If the pattern begins with a caret '^' then only advertisers whose e-mail
          address <b>begins</b> with the remainder of the pattern are included.  
          For example the pattern "^Ba" displays advertisers whose e-mail address
          starts with "Ba" (or "ba" or "BA").
        </li>
        <li>If the pattern ends with a dollar sign '$', then only advertisers whose
          e-mail address <b>ends</b> with the remainder of the pattern are
          included.  For example the pattern "CA$" matches advertisers whose e-mail
          address ends with "CA" (or "ca" or "Ca").
        </li>
        <li>In a pattern a period '.' matches any single character.  For example
          the pattern "B.b" matches any advertiser whose e-mail address contains two
          letter Bs separated by one character, for example "Bab", "Beb", "Bib",
          "Bob", or "Bub" anywhere in the e-mail address.
        </li>
        <li>In a pattern an asterisk '*' matches zero or more of the preceding
          character; "bo*b" matches "bb", "bob", and "boob"
          anywhere in the e-mail address.
        </li>
      </ul>
    </div>
    <div class="balloon" id="HelpEMail">
      This field permits the administrator to change the e-mail address supplied
      by the contributor.
    </div>
    <div class="balloon" id="HelpSubmit">
      Click on this button to search for matching advertisers.
    </div>
    <div class="balloon" id="HelpAdd">
      Click on this button to add a new empty row to the list of
      advertisers.
    </div>
    <div class="balloon" id="HelpAdName">
      Enter the filename of the advertisement in directory Advertisements
      in this field.
    </div>
    <div class="balloon" id="HelpAdEmail">
      Enter the email address of the Advertiser's agent who is responsible
      for managing this advertisement.
    </div>
    <div class="balloon" id="HelpDelete">
      Click on this button to delete the associated advertiser.
    </div>
    <script src="Advertisers.js" type="module">
    </script>
