<!--*********************************************************************
 *  ancestorReportennlhtml												*
 *																		*
 *  Display a web page containing a report of the ancestors of an		*
 *  individual.															*
 *																		*
 * History:																*
 *		2018/10/25      created                                         *
 *      2019/02/08      missing link to invoking Person                 *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
	  <a href="/index.html">Home</a>:
    <a href="/genealogy.php?lang=$LANG">
		Genealogy
    </a>:
    <a href="/genCountry.php?cc=CA&lang=$LANG">
		Canada
    </a>:
    <a href="/Canada/genProvince.php?Domain=CAON&lang=$LANG">
		Ontario
    </a>:
    <a href="/FamilyTree/Services.php?lang=$LANG">
		Services
    </a>:
    <a href="/FamilyTree/nominalIndex.php?name=$NAMEURI&treename=$TREENAME&lang=$LANG">
		Nominale Index
    </a>:
    <span id="surnamesPrefix">
        <a href="/FamilyTree/Surnames.php?initial=$PREFIX&lang=$LANG">
		Achternaamen beginnend met  '$PREFIX'
    </a>:
    </span>
    <span  id="surname">
        <a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=$LANG">
		Achternaam '$SURNAME'
    </a>:
    </span>
    <span  id="person">
        <a href="/FamilyTree/Person.php?idir=$IDIR&lang=$LANG">
		$NAME
        </a>:
    </span>
  </div>

  <div class="body">
    <h1>
      <span class="right">
		<a href="ancestorReportHelpen.html" target="help">? Help</a>
      </span>
      <span id="title">
        Voorouders Boom $NAME
      </span>
      <div style="clear: both;"></div>
    </h1>
    $TRACE
    $MSG
    <p class="message" id="private">
        Deze persoon is privé. Kan voorouders niet weergeven
    </p>
    <form name="depthForm" id="depthForm" action="ancestorReport.php"
				method="get">
      <div class="row">
		<label class="column1" for="ancDepth">
		  Maximale diepte in generaties:
		</label> 
		<input type="text" name="ancDepth" id="ancDepth"
				size="2" class="white rightnc"
				value="$ANCDEPTH">
		<input type="hidden" name="idir" id="idir"
				value="$IDIR">
		<div style="clear: both;"></div>
      </div>  <!-- class="row" -->
      <div class="row">
		<label class="column1" for="incLocsSet">
		  Toon locaties?
		</label>
		<input type="checkbox" name="incLocsSet" id="incLocsSet"
				value="1" $INCLOCSCHECKED>
		<input type="hidden" name="incLocs" id="incLocs"
				value="$INCLOCS">
		<div style="clear: both;"></div>
      </div>  <!-- class="row" -->
      <div class="row">
		<button type="button" id="Close" accessKey="C">
		  Sluiten
		</button>
      </div>  <!-- class="row" -->
    </form>
	$DATA
  </div>	<!-- end of <div id="body"> -->
  <div id="templates" class="hidden">
    <p id="showPerson">
      $PREFIX 
      <a href="Person.php?idir=$IDIR" class="$GCLASS">
  		$NAME
      </a>
    </p>
    <span id="Father">Vader</span>
    <span id="Mother">Moeder</span>
    <span id="Fathers">s Vader</span>
    <span id="Mothers">s Moeder</span>
    <span id="Failure">Mislukking</span>
    <span id="direction">CP</span>
    <span id="Unknown">Unbekannt</span>
    <span id="direction">CP</span>
    <span id="missing">Er is geen bestaande persoon bij IDIR=$idir. </span>
    <span id="missingIdir">Ontbrekende verplichte parameter IDIR. </span>
  </div><!-- id="templates" -->
  <div id="HelpancDepth" class="balloon">
	Specificeer het aantal generaties voorouders dat moet worden weergegeven.
  </div>
  <div id="HelpincLocsSet" class="balloon">
	Click on this checkbox to determine whether or not locations are included
	with the reported birth and death events.
  </div>
  <div id="HelpClose" class="balloon">
	Click on this button to close the dialog.  Keyboard shortcuts are Alt-C and
	Alt-Shift-C.
  </div>
    <script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
    <script src="/jscripts/util.js" type="text/javascript">
    </script>
    <script src="ancestorReport.js" type="text/javascript">
    </script>
