<!--*********************************************************************
 *  ancestorReporten.html												*
 *																		*
 *  Display a web page containing a report of the ancestors of an		*
 *  individual.															*
 *																		*
 * History:																*
 *		2018/10/25      created                                         *
 *      2019/02/08      missing link to invoking Person                 *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
	  <a href="/home.html">Home</a>:
    <a href="/genealogy.php?lang=$LANG">
		Genealogy
    </a>:
    <a href="/genCountry.php?cc=CA&lang=$LANG">
		Canada
    </a>:
    <a href="/Canada/genProvince.php?Domain=CAON&lang=$LANG">
		Ontario
    </a>:
    <a href="/FamilyTree/Services.php?lang=$LANG">
		Services
    </a>:
    <a href="/FamilyTree/nominalIndex.php?name=$NAMEURI&treename=$TREENAME&lang=$LANG">
		Nominal Index
    </a>:
    <span id="surnamesPrefix">
        <a href="/FamilyTree/Surnames.php?initial=$PREFIX&lang=$LANG">
		Surnames Starting with '$PREFIX'
    </a>:
    </span>
    <span  id="surname">
        <a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=$LANG">
		Surname '$SURNAME'
    </a>:
    </span>
    <span  id="person">
        <a href="/FamilyTree/Person.php?idir=$IDIR&lang=$LANG">
		$NAME
        </a>:
    </span>
  </div>

  <div class="body">
    <h1 id="title">
        Ancestor Tree $NAME
      <span class="right">
		<a href="ancestorReportHelpen.html" target="help">? Help</a>
      </span>
    </h1>
    $TRACE
    $MSG
    <p class="message" id="private">
        This individual is private.  Cannot display ancestors.
    </p>
    <form name="depthForm" id="depthForm" action="ancestorReport.php"
				method="get">
      <div class="row">
		<label class="column1" for="ancDepth">
		  Maximum depth in generations:
		</label> 
		<input type="text" name="ancDepth" id="ancDepth"
				size="2" class="white rightnc"
				value="$ANCDEPTH">
		<input type="hidden" name="idir" id="idir"
				value="$IDIR">
      </div>  <!-- class="row" -->
      <div class="row">
		<label class="column1" for="incLocsSet">
		  Display locations?
		</label>
		<input type="checkbox" name="incLocsSet" id="incLocsSet"
				value="1" $INCLOCSCHECKED>
		<input type="hidden" name="incLocs" id="incLocs"
				value="$INCLOCS">
      </div>  <!-- class="row" -->
      <div class="row">
		<button type="button" id="Close" accessKey="C">
		  <u>C</u>lose
		</button>
      </div>  <!-- class="row" -->
    </form>
	$DATA
  </div>	<!-- end of <div id="body"> -->
  <div id="templates" class="hidden">
    <p id="showPerson">
      $PREFIX 
      <a href="Person.php?idir=$IDIR" class="$GCLASS">
  		$NAME
      </a>
    </p>
    <span id="Father">Father</span>
    <span id="Mother">Mother</span>
    <span id="Fathers">'s Father</span>
    <span id="Mothers">'s Mother</span>
    <span id="Failure">Failure</span>
    <span id="Unknown">Unknown</span>
    <span id="direction">CP</span>
    <span id="missing">There is no existing person with IDIR=$idir. </span>
    <span id="missingIdir">Missing mandatory parameter idir. </span>
  </div><!-- id="templates" -->
  <div id="HelpancDepth" class="balloon">
	Specify the number of generations of ancestors to display.
  </div>
  <div id="HelpincLocsSet" class="balloon">
	Click on this checkbox to determine whether or not locations are included
	with the reported birth and death events.
  </div>
  <div id="HelpClose" class="balloon">
	Click on this button to close the dialog.  Keyboard shortcuts are Alt-C and
	Alt-Shift-C.
  </div>
    <script src="ancestorReport.js" type="module">
    </script>
