<!--*********************************************************************
 *  BirthRegResponseen.html										        *
 *																		*
 *  Template to display the results of a query of the birth             *
 *  registrations table in English.	                                    *
 *																		*
 *  History:															*
 *		2018/10/09		created                                   		*
 *      2018/12/21      add message texts                               *
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/index.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">
      	Genealogy
      </a>:
      <a href="/Canada/CountriesEdit.php?lang=$LANG">
          List of Supported Countries
      </a>:
      <a href="/genCountry.php?cc=$CC&amp;lang=$LANG">
      	$COUNTRYNAME
      </a>:
      <a href="/Canada/genProvince.php?Domain=$DOMAIN&amp;lang=$LANG">
      	$DOMAINNAME
      </a>:
    	<a href="BirthRegQuery.php?domain=$DOMAIN&amp;lang=$LANG">
      	Birth Query
      </a>:
      <a href="BirthRegStats.php?RegDomain=$DOMAIN&amp;lang=$LANG">
      	$DOMAINNAME Status
      </a>:
      <span id="yearStats">
      <a href="BirthRegYearStats.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;lang=$LANG">
      	$DOMAINNAME Status $REGYEAR
      </a>:
      </span>
      <span id="countyStats">
          <a href="BirthRegYearStats.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;County=$REGCOUNTY&amp;lang=$LANG">
          Status $REGYEAR $COUNTYNAME
      </a>:
      </span>
    </div>
  
   <div class="body">
    <h1>
      <span class="right">
      	<a href="BirthRegResponseHelpen.html" target="_blank">Help?</a>
      </span>
      $DOMAINNAME: Birth Registration $ACTION
      <div style="clear: both;"></div>
    </h1>
      $TRACE
      $MSG
      <!--- Put out a line with links to previous and next section of table -->
      <div class="center" id="topBrowse">
        <span class="left" id="topPrev">
      	  <a href="$NPURI$NPAND$NPPREV">&lt;---</a>
        </span>
        <span class="right" id="topNext">
      	  <a href="$NPURI$NPAND$NPNEXT">---&gt;</a>
        </span>
      	  displaying rows ${OFFSET1} to
      	  ${OFFSETNUMROWS} of $TOTALROWS
        <div style="clear: both;"></div>
      </div> <!-- end of top page scroll -->
      <!--- Put out the response as a table -->
      <form id="respform">
      <div><input type="hidden" id="RegDomain" name="RegDomain"
      	value="$DOMAIN">
      </div>
      <table class="form" id="dataTable">
        <thead>
      	<!--- Put out the column headers -->
      	<tr>
      	  <th class="colhead">
      	Action
      	  </th>
      	  <th class="colhead">
      	Year
      	  </th>
      	  <th class="colhead">
      	Num
      	  </th>
      	  <th class="colhead">
      	Name
      	  </th>
      	  <th class="colhead">
      	Date
      	  </th>
      	  <th class="colhead">
      	Birthplace
      	  </th>
      	</tr>
        </thead>
        <tbody>
         <tr id="birthRow$regyear$regnum">
      	 <!-- link to update action -->
      	 <td class="left" style="white-space: nowrap;">
      	     <button type="button" id="Action$regyear$regnum">
      			  $action 
      	     </button>
      	    <button type="button" id="Delete$regyear$regnum">
      	Delete
      	    </button>
      	 </td>
      	 <td class="$rowclass right">
      	     $regyear 
      	 </td>
      	 <td class="$rowclass right">
      	     $regnum 
      	 </td>
      	 <td class="$rowclass $sexclass">
      	   <a href="/FamilyTree/Person.php?idir=$idir&lang=$lang" 
                  id="link$regyear$regnum"
              	target="_blank" class="$sexclass">
      	     <strong>$surname</strong>, $givennames 
      	   </a>
             <span id="name$regyear$regnum">
      	     <strong>$surname</strong>, $givennames 
             </span>
      	 </td>
           <td class="$rowclass right" style="min-width: 110px;">
      	     $birthdate 
      	 </td>
      	 <td class="$rowclass">
      	     $birthplace 
      	 </td>
         </tr>
        </tbody>
      </table>
      </form>
      <!--- Put out a line with links to previous and next section of response -->
      <div class="center" id="botBrowse">
        <span class="left" id="botPrev">
       	  <a href="$NPURI$NPAND$NPPREV">&lt;---</a>
        </span>
        <span class="right" id="botNext">
       	  <a href="$NPURI$NPAND$NPNEXT">---&gt;
       	  </a>
        </span>
        	&nbsp;
        <div style="clear: both;"></div>
      </div> <!-- end of bottom page scroll -->
    </div> <!-- end of <div id="body"> -->

    <div id="templates" class="hidden">
      <!-- template for confirming the deletion of a citation-->
      <form name="RegDel$TEMPLATE" id="RegDel$TEMPLATE">
        <p class="message">$MSG</p>
        <p>
          <button type="button" id="confirmDelete$REGNUM">
      	    OK
          </button>
          <input type="hidden" id="regdomain$TEMPLATE" name="regdomain$TEMPLATE"
      	        value="$REGDOMAIN">
          <input type="hidden" id="regyear$TEMPLATE" name="regyear$TEMPLATE"
      	        value="$REGYEAR">
          <input type="hidden" id="formname$TEMPLATE" name="formname$TEMPLATE"
      	        value="$FORMNAME">
          &nbsp;
          <button type="button" id="cancelDelete$REGNUM">
      	    Cancel
          </button>
        </p>
      </form>

      <span id="badDomain">
        Domain '$domain' must be a supported 
		two character country code followed by
		a 2 or 3 character state or province code. 
      </span>
      <span id="yearNot4Digits">
        RegYear $regyear must be a 4 digit number. 
      </span>
      <span id="yearOutOfRange">
        RegYear $regyear out of range. 
      </span>
      <span id="regnumNotNumber">
        RegNum $regnum must be a number. 
      </span>
      <span id="badLimit">
        Row count $limit must be number between 1 and 99. 
      </span>
      <span id="badOffset">
        Row offset $offset must be positive integer. 
      </span>
      <span id="needRegYear">
        Registration Number '$regnum' may only be specified with
        Registration Year. 
      </span>
    </div> <!-- end of <div id="templates"> -->
    <div class="balloon" id="HelprightTop">
    	Click on this button to signon to access extended features of the
        web-site or to manage your account with the web-site.
    </div>
    <div class="balloon" id="HelpRegYear">
    	This field contains the year in which the event was registered.
    </div>
    <div class="balloon" id="HelpRegNum">
    	This field contains the registration number as assigned by the
        Registrar of Ontario.
    </div>
    <div class="balloon" id="HelpAction">
    	Click on this button to display the page of detail information from the
    	registration, with the ability to update the information
        if you are authorized.
    </div>
    <div id="tranTab" class="hidden">
    	<span data-key="Update">Update</span>
    	<span data-key="Display">Display</span>
    </div>
    <script src="/jscripts/js20/http.js" type="text/javascript"></script>
    <script src="/jscripts/util.js" type="text/javascript"></script>
    <script src="/Canada/BirthRegResponse.js" type="text/javascript"></script>
