<!--*********************************************************************
 *  BirthRegYearStatsfr.html											*
 *																		*
 *  Display statistics about the transcription of birth registrations.	*
 *																		*
 *  History:															*
 *		2018/10/06  created                                             *
 *      2019/03/21  support adjusting left/right scroll bar to table    *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=fr">
        Génealogie</a>:
      <a href="/Canada/CountriesEdit.php?lang=fr">
  	    Liste des Pays Soutenus
      </a>:
      <a href="/genCountry.php?code=$CC&lang=fr">
		$COUNTRYNAME</a>:
      <a href="/Canada/genProvince.php?domain=$DOMAIN&lang=fr" id="stateCrumb">
		$STATENAME</a>:
	  <a href="/Canada/BirthRegQuery.php?domain=$DOMAIN&lang=fr">
  	    Nouvelle requête
	  </a>:
     <a href="BirthRegStats.php?RegDomain=$DOMAIN&lang=fr">
        $STATENAME Statut</a>:
	  <a href="BirthRegYearStats.php?RegDomain=$DOMAIN&RegYear=$REGYEAR&lang=fr" id="countyStatusLink">
		$STATENAME County Status $REGYEAR</a>:
    </div>
    <div class="body">
      <h1>$DOMAINNAME:
        <span id="countyName">Comté $COUNTYNAME:</span>
            Statut des Enregistrements Naissance $REGYEAR
        <span class="right">
    	  <a href="BirthRegYearStatsHelpfr.html" target="_blank">Aide?</a>
        </span>
      </h1>
      $TRACE
      $MSG
      <div class="center" id="topBrowse">
        <span class="left" id="topPrev">
		<a href="BirthRegYearStats.php?RegDomain=$DOMAIN&RegYear=$REGYEARP&county=$COUNTY" id="toPrevYear">
		    &lt;--- $REGYEARP
		</a>
        </span>
        <span class="right" id="topNext">
		<a href="BirthRegYearStats.php?RegDomain=$DOMAIN&RegYear=$REGYEARN&county=$COUNTY" id="toNextYear">
		    $REGYEARN ---&gt;
		</a>
        </span>
        <div style="clear: both;"></div>
      </div>
      <form id="display" action="donothing.php" method="get">
        <input type="hidden" id="RegYear" 
        		value="$REGYEAR">
        <input type="hidden" id="Domain" 
        		value="$DOMAIN">
        <!--- Put out the response as a table -->
        <table class="form" id="dataTable">
	      <!--- Put out the column headers -->
	      <thead>
			<tr>
			  <th class="colhead1st">
			    Comté
			  </th>
			  <th class="colhead" id="TownshipTH">
			    Canton
			  </th>
			  <th class="colhead">
			    Fait
			  </th>
			  <th class="colhead">
			    Bas
			  </th>
			  <th class="colhead">
			    Haut
			  </th>
			  <th class="colhead">
			  %Fait
			  </th>
			  <th class="colhead">
			    %Lié
			  </th>
			  <th class="colhead">
			    Regarder
			  </th>
			</tr>
	      </thead>
	      <tbody>
			<tr id="dataRow">
			  <td class="odd bold left first">
			      $COUNTYNAME
			    <input type="hidden" id="County$ROWNUM" 
					value="$COUNTY">
			  </td>
			  <td class="odd bold left" id="townshipCol">
			      $TOWNSHIP
			      <input type="hidden" id="Town$ROWNUM" 
					value="$TOWNSHIP">
			  </td>
			  <td class="odd bold right">
			      $COUNT
			  </td>
			  <td class="odd bold right">
			      $LOW
			      <input type="hidden" id="low$ROWNUM" 
					  value="$LOW">
			  </td>
			  <td class="odd bold right">
			      $HIGH
			      <input type="hidden" id="high$ROWNUM" 
					  value="$HIGH">
			  </td>
			  <td class="$PCTDONECLASS">
			      $PCTDONE% 
			  </td>
			  <td class="$PCTLINKEDCLASS">
			    $PCTLINKED% 
			  </td>
			  <td>
			    <button type="button" id="TownStats$ROWNUM">
					Regarder
			    </button>
			  </td>
			</tr>
		  </tbody>
		  <tfoot>
			<tr>
			  <td class="odd bold left first" id="CountyCol">&nbsp;</td>
			  <td class="odd bold left first">
			        Totaux
			  </td>
			  <td class="odd bold right">
			        $TOTAL
			  </td>
			  <td class="odd bold right">
					$LOWEST
			  </td>
			  <td class="odd bold right">
					$HIGHEST
			  </td>
			  <td class="$PCTDONECLASS">
					$PCTDONE% 
			  </td>
			  <td class="$PCTLINKEDCLASS">
			      $PCTLINKED% 
			  </td>
			  <td class="odd bold left">&nbsp;</td>
			</tr>
		  </tfoot>
	    </table>
	  </form>
	</div> <!-- end of <div id="body"> -->
	<div class="balloon" id="HelpTownStats">
		Cliquez sur ce bouton pour afficher un résumé des naissances
        transcrites pour la ville ou le canton spécifique.
	</div>
	<div class="balloon" id="HelpCounty">
		Ce champ affiche le nom du comté où la naissance a été enregistrée.
	</div>
	<div class="balloon" id="HelpTown">
        Ce champ affiche le nom de la ville, village, ou canton
        où la naissance a été enregistrée.
	</div>
	<script src="/jscripts/js20/http.js" type="text/javascript"></script>
	<script src="/jscripts/util.js" type="text/javascript"></script>
	<script src="/Canada/BirthRegYearStats.js" type="text/javascript"></script>
