<!--*********************************************************************
 *  Blogsfr.html                                                        *
 *                                                                      *
 *  French language template for the Blogs management page              *
 *                                                                      *
 *  History:                                                            *
 *      2018/09/15      Created                                         *
 *      2021/04/09      migrate to ES2015                               *
 *                                                                      *
 *  Copyright &copy; 2021 James A. Cobban                               *
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/home.html">Accueil</a>:
  </div>    
  <div class="body">
    <h1>Gestion des Blogues
      <span class="right">
        <a href="/BlogsHelpfr.html" target="help">?&nbsp;Aide</a>
      </span>
    </h1>
    $TRACE
    $MSG
<h2>Messages:</h2>
  <div id="blog$blid">
    <p class="label">
        Le $day $month $year à $time employeur '$username' 
        a écrit: <a href="BlogPost.php?table=Blogs&blogid=$blid&lang=fr">$blogname</a>
    </p>
  </div>
  <h2>
    <a href="BlogPost.php?table=Blogs&blogid=0&lang=fr">Nouveau Blogue Message</a>
  </h2>
 </div>
    <script src="/jscripts6/util.js" type="module">
    </script>
