<!--*********************************************************************
 *  Census1842Images.html						                        *
 *									                                    *
 *      Pointers to images of pages from 1842 census.			        *
 *						                                    			*
 *  History:								                            *
 *	    2011/07/07	    created						                    *
 ************************************************************************-->
  <div class='body'>
    <div hidden='topcrumbs' id='breadcrumbs'>
	<a href='/genealogy.php?lang=en'>Genealogy</a>:
	<a href='/genCountry?cc=CA&lang=en'>Canada</a>:
	<a href='/database/genCensuses.php?cc=CA&lang=en'>Censuses</a>:
     </div>
    <h1>1842 Census of Upper Canada: Images</h1>
    <p>This page provides pointers to images of pages of the 1842 census of
       Upper Canada.
    </p>
    <h2>London District</h2>
      <h3>Caradoc</h3>
	<p>
	  <a href='/Images/1842/Caradoc/1842_London_Caradoc.jpg'>
		page
	  </a>.
	</p>
  </div>
