<!--*********************************************************************
 *  CensusProofreaden.html                                              *
 *                                                                      *
 *  Report results of recording the results of proofreading a           *
 *  census page.                                                        *
 *                                                                      *
 *  History:                                                            *
 *      2018/01/27      created                                         *
 *      2022/05/04      complete implementation                         *
 *                                                                      *
 *  Copyright &copy; 2022 James A. Cobban                               *
 **********************************************************************-->
  <div class="hidden" id="breadcrumbs">
    <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    <a href="/genCountry.php?cc=$CC&amp;lang=$LANG">$COUNTRYNAME</a>:
    <a href="/database/genCensuses.php?cc=$CC&amp;lang=$LANG">Censuses</a>:
    <a href="/database/QueryDetail.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&lang=$LANG">
    $CENSUSYEAR Census Search
    </a>: 
    <a href="/database/CensusUpdateStatus.php?Census=$CENSUSID&amp;lang=$LANG">
    Summary
    </a>:
    <a href="/database/CensusUpdateStatusDist.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;lang=$LANG">
        District $DISTRICT $DISTRICTNAME Summary
    </a>:
    <a href="/database/CensusUpdateStatusDetails.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&lang=$LANG">
    Division Details
    </a>:   
  </div>
  <div id="transcription" style="overflow: auto; overflow-x: scroll">
    <div class="body">
      <h1>
      $COUNTRYNAME: $CENSUSYEAR Census Proofread Changes
    <span class="right">
      <a href="/database/CensusProofreadHelpen.html" target="help">? Help</a>
    </span>
      </h1>
    <p class="warning">This feature is under construction.</p>
      $TRACE
      $MSG
    <p class="label" id="results">
    Updated District $DISTRICT $DISTRICTNAME
    SubDistrict  $SUBDISTRICT $SUBDISTRICTNAME,
      <span id="resultsDivision">Division $DIVISION </span>
    Page $PAGE.
    </p>
    <form action="CensusProofUpdate.php" method="post"
            name="proofForm" id="proofForm"
            enctype="multipart/form-data">
      <div class="hidden">
        <input type="hidden" name="Census" id="Census"
            value="$CENSUSID">
        <input type="hidden" name="Province" id="Province"
            value="$PROVINCE">
        <input type="hidden" name="District" id="District"
            value="$DISTRICT">
        <input type="hidden" name="SubDistrict" id="SubDistrict"
            value="$SUBDISTRICT">
        <input type="hidden" name="Division" id="Division"
            value="$DIVISION">
        <input type="hidden" name="Page" id="Page"
            value="$PAGE">
        <input type="hidden" name="nextPage" id="nextPage"
            value="$NEXTPAGE">
        <input type="hidden" name="prevPage" id="prevPage"
            value="$PREVPAGE">
        <input type="hidden" name="Image" id="Image"
            value="$IMAGE">
      </div>
      <p class="label" id="nextPagePara">
        <a class="button" id="nextPageButton" 
            href="/database/CensusForm.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&Page=$NEXTPAGE&lang=$LANG" accessKey="N">
            Update <u>N</u>ext Page $NEXTPAGE in $SUBDISTRICTNAME
          <span id="nextPageDivision">Division $DIVISION </span>
        </a>
      </p>
      <p class="label" id="prevPagePara">
        <a class="button" id="prevPageButton"
            href="/database/CensusForm.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&Page=$PREVPAGE&lang=$LANG" accessKey="P">
            Update <u>P</u>revious Page $PREVPAGE in $SUBDISTRICTNAME
          <span id="prevPageDivision">Division $DIVISION </span>
        </a>
      </p>
      <p class="label">
        <button type="submit" id="update" accessKey="U">
          <u>U</u>pdate
        </button>
      </p>
      <p class="label">
        <button type="button" id="close" accessKey="C">
          <u>C</u>lose
        </button>
      </p>
      <table id="proofTable">
        <thead>
          <tr>
            <th class="colhead">
                Line
            </th>
            <th class="colhead">
                Field
            </th>
            <th class="colhead">
                Old&nbsp;Value
            </th>
            <th class="colhead">
                New&nbsp;Value
            </th>
            <th class="colhead">
                Explanation
            </th>
          </tr>
        </thead>
        <tbody>
          <tr id="dataRow$line">
            <td>
              <input type='text' size='2'
                        name='Line$line' id='Line$line'
                        readonly='readonly' class='ina label'
                        value='$rownum'>
            </td>
            <td>
              <input type='text' size='14' 
                        name='FldName$line' id='FldName$line'
                        readonly='readonly' class='ina label'
                        value='$fldname'>
            </td>
            <td>
              <input type='text' size='32' 
                        name='OldValue$line' id='OldValue$line'
                        readonly='readonly' class='ina left'
                        value='$oldvalue'>
            </td>
            <td>
              <input type='text' size='32' 
                        name='NewValue$line' id='NewValue$line'
                        readonly='readonly' class='ina left'
                        value='$value'>
            </td>
            <td>
              <input type='text' size='40' 
                        name='Comment$line' id='Comment$line'
                        class='white leftnc'
                        value='$notes'>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    </div> <!-- class="body" -->
  </div> <!-- id="transcription" -->
    <div id="templates" class="hidden">
      <span id="notPost">
        This script cannot be invoked by method=get. 
      </span>
      <span id="censusInvalid">
        Invalid census identifier '$censusIDtext'. 
      </span>
      <span id="censusUndefined">
        Census identifier '$censusID' is not defined. 
      </span>
      <span id="censusMissing">
        Missing census identifier. 
      </span>
      <span id="districtInvalid">
        District number '$distIDtext' not numeric. 
      </span>
      <span id="districtUndefined">
        District identifier '$distID' is not defined in Census '$censusID'. 
      </span>
      <span id="districtMissing">
        District number parameter not supplied. 
      </span>
      <span id="subdistrictInvalid">
        Sub-District identifier '$subdistIDtext' invalid syntax. 
      </span>
      <span id="subdistrictUndefined">
        Sub-District identifier '$subdistID' is not defined
        in District $distID of Census '$censusID'. 
      </span>
      <span id="subdistrictMissing">
        SubDistrict identifier parameter not supplied. 
      </span>
      <span id="divisionInvalid">
        Division identifier '$divisiontext' invalid syntax. 
      </span>
      <span id="divisionMissing">
        Division number parameter not supplied. 
      </span>
      <span id="pageInvalid">
        Page number '$pagetext' not numeric. 
      </span>
      <span id="pageMissing">
        Page number parameter not supplied. 
      </span>
      <span id="imageInvalid">
        Image URL '$imagetext' contains invalid characters. 
      </span>
      <p id="langInvalid">
        Invalid language identifier '$langtext' ignored.  English assumed.
      </p>
      <span id="notAuth">
        Current user is not authorized to update the database.  
      </span>
    </div> <!-- id="templates" -->
    <script src= '/jscripts/CommonForm.js' type="text/javascript">
    </script>
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= '/jscripts/Cookie.js' type="text/javascript">
    </script>
