<!--*********************************************************************
 *  Census1906Detailsen.html											*
 *																		*
 *  Display every field from a row of the 1906 census in tabular form.	*
 *																		*
 *  History:															*
 *		2017/10/25		created											*
 *		2018/01/04		remove Template from template file names		*
 *      2020/12/01      message texts moved to common template          *
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs">
    <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    <a href="/genCountry.php?cc=$CC&amp;lang=$LANG">Canada</a>:
    <a href="/database/genCensuses.php?lang=$LANG">Censuses</a>:
    <a href="/database/QueryDetail.php?Census=CA1906&amp;lang=$LANG">
        1906 Census Search
    </a>:
    <a onclick="history.back(); return false;" href="dummy">
        Search Results
    </a>:
    <a href="/database/CensusUpdateStatusDist.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;lang=$LANG">
        District $DISTRICT $DISTNAME Summary</a>:
    <a href="/database/CensusUpdateStatusDetails.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&amp;lang=$LANG">
        Division Details
    </a>:
	<a href="CensusResponse.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&amp;OrderBy=Line&amp;Page=$PAGE&amp;lang=$LANG">
		Page $PAGE
    </a>:
  </div> <!-- id="breadcrumbs" -->

  <div class="body">
    <h1>
      <span class="right">
		<a href="/database/CensusDetailsHelpen.html" target="help">? Help</a>
      </span>
		1906 Census of Canada Prairies: Details
      <div style="clear: both;"></div>
    </h1>
    $TRACE
    $MSG
    <div class="center" id="topBrowse">
      <span class="left" id="topPrev">
		<a href="CensusDetails.php?Census=$CENSUSID&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&amp;Page=$PAGE&amp;Line=$PREVLINE&amp;lang=$LANG">&lt;---</a>
      </span>
      <span class="right" id="topNext">
		<a href="CensusDetails.php?Census=$CENSUSID&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&amp;Page=$PAGE&amp;Line=$NEXTLINE&amp;lang=$LANG">---&gt;</a>
      </span>
		dist $DISTRICT $DISTNAME, 
        subdist $SUBDISTRICT $SUBDISTNAME, 
        <span id="division">div $DIVISION</span>
		 page $PAGE
      <div style="clear: both;"></div>
    </div>
    <table class="details" id="dataTable" $CELLSPACING>
     <thead>
     <!--- Put out the column headers -->
      <tr>
		<th class="colhead">
		  Field Name
		</th>
		<th class="colhead">
		  Value
		</th>
		<th class="colhead">
		  Field Name
		</th>
		<th class="colhead">
		  Value
		</th>
      </tr>
     </thead>
     <tbody>
      <tr>
		<th class="label">
		    Province 
		</th>
		<td class="odd">
		    $PROVINCE 
		</td>
		<th class="label">
		    District ID 
		</th>
		<td class="odd right">
		    $DISTRICT 
		</td>
 
      </tr>
      <tr>
		<th class="label">
		    Sub-District ID 
		</th>
		<td class="odd">
		    $SUBDISTRICT 
		</td>
		<th class="label">
		    Division 
		</th>
		<td class="odd right">
		    $DIVISION 
		</td>
 
      </tr>
      <tr>
		<th class="label">
		    Page 
		</th>
		<td class="odd right">
		    <a href="CensusResponse.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&amp;OrderBy=Line&amp;Page=$PAGE&amp;lang=$LANG">
			$PAGE</a>
		</td>
		<th class="label">
		    Line 
		</th>
		<td class="odd right">
		    $LINE 
		</td>
 
      </tr>
      <tr>
		</td>
		<th class="label">
		    Family 
		</th>
		<td class="odd right">
		    <a href="CensusResponse.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;District=$DISTRICT&amp;SubDistrict=$SUBDISTRICT&amp;Division=$DIVISION&amp;OrderBy=Line&amp;Family=$family&amp;lang=$LANG">
			$family</a>
		</td>
 
      </tr>
      <tr>
		<th class="label">
		    Surname 
		</th>
		<td class="odd">
		    $surname
		</td>
		<th class="label">
		    Surname SOUNDEX 
		</th>
		<td class="odd">
		    $surnamesoundex
		</td>
 
      </tr>
      <tr>
		<th class="label">
		    Given Names 
		</th>
		<td class="odd">
		    $givennames 
		</td>
		<th class="label">
		    Relation 
		</th>
		<td class="odd">
		    $relation 
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Sex 
		</th>
		<td class="odd center">
		    $sex 
		</td>
		<th class="label">
		    Marital Status 
		</th>
		<td class="odd center">
		    $mstat 
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Age 
		</th>
		<td class="odd right">
		    $age 
		</td>
		<th class="label">
		    Occupation
		</th>
		<td class="odd right">
		    $occupation
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Birth Year Text
		</th>
		<td class="odd right">
		    $byeartxt
		</td>
		<th class="label">
		    Birth Year 
		</th>
		<td class="odd right">
		    $byear 
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Birth Place 
		</th>
		<td class="odd">
		    $bplace 
		</td>
		<th class="label">
		    Immigration Year
		</th>
		<td class="odd right">
		    $immyear
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Post Office 
		</th>
		<td class="odd">
		    $postoffice
		</td>
		<th class="label">
		    Address Section
		</th>
		<td class="odd right">
		    $addrsect
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Address Township
		</th>
		<td class="odd right">
		    $addrtwp 
		</td>
		<th class="label">
		    Address Range
		</th>
		<td class="odd right">
		    $addrrng
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Address Meridian
		</th>
		<td class="odd">
		    $addrmdn
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Horses
		</th>
		<td class="odd right">
		    $horses
		</td>
		<th class="label">
		    Milk Cows
		</th>
		<td class="odd right">
		    $milkcows
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Cattle
		</th>
		<td class="odd right">
		    $cattle
		</td>
		<th class="label">
		    Sheep   
		</th>
		<td class="odd right">
		    $sheep
		</td>
      </tr>
 
      <tr>
		<th class="label">
		    Pigs
		</th>
		<td class="odd right">
		    $pigs
		</td>
      </tr>

      <tr>
		<th class="label">
		    Remarks 
		</th>
		<td class="odd" colspan="3">
		    $remarks
		</td>
      </tr>

      <tr>
		<th class="label">
		    Family Tree ID 
		</th>
		<td class="odd right">
		    <a href="/FamilyTree/Person.php?idir=$idir&amp;lang=$LANG"
			    id="IDIR" target="_blank">
			$idir</a>
		</td>
      </tr>

      <tr>
		<th class="label">
		    District Name 
		</th>
		<td class="odd" style="min-width: 200px;">
		    $DISTNAME 
		</td>
		<th class="label">
		    Sub-District Name 
		</th>
		<td class="odd" style="min-width: 200px; max-width: 400px;">
		    $SUBDISTNAME
		</td>
     </tbody>
    </table>
  </div> <!-- class="body" -->
  $MESSAGES
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
 
