<!--*********************************************************************
 *  CensusResponsefr.html												*
 *																		*
 *  Display list of individuals matching a query of a census of Canada.	*
 *																		*
 *  History:															*
 *		2017/09/25		created											*
 *		2018/01/04		remove Template from template file names		*
 *		2018/01/18		spell out Naissance								*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div class="hidden" id="breadcrumbs">
    <a href="/genealogy.php?lang=fr">Généalogie</a>:
    <a href="/genCountry.php?cc=CA&amp;lang=fr">Canada</a>:
    <a href="/database/genCensuses.php??cc=CA&amp;lang=fr">Recensements</a>:
    <a href="/database/QueryDetail.php?Census=$CENSUSID&lang=">Fouiller le Recensement $CENSUS</a>: 
  </div> <!-- id="breadcrumbs" --> 
  <div id="transcription" style="overflow: auto; overflow-x: scroll">
    <div class="body">
      <h1>
	  Recensement $CENSUS de Canada: Réponse
        <span class="right">
	  <a href="/database/CensusResponseHelpfr.html" target="help">? Aide</a>
        </span>
      </h1>
      $MSG
      $TRACE
		<!--- Put out a line with links to previous and next section of table -->
		<div class="spaceBetween" id="topBrowse">
		  <span id="topPrev">
			<a href="$npPrev" id="prenpprev">
			<img src="/Images/ArrowLeft.svg">
			</a>
		  </span>
		  <span>
            <span  id="respdescrows">
              Montrer rangs $first a $last de $totalrows
            </span>
		      <span id="respdescsub">
			$province dist $dId $DName, sousdist $subdId $SubDName
		      </span>
		      <span id="respdescdiv">
			 div $divId
		      </span>
		      <span id="respdescpage">
			 page $page
		      </span>
		      <span id="respdescfam">
			 famille $family
		      </span>
		  </span>
		  <span id="topNext">
			<a href="$npNext" id="prenpnext">
			    <img src="/Images/ArrowRight.svg">
			</a>
		  </span>
		</div>
    <form action="doNothing.php" name="buttonForm" id="buttonForm">
	<p class="label" id="buttonRow">
	    <input type="hidden" name="search" disabled="disabled"
	value="CensusForm$CENSUS.php$SEARCH">
	    <input type="hidden" name="image" disabled="disabled"
		value="$IMAGE">
	    <button type="button" name="seeAllFields">voir tous les champs</button>
	    <button type="button" name="displayImage">Afficher l"image</button>
	</p>
  <!--- Put out the response as a table -->
  <table class="summary" cellspacing="0px" id="dataTable">
    <thead> <!--- Put out the column headers -->
      <tr>
	<th class="colhead">
	    Action
	</th>
	<th class="colhead">
	    Province
	</th>
	<th class="colhead">
	    Nom
	</th>
	<th class="colhead">
	    Année de<br>Naissance
	</th>
	<th class="colhead">
	    Lieu de<br>Naissance
	</th>
	<th class="colhead">
	    Occupation
	</th>
	<th class="colhead">
	    Sous-District
	</th>
      </tr>
    </thead>
    <tbody>
      <tr id="Row$i">
	<td>
	  <input type="hidden" name="href$i"
		value="CensusDetails.php?Census=CA{$census}&amp;Province=$province&amp;District=$district&amp;SubDistrict=$subdistrict&amp;Division=$division&amp;Page=$page&amp;Line=$line&amp;lang=$lang">
	  <button type="button" name="Details$i">
	    Détails
	  </button>
	</td>
	<td class="$class left">
	  $province
	</td>
	<td class="$class $sexclass">
	  $fullname
	</td>
	<td class="$class right">
	  $byear
	</td>
	<td class="$class left">
	  $bplace
	</td>
	<td class="$class left">
	  $occupation
	</td>
	<td class="$class left">
	  $sd_name
	</td>
      </tr>
    </tbody>
  </table>
    </form>
  <!--- Put out a line with links to previous and next section of table -->
  <div class="spaceBetween" id="botBrowse">
    <span id="botPrev">
	<a href="$npPrev" id="postnpprev">
	<img src="/Images/ArrowLeft.svg">
	</a>
    </span>
    <span id="botNext">
	<a href="$npNext" id="postnpnext">
	    <img src="/Images/ArrowRight.svg">
	</a>
    </span>
  </div>
  </div>
  </div> <!-- id="transcription" -->
	<div class="balloon" id="HelpseeAllFields">
	  Click on this button to display a form containing all of the transcribed
	  columns for the page.  If you are a registered contributor to the
	  web-site you will be able to edit the contents of this form to add
	  or correct the transcription of the census.
	</div>
	<div class="balloon" id="HelpdisplayImage">
	  Click on this button to split the window and display the original
	  census image corresponding to this page as obtained from the Library and
	  Archives of Canada web-site.
	</div>
	<div class="balloon" id="HelpDetails">
	  Click on this button to see all of the fields from this row of the census
	  transcription.
	</div>
	<div class="hidden" id="templates">
      <span id="noParameters">
        Aucun paramètre passé.
      </span>
      <span id="censusInvalid">
        L'identifiant $value pour le recensement est syntaxiquement
        invalide.
      </span>
      <span id="censusUnsupported">
        L'identifiant $value pour le recensement n'est pas défini.
      </span>
      <p id="limitInvalid">
        Valeur $value pour Limit doit être un nombre compris entre 5 et 99.
      </p>
      <p id="offsetInvalid">
        Valeur $value pour Offset doit être un nombre compris entre 5 et 999,999. 
      </p>
      <p id="orderbyInvalid">
         Valeur incorrecte de OrderBy='$value'.
      </p>
      <span id="byearInvalid">
         L'année de naissance '$value' doit être un entier et
         dans la gamme 1750 à 2099.
      </span>
	  <span id="rangeInvalid">
		La plage '$value' doit être un entier compris entre 1 et 10.
      </span>
	  <span id="pageInvalid">
		La page '$value'  doit être un entier.
      </span>
	  <span id="familyInvalid">
		La numero de famille '$value'  doit être un entier.
      </span>
	  <span id="surnameInvalid">
		Surnom '$value' invalide.
      </span>
	  <span id="soundexInvalid">
		SurnameSoundex '$value' invalide, doit être 'Y' ou 'N'.
      </span>
	  <span id="provinceInvalid">
		L'identifiant de la Province '$value' invalide.
      </span>
	  <span id="districtInvalid">
		L'identifiant de la District '$value' invalid.
      </span>
	  <span id="subdistInvalid">
		L'identifiant de la SubDistrict '$value' invalid.
      </span>
      <span id="subdistNotExist">
        SubDistrict census='$censusId', distId=$dId, SD_Id='$subdId', SD_Div='$divId' does not exist.
      </span>
      <span id="divisionInvalid">
		L'identifiant de la Division '$value' invalid.
      </span>
      <span id="divisionOmitted">
        L'identifiant de la Division omis.
      </span>
      <span id="pageUnsupp">
        $page n'est pas un numéro de page valide dans le sous-district
        ($censusId,$dId,$subdId,$divId).
      </span>
      <span id="fieldInvalid">
        Paramètre '$key' valeur '$value' invalide.
      </span>
      <p id="noRecords">
		Aucun enregistrement dans la demande de correspondance de table.
      </p>
	  <!-- the following are language specific error messages -->
	  <span class="note" id="imageCopyrightNote">
		Image provided courtesy of 
		<a href="http://www.bac-lac.gc.ca/eng/Pages/home.aspx">
		Library and Archives Canada</a>.
	  </span>
	</div>
	<!-- balloons to pop up when mouse moves over forward and back links -->
	<div class="popup" id="mouseprenpprev">
	    <p class="label">
		<span id="familyminusonepre">Go to Family {$family - 1}}&nbsp;</span>
		<span id="pageminusonepre">Go to Page {$page - 1}}&nbsp;</span>
		<span id="rowminuscountpre">Go to Row {$offset - limit + 1}}&nbsp;</span>
	    </p>
	</div>
	<div class="popup" id="mouseprenpnext">
	    <p class="label">
		<span id="familyplusonepre">Go to Family {$family + 1}}&nbsp;</span>
		<span id="pageplusonepre">Go to Page {$page + 1}}&nbsp;</span>
		<span id="rowpluscountpre">Go to Row {$offset + limit + 1}}&nbsp;</span>
	    </p>
	</div>
	<div class="popup" id="mousepostnpprev">
	    <p class="label">
		<span id="familyminusonepost">Go to Family {$family - 1}}&nbsp;</span>
		<span id="pageminusonepost">Go to Page {$page - 1}}&nbsp;</span>
		<span id="rowminuscountpost">Go to Row {$offset - limit + 1}}&nbsp;</span>
	    </p>
	</div>
	<div class="popup" id="mousepostnpnext">
	    <p class="label">
		<span id="familyplusonepost">Go to Family {$family + 1}}&nbsp;</span>
		<span id="pageplusonepost">Go to Page {$page + 1}}&nbsp;</span>
		<span id="rowpluscountpost">Go to Row {$offset + limit + 1}&nbsp;</span>
	    </p>
	</div>
    <script src= '/jscripts/CommonForm.js' type="text/javascript">
    </script>
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= '/jscripts/Cookie.js' type="text/javascript">
    </script>
    <script src= '/database/CensusResponse.js' type="text/javascript">
    </script>
