<!--*********************************************************************
 *  CensusDetailsMessagesen.html										*
 *																		*
 *  Common messages used by CensusDetails.php script.                   *
 *																		*
 *  History:															*
 *		2020/12/01		created											*
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
  <div class="hidden" id="templates">
      <span id="CensusMissing">
          Census identifier not specified. 
      </span>
      <span id="invalidCensusId">
          Invalid value of CensusID='$value'. 
      </span>
      <span id="DomainMissing">
          Domain identifier not specified. 
      </span>
      <span id="invalidDomainId">
          '$state' is not a supported province/state identifier
          for country code '$cc'. 
      </span>
      <span id="DistrictMissing">
          District identifier not specified. 
      </span>
      <span id="invalidDistId">
          Invalid valud of District='$value'.
      </span>
      <span id="unsupportedDistId">
          District='$value' is not defined within the $census Census.
      </span>
      <span id="SubDistrictMissing">
          SubDistrict identifier not specified. 
      </span>
      <span id="invalidSubdistId">
          SubDistrict='$value' Division='$div'
          is not defined within District $distId. 
      </span>
      <span id="PageMissing">
          Page number not specified. 
      </span>
      <span id="invalidPage">
          Page='$value' is not defined within 
                SubDistrict $subDistId Div $div of District $distId.
      </span>
      <span id="nonNumericPage">
          Page='$value' is not numeric.
      </span>
      <span id="LineMissing">
          Line number not specified. 
      </span>
      <span id="invalidLine">
          Line='$value' is not defined within the Page
      </span>
      <span id="nonNumericLine">
          Line='$value' is not numeric.
      </span>
      <span id="unexpectedParm">
          Unexpected parameter $key=$value.
      </span>
  </div>
