<!--**********************************************************************
 *  changeLocationsen.html												*
 *																		*
 *  Display a web page to perform a pattern matching replacement on		*
 *  the names of a set of locations.									*
 *																		*
 *  History:															*
 *		2019/02/16		created											*
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
  	  <a href="/home.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>:
      <a href="/FamilyTree/Locations.php?lang=$LANG">Locations</a>:
    </div>
    <div class='body'>
      <h1>Find and Change Locations
        <span class='right'>
  	      <a href='changeLocationsHelpen.html' target='help'>? Help</a>
        </span>
      </h1>
      $TRACE
      $MSG
      <p class='label' id="resultLine">$RESULT locations changed.</p>
      <form name='locForm' id='locForm'
            action='changeLocations.php' method='post'>
        <input type='hidden' name='debug' id='debug' value='$DEBUG'>
        <input type='hidden' name='lang' id='lang' value='$LANG'>
        <div class='row'>
          <label class='label' for='pattern'>
          	Find:
          </label>
          <input name='pattern' id='pattern' type='text' class='white leftnc'
      			size='40' value='$FROM'>
        </div>
        <div class='row'>
          <label class='label' for='replace'>
          	Replace With:
          </label>
          <input name='replace' id='replace' type='text' class='white leftnc'
              	size='40' value='$TO'>
        </div>
        <p>
          <button type='submit' id='Submit'>
            Search and Replace
          </button>
        </p>
      </form>
    </div>
    <div class="hidden" id="templates">
      <span id="cannotUpdate">
          Not authorized to update database. 
      </span>
    </div>
    <div class='balloon' id='Helppattern'>
      Only locations containing this string will be included.
      For example the pattern "London" will match locations containing
      the string "London".  Note that the search does not ignore case,
      so that pattern will
      only match "London", not "london" or "LONDON".  This is not a regular
      expression, but two regular expression capabilities are included.  If the
      supplied string starts with a caret '^' then the remainder of the string
      must match at the beginning of the location names.  If the supplied string
      ends with a dollar sign '$' then the remainder of the string
      must match the
      end of the location names.  Do not specify both caret and dollar sign.
    </div>
    <div class='balloon' id='Helpreplace'>
      This field is used to supply the text that replaces the text matched by
      the pattern in the "Find" field.
    </div>
    <div class='balloon' id='HelpSubmit'>
      Click on this button to perform the search and replace on location names.
    </div>
    <script src="/jscripts/js20/http.js" type="application/javascript">
    </script>
    <script src="/jscripts/CommonForm.js" type="application/javascript">
    </script>
    <script src="/jscripts/util.js" type="application/javascript">
    </script>
    <script src="/FamilyTree/changeLocations.js" type="application/javascript">
    </script>
