<!--*********************************************************************
 *  CobbMail.html														*
 *																		*
 *  List of addresses of contributors.									*
 *																		*
 *  History:															*
 *		2010/12/07		created											*
 *		2014/02/10		eliminate use of tables for layout				*
 *		2015/03/25		top page of hierarchy is now genealogy.php		*
 *      2019/02/18      add <script> tag for dynamic initialization     *
 *                                                                      *
 *  Copyright &copy; 2019 James A. Cobban                               *
 **********************************************************************-->
  <div class="hidden" id="breadcrumbs">
    <a href="/home.html">Home</a>:
	<a href="/genealogy.php">Genealogy</a>:
	<a href="/genCountry.php?cc=CA">Canada</a>:
	<a href="/Canada/genProvince.php?Domain=CAON">Ontario</a>:
	<a href="/displayPage.php?template=cobban.html">Cobban family</a>
  </div>
  <div class="body">
  <h1>Contributors to the Cobban Family Tree</h1>
  <p class="label">Compilation Of The Family Charts</p>
  <p>The original work on the chart was largely collected and outlined by
    Audrey Cobban on a mammoth chart which covered a wall of the community
    centre in Caradoc. This was later computerised and coded by Don Cobban
    in 1990 with constant additions, corrections supplied by a number of family
    members, of which this is an incomplete list.
  </p>
  <p>To contribute to this family tree register as a contributor by clicking
    on the <span class="button">Signon</span> option in the page menu
    of any page and follow the instructions to register.  Once you have
    registered you will be given the option to contribute to portions of the
    family tree whenever you view an individual page.
  </p>
  <table>
    <tr>
      <td>Code</td>
  
      <td>Correspondent</td>
  
      <td>Address</td>
  
      <td>Telephone</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2011">C 11</a></td>
  
      <td></td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2012">C 12</a></td>
  
      <td>Norman Cobban</td>
  
      <td>17 Westmount Dr.Penrith NSW Australia 2750</td>
  
      <td><a href="mailto: cobtree@bigpond.com">cobtree@bigpond.com</a></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20131">C 131</a></td>
  
      <td>Rita MacIntosh</td>
  
      <td>16 Hawthorne Rd Elgin Scotland IV30 1PG</td>
  
      <td>+44-1-343-54325</td>
    </tr>
  
    <tr>
      <td></td>
  
      <td>Rita Robertson</td>
  
      <td>2 Inchberry Place Fochabers Scot IV32 7DL</td>
  
      <td>+44-1-343-820525
    <br><a href="mailto: robertson@rita48.freeserve.co.uk">robertson@rita48.freeserve.co.uk</a></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20133">C 133</a></td>
  
      <td>Margaret Cornwell</td>
  
      <td>4 Diane Lane E. Northport L.I. NY USA</td>
  
      <td></td>
    </tr>
  
    <tr>
      <td></td>
  
      <td>Jim Orr</td>
  
      <td>30 Cypress St South Farrington NY USA</td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20136">C 136</a></td>
  
      <td>Mark Southard</td>
  
      <td>237 Central Ave Whitefish MT USA 59937</td>
  
      <td>+1-486-862-3411</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2017">C 17</a></td>
  
      <td>Audrey Cobban</td>
  
      <td>R.R.#5 Mount Brydges ON Canada N0L 1W0</td>
  
      <td>+1-519-264-9263</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20171">C 171</a></td>
  
      <td>Myrtle Hastings</td>
  
      <td>R.R.#4 Denfield ON Canada N0M 1P0</td>
  
      <td>+1-519-225-2164</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20174">C 174</a></td>
  
      <td>Donald Cobban</td>
  
      <td>964 Jalna Blvd Londson ON Canada N6E 2R3</td>
  
      <td>+1-519-686-3677</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2020">C 20</a></td>
  
      <td>? Forsyth</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2040">C 40</a></td>
  
      <td>? McHardy</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2050">C 50</a></td>
  
      <td>? Cobban</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2060">C 60</a></td>
  
      <td>William Cobban</td>
  
      <td>Box 873 Evanston WY USA 82931-0873</td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2062">C 62</a></td>
  
      <td>? McRae</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20634">C 634</a></td>
  
      <td>Barbara Collins</td>
  
      <td>1796 Capriline Mentone Ca Usa 92359</td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20635">C 635</a></td>
  
      <td>Robert Cobban</td>
  
      <td>Box 186 Winston Nt Usa 89647</td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20637">C 637</a></td>
  
      <td>Betty Cobban</td>
  
      <td>R.R.#5 Mount Brydges On Canada N0L 1W0</td>
  
      <td>+1-519-264-1438</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2065">C 65</a></td>
  
      <td>Riddell Robert Terriere</td>
  
      <td>Denver Colorado</td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2066">C 66</a></td>
  
      <td>? Miller</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20664">C 664</a></td>
  
      <td>Campbell Mccallum</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2067">C 67</a></td>
  
      <td>Kay ?</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20682">C 682</a></td>
  
      <td>Bruce Chisholm</td>
  
      <td>R.R.#3 Melbourne On Canada</td>
  
      <td>+1-519-264-2207</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20683">C 683</a></td>
  
      <td>Betty Fletcher</td>
  
      <td>R.R.#1 Melbourne On</td>
  
      <td>+1-519-289-5937</td>
    </tr>
  
    <tr>
      <td></td>
  
      <td>Catharine Eichenberger</td>
  
      <td>68 Peter St., Melbourne On Canada</td>
  
      <td>+1-519-289-2123</td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%20684">C 684</a></td>
  
      <td>Wilma Kirkpatrick</td>
  
      <td>1910 Four Oaks Milford MI USA</td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=C%2069">C 69</a></td>
  
      <td>Burchett ?</td>
  
      <td></td>
  
      <td></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=W%206">W 6</a></td>
  
      <td>Ross William Wilton</td>
  
      <td>Fredericton, NB, CA</td>
  
      <td><a href="mailto: rwilton@nbnet.nb.ca">rwilton@nbnet.nb.ca</a></td>
    </tr>
  
    <tr>
      <td><a target="_blank" href="/FamilyTree/Person.php?UserRef=W%20513">W 513</a></td>
  
      <td>Duncan Ross Wilton</td>
  
      <td>Red Deer, AB, CA</td>
  
      <td></td>
    </tr>
  </table>
  
  </p>
  </div>
    <script src="/displayPage.js" type="module">
    </script>
