<!--*********************************************************************
 *  History:								*
 *	2011/06/24	include javascript libraries			*
 *			support signon button				*
 *	2011/10/24	support mouseover help for signon button	*
 *	2013/12/28	use CSS for layout				*
 *	2015/03/25	top page of hierarchy is now genealogy.php	*
 *	2015/05/11	use contactAuthor.php to contact administrator	*
 *			style was not cleared in page footer		*
 **********************************************************************-->
<div class="hidden" id="breadcrumbs">
  <a href="/genealogy.php">Genealogy</a>: 
</div>
<div class="body">
  <h1>Cobban Family</h1>
  <p class="label">
    <a href="/FamilyTree/cobban.html">
	Cobbans of Morayshire Family Tree</a> 
  </p>
  <p class="label">
    <a target="_blank" href="http://genforum.genealogy.com/cobban/">
	Cobban Family Genealogy Forum</a> 
  </p>
  <p class="label">
    <a target="_blank" href="http://cobban.net/roots/cobban/rr01/rr01_010.html">
	Descendants of John Cobban of Aberdeen</a> 
  </p>
  <p class="label">
    <a target="_blank" href="/FamilyTree/nominalIndex.html">
	My Family Tree Index</a> 
  </p>
</div> <!-- class="body" -->
<div class="balloon" id="HelprightTop">
Click on this button to signon to access extended features of the web-site
or to manage your account with the web-site.
</div>
