<!--*********************************************************************
 *  cobbback.html														*
 * 																		*
 *  Overview of Cobban family history									*
 * 																		*
 *  History: 															*
 *		2014/02/10		remove tables									*
 *		2015/03/25		top page of hierarchy is now genealogy.php		*
 *      2019/02/18      add <script> tag for dynamic initialization     *
 *                                                                      *
 *  Copyright &copy; 2019 James A. Cobban                               *
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php">Genealogy</a>:
    <a href="/genCountry.php?cc=CA">Canada</a>:
    <a href="/Canada/genProvince.php?Domain=CAON">Ontario</a>:
    <a href="/displayPage.php?template=cobban.html">Cobban family</a>
  </div>
  <div class="body">
    <h1>Cobban Family History</h1>
    <p>The Cobban family, at least in name, came from a Norse background,
      probably in the fjord area of Norway around the town of Geiranger, at
      the head of a fjord about 225km NNW of Oslo and 75km inland from Alesund
      on the Norwegian Sea. A lake in the mountains behind the town is called
    <a href='https://www.google.ca/maps/place/Kolbeins+Vand/@62.044652,7.3346589,14z' target="_blank"><i>Kolbeinwatsnet</i></a>. 
    <a href="https://www.nordicnames.de/wiki/Kolbeinn" target="_blank"><i>Kolbein</i></a>
      is originally a given name and is pronounced "Koben" in Norse.
    </p>
    <p>The Norse in the fjord area were farmers on the limited good soil
      of the mountain valleys. They became hunters and traders of furs,
      narwhal tusk ivory, and slaves to the southern parts of Europe in return
      for manufactured goods and metals. By 900AD they were instrumental in
      founding trade cities such as York, Lincoln, Norwich and Southampton in
      England, Dublin and Cork in Ireland, and Bayeux and Rouen in France.
      They became the rulers of such areas as Normandy, England, Sicily,
      Scotland, Ireland, and even Lebanon and Palestine for short periods.
    </p>
    <p>The earliest inhabitants recorded in historical sources were the
      Caledoni, later called the Picts, who had migrated to Scotland
      during the Bronze Age who built communal fortresses known as 
      <i>brochs</i>. 
      The Picts apparently acquired their
      nickname from their habit of using warpaint.  <i>Picti</i> is
      Latin for "painted".
    </p>
    <p>A large component of the population in Scotland was from
      the migration of Celtic tribes from Europe
      to England and Ireland about during the early Iron Age,
      and then from Ireland to Scotland during the chaos that surrounded
      the collapse of the Roman security apparatus.
      The term <i>Scotti</i> was originally applied to the inhabitants
      of Ireland.
    </p>
    <p>A smaller component in the population of Scotland was the invasion of
      Germanic tribes, called <i>Sassenachs</i> by the indigenous population,
      who settled the south east of Scotland and most of
      England except Wales and Cornwall, driving the Celts back to the western
      frontiers. 
    </p>
    <p>In Scotland the Norse were dominant only in the Orkneys and the Hebrides.
      The greatest contribution of the Norse, to the development of Scotland was
      the motivation it gave for the leadership of the Gaelic-speaking Scots
      and the Picts to merge to form a united kingdom that was strong enough to
      resist the threat.
    </p>
    <p>The Norse in North-East Scotland, including Moray,
      were generally traders or farmer immigrants. The
      final "invasion" was the conquest of England by the Normans, followed by
      a more peaceful but equally effective takeover of ruling positions
      in Scotland (e.g. Bruce was the Norman "deBrus")
      by intermarriage with English and French or being
      brought in to manage the government.
    </p>
    <p>Scottish relations with the more developed England to the south were
      always difficult. The ruling class of Scotland resisted any interference
      from their Norman cousins from England. War was frequent and English
      invasions reached as far north as Elgin but were always repelled until
      the Scots were forced to take over England in 1605. The Scots then
      took over the English banks, leaving the less effective politics to the
      English.
    </p>
    <p>It was in this background that the Norse Kobens became Scottish Cobban
      in the period from 800 to 1600. Only limited data is available for
      the period before 1600.
    </p>
    <p>The period after 1600 has some details but no real history until the
      early 1700's.
      <a href="/FamilyTree/Person.php?idir=5893">William Couban</a>, 
      our earliest ancestor listed, was a
      tenant farmer in Inchkeil, Duffus parish, Morayshire near Elgin.
      From the spelling of the name by William and his children suggests that
      the name was pronounced with a long "O".
      His son settled nearby at Roseisle. 
      After the failed Jacobite rebellion, ending with the catastrophic
      loss at the Battle of Culloden on 16 Apr 1746 only 30 miles from Roseisle,
      the family changed the spelling to agree with that of a prominent loyalist
      family from Aberdeen.  The new spelling encouraged a pronunciation with
      a short "O".
    </p>
    <p>Many Cobbans and relatives still
      live in the immediate area. Others were in shipbuilding, blacksmiths,
      factory workers in the new textile mills in Lanark, farm labourers, etc.
      The sharp increase in population with the advent of the
      Industrial revolution,
      the mechanization of agriculture, the opening of new lands particularly
      in America and Australia allowed and demanded a large emigration of Scots
      and many of our forefathers and mothers took advantage of it. Most
      of those who emigrated in the mid 1850's went on the land and hewed farms
      out of the forests. many of them went in to the gold fields or other
      mines of the expanding factories. Their descendants are in a wide
      variety of occupations, in many locations throughout the world.
    </p>
  </div>
    <script src="/displayPage.js" type="module">
    </script>
