<!--*********************************************************************
 *  contactAuthorfr.html												*
 *																		*
 *  Implement contacting the author of a page by using the internal		*
 *  blog support														*
 *																		*
 *  History:															*
 *		2018/01/28		created											*
 *		2018/09/07		table name not passed to script					*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
      <a href="/index.html">Accueil</a>:
      <a href="/genealogy.php?lang=$LANG">Généalogie</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>:
      <a href="/FamilyTree/nominalIndex.php?lang=$LANG">Indice Nominale</a>:
    </div>
  
    <div class="body">
      <h1>
        <span class="right">
	      <a href="/contactAuthorHelpen.html" target="help">? Aide</a>
        </span>
	  Contacter l'auteur à propos de $ABOUT
      </h1>
      $MSG
      $TRACE
      <form name="evtForm" 
	    action="/postBlogXml.php" 
	    method="post">
        <p id="promptforemail">
	    <label class="labelSmall" for="email">
	        Votre Address Courri<u>e</u>l:
	    </label>
	    <input type="text" name="email" id="email" accessKey="E"
		    class="white leftnc" size="60" value="">
        </p>
	    <input type="hidden" name="email" id="hiddenemail"
		    value="$EMAIL">
        <p>
	    <input type="hidden" name="id" id="id"
		    class="white rightnc" value="$CONTACTIDS">
	    <input type="hidden" name="tablename" id="tablename"
		    class="white leftnc" value="$TABLENAME">
	    <textarea name="message" 
		    rows="5" cols="80">À Propos de: $ABOUT
$TEXT</textarea>
        </p>
        <p>
	    <button type="button" id="Blog" accessKey="S">
	      Envoyer
	    </button>
      </p>
    </form>
      </div> <!-- class="body" -->
    <div class="balloon" id="Helpmessage">
    <p>Modifiez le message que vous souhaitez envoyer aux propriétaires.
    </p>
    </div>
    <div class="balloon" id="Helpemail">
      En tant qu'invité, vous devez fournir l'adresse e-mail à laquelle
      vous souhaitez être contacté au sujet de cette demande.
    </div>
    <div class="balloon" id="HelpBlog">
      Cliquez sur ce bouton pour envoyer un message sécurisé aux auteurs.
    </div>
    <script src="/jscripts/tinymce/js/tinymce/tinymce.js" type="application/javascript">
    </script>
    <script src="/jscripts/js20/http.js" type="text/javaScript">
    </script>
    <script src="/jscripts/CommonForm.js" type="text/javaScript">
    </script>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="/contactAuthor.js" type="text/javaScript">
    </script>
