<!--*********************************************************************
 *  contactAuthoren.html												*
 *																		*
 *  Implement contacting the author of a page by using the internal		*
 *  blog support														*
 *																		*
 *  History:															*
 *		2018/01/28		created											*
 *		2018/09/07		table name not passed to script					*
 *      2020/01/04      add cancel button                               *
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
      <a href="/index.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Family Tree Services</a>:
      <a href="/FamilyTree/nominalIndex.php?lang=$LANG">Family Tree</a>:
    </div>
  
    <div class="body">
      <h1>
        <span class="right">
	      <a href="/contactAuthorHelpen.html" target="help">? Help</a>
        </span>
	  Contact Author About: $ABOUT
      </h1>
      $MSG
      $TRACE
      <form name="evtForm" 
	    action="/postBlogXml.php" 
	    method="post">
        <p id="promptforemail">
	    <label class="labelSmall" for="email">
	        Your <u>E</u>-Mail Address:
	    </label>
	    <input type="text" name="email" id="email" accessKey="E"
		    class="white leftnc" size="60" value="">
        </p>
	    <input type="hidden" name="email" id="hiddenemail"
		    value="$EMAIL">
        <p>
	    <input type="hidden" name="id" id="id"
		    class="white rightnc" value="$CONTACTIDS">
	    <input type="hidden" name="tablename" id="tablename"
		    class="white leftnc" value="$TABLENAME">
	    <textarea name="message" 
		    rows="5" cols="80">About: $ABOUT 
$TEXT</textarea>
        </p>
        <p>
	    <button type="button" id="Blog" accessKey="S">
	      <u>S</u>end
	    </button>
        &nbsp;
	    <button type="button" id="Cancel" accessKey="N">
	      Ca<u>n</u>cel
	    </button>
      </p>
    </form>
      </div> <!-- class="body" -->
    <div class="balloon" id="Helpmessage">
    <p>Edit the message you wish to send to the owners.
    </p>
    </div>
    <div class="balloon" id="Helpemail">
      As a guest you need to supply the e-mail address at which you wish to be
      contacted regarding this request.
    </div>
    <div class="balloon" id="HelpBlog">
      Click on this button to send a secure message to the authors.
    </div>
    <script src="/jscripts/tinymce/js/tinymce/tinymce.js" type="application/javascript">
    </script>
    <script src="/jscripts/js20/http.js" type="text/javaScript">
    </script>
    <script src="/jscripts/CommonForm.js" type="text/javaScript">
    </script>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="/contactAuthor.js" type="text/javaScript">
    </script>
