
  <div class='hidden' id='templates'>
    <!-- template for adding a new county -->
    <table>
      <tr id='Row$code'>
	<td class='right'>
	  <input type='text' name='Code$code'
			value='$code'
			class='white code' 
			size='3' maxlength='3'>
	</td>
	<td class='left'>
	  <input type='text' name='Name$code' 
			value='' 
			class='white left'
			size='28' maxlength='64'>
	</td>
	<td class='left'>
	  <input type='text' name='StartYear$code' 
			value='1852' 
			class='white right'
			size='4' maxlength='4'>
	</td>
	<td class='left'>
	  <input type='text' name='EndYear$code' 
			value='9999' 
			class='white right'
			size='4' maxlength='4'>
	</td>
	<td class='center'>
	  <button type='button'
			id='Delete$code'
			disabled='disabled'>
		    Delete
	  </button> 
	</td>
	<td class='center'>
	  <button type='button' id='EditTownships$code'
			disabled='disabled'>
		    Townships
	  </button> 
	</td>
	<td class='center'>
	  <button type='button' id='EditLocation$code'
			disabled='disabled'>
		    Location
	  </button> 
	</td>
      </tr>
    </table>
  </div> <!-- id='templates'-->
