<!--*********************************************************************
 *  CountyMarriageEditQueryen.html									  *
 *																		*
 *  Template to prompt the user to enter parameters for a search of the *
 *  County Marriage Registration database.								*
 *																		*
 *  History:															*
 *		2018/11/21		created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">
        Genealogy</a>:
      <a href='/Canada/CountriesEdit.php?lang=$LANG'>
	    List of Supported Countries
      </a>:
      <a href="/genCountry.php?code=$CC&lang=$LANG">
		$COUNTRYNAME
      </a>:
      <a href="/Canada/genProvince.php?domain=$DOMAIN&lang=$LANG" id="stateCrumb">
		$DOMAINNAME
      </a>:
	  <a href="/Ontario/CountyMarriageVolumeSummary.php?Domain=$DOMAIN&lang=$LANG">
        Volume Summary
      </a>:
    </div>

	<div class='body'>
	  <h1>County Marriage Registration Query
	    <span class='right'>
			<a href='CountyMarriageEditQueryHelpen.html' target='_blank'>Help?</a>
	    </span>
	    <div style='clear: both;'></div>
	  </h1>
	$TRACE
	$MSG
	  <form action='CountyMarriageReportEdit.php' method='GET'
			name='distForm' id='distForm'>
	    <input name='Offset' id='Offset' type='hidden' value='0'>
	    <input name='Debug' id='Debug' type='hidden' value='$DEBUG'>
	    <div id='formTable'>
	      <fieldset class='other'>
			<legend class='labelSmall'>Identification:</legend>
	        <div class='row'>
			  <div class='column1'>
			    <label class='labelSmall' for='RegDomain'>Domain:</label>
			    <select name='RegDomain' id='RegDomain'
				  	class='white left' size='1'>
			      <option id="domain$code" value='$code' $selected>
				  	$name
			      </option>
			    </select>
			  </div>
			  <div class='column1'>
			    <label class='labelSmall' for='Volume'>Volume:</label>
			    <input name='Volume' id='Volume' type='text' 
                        style='float: left;'
				            class='white rightnc' size='4' maxlength='4'/>
			  </div>
			  <div style='clear:both;'></div>
	        </div>
	        <div class='row'>
			  <div class='column1'>
			    <label class='labelSmall' for='ReportNo'>ReportNo:</label>
			    <input name='ReportNo' id='ReportNo' type='text'
                    style='float: left;'
				        class='white rightnc' size='4' maxlength='4'/>
			  </div>
			  <div class='column1'>
			    <label class='labelSmall' for='ItemNo'>ItemNo:</label>
			    <input name='ItemNo' id='ItemNo' type='text' 
                        style='float: left;'
				        class='white rightnc' size='4' maxlength='4'/>
			  </div>
			  <div style='clear:both;'></div>
	        </div>
	      </fieldset>
	      <fieldset class='other'>
			<legend class='labelSmall'>Individual:</legend>
	        <div class='row'>
			  <div class='column1'>
			    <label class='labelSmall' for='GivenNames'>Given Names:</label>
			    <input name='GivenNames' id='GivenNames'
					  type='text' style='float: left;'
				    class='white left' size='16' maxlength='64'/>
			  </div>
			  <div class='column1'>
			    <label class='labelSmall' for='Surname'>Surname:</label>
			    <input name='Surname' id='Surname' type='text' style='float: left;'
				    class='white left' size='16' maxlength='64'/>
			  </div>
			  <div class='column1'>
			    <label class='labelSmall' for='Soundex'>Soundex:</label>
			    <input name='Soundex' id='Soundex' type='checkbox'
					  style='float: left;'
				    class='white left' value='Y'/>
			    <div style='clear: both;'></div>
			  </div>
			  <div style='clear:both;'></div>
			</div>
	      </fieldset>
	    </div> <!-- id='formTable' -->
	    <p id='buttonsRow'>
	      <button type='submit' id='Query'>Query</button>
	      &nbsp;
	      <button type='reset' id='Reset'>Clear Form</button>
	      &nbsp;
	      <button type='button' id='Stats'>Status</button>
	    </p>
	  </form>
	</div> <!-- end of <div id='body'> -->
    <!--  The remainder of the web page consists of divisions containing
    context specific help.  Including this information here ensures
    that the language of the help balloons matches the language of the
    input form.
    -->
    <div class='balloon' id='HelpRegDomain'>
      This is a selection list to select the registration domain, for example
      a province or state, to be searched.
    </div>
    <div class='balloon' id='HelpVolume'>
      This is the number of a volume of records kept by the archives containing
      pre-confederation marriage registrations.
    </div>
    <div class='balloon' id='HelpReportNo'>
      This identifies a specific report within the volume of marriage registrations.
      Each report contains information about the marriages performed by a
      minister of religion or a marriage commissioner (Justice of the Peace)
      in a year.
    </div>
    <div class='balloon' id='HelpItemNo'>
      This specifies a specific marriage within a report by its ordinal position.
    </div>
    <div class='balloon' id='HelpGivenNames'>
      This specifies to search for marriages that match a particular given name.
    </div>
    <div class='balloon' id='HelpSurname'>
      This specifies to search for surnames that match a particular surname or
      part of a surname.  This is a regular expression.
    </div>
    <div class='balloon' id='HelpSurnameSoundex'> 
      The Soundex code has been used for decades to attempt to match names that
      sound similar.  For example it is used by police forces to perform a rough
      match for the names of drivers.  It is a problematic tool, as it
      is based upon the phonetics of British surnames.
      If you select this option along with a
      complete surname, not a pattern match, in the Surname field, then
      the search
      is made for surnames that "sound like" the given surname.  For example
      specifying Soundex together with "McLean" will match all of the
      surnames in the pattern match example under "Surname", but many other
      names as well, such "McCallum", "McAllan", "McClain", and "McWilliams". 
    </div>
    <div class='balloon' id='HelpQuery'>
      Clicking on this button performs the query.
    </div>
    <div class='balloon' id='HelpReset'>
      Clicking on this button clears all of the input fields back to their
      default values.
    </div>
    <div class='balloon' id='HelpStats'>
      Clicking on this button displays the top level statistics page for
      marriage registrations.
    </div>
    <div class='hidden' id='templates'>
      <div class='left' id='noCountyMsg'>
		      Counties summary file "CountiesListXml.php?Prov=$PROVINCE"
		      not available from server.
      </div>
    </div>
    <script src="/jscripts/CommonForm.js" type="text/javascript"></script>
    <script src="/jscripts/js20/http.js" type="text/javascript"></script>
    <script src="/jscripts/Ontario.js" type="text/javascript"></script>
    <script src="/jscripts/util.js" type="text/javascript"></script>
    <script src="CountyMarriageEditQuery.js" type="text/javascript"></script>
