<!--*********************************************************************
 *  CountyReportDetailsen.html                                          *
 *                                                                      *
 *  Display form for editting information about an individual marriage  *
 *  report submitted by a marriage officiant to report marriages        *
 *  performed during a year prior to confederation.                     *
 *                                                                      *
 *  Parameters (passed by method=get):                                  *
 *      Domain      2 letter country code + 2 letter province code      *
 *      Volume      volume number                                       *
 *      ReportNo    report number                                       *
 *                                                                      *
 *  History:                                                            *
 *      2021/09/03      created                                         *
 *                                                                      *
 *  Copyright &copy; 2021 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">
        Genealogy</a>:
      <a href="/Canada/CountriesEdit.php?lang=$LANG">
        List of Supported Countries
      </a>:
      <a href="/genCountry.php?code=$CC&lang=$LANG">
        $COUNTRYNAME
      </a>:
      <span id="stateCrumb">
      <a href="/Canada/genProvince.php?domain=$DOMAIN&lang=$LANG">
        $DOMAINNAME
      </a>:
      </span>
      <a href="CountyMarriageEditQuery.php?domain=$DOMAIN&lang=$LANG">
        County Marriage Query
      </a>:
      <a href="/Ontario/CountyMarriageVolumeSummary.php?Domain=$DOMAIN&lang=$LANG">
        Volume Summary
      </a>:
      <span id="volumeLink">
      <a href="CountyMarriageReportEdit.php?RegDomain=$DOMAIN&Volume=$VOLUME">
        Volume $VOLUME
      </a>:
      </span>
    </div>

    <div class="body">
      <h1>
        <span class='right'>
            <a href='CountyReportDetailsHelpen.html' target='help'>? Help</a>
        </span>
        $COUNTRYNAME: $PROVINCE: $BY Marriage Report $ACTION
      </h1>
      $TRACE
      $MSG
      <!--- Put out a line with links to previous and next section of table -->
      <div class='spaceBetween' id="topBrowse">
        <span class='bold' id="topPrev">
          <a href='CountyReportDetails.php?Domain=$DOMAIN&Volume=$VOLUME&ReportNo=$REPORTNOminus1'><img src="/Images/ArrowLeft.svg">&nbsp;Report&nbsp;$REPORTNOminus1</a>
        </span>
        <span>
            Volume $VOLUME Report $REPORTNO
        </span>
        <span class='bold' id="topNext">
          <a href='CountyReportDetails.php?Domain=$DOMAIN&Volume=$VOLUME&ReportNo=$REPORTNOplus1'>Report&nbsp;$REPORTNOplus1&nbsp;<img src="/Images/ArrowRight.svg"></a>
        </span>
      </div> <!-- id="topBrowse" -->
      <!--- Put out the response as a table -->
      <form name='reportForm' id='reportForm'
            action='CountyReportDetails.php' 
            method='post' 
            autocomplete='off' 
            enctype='multipart/form-data'>
        <input type='hidden' name='Debug' value='$DEBUG'>
        <button type="submit" id="Submit">Update Database</button>
    &nbsp;
        <div class="row" id="DomainRow">
          <div class="column1">
            <label class="labelSmall" for="Domain">
                Domain:
            </label>
            <input name="ShowDomain" id="ShowDomain"
                type="text" size="4" maxlength="4" 
                value="$DOMAIN" 
                class="$BG left" 
                readonly="readonly" disabled="disabled"/>
            <input name="Domain" id="Domain" type="hidden"
                value="$DOMAIN"> 
          </div>
        </div>
        <div class="row" id="VolumeRow">
          <div class="column1">
            <label class="labelSmall" for="Volume">
                Volume:
            </label>
            <input name="Volume" id="Volume"
                type="text" size="4" maxlength="8" 
                value="$VOLUME" 
                class="$BG right" readonly="readonly"/>
          </div>
        </div>
        <div class="row" id="ReportNoRow">
          <div class="column1">
            <label class="labelSmall" for="ReportNo">
                ReportNo:
            </label>
            <input name="ReportNo" id="ReportNo"
                type="text" size="4" maxlength="8" 
                value="$REPORTNO" 
                class="$BG right" readonly="readonly"/>
          </div>
        </div>
        <div class="row" id="PageRow">
          <div class="column1">
            <label class="labelSmall" for="Page">
                Page:
            </label>
            <input name="Page" id="Page" type="text"
                type="text" size="4" maxlength="8" 
                value="$PAGE" 
                class="$BG right" 
                $READONLY/>
          </div>
        </div>
        <div class="row" id="YearRow">
          <div class="column1">
            <label class="labelSmall" for="Year">
                Year:
            </label>
            <input name="Year" id="Year" type="text"
                type="text" size="4" maxlength="8" 
                value="$YEAR" 
                class="$BG right" 
                $READONLY/>
          </div>
        </div>
        <div class="row" id="GivenNamesRow">
          <div class="column1">
            <label class="labelSmall" for="GivenNames">
                GivenNames:
            </label>
            <input name="GivenNames" id="GivenNames" type="text"
                type="text" size="20" maxlength="40" 
                value="$GIVENNAMES" 
                class="$BG left" 
                $READONLY/>
          </div>
        </div>
        <div class="row" id="SurnameRow">
          <div class="column1">
            <label class="labelSmall" for="Surname">
                Surname:
            </label>
            <input name="Surname" id="Surname" type="text"
                type="text" size="20" maxlength="40" 
                value="$SURNAME" 
                class="$BG left" 
                $READONLY/>
          </div>
        </div>
        <div class="row" id="FaithRow">
          <div class="column1">
            <label class="labelSmall" for="Faith">
                Faith:
            </label>
            <input name="Faith" id="Faith" type="text"
                type="text" size="20" maxlength="40" 
                value="$FAITH" 
                class="$BG left" 
                $READONLY/>
          </div>
        </div>
        <div class="row" id="ResidenceRow">
          <div class="column1">
            <label class="labelSmall" for="Residence">
                Residence:
            </label>
            <input name="Residence" id="Residence" type="text"
                type="text" size="32" maxlength="128" 
                value="$RESIDENCE" 
                class="$BG left" 
                $READONLY/>
          </div>
        </div>
        <div class="row" id="ImageRow">
          <div class="column1">
            <label class="labelSmall" for="Image">
                Image URL:
            </label>
            <input name="Image" id="Image" type="text"
                type="text" size="128" maxlength="255" 
                value="$IMAGE" 
                class="$BG leftnc" 
                $READONLY/>
          </div>
        </div>
        <div class="row" id="IDIRRow">
          <div class="column1">
            <label class="labelSmall" for="IDIR">
                IDIR:
            </label>
            <input name="IDIR" id="IDIR" type="text"
                type="text" size="20" maxlength="40" 
                value="$IDIR" 
                class="$BG right" 
                readonly="readonly" disabled="disabled"/>
          </div>
        </div>
        <div class="row" id="RemarksRow">
          <div class="column1">
            <label class="labelSmall" for="Remarks">
                Remarks:
            </label>
            <textarea name="Remarks" id="Remarks" 
                class="$BG left"
                cols="64" rows="4"
                $READONLY>$REMARKS</textarea>
          </div>
        </div>
      </form>
      <!-- The remainder of the page consists of context specific help text.
      -->
      <div class='balloon' id='HelpReportNo'>
        The sequential numeric identified of the report.
      </div>
      <div class='balloon' id='HelpPage'>
        The page number in the original volume.
      </div>
      <div class='balloon' id='HelpGivenNames'>
        The given names of the marriage officiant filing this report.
      </div>
      <div class='balloon' id='HelpSurname'>
        The surname of the marriage officiant.
      </div>
      <div class='balloon' id='HelpFaith'>
        The religious affiliation of the marriage officiant.
      </div>
      <div class='balloon' id='HelpResidence'>
        The location at which the marriage officiant is normally
        resident or 
        the location at which the report was filed.
      </div>
      <div class='balloon' id='HelpImage'>
        The Uniform Record Locator (URL) of the image file.
      </div>
      <div class='balloon' id='HelpIDIR'>
        If the marriage officiant is in the family tree, the numeric key 
        identifying the instance of Person.
      </div>
      <div class='balloon' id='HelpRemarks'>
        Any textual remarks associated with the original report. 
        If the transcriber
        wishes to add notes they should be enclosed in square bracket.
      </div>
      <div class='balloon' id='HelpSubmit'>
        Click on this button to update the database.
      </div>
      <div class='hidden' id='templates'>
      </div>
    </div>
    <script src="/jscripts/tinymce/js/tinymce/tinymce.min.js" type="text/javascript">
    </script>
    <script src="/jscripts/CommonForm.js" type="text/javascript">
    </script>
    <script src="/jscripts/locationCommon.js" type="text/javascript">
    </script>
    <script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
    <script src="/jscripts/util.js" type="text/javascript">
    </script>
    <script src="CountyReportDetails.js" type="text/javascript">
    </script>
