<!--*********************************************************************
 *  CountyMarriageReportEditen.html                                     *
 *                                                                      *
 *  Display form for editting information about marriage reports        *
 *  submitted by ministers of religion to report marriages they         *
 *  performed during a year prior to confederation.                     *
 *                                                                      *
 *  History:                                                            *
 *      2021/09/05      created                                         *
 *                                                                      *
 *  Copyright &copy; 2021 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">
            Genealogy</a>:
      <a href="/Canada/CountriesEdit.php?lang=$LANG">
            List of Supported Countries
      </a>:
      <a href="/genCountry.php?code=$CC&lang=$LANG">
            $COUNTRYNAME
      </a>:
      <span id="stateCrumb">
      <a href="/Canada/genProvince.php?domain=$DOMAIN&lang=$LANG">
            $DOMAINNAME
      </a>:
      </span>
      <a href="CountyMarriageEditQuery.php?domain=$DOMAIN&lang=$LANG">
            County Marriage Query
      </a>:
      <a href="/Ontario/CountyMarriageVolumeSummary.php?Domain=$DOMAIN&lang=$LANG">
            Volume Summary
      </a>:
    </div> <!--  id="breadcrumbs" -->
    <div class="body">
      <h1>
        <span class="right">
          <a href="CountyMarriageReportEditHelpen.html" target="help">? Help</a>
        </span>
        $COUNTRYNAME: $PROVINCE: Marriage Report
        $ACTION
      </h1>
      <div id="topBrowse" class="spaceBetween">
        <span id="topPrev">
          <a href="CountyMarriageReportEdit.php?RegDomain=$DOMAIN&Volume=$VOLUMEminus1">
            <img src="/Images/ArrowLeft.svg">&nbsp;Volume&nbsp;$VOLUMEminus1
          </a>
        </span>
        <span id="wholeVolume">
            All of Volume $VOLUME
        </span>
        <span id="topNext">
          <a href="CountyMarriageReportEdit.php?RegDomain=$DOMAIN&Volume=$VOLUMEplus1">Volume&nbsp;$VOLUMEplus1&nbsp;
            <img src="/Images/ArrowRight.svg">
          </a>
        </span>
      </div> <!-- id="topBrowse" -->
      <!--- Put out the response as a table -->
      <form name="reportsForm" id="reportsForm"
            action="CountyMarriageReportEdit.php" 
            method="post" 
            autocomplete="off" 
            enctype="multipart/form-data">
        <input type="hidden" name="Domain" value="$DOMAIN">
        <input type="hidden" name="Debug" value="$DEBUG">
        <table class="form" id="dataTable">
          <!--- Put out the column headers -->
          <thead>
            <tr id="hdrRow">
              <th class="colhead">
                  Volume
              </th>
              <th class="colhead">
                  Report
              </th>
              <th class="colhead">
                  Page
              </th>
              <th class="colhead">
                  Given Names
              </th>
              <th class="colhead">
                  Surname
              </th>
              <th class="colhead">
                  Marriages
              </th>
              <th class="colhead">
                  % Linked
              </th>
              <th class="colhead">
                  Details
              </th>
              <th class="colhead">
                  Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr id="Row$ROW">
              <td class="right">
                <input type="text" name="Volume$ROW" id="Volume$ROW"
                    value="$VOLUME"
                    class="black $BG rightnc"
                    size="4" maxlength="4" readonly="readonly">
              </td>
              <td class="left">
                <input type="text" name="ReportNo$ROW" id="ReportNo$ROW" 
                    value="$REPORTNO" 
                    class="black $BG rightnc"
                    $READONLY
                    size="4" maxlength="6">
              </td>
              <td class="left">
                <input type="text" name="Page$ROW" id="Page$ROW" 
                    value="$PAGE" 
                    class="black $BG rightnc"
                    $READONLY
                    size="4" maxlength="4">
              </td>
              <td class="left">
                <input type="text"
                    name="GivenNames$ROW" id="GivenNames$ROW" 
                    value="$GIVENNAMES" 
                    class="black $BG left"
                    $READONLY
                    size="16" maxlength="64">
              </td>
              <td class="left">
                <input type="text" 
                    name="Surname$ROW" id="Surname$ROW" 
                    value="$SURNAME" 
                    class="black $BG left"
                    $READONLY
                    size="16" maxlength="64">
              </td>
              <td class="left">
                <input type="text" 
                    name="Transcribed$ROW" id="Transcribed$ROW" 
                    value="$TRANSCRIBED" 
                    class="black $BG rightnc"
                    readonly="readonly" disabled="disabled"
                    size="8">
              </td>
              <td class="$PCTCLASS">
                $PCT 
              </td>
              <td class="center" style="white-space: nowrap;">
                <button type="button" id="Details$ROW">
                    Details
                </button> 
                &nbsp;
                <button type="button" id="EditMarriages$ROW">
                    Marriages
                </button> 
                &nbsp;
              </td>
              <td class="center">
                <button type="button" id="Delete$ROW"
                        $DISABLED>
                  Delete
                </button> 
              </td>
            </tr>
            <tr id="RowLast$ROW">
              <td class="right">
                  <input type="text" name="Volume$ROW" id="Volume$ROW"
                            value="$VOLUME"
                            class="black $BG rightnc"
                            $READONLY
                            size="4" maxlength="4">
              </td>
              <td class="left">
                  <input type="text" name="ReportNo$ROW" id="ReportNo$ROW" 
                            value="$NEXTREPORTNO" 
                            class="black $BG rightnc"
                            $READONLY
                            size="4" maxlength="6">
              </td>
              <td class="left">
                  <input type="text" name="Page$ROW" id="Page$ROW" 
                            value="" 
                            class="black $BG rightnc"
                            $READONLY
                            size="4" maxlength="4">
              </td>
              <td class="left">
                  <input type="text"
                            name="GivenNames$ROW" id="GivenNames$ROW" 
                            value="New Minister" 
                            class="black $BG left"
                            $READONLY
                            size="16" maxlength="64">
              </td>
              <td class="left">
                  <input type="text" 
                            name="Surname$ROW" id="Surname$ROW" 
                            value="" 
                            class="black $BG left"
                            $READONLY
                            size="16" maxlength="64">
              </td>
              <td class="left">
              </td>
              <td class="left">
              </td>
              <td class="left">
                  <button type="button" id="Details$ROW">
                    Details
                  </button> 
              </td>
              <td class="left">
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" id="Submit">Update Database</button>
        &nbsp;
      </form>
      <h2>Also see:
      </h2>
      <p>
        <a href="http://www.archives.gov.on.ca/en/microfilm/v_mdistrict_t.aspx"
            target="_blank">District Marriage Registers - 1780-1858</a>
      </p>
      <p>
        <a href="http://www.archives.gov.on.ca/en/microfilm/v_mcounty_t.aspx"
            target="_blank">County Marriage Registers - 1858-1869</a>
      </p>
    </div> <!-- class="body"-->
    <!-- The remainder of the page consists of context specific help text.
    -->
    <div class="balloon" id="HelpDetails">
      Click on this button to see information about an individual report
      including the name and association of the officiant who reported
      the marriages.
    </div>
    <div class="balloon" id="HelpEditMarriages">
      Click on this button to see the list of marriages in an
      invidual report.
    </div>
    <div class="balloon" id="HelpDelete">
      This button is used to delete a marriage report from the database.
    </div>
    <div class="balloon" id="HelpVolume">
      This field displays the original volume number in which the
      marriage registrations were recorded.
    </div>
    <div class="balloon" id="HelpReportNo" >
      This field displays the report number.  This is normally an
      integer, but occasionally the clerk failed to correctly assign
      a new report number, so it is sometimes filled in with a number
      ending with &half;.
    </div>
    <div class="balloon" id="HelpPage" >
      This field displays the page number of the original page in the
      volume on which the report begins.
    </div>
    <div class="balloon" id="HelpGivenNames" >
      This field displays the given names of the marriage officiant
      who submitted the report.
    </div>
    <div class="balloon" id="HelpSurname" >
      This field displays the family name of the marriage officiant
      who submitted the report.
    </div>
    <div class="balloon" id="HelpSubmit">
      Click on this button to update the database to include the changes you
      have made to the counties list for the current province.
    </div>
    <div class="balloon" id="HelpTranscribed">
        This column identifies the number of marriages transcribed for
        this report.
    </div>
    <div class="hidden" id="templates">
    </div>
    <script src="CountyMarriageReportEdit.js" type="module">
    </script>
