<!--*********************************************************************
 *  DeathRegYearStatsfr.html											*
 *																		*
 *  Display statistics about the transcription of birth registrations.	*
 *																		*
 *  History:															*
 *		2019/03/16		created											*
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
	<div id="breadcrumbs" class="hidden">
	  <a href="/genealogy.php?lang=fr">
  		Genealogie
	  </a>:
	  <a href="/Canada/CountriesEdit.php?lang=fr">
  	    Liste des Pays Soutenus
	  </a>:
	  <a href="/genCountry.php?code=$CC&lang=fr">
        $COUNTRYNAME</a>:
      <a href="/Canada/genProvince.php?domain=$DOMAIN&lang=fr">
        $DOMAINNAME</a>:
	  <a href="/Ontario/DeathRegQuery.php?domain=$DOMAIN&lang=fr">
  	    Nouvelle requête
	  </a>:
	  <a href="DeathRegStats.php?RegDomain=$DOMAIN&lang=fr">
        $DOMAINNAME Statut
      </a>:
	</div>
    <div class="body">
      <h1>
	    $DOMAINNAME: Statut des Enregistrements de Mort $REGYEAR
        <span class="right">
			<a href="DeathRegYearStatsHelpfr.html" target="_blank">Help?</a>
        </span>
      </h1>
      $TRACE
      $MSG
      <div class="center" id="topBrowse">
        <div class="left" id="topPrev">
          <a href="DeathRegYearStats.php?regyear=$PREVREGYEAR&county=$COUNTY&lang=fr" id="toPrevYear">
			    &lt;--- $PREVREGYEAR 
			</a>
        </div>
        <div class="right" id="topNext">
			<a href="DeathRegYearStats.php?regyear=$NEXTREGYEAR&county=$COUNTY&lang=fr" id="toNextYear">
			    $NEXTREGYEAR ---&gt;
			</a>
        </div>
        <div style="clear: both;"></div>
      </div>
      <form id="display" action="donothing.php" method="get" id="form">
        <input type="hidden" id="RegYear" 
			value="$REGYEAR">
        <input type="hidden" id="Domain" 
			value="$DOMAIN">
        <!--- Put out the response as a table -->
        <table class="form" id="dataTable">
          <!--- Put out the column headers -->
          <thead>
			<tr>
			  <th class="colhead1st">
			  Comté
			  </th>
			  <th class="colhead">
			  Fait
			  </th>
			  <th class="colhead">
			  Bas
			  </th>
			  <th class="colhead">
			  Haut
			  </th>
			  <th class="colhead">
			  %Fait
			  </th>
			  <th class="colhead">
			  %Lié
			  </th>
			  <th class="colhead">
			  Regarder
			  </th>
			</tr>
          </thead>
          <tbody>
			<tr id="stats$rownum">
			  <td class="odd bold left first">
			      $countyname
			      <input type="hidden" id="County$rownum" 
						  value="$county">
			  </td>
			  <td class="odd bold right">
			      $count
			  </td>
			  <td class="odd bold right">
			      $low
			      <input type="hidden" id="low$rownum" 
						  value="$low">
			  </td>
			  <td class="odd bold right">
			      $high
			      <input type="hidden" id="high$rownum" 
						  value="$high">
			  </td>
			  <td class="$pctdoneclass">
			      $pctdone% 
			  </td>
			  <td class="$pctlinkedclass">
			      $pctlinked% 
			  </td>
			  <td>
			      <button type="button" id="TownStats$rownum">
						  Regarder
			      </button>
			  </td>
			</tr>
          </tbody>
          <tfoot>
			<tr>
			  <td class="total bold left">
			      Totaux
			  </td>
			  <td class="total right">
			      $TOTAL
			  </td>
			  <td class="total right">
			      $LOWEST
			  </td>
			  <td class="total right">
			      $HIGHEST
			  </td>
			  <td class="total $PCTDONECLASS">
			      $PCTDONE% 
			  </td>
			  <td class="total $PCTLINKEDCLASS">
			      $PCTLINKED% 
			  </td>
			  <td class="total left">&nbsp;</td>
			</tr>
          </tfoot>
        </table>
      </form>
    </div> <!-- end of <div id="body"> -->
    <div class="balloon" id="HelpTownStats">
        Cliquez sur ce bouton pour afficher un résumé des décès transcrits
        pour la ville ou le canton spécifique.
    </div>
    <div class="balloon" id="HelpCounty">
        Ce champ affiche le nom du comté où 
        la mort a été enregistrée.
    </div>
    <div class="balloon" id="HelpTown">
        Ce champ affiche le nom de la ville, ville, village ou canton où 
        la mort a été enregistrée.
    </div>
	<script src="/jscripts/util.js" type="text/javascript"></script>
	<script src="/Ontario/DeathRegYearStats.js" type="text/javascript"></script>
