<!--*********************************************************************
 *  DeathRegUpdateen.html   											*
 *																		*
 *  Update an entry in the death registrations table.					*
 *																		*
 *  History:															*
 *		2018/12/26		created                                         *
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
  	<a href="/index.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">
  		Genealogy
      </a>:
      <a href='/Canada/CountriesEdit.php?lang=$LANG'>
  	    List of Supported Countries
      </a>:
      <a href="/genCountry.php?cc=$CC&amp;lang=$LANG">
  		$COUNTRYNAME
      </a>:
      <a href="/Canada/genProvince.php?Domain=$DOMAIN&amp;lang=$LANG">
  		$DOMAINNAME
      </a>:
    	<a href="DeathRegQuery.php?domain=$DOMAIN&amp;lang=$LANG">
      	Death Query
  	</a>:
  	<a href="DeathRegStats.php?RegDomain=$DOMAIN&amp;lang=$LANG">
      	$DOMAINNAME Status
  	</a>:
  	<a href="DeathRegYearStats.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;lang=$LANG">
      	$DOMAINNAME Status $REGYEAR
      </a>:
      <span id="countyStats">
  	<a href="DeathRegYearStats.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;County=$REGCOUNTY&amp;lang=$LANG">
  	    Status $REGYEAR $COUNTYNAME
      </a>:
      </span>
      <span id="townshipStats">
  	<a href="DeathRegResponse.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;RegCounty=$REGCOUNTY&amp;RegTownship=$REGTOWNSHIP&amp;lang=$LANG">
      	Status $REGYEAR Township $REGTOWNSHIP
  	</a>:
      </span>
    </div>
    <div class='body'>
      <h1>Update Death Registration $REGYEAR-$REGNUM</h1>
      $TRACE
      $MSG
      <p class='label'>
        <a href='DeathRegQuery.php?RegDomain=$DOMAIN&RegYear=$REGYEAR&RegNum=$REGNUM&Count=20&lang=$LANG' 
			id='newQuery'>
	    Specify next page to update</a>
      </p>

      <p class='label'>
	    <a href='DeathRegDetail.php?RegDomain=$DOMAIN&RegYear=$REGYEAR&RegNum=$NEXTREGNUM&lang=$LANG' 
			id='updNext'>
	    Update Death Registration $REGYEAR-$NEXTREGNUM
	    </a>
      </p>
    </div> <!-- end of <div id='body'> -->
    <div class="hidden">
      <span id="notAuthorized">
          You are not authorized to update death registrations.
      </span> 
      <span id="badDomain">
          Invalid value for Domain '$value'.
      </span> 
      <span id="badYear">
          Invalid value for RegYear '$value'.
      </span> 
      <span id="barNumber">
          Invalid value for RegNum '$value'. 
      </span> 
      <span id="missYear">
          Year of registration not specified. 
      </span> 
      <span id="missNumber">
          Registration number not specified. 
      </span> 
    </div>
	<script src="/jscripts/js20/http.js" type="text/javascript"></script>
	<script src="/jscripts/util.js" type="text/javascript"></script>
	<script src="/Ontario/DeathRegUpdate.js" type="text/javascript"></script>
