<!--*********************************************************************
 *  DeathRegDetailUpdatefr.html											*
 *																		*
 *  Display the contents of an Ontario death registration as a detail	*
 *  form with optional ability to update the record.					*
 *																		*
 *  History:															*
 *		2018/05/28		convert to template								*
 *      2020/06/10      use <input type="number"> for original page     *
 *      2021/04/24      add residence input field                       *
 *																		*
 *  Copyright &copy; 2021 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
      <a href="/genealogy.php?lang=fr">
		  Généalogie
      </a>:
      <a href='/Canada/CountriesEdit.php?lang=fr'>
		  Liste des Pays Soutenus
      </a>:
      <a href="/genCountry.php?cc=$CC&lang=fr">
	      $COUNTRYNAME
      </a>:
      <a href="/Canada/genProvince.php?domain=$DOMAIN&lang=fr">
	      $DOMAINNAME
      </a>:
      <a href="DeathRegQuery.php?lang=fr">
		  Nouvelle requête
      </a>:
      <a href="DeathRegStats.php?RegDomain=$DOMAIN&lang=fr">
	      $DOMAINNAME statut de transcription
      </a>:
      <a href="DeathRegYearStats.php?RegDomain=$DOMAIN&regyear=$REGYEAR&lang=fr">
	      $DOMAINNAME Statut $REGYEAR
      </a>:
      <a href="DeathRegYearStats.php?RegDomain=$DOMAIN&regyear=$REGYEAR&regCounty=$REGCOUNTY&lang=fr">
	      Statut $REGYEAR $COUNTYNAME
      </a>:
      <a href="DeathRegResponse.php?RegDomain=$DOMAIN&RegYear=$REGYEAR&RegCounty=$REGCOUNTY&RegTownship=$REGTOWNSHIP&lang=fr">
	      Statut $REGYEAR Canton $REGTOWNSHIP
      </a>:
      <a href="DeathRegDetail.php?RegDomain=$DOMAIN&RegYear=$REGYEAR&RegNum=$PREVREGNUM&lang=fr&ShowImage=$SHOWIMAGE" id="Previous">Précédent</a>:
      <a href="DeathRegDetail.php?RegDomain=$DOMAIN&RegYear=$REGYEAR&RegNum=$NEXTREGNUM&lang=fr&ShowImage=$SHOWIMAGE" id="Next">Prochain</a>:
	  <a href="DeathRegResponse.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;RegNum=$REGNUM&amp;lang=$LANG">
	    Afficher les enregistrements de décès dans l'ordre
	  </a>:
    </div> 
    <div class="body">
      <h1>
        <span class="right">
	  <a href="DeathRegDetailHelpfr.html" target="help">? Help</a>
        </span>
	  Enregistrement de Décès $DOMAINNAME: Mise a jour
      </h1>
      $MSG
      $TRACE
	  <form action="DeathRegUpdate.php"
			method="post" 
			name="distForm" id="distForm"
			enctype="multipart/form-data">
			<input type="hidden" name="RegDomain" id="RegDomain"
					value="$DOMAIN"/>
		<!-- the following stores the textual value of the county name in
		     the web page so it can be used by the Javascript code 
		     to initialize the RegCounty selection list -->
			<input type="hidden" name="RegCountyTxt" id="RegCountyTxt" 
			disabled="disabled" value="$REGCOUNTY"/>
		<!-- the following stores the textual value of the county name in
		     the web page so it can be used by the Javascript code 
		     to initialize the RegTownship selection list -->
			<input type="hidden" name="RegTownshipTxt" id="RegTownshipTxt" 
			disabled="disabled" value="$REGTOWNSHIP"/>
			<input type="hidden" name="lang" id="lang"
					value="fr"/>
			<input type="hidden" name="Debug" id="Debug"
					value="$DEBUG"/>
	    <div class="row" id="RegYearNumRow">
	      <div class="column1">
		    <div class="left">
			  <label class="labelCol1" for="RegYear">
		        Identification:&nbsp;Année:
		      </label>
			  <input name="RegYear" id="RegYear" type="text"
					class="ina rightnc" readonly="readonly"
					size="4" maxlength="4"
					value="$REGYEAR">
	    	</div>
	    	<div class="right">
			  <label class="labelSmall6em" for="RegNum">
				Numero:
			  </label>
			  <input name="RegNum" id="RegNum" type="text"
					class="ina rightnc" readonly="readonly"
					size="6" maxlength="6" 
					value="$REGNUM">
    		</div>
	      </div>
		  <div class="column2">
			  <label class="labelCol2" for="MsVol">
		        MS 935 Bobine:
		      </label>
			  <input name="MsVol" id="MsVol" type="text"
					size="4" maxlength="4" class="black white right" 
					value="$MSVOL"/>
		</div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" >
		<div class="column1">
		  <div style="float: left;">
			    <label class="labelCol1" for="OriginalVolume">
				Volume:
			</label>
			        <input name="OriginalVolume" id="OriginalVolume"
					type="text" class="black white right"
					size="3" maxlength="16"
					value="$ORIGINALVOLUME"/>
		  </div>
		  <div class="right">
			<label class="labelSmall6em" for="OriginalPage">
				Page:
			</label>
			<input name="OriginalPage" id="OriginalPage"
					type="number" class="black white right"
					size="3" maxlength="3" min="0" max="900"
					value="$ORIGINALPAGE"/>
		  </div>
		</div>
		<div class="column2">
			  <label class="labelCol2" for="OriginalItem">
				Item:
			</label>
			        <input name="OriginalItem" id="OriginalItem"
					type="text" class="black white right"
					size="3" maxlength="3"
					value="$ORIGINALITEM"/>
	        </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="CountyTownshipRow">
	      <div class="column1">
			<label class="labelCol1" for="RegCounty">
				Lieu: Comté:
			</label>
		<select name="RegCounty" id="RegCounty" size="1"
					class="black white left">
		</select>
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="RegTownship">
				Canton:
			</label>
			<input name="RegTownship" id="RegTownship"
					type="text" size="20" maxlength="40" 
					value="$REGTOWNSHIP" 
					class="black white left">
	      </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="NameRow">
	      <div class="column1">
			<label class="labelCol1" for="GivenNames">
				Nom: Prenom:
			</label>
			<input name="GivenNames" id="GivenNames"
					type="text" size="32" maxlength="40"
					value="$GIVENNAMES" 
					class="black white left"> 
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="Surname">
				Surnom:
			</label>
			<input name="Surname" id="Surname"
					type="text" size="20" maxlength="40" 
					value="$SURNAME" 
					class="black white left"> 
	      </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="SexMarStatRow">
	      <div class="column1">
			<label class="labelCol1" for="Sex">
				Sexe:
			</label>
		<!-- enable the selection for input only if updating -->
		<select name="Sex" id="Sex" size="1"
					class="black white left">
		    <option id="SexM" class="male white" value="M" $selected>
			    Mâle
		    </option>
		    <option id="SexF" class="female white" value="F" $selected>
			    Femelle
		    </option>
		    <option id="SexU" class="unknown white" value="?" $selected>
			    Non Rapporté
		    </option>
		</select>
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="MarStat">État civil:
			</label>
		<select name="MarStat" id="MarStat" size="1"
					class="black white left">
		  <option id="MarStatS" value="S" $selected>Célibataire</option>
		  <option id="MarStatM" value="M" $selected>Marié[e]</option>
		  <option id="MarStatW" value="W" $selected>Veuf/ve</option>
		  <option id="MarStatD" value="D" $selected>Divorcé[e]</option>
		  <option id="MarStatU" value="?" $selected>Non Rapporté</option>
		</select>
	      </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="DeathDatePlaceRow">
	      <div class="column1">
			<label class="labelCol1" for="Date">
				Date&nbsp;de&nbsp;mort:
			</label>
			<input name="Date" id="Date"
					type="text" size="12" maxlength="32"
					value="$DATE"
					class="black white left"/>
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="Place">
				Lieu&nbsp;de&nbsp;mort:
			</label>
			<input name="Place" id="Place"
					type="text" size="20" maxlength="128"
					value="$PLACE"
					class="black white leftnc">
	      </div>
	      <div style="clear: both"></div>
	    </div>
        <div class="row" id="ResidenceRow">
          <div class="column1">
          </div>
          <div class="column2">
            <label class="labelCol2" for="Residence">
              Résidence:
            </label>
            <input name="Residence" id="Residence"
                    type="text" size="20" maxlength="128"
                    value="$RESIDENCE"
                    class="black white leftnc">
          </div>
          <div style="clear: both"></div>
        </div>    <!-- class="row" -->
	    <div class="row" id="LinkRowSet">
	      <div class="column2">
			<label class="labelCol1" for="IDIR">
				Lien:
			</label>
			<a href="/FamilyTree/Person.php?idir=$idir"
				    id="showLink" class="$genderClass"
				    target="_blank">
			    $linkedName
			</a>
			<input type="hidden" id="IDIR" name="IDIR" 
					value="$idir">
	      </div>
			<button id="clearIdir" type="button">Effacer</button>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="LinkRowMatch">
	      <div class="column2">
			<label class="labelCol1" for="IDIR">
				Lien:
			</label>
		    <select name="IDIR" id="IDIR" rows="1"
					class="black white left">
		      <option value="0">Correspondances possibles à cette inscription:
		      </option>
		      <option id="match" value="$idir" class="$sexclass white">
			    $name
		      </option>
		    </select>
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="OccupationAgeRow">
	      <div class="column1">
			<label class="labelCol1" for="Occupation">
				Emploi:
			</label>
			<input name="Occupation" id="Occupation"
					type="text" size="20" maxlength="64"
					value="$OCCUPATION"
					class="black white leftnc">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="Age">Âge au décès:
			</label>
			<input name="Age" id="Age"
					type="text" size="10" maxlength="16"
					value="$AGE"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="BirthDatePlaceRow">
	      <div class="column1">
			<label class="labelCol1" for="BirthDate">
				Date&nbsp;de&nbsp;naissance:
			</label>
			<input name="BirthDate" id="BirthDate"
					type="text" size="10" maxlength="32"
					value="$BIRTHDATE"
					class="black white left">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="BirthPlace">
				Lieu&nbsp;de&nbsp;naissance:
			</label>
			<input name="BirthPlace" id="BirthPlace"
					type="text" size="20" maxlength="128"
					value="$BIRTHPLACE"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="ResLengthRow">
	      <div class="column2">
			<label class="labelCol2" for="ResPlace">
				a lieu:
			</label>
			<input name="ResPlace" id="ResPlace"
					type="text" size="5" maxlength="16"
					value="$RESPLACE"
					class="black white right">
	      </div>
	      <div class="column2">
			<label class="labelSmall6em" for="ResOnt">
				en Ontario:
			</label>
			<input name="ResOnt" id="ResOnt" 
					type="text" size="5" maxlength="16"
					value="$RESONT"
					class="black white right">
	      </div>
	      <div class="column2">
			<label class="labelSmall6em" for="ResCan">
				au Canada:
			</label>
			<input name="ResCan" id="ResCan" 
					type="text" size="5" maxlength="16"
					value="$RESCAN"
					class="black white right">
	      </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="DeathCauseRow">
	      <div class="column1">
			<label class="labelCol1" for="Cause">
				Cause:
			</label>
			<input name="Cause" id="Cause"
					type="text" size="32" maxlength="255"
					value="$CAUSE" 
					class="black white leftnc"> 
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="Duration">
				Duration:
			</label>
			<input name="Duration" id="Duration"
					type="text" size="16" maxlength="64"
					value="$DURATION"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="PhysicianRow">
	      <div class="column1">
			<label class="labelCol1" for="Phys">
				Médecin:
			</label>
			<input name="Phys" id="Phys"
					type="text" size="20" maxlength="48"
					value="$PHYS"
					class="black white left">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="PhysAddr">
				Addresse:
			</label>
			<input name="PhysAddr" id="PhysAddr"
					type="text" size="20" maxlength="128"
					value="$PHYSADDR"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="InformantRow">
	      <div class="column1">
			<label class="labelCol1" for="Informant">
				Informateur:&nbsp;Nom:
			</label>
			<input name="Informant" id="Informant"
					type="text" size="32" maxlength="48"
					value="$INFORMANT"
					class="black white left">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="InfRel">
				Relation:
			</label>
			<input name="InfRel" id="InfRel" type="text"
					class="black white left" 
					size="16" maxlength="16" 
					value="$INFREL">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="InformantOccRow">
	      <div class="column1">
			<label class="labelCol1" for="InfOcc">
				Informateur:&nbsp;Emploi:
			</label>
			<input name="InfOcc" id="InfOcc"
					type="text" size="16" maxlength="32"
					value="$INFOCC"
					class="black white leftnc">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="InfRes">
				Résidence:
			</label>
			<input name="InfRes" id="InfRes"
					type="text" size="20" maxlength="128"
					value="$INFRES"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="ReligionRow">
	      <div class="column1">
			<label class="labelCol1" for="Religion">
				Religion:
			</label>
			<input name="Religion" id="Religion"
					type="text" size="20" maxlength="32"
					value="$RELIGION"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="FatherNameRow">
	      <div class="column1">
			<label class="labelCol1" for="FatherName">
				Nom&nbsp;du&nbsp;père:
			</label>
			<input name="FatherName" id="FatherName"
					type="text" size="32" maxlength="48"
					value="$FATHERNAME"
					class="black white left">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="FatherBPlce">
				Lieu&nbsp;de&nbsp;naissance:
			</label>
			<input name="FatherBPlce" id="FatherBPlce"
					type="text" size="20" maxlength="128"
					value="$FATHERBPLCE"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="MotherNameRow">
	      <div class="column1">
			<label class="labelCol1" for="MotherName">
				Nom&nbsp;du&nbsp;mère:
			</label>
			<input name="MotherName" id="MotherName"
					type="text" size="32" maxlength="48"
					value="$MOTHERNAME"
					class="black white left">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="MotherBPlce">
                Lieu&nbsp;de&nbsp;naissance:
            </label>
			<input name="MotherBPlce" id="MotherBPlce"
					type="text" size="20" maxlength="128"
					value="$MOTHERBPLCE"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="HusbandNameRow">
	      <div class="column1">
			<label class="labelCol1" for="HusbandName">
                Nom&nbsp;d'Époux:
            </label>
			<input name="HusbandName" id="HusbandName"
					type="text" size="32" maxlength="48"
					value="$HUSBANDNAME"
					class="black white left">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="BurialRow">
	      <div class="column1">
			<label class="labelCol1" for="BurPlace">
				Lieu de sépulture:
			</label>
			<input name="BurPlace" id="BurPlace"
					type="text" size="32" maxlength="128"
					value="$BURPLACE"
					class="black white leftnc">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="BurDate">
				Date:
			</label>
			<input name="BurDate" id="BurDate"
					type="text" size="16" maxlength="16"
					value="$BURDATE"
					class="black white left">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="UndertakerRow">
	      <div class="column1">
			<label class="labelCol1" for="Undertkr">
				Pompes funèbres:
			</label>
			<input name="Undertkr" id="Undertkr"
					type="text" size="20" maxlength="48"
					value="$UNDERTKR"
					class="black white left">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="UndertkrAddr">
				Addresse:
			</label>
			<input name="UndertkrAddr" id="UndertkrAddr"
					type="text" size="20" maxlength="128"
					value="$UNDERTKRADDR"
					class="black white leftnc">
		  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="RegistrationDateRow">
	      <div class="column1">
			<label class="labelCol1" for="RegDate">
				Date d'enreg't:
			</label>
			<input name="RegDate" id="RegDate"
					type="text" size="16" maxlength="16"
					value="$REGDATE"
					class="black white left">
	      </div>
	      <div class="column2">
			<label class="labelCol2" for="Registrar">
				Greffier:
			</label>
			<input name="Registrar" id="Registrar"	
					type="text" size="20" maxlength="128"
					value="$REGISTRAR"
					class="black white left">
    	  </div>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="RemarksRow">
			<label class="labelCol1" for="Remarks">
				Remarques:
			</label>
		    <textarea name="Remarks" id="Remarks"
					type="text" cols="55" rows=2
					class="black white leftnc">$REMARKS</textarea>
	      <div style="clear: both"></div>
	    </div>
	    <div class="row" id="ImageRow">
			<label class="labelCol1" for="Image">
				Image:
			</label>
			<button type="button" id="ShowImage">Montrez l'image</button>
			<input name="Image" id="Image"
					type="text" size="50" maxlength="256"
					value="$IMAGE"
					class="white left wide"> 
	      <div style="clear: both"></div>
	    </div>
	    <div class="row">
			<button type="submit" id="Submit">
			  Mise a jour
			</button>
			&nbsp;
			<button type="reset" id="Reset">
			  Réinitialiser&nbsp;formule
			</button>
	        &nbsp;
            <a href="DeathRegDetail.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;RegNum=$PREVREGNUM&amp;lang=$LANG&amp;ShowImage=$SHOWIMAGE"
                class="button">
                Previous
            </a>
	        &nbsp;
            <a href="DeathRegDetail.php?RegDomain=$DOMAIN&amp;RegYear=$REGYEAR&amp;RegNum=$NEXTREGNUM&amp;lang=$LANG&amp;ShowImage=$SHOWIMAGE"
                class="button">
                Next
            </a>
		  </div>
	    </form>
	  </div> <!-- end of <div id="body"> -->
    <div class="hidden" id="templates">
	  $DIALOGS
    </div> <!-- id="templates" -->
	  <!--  The remainder of the web page consists of divisions containing
	  context specific help.  These divisions are only displayed if the user
	  requests help by pressing F1.  Including this information here ensures
	  that the language of the help balloons matches the language of the
	  input form.
	    -->
    <div class="balloon" id="HelpOriginalVolume">
	    This field contains the identification of the original bound volume
	    containing the marriage registrations or certificates.
    </div>
    <div class="balloon" id="HelpOriginalPage">
	    This field contains the page number containing the original
	    marriage registrations or certificate.
    </div>
    <div class="balloon" id="HelpOriginalItem">
	    Where there are more than one marriage registration on the page this field 
	    contains the ordinal position of the specific registration on the page.
    </div>
    <div class="balloon" id="HelpRegCounty">
	    This is a selection list for identifying the county within which the
	    death was registered.
    </div>
    <div class="balloon" id="HelpRegTownship">
	    The Township field is used to identify the city, town, or township
        where the
	    death was registered.  For some counties this is a selection list
        of all municipalities within the county.  However such a list
        has not been accumulated for all counties, and for those counties
        where it has not, this is a text input field.
    </div>
    <div class="balloon" id="HelpGivenNames">
	    The Given Names of the deceased.
    </div>
    <div class="balloon" id="HelpSurname">
	    The Surname of the deceased.
    </div>
    <div class="balloon" id="HelpSex">
	    Sex of the deceased.
    </div>
    <div class="balloon" id="HelpMarStat">
	    Marital status of the deceased.
    </div>
    <div class="balloon" id="HelpDate">
	    Date of death.
	    It is suggested that dates be entered consistently as day, 
	    abbreviation of name of month, and year.
    </div>
    <div class="balloon" id="HelpPlace">
	    Place of death.
    </div>
    <div class="balloon" id="HelpIDIR">
	    This selection list offers a list of individuals in the
        family tree database
	    who may correspond to this death registration.  
        Selecting an entry in this
	    list will cause a citation to this registration to be added 
        to that individual.
    </div>
    <div class="balloon" id="HelpAge">
	    Age at death.  This is specified as a number of years, months, weeks, days, or hours, or a combination of these.  A number is an integer, optionally followed
	    by a '½', which may be entered as '1/2', with no intervening space. 
	    The interpretation of each number is specified by the first letter of the unit
	    of time.  Subsequent letters are ignored to permit making the age more
	    readable, for example '7days' is interpreted the same as '7d'. 
	    If a number is not followed by a letter then it is interpreted as a number
	    of years.
    </div>
    <div class="balloon" id="HelpOccupation">
	    Occupation of deceased.
    </div>
    <div class="balloon" id="HelpBirthPlace">
	    Birth place of deceased.
    </div>
    <div class="balloon" id="HelpBirthDate">
	    Birth date of deceased.
	    It is suggested that dates be entered consistently as day, 
	    abbreviation of name of month, and year.
	    If no birth date is provided by the original, it is recommended that an
	    approximate birth date be calculated using the age and date of death, 
	    and enclosed in square brackets to mark it as an editorial comment.
    </div>
    <div class="balloon" id="HelpResPlace">
	    Length of time the deceased lived at the place of death.
    </div>
    <div class="balloon" id="HelpResOnt">
	    Length of time the deceased lived in Ontario.
    </div>
    <div class="balloon" id="HelpResCan">
	    Length of time the deceased lived in Canada.
    </div>
    <div class="balloon" id="HelpCause">
	    Cause of death.
    </div>
    <div class="balloon" id="HelpDuration">
	    Duration of cause of death.
    </div>
    <div class="balloon" id="HelpPhys">
	  <p>
	    Attending Physician's name.
	  </p>
    </div>
    <div class="balloon" id="HelpPhysAddr">
	  <p>
	    Attending Physician's address.
	  </p>
    </div>
    <div class="balloon" id="HelpInformant">
	  <p>
	    Informant's name.
	  </p>
    </div>
    <div class="balloon" id="HelpInfRel">
	  <p>
	    Informant's relation to deceased.
	  </p>
    </div>
    <div class="balloon" id="HelpInfRelTxt">
	  <p>
	    Informant's relation to deceased if not one of the values available in the
	    selection list.
	  </p>
    </div>
    <div class="balloon" id="HelpInfOcc">
	  <p>
	    Informant's occupation if specified.
	  </p>
    </div>
    <div class="balloon" id="HelpInfRes">
	  <p>
	    Informant's address if specified.
	  </p>
    </div>
    <div class="balloon" id="HelpReligion">
	  <p>
	    Religious affiliation of the deceased.
	  </p>
    </div>
    <div class="balloon" id="HelpFatherName">
	  <p>
	    Name of father of deceased.
	  </p>
    </div>
    <div class="balloon" id="HelpFatherBPlce">
	  <p>
	    Birth place of father of deceased.
	  </p>
    </div>
    <div class="balloon" id="HelpMotherName">
	  <p>
	    Name of mother of deceased.
	  </p>
    </div>
    <div class="balloon" id="HelpMotherBPlce">
	  <p>
	    Birth place of mother of deceased.
	  </p>
    </div>
    <div class="balloon" id="HelpHusbandName">
	  <p>
	    For married women, the name of her husband.
	  </p>
    </div>
    <div class="balloon" id="HelpBurPlace">
	  <p>
	    Place of burial.
	  </p>
    </div>
    <div class="balloon" id="HelpBurDate">
	  <p>
	    Date of burial.
	    It is suggested that dates be entered consistently as day, 
	    abbreviation of name of month, and year.
	  </p>
    </div>
    <div class="balloon" id="HelpUndertkr">
	  <p>
	    Name of undertaker/mortician.
	  </p>
    </div>
    <div class="balloon" id="HelpUndertkrAddr">
	  <p>
	    Address of undertaker/mortician.
	  </p>
    </div>
    <div class="balloon" id="HelpRegDate">
	    Date of registration with municipality.
	    It is suggested that dates be entered consistently as day, 
	    abbreviation of name of month, and year.
    </div>
    <div class="balloon" id="HelpRegistrar">
	    Name of municipal registrar/clerk.
    </div>
    <div class="balloon" id="HelpRemarks">
	    Remarks by the municipal registrar/clerk.
	    Any comments by the transcriber may be entered here if enclosed in 
	    square brackets.
    </div>
    <div class="balloon" id="HelpRegYear">
	    The year the death was registered.
    </div>
    <div class="balloon" id="HelpRegNum">
	    The registration number within the year of this death registration.
    </div>
    <div class="balloon" id="HelpRegId">
	    This field displays the combination of the year of registration and the
	    identification number within the year of this death registration.
    </div>
    <div class="balloon" id="HelpMsVol">
	    The microfilm reel number within MS 929 which is used to borrow a copy of
	    the microfilm containing the image of the original death registration from the 
	    <a href="http://www.archives.gov.on.ca/">Ontario Archives</a>.
    </div>
    <div class="balloon" id="HelpSubmit">
	    Clicking on this button commits the changes you have made to the database.
    </div>
    <div class="balloon" id="HelpReset">
	    Clicking on this button resets the values of some fields to their defaults.
    </div>
    <div class="balloon" id="HelpImage">
	    This field contains the location of the image of the associated original
	    document.  This can be an absolute URL, starting with "http:" or a URL 
	    relative to the /Ontario/Images folder.
    </div>
    <div class="balloon" id="HelpShowImage">
	    Click on this button to see the original image of the registration.
    </div>
    <div class="balloon" id="HelpNext">
	    Click on this button to see the registration with the next higher
	    registration number.
    </div>
    <div class="balloon" id="HelpPrevious">
	    Click on this button to see the registration with the next lower
	    registration number.
    </div>
    <div class="balloon" id="HelpNewQuery">
	    Click on this button to issue a new query of the database.
    </div>
	<script src="/jscripts/tinymce/js/tinymce/tinymce.js" type="text/javascript"></script>
    <script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
    <script src="/jscripts/CommonForm.js" type="text/javascript">
    </script>
    <script src="/jscripts/Ontario.js" type="text/javascript">
    </script>
    <script src="/jscripts/util.js" type="text/javascript">
    </script>
    <script src="/jscripts/locationCommon.js" type="text/javascript">
    </script>
    <script src="DeathRegDetail.js" type="text/javascript">
    </script>
