<!DOCTYPE HTML >
<html>
  <head lang="de">
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  dialogde.html								                        *
 *									                                    *
 *  HTML template used for dialogs.					                    *
 *									                                    *
 *  History:								                            *
 *      2019/02/08      created                                         *
 *      2020/02/02      add page menu button to body                    *
 *									                                    *
 *  Copyright &copy; 2020 James A. Cobban				                *
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta http-equiv='default-style' content='text/css'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2018 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada $KEYWORDS'>
    <link rel='stylesheet' type='text/css' href='/styles.css'/>
    <link rel='stylesheet' type='text/css' href='$filename.css'
            id="otherStylesheets">
  </head>
  <body>
      
<script>

   var tinyMCEparms = {
		selector            : 'textarea',
	    plugins             : 'link lists image',
	    menubar             : false,
        language            : '$LANG',
        skin                : 'oxide-dark',
	    toolbar             : "undo redo | styleselect | bold italic | " 
	                           + "alignleft aligncenter alignright alignjustify | " 
	                           + "bullist numlist | link image",
	    content_css		    : "/styles.css"
	};
	
</script>

    <main id="mainSection">
      <noscript>
        <p class="warning">
          Für die volle Funktionalität dieser Website muss EcmaScript/JavaScript
          aktiviert sein.  Hier finden Sie die
          <a href="https://www.enable-javascript.com/" target="_blank">
          Anweisungen zum Aktivieren von JavaScript in Ihrem Webbrowser</a>.
        </p>
      </noscript>
      <div>
        <span id="menuButton" class="left" style="padding-right: 10px;">
          <div class="menuicon"></div>
          <div class="menuicon"></div>
          <div class="menuicon"></div>
        </span>
        <div class="menu" id="menu">
            $BREADCRUMBS
        </div>
        <h1>$TITLE</h1>
        <div style="clear: both;"></div>
      </div>
      $MAIN
    </main>
    <footer id="footSection">
    </footer>
    <div class='hidden' id='UserInfo'>
      <span id='UserInfoUserid'>$USERID</span>
      <span id='UserInfoAuthorized'>$AUTHORIZED</span>
      <span id='UserInfoOptions'>$OPTIONS</span>
      <span id='UserInfoSignon'>Anmelden</span>
      <span id='UserInfoAccount'>
          <a href="/Account.php?lang=de" id="session" target="_blank"
              title="Ihr Kontostatus" class="menuitem">
              Konto $USERID
            <span id="gotMail">
                <img src="/envelope.svg" alt="You have mail" style="display: inline-block; height: 19px;"/>
            </span>
          </a><br>
      </span>
      <span id='UserInfoAbout'>Über diese Seite</span>
    </div>
    <div class='balloon' id='msgDiv'>
    </div>
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for dialog reporting error -->
      <form name='Msg\$template' id='Msg\$template'>
    	<p class='message'>\$msg</p>
    	<p>
    	  <button type='button' id='closeDlg\$template'>
     	    OK
    	  </button>
    	</p>
      </form>
    </div>		<!-- id='hideMsgTemplate'-->
  </body>
</html>
