<!--*********************************************************************
 *  CemeteryReferenceen.html											*
 *																		*
 *  Display a web page containing all of the individuals matching		*
 *  a particular cemetery plot reference.								*
 *																		*
 *  History:															*
 *		2018/11/01	    created											*
 *      2020/12/06      add more message texts                          *
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
	  <a href="/home.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>:
    </div>
    $TEMPLATE
    <script src="/jscripts/tinymce/js/tinymce/tinymce.min.js"
            type="application/javascript">
    </script>
	<script src="displayPage.js" type="module">
    </script>
