<!--*********************************************************************
 *  DisplayImagefr.php													*
 *																		*
 *  Template to display an image with controls for moving backward		*
 *  and forward		through a folder of images and controlling zoom.	*
 *																		*
 *  History:															*
 *		2018/02/09		created											*
 *		2018/02/24		remove incorrect quotes in forward and backward	*
 *						image links										*
 *      2019/03/02      add hidden <h1> to satisfy FtTemplate           *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php">Genealogy</a>:
  </div>	
<div class="body">
  <h1 id="head1" style="display: none;">Montre Image '$IMAGENAME'</h1>
  <h2 id="head2">Montre Image '$IMAGENAME'</h2>
    $MSG
    $TRACE
  <div class="center">
    <div class="left" id="goToPrevImg">
	<a href="DisplayImage.php?src=$dirname/$previmg&fldName=$fldName&lang=$lang">
	    &lt;---
	</a>
    </div>
    <div class="right" id="goToNextImg">
	<a href="DisplayImage.php?src=$dirname/$nextimg&fldName=$fldName&lang=$lang">
	    ---&gt;
	</a>
    </div>
    <div class="center">
      <form name="imageForm">
	$IMAGENAME
	<button type="button" id="plus">+</button>
	<button type="button" id="minus">-</button>
	<button type="button" id="close">Fermer</button>
      </form>
    </div>
    <div style="clear: both;"></div>
  </div>
  <img src="$SRC" alt="Document Image" id="image" class="white"
	style="width:100%;height:80%">
  </div> <!-- end of <div id="body"> -->
  <div class="balloon" id="Helpplus">
    Click on this button to zoom into the image.
  </div>
  <div class="balloon" id="Helpminus">
    Click on this button to zoom out from the image.
  </div>
  <div class="balloon" id="Helpclose">
    Click on this button to close the image display.
  </div>
  <div class="balloon" id="HelpgoToPrevImg">
    Click on this link to display the previous image in the image folder.
  </div>
  <div class="balloon" id="HelpgoToNextImg">
    Click on this link to display the next image in the image folder.
  </div>
    <script src="/jscripts/js20/http.js" type="text/javaScript">
    </script>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="/Canada/DisplayImage.js" type="text/javaScript">
    </script>
