<!--*********************************************************************
 *  DistFormfr.html							*
 *									*
 *  Display form for editting district information for a		*
 *  Census of Canada							*
 *									*
 *  History:								*
 *	2017/09/15	created						*
 *	2017/11/04	add id="distForm" on form			*
 *	2018/01/04	remove Template from template file names	*
 *	2018/01/17	support new class composition			*
 *									*
 *  Copyright &copy; 2018 James A. Cobban				*
 **********************************************************************-->
  <div class="hidden" id="breadcrumbs">
    <span><a href="/genealogy.php?lang=fr">Généalogie</a>:</span>
    <span><a href="/genCountry.php?cc=CA&amp;lang=fr">Canada</a>:</span>
    <span><a href="/database/genCensuses.php?lang=fr">Recensements</a>:</span>
    <span><a href="/database/EditCensuses.php?lang=fr">Administration des Recensements</a>:</span>
    <span><a href="/database/ReqUpdateDists.php?Census=$CENSUSID&amp;Province=$PROVINCE&amp;lang=fr">Choisir Nouveau District</a>:</span>
  </div>
<div class="body">
<div class="body">
  <h1>
    <span class="right">
	<a href="/database/DistFormHelpfr.html" target="help">? Aide</a>
    </span>
    Administration des Recensements: Canada: Recensement $CENSUSYEAR: Table des Districts
	<span id="updateTitle">Mise a Jour</span>
	<span id="displayTitle">Afficher</span>
    <div style="clear: both;"></div>
  </h1>

  $TRACE
  $MSG
  <span id="notauthorized">
    <p class="warning">
	Vous n'etes pas authorisée.
    <a href="/Signon.php"><span class="button">Enregistrer</span></a>
	pour mettre a jour la base de données.
    </p>
 </span>
    <p class="warning" id="countzero">
	There are currently no census districts defined in the table
	for this administrative domain.
    </p>
  <div class="center" id="linkHdr">
    <span class="left" id="npPrevFront">
      <a href="/database/DistForm.php$npPrev">&lt;---</a>
    </span>
    <span class="right" id="npNextFront">
      <a href="/database/DistForm.php$npNext">---&gt;</a>
    </span>
    Recensement de $COUNTRYNAME $CENSUSYEAR 
    $PROVINCENAME
  </div>
  <!--- Put out the response as a table -->
  <form name="distForm" id="distForm"
	action="DistUpdate.php" 
	method="post" 
	autocomplete="off" 
	enctype="multipart/form-data">
    <input type="hidden" name="Census" id="Census"
		value="$CENSUSID">
    <input type="hidden" name="Province" id="Province" 
		value="$PROVINCE">
    <input type="hidden" name="Debug" id="Debug" value="$DEBUG">
  <table class="form" id="dataTbl">
    <thead> <!--- Put out the column headers -->
      <tr id="hdrRow">
	<th class="colhead">
	No
	</th>
	<th class="colhead">
	Name
	</th>
	<th class="colhead">
	Nom
	</th>
	<th class="colhead">
	Prov
	</th>
	<th class="colhead">
	  Compte
	</th>
	<th class="colhead">
	  %Fait
	</th>
	<th class="colhead">
	  Population
	</th>
	<th class="colhead">
	  Transcrit
	</th>
	<th class="colhead">
	  Sous-Districts
	</th>
      </tr>
    </thead>
    <tbody>
      <tr id="Row$line">
	<td class="right">
	  <input type="text" name="D_Id$line"
		id="D_Id$line"
		value="$distId"
		class="white rightnc" style="font-weight: bold;"
		size="3" readonly="readonly">
	</td>
	<td class="left">
	  <input type="text" name="D_Name$line"
		id="D_Name$line" 
		value="$name" 
		class="white leftnc" size="24" maxlength="48">
	</td>
	<td class="left">
	  <input type="text" name="D_Nom$line"
		id="D_Nom$line" 
		value="$nom" 
		class="white leftnc" size="24" maxlength="48">
	</td>
	<td class="left">
	  <input type="text" name="D_Province$line"
		id="D_Province$line" 
		value="$prov" 
		class="white left" size="2" maxlength="2">
	</td>
	<td class="$numclass right">
	    $sdcount 
	</td>
	<td class="$fpctclass">
	    $fpct
	</td>
	<td class="$numclass right">
	    $pop
	</td>
	<td class="$donepctclass">
	    $done
	</td>
	<td class="button">
	  <a id="ShowSubDists$line" 
		href="/database/SubDistForm.php?Census=$tcensusId&amp;Province=$prov&amp;District=$distId&amp;lang=fr">
		    Sous-Districts
	  </a> 
	</td>
      </tr>
    </tbody>
  </table>
  <div class="center" id="linkHdrBack">
    <span class="left" id="npPrevBack">
      <a href="/database/DistForm.php$npPrev">&lt;---</a>
    </span>
    <span class="right" id="npNextBack">
      <a href="/database/DistForm.php$npNext">---&gt;</a>
    </span>
    $CENSUSYEAR Recensement de
	$COUNTRYNAME
    $PROVINCENAME
  </div>
    <p>
      <button type="submit" id="Submit">mettre a jour la base de données</button>
    </p>
  </form>
  <p class="message" id="msgblock">
    $MSG
  </p>
  </div> <!-- end of <div id="body"> -->
<div class="balloon" id="HelpD_Id">
The district identifier within the Census.  
This is normally a sequential integer, however in a couple of censuses
somehow a district was overlooked in assigning the numbers.
As a result in the 1881 census Manitoba Extension is district 186½, 
and in the 1891 census Nipissing is district 93½.
</div>
<div class="balloon" id="HelpD_Name">
The name of the district in English.
</div>
<div class="balloon" id="HelpD_Nom">
The name of the district in French.
</div>
<div class="balloon" id="HelpD_Province">
The two character code for the province containing the district.
</div>
<div class="balloon" id="HelpSubmit">
Click on this button to apply the changes to the database.
</div>
<div class="balloon" id="HelpShowSubDists">
Click on this button to view the detailed information on the
sub-districts within this district.
</div>
     <script src= '/jscripts/CommonForm.js' type="text/javascript">
    </script>
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= 'DistForm.js' type="text/javascript">
    </script>
