<!--*********************************************************************
 *  EventTypesEditen.html												*
 *																		*
 *  Template to isplay a web page containing the records from the		*
 *  Event Types Table tblET.											*
 *																		*
 *  History:															*
 *		2019/07/23		created											*
 *      2019/09/25      checkboxes must be both readonly for appearance *
 *                      and disabled so they cannot be clicked          *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>:
    </div>
    <div class="body">
	  <h1>Event Type List
	    <span class="right">
	      <a href="EventTypesHelpen.html" target="help">? Help</a>
	    </span>
	    <div style="clear: both;"></div>
      </h1>
      $TRACE
      $MSG
	  <p class="warning">This table is not used by the web-site because
	      it does not support internationalization. 
          Translation of numeric event type codes to displayed event type 
          names are now defined in the language-specific
          translate tables in the templates folder.
          See <a href="/ViewTemplate.php?template=Trantab$LANG.html&lang=$LANG" target="_blank">
              Trantab$LANG.html
          </a>
	  </p>
	  <form name="srcForm" action="EventTypes.php" method="post">
        <!--- Put out the response as a table -->
        <table class="details" id="dataTable">
          <!--- Put out the column headers -->
          <thead>
	        <tr>
	          <th class="colhead">
	            View
	          </th>
	          <th class="colhead">
	            Event Type
	          </th>
	          <th class="colhead">
	            Used
	          </th>
	          <th class="colhead">
	            Tag1
	          </th>
	          <th class="colhead">
	            qsTag
	          </th>
	          <th class="colhead">
	            Date
	          </th>
	          <th class="colhead">
	            Place
	          </th>
	          <th class="colhead">
	            Descr.
	          </th>
	          <th class="colhead">
	            Private
	          </th>
	          <th class="colhead">
	            PP Excl.
	          </th>
	          <th class="colhead">
	            RG Excl.
	          </th>
	          <th class="colhead">
	            Action
	          </th>
	        </tr>
          </thead>
          <tbody>
	        <tr id="row$IDET">
	          <td class="left">
	            <button type="button" id="More$IDET">
	               View $IDET
	            </button>
	          </td>
	          <td class="left">
	            <input type="text" class="ina left" size="40"
	                    name="EventType$IDET" id="EventType$IDET"
	                    value="$EVENTTYPE" readonly="readonly">
	          </td>
	          <td class="center">
	            <input type="checkbox" name="Used$IDET" id="Used$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $USEDCHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox" name="tag1$IDET" id="tag1$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $TAG1CHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox" name="qstag$IDET" id="qstag$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $QSTAGCHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox" name="ShowDate$IDET" id="ShowDate$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $SHOWDATECHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox"
                        name="ShowPlace$IDET" id="ShowPlace$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $SHOWPLACECHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox"
                       name="ShowDescription$IDET" id="ShowDescription$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $SHOWDESCRIPTIONCHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox" name="Private$IDET" id="Private$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $PRIVATECHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox"
                        name="PPExclude$IDET" id="PPExclude$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $PPEXCLUDECHECKED>
	          </td>
	          <td class="center">
	            <input type="checkbox"
                        name="RGExclude$IDET" id="RGExclude$IDET"
                        readonly="readonly" disabled="disabled" value="1" 
	                    $RGEXCLUDECHECKED>
	          </td>
	        </tr>
          </tbody>
        </table>
        <p>
          <button type="button" id="Close">Close</button>
        </p>
	  </form>
	</div> <!-- class="body" -->
	<div class="balloon" id="HelpIDET">
	  This field contains the unique numeric code point used in the
	      Event table (tblER) to identify this
	      event type.
    </div>
    <div class="balloon" id="HelpEventType">
	  This field contains the textual description of the Event 
	      type, as it will appear in web pages, and on selection
	      lists when updating the database.
    </div>
    <div class="balloon" id="HelpUsed">
	  Internal use by Legacy.
    </div>
    <div class="balloon" id="Helptag">
	  Internal use by Legacy.
    </div>
    <div class="balloon" id="Helpqstag">
	  Internal use by Legacy.
    </div>
    <div class="balloon" id="HelpDelete">
	  Click on this button to delete the event type described in this row
	      of the table.
    </div>
    <div class="balloon" id="HelpMore">
	  Click on this button to display more detailed information
	      about this event, including the default sentence overrides.
    </div>
    <div class="balloon" id="HelpAdd">
	  Click on this button to add a new event type to the table.
	      A new row is added to the table with a blank description.
	      Edit the description and click on the "Update Table" button
	      to add the new entry.
    </div>
    <div class="balloon" id="HelpShowDate">
	  If set the date should be included when this type of event
	      is shown.
    </div>
    <div class="balloon" id="HelpShowPlace">
	  If set the location should be included when this type of event is
	      shown.
    </div>
    <div class="balloon" id="HelpShowDescription">
	  If set the description should be included when this type of event
	      is shown.
    </div>
    <div class="balloon" id="HelpPrivate">
	  This type of event should not be displayed to casual users.
    </div>
    <div class="balloon" id="HelpPPExclude">
	  If set exclude events of this type from the Potential Problems report.
    </div>
    <div class="balloon" id="HelpRGExclude">
	  Future use by Legacy.
    </div>
    <div class="balloon" id="HelpSubmit">
	  Click on this button to update the database to reflect the
	      changes you have entered.  
    </div>
    <script src="/jscripts/js20/http.js" type="text/javascript"></script>
    <script src="/jscripts/util.js" type="text/javascript"></script>
    <script src="/jscripts/CommonForm.js" type="text/javascript"></script>
    <script src="/FamilyTree/EventTypes.js" type="text/javascript"></script>
