<!--*********************************************************************
 *  /database/genCensusesUpdatUSAen.html								*
 *																		*
 *  English language template for main entry to census tables			*
 *  for the United States of America                                    *
 *																		*
 *  History:															*
 *		2019/02/20		created											*
 *      2023/01/14      support ES2015                                  *
 *																		*
 *  Copyright &copy; 2023 James A. Cobban								*
 **********************************************************************-->
  <div class="hidden" id="breadcrumbs">
    <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    <a href="/genCountry.php?cc=$CC&amp;lang=$LANG">$COUNTRYNAME</a>:
  </div>
  <div class="body">
    <h1>Censuses of $COUNTRYNAME
      <span class="right">
        <a href="/database/genCensusesHelpen.html" target="_blank">? Help</a>
      </span>
    </h1>
    $MSG
    $TRACE
    <h2>Overall</h2>
      <p class="label">
	    <a target="_blank" href="http://www.us-census.org">
	        USGenWeb Census Project
	    </a> 
      </p>
      <p class="label" id="Update001">
	    <a target="_blank" href="/database/EditCensuses.php?cc=$CC&lang=$LANG">
		    Display Censuses Table
	    </a>
      </p>
    <h2>Specific Censuses</h2>
    <p class="warning">Work to do:</p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1790&lang=en">1790 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1800&lang=en">1800 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1810&lang=en">1810 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1820&lang=en">1820 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1830&lang=en">1830 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1840&lang=en">1840 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1850&lang=en">1850 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1860&lang=en">1860 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1870&lang=en">1870 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1880&lang=en">1880 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1890&lang=en">1890 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1900&lang=en">1900 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1910&lang=en">1910 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1920&lang=en">1920 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1930&lang=en">1930 Census of United States of America</a></p>
		<p class="label"><a href="https://www.jamescobban.net/database/CensusUpdateStatus.php?census=US1940&lang=en">1940 Census of United States of America</a></p>
  </div> <!-- end of <div class="body"> -->
    <script src= '/jscripts6/js20/http.js' type="module">
    </script>
    <script src= '/jscripts6/util.js' type="module">
    </script>
