<!--*********************************************************************
 *  genCountryUSes.html													*
 *																		*
 *  Template for accessing services for the United States of America	*
 *																		*
 *  History:															*
 *	    2017/11/12	    created                                         *
 *		2018/01/04		remove Template from template file names		*
 *		2018/01/25		add local CSS and Javascript references			*
 *		2018/11/03		use standard script for states                  *
 *                      add lang= parameters                            *
 *      2019/02/21      support scrolling main section                  *
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
<div class='hidden' id='breadcrumbs'>
  <a href='/genealogy.php?lang=es'>Genealogia</a>:
  <a href='/Canada/CountriesEdit.php?lang=es'>Lista dos País Sosteniendos</a>:
</div>
<div class='body'>
<h1>Recursos por los Estados Unidos da America
    <span class='right'>
      <a href='/USA/genUSAHelpes.html' target='_blank'>? Ayuda</a>
    </span>
  </h1>
  $MSG
  $TRACE
  <h3>
	  <a href="/Canada/DomainsEdit.php?cc=US&lang=es">
        Lista dos Estados
      </a>
  </h3>
  <h3>Basas dos Datos Commerciales</h3>
    <p class='label'>
	<a target='_blank' href='http://www.kindredkonnections.com/'>
		Prosapia y Genelogia a MyTrees.com
	</a> 
    </p>
    <p class='label'>
	<a target='_blank' href='http://www.ancestry.com/main.htm'>
		Ancestry.com - Genelogia en Linea
	</a> 
    </p>
    <p class='label'>
	<a target='_blank' href='http://www.geneanet.org/'>
		GeneaNet - Descubrir vuestro genealogia y historia familial
	</a> 
    </p>
    <p class='label'>
	<a target='_blank' href='http://www.americanwardead.com/searchww.htm'>
		World War II Search
	</a> 
    </p>

    <h3>Basas dos Datos Gratis</h3>
      <p class='label'>
	    <a target='_blank' href='http://www.familysearch.org/'>
	        Servicio Genelogia Internet FamilySearch
	    </a> 
      </p>
      <p class="label">
	    <a target="_blank" href="http://www.us-census.org">
	        USGenWeb Proyecto de Censo
	    </a> 
      </p>

    </div>
    <script src='/jscripts/js20/http.js' type='text/javascript'>
    </script>
    <script src='/jscripts/util.js' type='text/javascript'>
    </script>
    <script src='/default.js' type='text/javascript'>
    </script>
