<!--*********************************************************************
 *  /database/genCensusesen.html										*
 *																		*
 *  English language template for main entry to census tables			*
 *																		*
 *  History:															*
 *		2017/10/21		created											*
 *      2019/02/21      support scrolling main section                  *
 *      2023/01/14      support ES2015                                  *
 *																		*
 *  Copyright &copy; 2023 James A. Cobban								*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
  <div class='hidden' id='breadcrumbs'>
    <a href='/genealogy.php'>Genealogy</a>:
    <a href='/genCountry.php?cc=$CC'>$COUNTRYNAME</a>:
  </div>
  <div class="body">
    <h1>Censuses of $ARTICLE$COUNTRYNAME
      <span class='right'>
        <a href='/database/genCensusesHelpen.html' target='_blank'>? Help</a>
      </span>
    </h1>
    $MSG
    $TRACE
    <p class='warning'>The site does not currently support searching and
	transcribing censuses for $ARTICLE$COUNTRYNAME.
    </p>
  </div> <!-- end of <div class="body"> -->
    <script src= '/jscripts6/js20/http.js' type="module">
    </script>
    <script src= '/jscripts6/util.js' type="module">
    </script>
