<!--*********************************************************************
 *  genCensusesDisplayCAfr.html											*
 *																		*
 *  French language template for main entry to census tables			*
 *																		*
 *  History:															*
 *		2017/10/21		created											*
 *      2019/02/21      support scrolling main section                  *
 *      2023/01/14      support ES2015                                  *
 *																		*
 *  Copyright &copy; 2023 James A. Cobban								*
 **********************************************************************-->
    <div class='hidden' id='breadcrumbs'>
      <a href='/genealogy.php?lang=fr'>Généalogie  </a>:
      <a href='/genCountry.php?cc=CA&amp;lang=fr'>Canada  </a>:
    </div>
    <div class="body">
      <h1>Recensements de Canada
        <span class='right'>
          <a href='/database/genCensusesHelpfr.html' target='_blank'>? Aide  </a>
        </span>
      </h1>
      $MSG
      $TRACE
      <h2>Sommaire</h2>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CAALL&lang=fr'>
		  Recherche nominale de touts Recensements de Canada
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' 
      href='http://www.collectionscanada.gc.ca/archivianet/02012102_e.html'>
  	    	Recensement de Canada: Bobines de Microfilm a BAC  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='http://www.geneofun.on.ca/db.php?database=ogwcensus&template=ogwcensus-online.html&search=ONLINE&find=1&sort=COUNTY,TWP,YEAR'>
		      Projet de Recensement GenWeb de l'Ontario
	    </a> 
      </p>
      <p class='label' id='Update001'>
        <a target='_blank' href='/database/EditCensuses.php?cc=$CC&lang=fr'>
		  Regarder la table des Recensements
	    </a>
      </p>
      <p class='label' id='Update002'>
        <a target='_blank' href='/database/ReqUpdateDists.php?cc=$CC&lang=fr'>
		  Regarder la table des Districts
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdateSubDists.php?cc=$CC&lang=fr'>
		  Regarder la table des Sous-Districts
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdatePages.php?cc=$CC&lang=fr'>
		  Regarder la table des Pages des Divisions de l'Enumeration
	    </a>
      </p>
      <h2>Recensement de Haut-Canada 1842:</h2>
      <p class='label'>
        <a target='_blank' href='/database/Recensement1842Images.html'>
		  Images de Pages Choisis
	    </a>
      </p>
  
      <h2>Recensement de Canada 1851/2:</h2>
      <p class='label'>
        <a target='_blank' 
      href='http://www.bac-lac.gc.ca/eng/census/1851/Pages/1851.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank'
      href='http://www.automatedgenealogy.com/census52/'>
  	    	Indice Nominale par Automated Genealogy  </a> 
      </p>
      <p class='label'>
        <a target='_blank'
      href='https://www.familysearch.org/'>
  	    	Indice Nominale par Family Search  </a> 
      </p>
  
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1851&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1851&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1851 fait de
		  $CENPOP1851
	    </a>
      </p>
      <h2>Recensement de Canada 1861:</h2>
      <p class='label'>
        <a target='_blank'
      href='http://www.bac-lac.gc.ca/eng/census/1861/Pages/1861.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1861&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1861&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1861 fait de
		  $CENPOP1861
	    </a>
      </p>
      <h2>Recensement de Canada 1871:</h2>
      <p class='label'>
        <a target='_blank'
      href='http://www.bac-lac.gc.ca/eng/census/1871/Pages/1871.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank'
      href='http://www.collectionscanada.ca/databases/1871-ontario/001016-100.01-e.php'>
  	    	Ontario Chefs de Household et "Strays" Indice Nominale  </a> 
      </p>
      <p class='label'>
        <a target='_blank' 
      href='https://www.familysearch.org/'>
  	    	Indice Nominale par Family Search  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1871&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1871&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1871 fait de
		  $CENPOP1871
	    </a>
      </p>
      <h2>Recensement de Canada 1881:</h2>
      <p class='label'>
        <a target='_blank' 
      href='http://www.bac-lac.gc.ca/eng/census/1881/Pages/1881.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank' 
      href='http://www.familysearch.org/eng/search/frameset_search.asp?PAGE=census/search_census.asp'>
  	    	Indice Nominale par Family Search  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1881&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1881&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1881 fait de
		  $CENPOP1881
	    </a>
      </p>
      <h2>Recensement de Canada 1891:</h2>
      <p class='label'>
        <a target='_blank' 
      href='http://www.bac-lac.gc.ca/eng/census/1891/Pages/1891.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1891&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1891&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1891 fait de
		  $CENPOP1891
	    </a>
      </p>
      <h2>Recensement de Canada 1901:</h2>
      <p class='label'>
        <a target='_blank' 
      href='http://www.bac-lac.gc.ca/eng/census/1901/Pages/1901.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank'
      href='http://www.automatedgenealogy.com/census'>
  	    	Indice Nominale par Automated Genealogy  </a> 
  
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1901&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1901&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1901 fait de
		  $CENPOP1901
	    </a>
      </p>
      <h2>Recensement de Canada 1906:</h2>
      <p class='label'>
        <a target='_blank'
      href='http://www.bac-lac.gc.ca/eng/census/1906/Pages/1906.aspx'>
  	    	Bibliotheque & Archives Canada Indice Nominale  </a> 
      </p>
      <p class='label'>
        <a target='_blank'
      href='http://www.automatedgenealogy.com/census06/'>
  	    	Indice Nominale par Automated Genealogy  </a> 
      </p>
      <p class='label'>
        <a target='_blank'
      href='http://www.afhs.ab.ca/data/census/1906/'>
  	    	Indice Nominale par AFHS  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1906&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1906&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1906 fait de
		  $CENPOP1906
	    </a>
      </p>
      <h2>Recensement de Canada 1911:</h2>
      <p class='label'>
        <a target='_blank'
      href='http://www.bac-lac.gc.ca/eng/census/1911/Pages/1911.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank'
      href='http://www.automatedgenealogy.com/census11/index.jsp'>
  	    	Indice Nominale par Automated Genealogy  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1911&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1911&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1911 fait de
		  $CENPOP1911
	    </a>
      </p>
      <h2>Recensement de Canada 1916:</h2>
      <p class='label'>
        <a target='_blank'
      href='http://www.bac-lac.gc.ca/eng/census/1916/Pages/1916.aspx'>
  	    	Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1916&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1916&lang=fr'>
		  Regarder la Transcription du Recensement :
		  $CENDONE1916 fait de
		  $CENPOP1916
	    </a>
      </p>
      <h2>Recensement de Canada 1921:</h2>
      <p class='label'>
        <a target='_blank'
       href="https://www.bac-lac.gc.ca/fra/recensements/1921/Pages/recherche.aspx">
  	      Indice Nominale a Bibliotheque & Archives Canada  </a> 
      </p>
      <p class='label'>
        <a target='_blank' href='/database/QueryDetail.php?Census=CA1921&lang=fr'>
		  Recherche nominales de la Transcription Propre
	    </a>
      </p>
      <p class='label'>
        <a target='_blank' href='/database/ReqUpdate.php?Census=CA1921&lang=fr'>
		  Regarder le Transcription du Recensement:
		  $CENDONE1921 fait de
		  $CENPOP1921
	    </a>
      </p>
    <h2>Recensement de Canada 1926:</h2>
    <p class="label">
	<a target="_blank"
       href="https://www.bac-lac.gc.ca/fra/recensements/1926/Pages/recherche.aspx">
		Indice Nominale a Bibliotheque & Archives Canada</a>
    </p>
    <h2>Recensement de Canada 1931:</h2>
    <p class="label">
	<a target="_blank"
       href="https://recherche-collection-search.bac-lac.gc.ca/fra/recensement2/indice1931">
		Parcourir les Images Bibliotheque & Archives Canada Recensement</a>
    </p>
    <p class="label">
	<a target="_blank" href="/database/ReqUpdate.php?Census=CA1931&amp;lang=$LANG">
		Regarder le Transcription du Recensement:
		$CENDONE1931 fait de
		$CENPOP1931
	</a>
    </p>
    <h2>Summary:</h2>
    <p class="label">
		$TOTALTRANSCRIBED transcrit sur
		$TOTALPOPULATION
    </p>
    </div> <!-- fin de <div class="body"> -->
    <script src= '/jscripts6/js20/http.js' type="module">
    </script>
    <script src= '/jscripts6/util.js' type="module">
    </script>
