<!--*********************************************************************
 *  genealogyes.html													*
 *																		*
 *  Template of main entry point to site in Spanish.					*
 *																		*
 *  History:															*
 *		2018/01/04		remove Template from template file names		*
 *		2018/01/25		add local CSS and Javascript references			*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/index.html">Inicio</a>:
      <a href="/genealogy.php?lang=es">Genealogía</a>:
    </div> <!-- id="breadcrumbs" -->
    <div class="body">
      <h1>Genealogía
        <span class="right">
        	<a href="/genealogyHelpes.html" target="help">?&nbsp;Ayuda</a>
        </span>
      </h1>
        $TRACE
        $MSG
      <p>
        Servicios de investigación genealógica y de historia familiar
        que utilizan particularmente recursos de la   
	  <a target="_blank" href="http://www.bac-lac.gc.ca/Pages/default.aspx">
			Biblioteca y Archivos de Canadá</a> y los
	    <a target="_blank" href="http://www.archives.gov.on.ca/">
			Archivos del Ontario</a>.
      </p>
      <h3>Árbol de Familia:</h3>
      <p class="label">
        <a href="/FamilyTree/Services.php?lang=es">
        	Servicios de Nivel Superior
        </a>
      </p>
      <p class="label">
        <a href="/FamilyTree/nominalIndex.php?lang=es" target="_blank">
        	Índice Nominal de Individuos
        </a>
      </p>
      <p class="label">
        <a href="https://github.com/jcobban/Genealogy/wiki" target="_blank">
    	    Detalles técnicos de la implementación del sitio
        </a>
      </p>
      <h3>Geográfico:</h3>
      <p class="label">
        <a href="/Canada/CountriesEdit.php?lang=es" target="_blank">
        	Lista de Países Apoyados</a>
      </p>
      <p class="label">
        	<a href="/genCountry.php?cc=CA&amp;lang=es" target="_blank">
        	Canada</a>
      </p>
      <p class="label">
        <a href="/genCountry.php?cc=US&amp;lang=es" target="_blank">
        	Éstados Unidos de America
        </a>
      </p>
      <p class="label">
        <a href="/genCountry.php?cc=GB&amp;lang=es" target="_blank">
        	Reino Unido de Gran Bretaña
        </a>
      </p>
      <h3>Otros Sitios Web Útiles:</h3>
      <p class="label">
    	<a href="https://www.familysearch.org/">
    	    FamilySearch.org
          </a>
      </p>
      <p class="label">
        <a href="/displayPage.php?template=genCommercial&amp;lang=es"
        		target="_blank">
        	Bases de Datos Comerciales
        </a>
      </p>
      <h3><a href="/videoTutorials.php?lang=es" target="_blank">
        	Tutorials en Vidéo
          </a>:
      </h3>
      <h3>Guías de Usuario de Genealogía</h3>
      <p class="label">
        	<a href="/displayPage.php?template=Articles/FileFormatsInGenealogy&amp;lang=es"
        		target="_blank">
        	Representación digital de información genealógica</a>:
      </p>
      <p class="label">
        <a href="/displayPage.php?template=Articles/ReadingHandwriting&amp;lang=es"
        		target="_blank">
        	<i>Cómo leer la escritura a mano</i>
        </a>:
      </p>
      <p class="label">
    	<a href="/Articles/MicrofilmGimp.pdf"
        		target="_blank">
        	Microfilm e imágenes digitales
        </a>:
      </p>
      <p class="label">
      	<a href="/displayPage.php?template=/Articles/SpreadsheetsInGenealogy"
        		target="_blank">
        	Cómo usar hojas de cálculo en genealogía
        </a>:
      </p>
          <p class="label">
        	<a href="https://hobbyhelp.com/genealogy/"
        		target="_blank">
        	Guía de genealogía definitiva para principiantes
        	</a>:
          </p>
      <p class="label">
      	<a href="/displayPage.php?template=/Articles/Newsletter2013_10"
        		target="_blank">
        	Guía de usuario:
        	Características de la página para un individuo en el árbol genealógico
        </a>:
      </p>
      <p class="label">
        <a href="/displayPage.php?template=/Articles/IntroductionToUpdating"
        		target="_blank">
        	Guía de usuario:
        	Comenzando con la actualización del árbol genealógico
        </a>:
      </p>
          <p class="label">
        	<a href="/displayPage.php?template=/Articles/Locations"
        		target="_blank">
        	Guía de usuario:
        	entendiendo locaciones
        	</a>:
          </p>
      <h3>Boletíns Mensuales:</h3>
      <p class="label" id="newsletter$mm$year">
        <a href="/Newsletters/$filename" target="_blank">
        	Boletín $month $year
        </a>
      </p>
          <p class="label" id="morenewsletters">
    	    <a href="/Newsletters/index.php?lang=$LANG">
    		    ...
    	    </a>
          </p>
        <h3>Informes Técnicos Mensuales:</h3>
        <p class="label"  id="report$mm$year">
        	<a href="/MonthlyUpdates/$filename" target="_blank">
        		$month $year
        		Informe Técnico
        	</a>
        </p>
        <p class="label" id="moreupdates">
    	  <a href="/MonthlyUpdates/index.php?lang=$LANG">
    	    ...
    	  </a>
        </p>
    </div> <!-- class=body -->
    <script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
    <script src="/jscripts/util.js" type="text/javascript">
    </script>
    <script src="/genealogy.js" type="text/javascript">
    </script>
    
