<!--*********************************************************************
 *  genealogyfr.html                                                    *
 *                                                                      *
 *  Template of main entry point to site in French.                     *
 *                                                                      *
 *  History:                                                            *
 *      2018/01/04      remove Template from template file names        *
 *      2018/01/25      add local CSS and Javascript references         *
 *                                                                      *
 *  Copyright &copy; 2018 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/home.html">Accueil</a>:
      <a href="/genealogy.php?lang=fr">Généalogie</a>:
    </div> <!-- id="breadcrumbs" -->
    <div class="body">
      <h1>Généalogie
        <span class="right">
            <a href="/genealogyHelpfr.html" target="help">?&nbsp;Aide</a>
        </span>
      </h1>
        $TRACE
        $MSG
      <p>
        Services de recherche généalogique et de l'Histoire Familiale
        utilisant en particulaire les ressources de la 
      <a target="_blank" href="http://www.bac-lac.gc.ca/fra/Pages/accueil.aspx">
            Bibliotheque et Archives Canada</a> et les
        <a target="_blank" href="http://www.archives.gov.on.ca/fr/index.aspx">
            Archives de l'Ontario</a>.
      </p>
      <h3>Arbre Familiale:</h3>
      <p class="label">
        <a href="/FamilyTree/Services.php?lang=fr">
            Services plus hautes
        </a>
      </p>
      <p class="label">
        <a href="/FamilyTree/nominalIndex.php?lang=fr" target="_blank">
            Indice Nominale des Personnes
        </a>
      </p>
      <p class="label">
        <a href="https://github.com/jcobban/Genealogy/wiki" target="_blank">
        Détails techniques de la mise en oeuvre du site
        </a>
      </p>
      <p class="label">
        <a href="/Correspondence.php?lang=fr" target="_blank">
            Correspondance Concernant l'Arbre Généalogique
        </a>
      </p>
      <h3>Autres Sites-Web Utiles:</h3>
      <p class="label">
        <a href="https://www.familysearch.org/">
            FamilySearch.org
          </a>
      </p>
      <p class="label">
        <a href="/displayPage.php?template=genCommercial&amp;lang=fr"
                target="_blank">
            Bases de Données Commerciales
          </a>
      </p>
      <h3>Géographique:</h3>
      <p class="label">
        <a href="/Canada/CountriesEdit.php?lang=fr" target="_blank">
            Liste des Pays Soutenues
        </a>
      </p>
      <p class="label">
        <a href="/genCountry.php?cc=CA&amp;lang=fr" target="_blank">
            Canada
        </a>
      </p>
      <p class="label">
        <a href="/genCountry.php?cc=US&amp;lang=fr" target="_blank">
            États Unies de l'Amerique</a>
      </p>
      <p class="label">
        <a href="/genCountry.php?cc=GB&amp;lang=fr" target="_blank">
            Royaume Unie de Grande-Bretagne
        </a>
      </p>
      <h3><a href="/videoTutorials.php?lang=fr" target="_blank">
            Tutorials en Vidéo
          </a>:
      </h3>
      <h3>Guides Généalogiques pour l'Employeurs:</h3>
      <p class="label">
        <a href="/displayPage.php?template=Articles/FileFormatsInGenealogy&amp;lang=fr"
                target="_blank">
            Representation Digitale des Renseignments Généalogiques
        </a>:
      </p>
      <p class="label">
        <a href="/displayPage.php?template=/Articles/ReadingHandwriting&amp;lang=fr"
                target="_blank">
            <i>Comment Lire l'Écriture</i>
        </a>:
      </p>
      <p class="label">
        <a href="/displayPage.php?template=/Articles/FrenchOccupations&amp;lang=fr"
                target="_blank">
            Occupations en Francais
        </a>:
      </p>
      <p class="label">
        <a href="/Articles/MicrofilmGimp.pdf"
                target="_blank">
            Microfilm et l'Imagerie Digitale
        </a>:
      </p>
      <p class="label">
        <a href="/displayPage.php?template=/Articles/SpreadsheetsInGenealogy"
                target="_blank">
            Utilisation de feuilles de calcul dans la généalogie
        </a>:
      </p>
          <p class="label">
            <a href="https://hobbyhelp.com/genealogy/"
                target="_blank">
             Guide Ultimate de généalogie pour débutants
            </a>:
          </p>
      <p class="label">
        <a href="/displayPage.php?template=/Articles/Newsletter2013_10"
                target="_blank">
            Guide pour l'Employeur:
            Caractéristiques de la page pour un individu dans l'arbre généalogique
        </a>:
      </p>
      <p class="label">
        <a href="/displayPage.php?template=/Articles/IntroductionToUpdating"
                target="_blank">
            Guide de l'Employeur: 
            Premiers pas avec la mise à jour de l'arbre généalogique
        </a>:
      </p>
          <p class="label">
            <a href="/displayPage.php?template=/Articles/Locations"
                target="_blank">
            Guide de l'Employeur: 
            Comprendre les lieux
            </a>:
          </p>
      <h3>Bulletins Mensuales:</h3>
      <p class="label" id="newsletter$mm$year">
        <a href="/Newsletters/$filename" target="_blank">
            Bulletin $month $year
        </a>
      </p>
        <p class="label" id="morenewsletters">
          <a href="/Newsletters/index.php?lang=$LANG">
            ...
          </a>
        </p>
      <h3>Rapports Technicaux Mensuales:</h3>
        <p class="label"  id="report$mm$year">
          <a href="/MonthlyUpdates/$filename" target="_blank">
                $month $year
                Rapport Technical
          </a>
        </p>
        <p class="label" id="moreupdates">
          <a href="/MonthlyUpdates/index.php?lang=$LANG">
            ...
          </a>
        </p>
    </div> <!-- class=body -->
    <script src="/jscripts/tinymce/js/tinymce/tinymce.min.js"
            type="application/javascript">
    </script>
    <script src="/genealogy.js" type="module">
    </script>
    
