<!--*********************************************************************
 *  genOntariofr.html													*
 *																		*
 *  French template for menu of genealogical services for Ontario.		*
 *																		*
 *  History:															*
 *		2017/11/13		created											*
 *																		*
 *  Copyright &copy; 2017 James A. Cobban								*
 **********************************************************************-->
	<div id='breadcrumbs' class='hidden'>
	  <a href="/genealogy.php?lang=fr">Généalogie</a>:
	  <a href='/Canada/CountriesEdit.php?lang=fr'>Liste des Pays Soutenus</a>: 
	  <a href='/genCountry.php?cc=CA&amp;lang=fr'>Canada</a>:
	</div>	
	<div class='body'>
	  <h1>Ontario
	    <span class='right'>
		    <a href='/Ontario/genOntarioHelpfr.html' target='help'>? Aide</a>
	    </span>
	  </h1>
	  $TRACE
	  $MSG
	<h2><a href='/Ontario/genOntAll.html' target='_blank'>Bases de Données Toutes la Province</a></h2>
	<h2>Arbres Familiales de l'Ontario</h2>
	  <p class='label'>
	    <a target='_blank' 
		href='/FamilyTree/nominalIndex.php?lang=fr'>Indice Nominale de l'Arbre Familiale</a>
	  </p>
	
	<h2>Comté Specifique</h2>
	  <p class='label'>
	    <a href='/Ontario/genOntElg.html' target='_blank'>Comté Elgin</a>
	  </p>
	  <p class='label'>
	    <a href='/Ontario/genOntLam.html' target='_blank'>Comté Lambton</a>
	  </p>
	  <p class='label'>
	    <a href='/Ontario/genOntMsx.html' target='_blank'>Comté Middlesex</a>
	  </p>
	<h2>Bases de Données</h2>
	  <p class='label'>
	    <a target='_blank' 
		href='/Canada/BirthRegQuery.php?domain=CAON&lang=fr'>Recherche de Déclarations de Naissance</a>
	  </p>
	  <p class='label'>
	    <a target='_blank' 
		href='/Ontario/DistrictMarriageEditQuery.php?lang=fr'>Recherche de Déclarations de Mariage de Haute-Canada par District 1780&mdash;1858</a>
	  </p>
	  <p class='label'>
	  <p class='label'>
	    <a target='_blank' 
		href='/Ontario/CountyMarriageEditQuery.php?lang=fr'>Recherche de Déclarations de Mariage de Canada-Ouest par Comté: 1858&mdash;1869</a>
	  </p>
	  <p class='label'>
	    <a target='_blank' 
		href='/Ontario/MarriageRegQuery.html'>Recherche de Déclarations de Mariage</a>
	  </p>
	  <p class='label'>
	    <a target='_blank' href='/Ontario/DeathRegQuery.php?lang=fr'>
		Recherche de Déclarations de Décès
	    </a>
	  </p>
	  <p class='label' id='OCFA'>
	    <a target='_blank' href='/Ontario/OcfaQuery.php?lang=fr'>
		Instrument de Recherche aux Cimetières de l'Ontario
	    </a>
	  </p>
	  <p class='label' id='Wesleyan'>
	    <a target='_blank' href='/Ontario/WmbQuery.html'>
		Baptêmes Methodistes Wesleyan de l'Ontario
	    </a>
	  </p>
	  <p class='label'>
	    <a target='_blank' 
		href='/Canada/CountiesEdit.php?Domain=CAON&lang=fr'>Comtés</a>
	  </p>
	  </div> <!-- end of <div id='body'> -->
