<!--*********************************************************************
 *  genOntarioen.html							*
 *									*
 *  English template for menu of genealogical services for Ontario.	*
 *									*
 *  History:								*
 *	2017/11/13	created						*
 *									*
 *  Copyright &copy; 2017 James A. Cobban				*
 **********************************************************************-->
<div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php">
	Genealogy
    </a>:
    <a href="/Canada/CountriesEdit.php">
	List of Supported Countries
    </a>:
    <a href="/genCountry.php?cc=CA&amp;lang=$LANG">
	Canada
    </a>:
</div>	
<div class="body">
  <h1>Ontario
    <span class="right">
	<a href="/Ontario/genOntarioHelpen.html" target="help">? Help
	</a>
    </span>
  </h1>
    $TRACE
    $MSG
  <h2>
    Province-wide Databases
    <button id='showAll'>+</button>
  </h2>
    <div style="display: none;">
      <p class="label">
	<a target="_blank" href="http://www.archives.gov.on.ca/">
		Archives of Ontario</a>
      </p>
      <p class="label">
	<a target="_blank" href="http://www.ancestry.com/">
		Ancestry.com: Ontario BMD indices and images</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://www.familysearch.org/">
		FamilySearch Internet Genealogy Service</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://digit.tpl.toronto.on.ca:8000/">
		Toronto Public Library Search</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://digital.library.mcgill.ca/CountyAtlas/default.htm">
		Canadian County Atlas Digital Project</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://www.collectionscanada.ca/canadiandirectories/index-e.html">
		Canadian directories who was where</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://www.islandnet.com/ocfa/">
		Ontario Cemetery Finding Aid</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://www.geneofun.on.ca/ontariolocator/">
		Ontario Locator</a>
      </p>
      <p class="label">
	<a target="_blank" href="http://www.ontarioroots.com/">
		Ontario Roots</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://www.ourroots.ca">
		Our Roots - Nos Racines ~ Canada's Local Histories Online</a>
      University of Calgary, Universit&eacute; Laval
      </p>
      <p class="label">
	<a target="_blank"
		href="http://freepages.genealogy.rootsweb.com/~wjmartin/wesleyan.htm">
		Wesleyan Methodist Baptisms</a> 
      </p>
      <p class="label">
	<a target="_blank" href="http://www.ogs.on.ca/">
		Ontario Genealogy Society</a> 
      </p>
    </div>
  <h2>Ontario Family Trees</h2>
  <p class="label">
    <a target="_blank" href="/FamilyTree/nominalIndex.php">
	Nominal Index of Family Tree
    </a>
  </p>

  <h2>County Specific</h2>
  <p class="label">
    <a href="/Ontario/genOntElg.html" target="_blank">
	Elgin County
    </a>
  </p>
  <p class="label">
    <a href="/Ontario/genOntLam.html" target="_blank">
	Lambton County
    </a>
  </p>
  <p class="label">
    <a href="/Ontario/genOntMsx.html" target="_blank">
	Middlesex County
    </a>
  </p>
  <h2>Databases</h2>
  <p class="label">
    <a target="_blank" href="/Canada/BirthRegQuery.php?domain=CAON">
	Birth Registration Query
    </a>
  </p>
  <p class="label">
    <a target="_blank" href="/Ontario/DistrictMarriageEditQuery.php">
	Upper Canada District Marriage Registrations 1780&mdash;1858 Query
    </a>
  </p>
  <p class="label">
    <a target="_blank" href="/Ontario/CountyMarriageEditQuery.php">
	Canada West County Marriage Registration 1858&mdash;1869 Query
    </a>
  </p>
  <p class="label">
    <a target="_blank" href="/Ontario/MarriageRegQuery.html">
	Marriage Registration Query
    </a>
  </p>
  <p class="label">
    <a target="_blank" href="/Ontario/DeathRegQuery.php">
	Death Registration Query
    </a>
  </p>
  <p class="label" id="OCFA">
    <a target="_blank" href="/displayPage.php?template=OcfaQuery">
	Ontario Cemetery Finding Aid Unauthorized Back Door Query
    </a>
  </p>
  <p class="label" id="Wesleyan">
    <a target="_blank" href="/Ontario/WmbQuery.html">
	Ontario Wesleyan Methodist Baptisms Unauthorized Back Door Query
    </a>
  </p>
  <p class="label">
    <a target="_blank" href="/Canada/CountiesEdit.php?Domain=CAON">
	Counties
    </a>
  </p>
  </div> <!-- end of <div id="body"> -->
