<!--*********************************************************************
 *  genOntMsx.html														*
 *																		*
 *  Entry point for web resources for Middlesex County in Ontario.		*
 *																		*
 *  History:															*
 *		2011/07/30		support signon button							*
 *		2011/08/13		support resizing map of county					*
 *		2011/10/24		support mouseover help for signon button		*
 *		2013/02/02		change URL for OGS L&M							*
 *		2013/04/26		change text on heading link						*
 *		2013/12/28		add facebook link								*
 *						replace tables with CSS for layout				*
 *		2015/04/06		top level page changed to genealogy.php			*
 *		2016/02/06		add History of the County of Middlesex			*
 *		2018/01/24		convert to template								*
 ************************************************************************-->
    <div class="hidden" id="breadcrumbs">
      <a href="/genealogy.php">Genealogy</a>:
      <a href="/genCountry.php?cc=CA">Canada</a>:
      <a href="/Canada/genProvince.php?Domain=CAON">Ontario</a>:
    </div>
    <div class="body">
      <h1>Ontario: Middlesex County</h1>
      <p class="label">
        <a target="_blank" href="http://www.ogs.on.ca/londonmiddlesex/">
    	London & Middlesex County Branch of the, Ontario Genealogy Society
        </a> 
      </p>
      <p class="label">
        <a target="_blank" href="http://contentdm.lib.byu.edu/cdm4/document.php?CISOROOT=/FH8&CISOPTR=18673&amp;REC=4">
    		Woodhull Family in America
        </a>, by Mary Gould Woodhull and Francis Bowes Stevens
      </p>
      <p class="label">
        <a target="_blank" href="http://www.batie.org/surnames.html">
    		Batie Family History
        </a>, by Howard F. Batie
      </p>
      <p class="label">
        <a target="_blank" href="https://www.canadiana.ca/view/oocihm.05642/1?r=0&s=1">
    		History of the County of Middlesex, Canada : from the Earliest Time to the Present
        </a>, by W. A. &amp; C. L. Goodspeed, Publishers, Toronto and London, 1889
      </p>
      <p class="label">
        <a target="_blank" href="http://www.ourroots.ca/e/toc.aspx?id=2718">
    		Some Sketches of the Early Highland Pioneers of the County of Middlesex
        </a>, by Hugh McColl
      </p>
      <p class="label">
        <a target="_blank" href="http://www.ourroots.ca/e/toc.aspx?id=9073">
    		Adelaide Township: A History
        </a>, by Adelaide Township Heritage Group
      </p>
      <p class="label">
        <a href="/FamilyTree/nominalIndex.php">
    		Families of South-West Middlesex
        </a>, by James Cobban
      </p>
      <p>
        <img src="/Ontario/Middlesex.jpg" id="map" alt="Map of Middlesex County from 1878">
      </p>
    </div>
    <script src="/jscripts/js20/http.js" language="JavaScript"> </script>
    <script src="/jscripts/util.js" language="JavaScript"> </script>
    <script src="/Ontario/county.js" language="JavaScript"> </script>
