<!--*********************************************************************
 *  genOntAll.html							*
 *									*
 *  Entry point for web resources common to the Province of Ontario.	*
 *									*
 *  History:								*
 *	2010/08/23	change to new standard layout			*
 *	2011/07/30	improve separation of HTML and JS		*
 *	2011/08/13	signon button was not appearing			*
 *	2011/10/24	support mouseover help for signon button	*
 *	2011/11/25	change title to match h1			*
 *	2013/04/26	change text on heading link			*
 *	2013/12/28	add facebook link				*
 *			replace tables with CSS for layout		*
 *	2015/04/06	top level page changed to genealogy.php		*
 ************************************************************************-->
<div class='hidden' id='breadcrumbs'>
  <a href='/genealogy.php?lang=en'>Genealogy</a>:
  <a href='/genCountry.php?cc=CA&lang=en'>Canada</a>:
  <a href='/Canada/genProvince.php?Domain=CAON'>Ontario</a>:
</div>
<div class='body'>
<h1>
    Ontario: Province-wide Databases
    <button id='showAll'>+</button>
</h1>
<p class='label'>
  <a target='_blank' href='http://www.archives.gov.on.ca/'>
		Archives of Ontario</a>
</p>
<p class='label'>
  <a target='_blank' href='http://www.ancestry.com/'>
		Ancestry.com: Ontario BMD indices and images</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://www.familysearch.org/'>
		FamilySearch Internet Genealogy Service</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://digit.tpl.toronto.on.ca:8000/'>
		Toronto Public Library Search</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://digital.library.mcgill.ca/CountyAtlas/default.htm'>
		Canadian County Atlas Digital Project</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://www.collectionscanada.ca/canadiandirectories/index-e.html'>
		Canadian directories who was where</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://www.islandnet.com/ocfa/'>
		Ontario Cemetery Finding Aid</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://www.geneofun.on.ca/ontariolocator/'>
		Ontario Locator</a>
</p>
<p class='label'>
  <a target='_blank' href='http://www.ontarioroots.com/'>
		Ontario Roots</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://www.ourroots.ca'>
		Our Roots - Nos Racines ~ Canada's Local Histories Online</a>
University of Calgary, Universit&eacute; Laval
</p>
<p class='label'>
  <a target='_blank'
		href='http://freepages.genealogy.rootsweb.com/~wjmartin/wesleyan.htm'>
		Wesleyan Methodist Baptisms.</a> 
</p>
<p class='label'>
  <a target='_blank' href='http://www.ogs.on.ca/'>
		Ontario Genealogy Society</a> 
</p>
</div>
<div class='balloon' id='HelprightTop'>
Click on this button to signon to access extended features of the web-site
or to manage your account with the web-site.
</div>
    <script src='/jscripts/js20/http.js' language='JavaScript'> </script>
    <script src='/jscripts/util.js' language='JavaScript'> </script>
