<!--*********************************************************************
 *  genProvinceCAfr.html												*
 *																		*
 *  Template for displaying information about a state or province		*
 *																		*
 *  History:															*
 *		2018/01/02		created											*
 *		2018/01/03		add header link to Edit Domains dialog			*
 *		2018/01/04		remove Template from template file names		*
 *		2018/01/09		use only absolute filenames in href				*
 *																		*
 *  Copyright &copy; 2018 James Alan Cobban								*
 ***********************************************************************-->
<div class='hidden' id='breadcrumbs'>
  <a href='/genealogy.php?lang=fr'>Genealogy</a>:
  <a href='/Canada/CountriesEdit.php?lang=fr'>List of Supported Countries</a>:
  <a href='/genCountry.php?code=$CC&lang=fr'>$COUNTRYNAME</a>:
  <a href='/Canada/DomainsEdit.php?cc=$CC&lang=fr'>Provinces</a>:
</div>
<div class='body'>
  <h1>$DOMAINNAME Ressources Généalogique
      <span class='right' style='white-space: nowrap;'>
        <a href='/Ontario/genProvinceHelpfr.html' target='_blank'>? Aide</a>
      </span>
  </h1>
  $MSG
  $TRACE
  <p class="label">
    <a target="_blank"
href="http://www.collectionscanada.gc.ca/illcandir-bin/illsear/l=1/c=1/d=1">
		Annuaires Canadiennes: qui etait l'ou</a> 
  </p>
  <p class="label">
    <a target="_blank"
	    href="http://www.nosracines.ca/index.aspx?lang=fr-CA">
	Nos Racines ~ histoires locales du Canada en ligne</a>
	University of Calgary, Université Laval
  </p>
  <p class='label'>
    <a target='_blank' 
	href='/Canada/CountiesEdit.php?Domain=$DOMAIN&lang=fr'>
		Comtés
    </a>
  </p>
  <p class='label'>
    <a target='_blank' 
	href='/Canada/BirthRegQuery.php?domain=$DOMAIN&lang=fr'>
		Birth Registration Query
    </a>
  </p>
  <p class='label'>
    <a target='_blank' 
	href='/Ontario/MarriageRegQuery.php?domain=$DOMAIN&lang=fr'>
		Marriage Registration Query
    </a>
  </p>
  <p class='label'>
    <a target='_blank' 
	href='/Ontario/DeathRegQuery.php?domain=$DOMAIN&lang=fr'>
		Death Registration Query
    </a>
  </p>
</div> <!-- class='body' -->
    <script src='/jscripts/js20/http.js' type='text/javascript'>
    </script>
    <script src='/jscripts/util.js' type='text/javascript'>
    </script>
    <script src='/jscripts/default.js' type='text/javascript'>
    </script>
