<!--*********************************************************************
 *  genProvinceCAQCfr.html												*
 *																		*
 *  French template for menu of genealogical services for Quebec.		*
 *																		*
 *  History:															*
 *		2018/01/02		created											*
 *		2018/01/03		add header link to Edit Domains dialog			*
 *		2018/01/04		remove Template from template file names		*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <div id='breadcrumbs' class='hidden'>
        <a href="/genealogy.php?lang=fr">Généalogie</a>:
        <a href='/Canada/CountriesEdit.php?lang=fr'>Liste des Pays Soutenus</a>: 
        <a href='/genCountry.php?cc=CA&amp;lang=fr'>Canada</a>:
        <a href='/Canada/DomainsEdit.php?cc=CA&amp;lang=fr'>Provinces</a>:
    </div>	
    <div class='body'>
      <h1>Canada: Québec: Ressources Généalogique
          <span class='right'>
    	<a href='/Ontario/genOntarioHelpfr.html' target='help'>? Aide</a>
          </span>
      </h1>
        $TRACE
        $MSG
      <h2>Bases de Données</h2>
      <p class='label'>
        <a target='_blank' 
    	href='/Canada/BirthRegQuery.php?domain=CAQC&lang=fr'>
    	    Recherche de Déclarations de Naissance
        </a>
      </p>
      <p class='label'>
        <a target='_blank' 
    	href='/Ontario/MarriageRegQuery.php?Domain=CAQC&lang=fr'>
    	    Recherche de Déclarations de Mariage
        </a>
      </p>
      <p class='label'>
        <a target='_blank' 
    	href='/Ontario/DeathRegQuery.php?Domain=CAQC&lang=fr'>
    	    Recherche de Déclarations de Décès
        </a>
      </p>
      <p class='label'>
        <a target='_blank' 
    	href='/Canada/CountiesEdit.php?Domain=CAQC&lang=fr'>Comtés</a>
      </p>
    </div> <!-- end of <div id='body'> -->
    <script src='/jscripts6/util.js' type='module'>
    </script>
