<!--*********************************************************************
 *  genProvinceUSen.html						*
 *									*
 *  Template for displaying information about a US state		*
 *  History:								*
 *	2018/01/02	created						*
 *	2018/01/04	remove Template from template file names	*
 *									*
 *  Copyright &copy; 2018 James Alan Cobban				*
 ***********************************************************************-->
<div class='hidden' id='breadcrumbs'>
  <a href='/genealogy.php?lang=$LANG'>Genealogy</a>:
  <a href='/Canada/CountriesEdit.php?lang=$LANG'>List of Supported Countries</a>:
  <a href="/genCountry.php?code=$CC&lang=$LANG">$COUNTRYNAME</a>:
  <a href='/Canada/DomainsEdit.php?cc=$CC&lang=$LANG'>States</a>:
</div>
<div class='body'>
  <h1>$DOMAINNAME Genealogy Resources
      <span class='right' style='white-space: nowrap;'>
        <a href='genProvinceHelpen.html' target='_blank'>? Help</a>
      </span>
  </h1>
  $MSG
  $TRACE
  <p class='label'>
    <a target='_blank' 
	href='/Canada/CountiesEdit.php?Domain=$DOMAIN&lang=$LANG'>
		Counties
    </a>
  </p>
  <p class='label'>
    <a target='_blank' 
	href='/Canada/BirthRegQuery.php?domain=$DOMAIN&lang=$LANG'>
		Birth Registration Query
    </a>
  </p>
  <p class='label'>
    <a target='_blank' 
	href='/Ontario/MarriageRegQuery.php?domain=$DOMAIN&lang=$LANG'>
		Marriage Registration Query
    </a>
  </p>
  <p class='label'>
    <a target='_blank' 
	href='/Ontario/DeathRegQuery.php?domain=$DOMAIN&lang=$LANG'>
		Death Registration Query
    </a>
  </p>
</div> <!-- class='body' -->
    <script src='/jscripts/js20/http.js' type='text/javascript'>
    </script>
    <script src='/jscripts/util.js' type='text/javascript'>
    </script>
    <script src='/jscripts/default.js' type='text/javascript'>
    </script>
