<!--*********************************************************************
 *  grantIndividUpdatefr.html											*
 *																		*
 *  Templateto display a web page to grant the authority to update an	*
 *  individual, his/her spouses, his/her descendants, and               *
 *  his/her ancestors.		                                            *
 *																		*
 *  History:															*
 *		2019/07/12		created											*
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <link rel='stylesheet' type='text/css' href='grantIndivid.css'>
    <div id="breadcrumbs" class="hidden">
	  <a href="/index.html">Home</a>:
      <a href="/genealogy.php?lang=fr">
			Génealogie
      </a>:
      <a href="/FamilyTree/Services.php?lang=fr">
			Services
      </a>:
      <a href="/genCountry.php?cc=CA&lang=fr">
			Canada
      </a>:
      <a href="/FamilyTree/nominalIndex.php?name=$NAMEURI&treename=$TREENAME&lang=fr">
			Indice Nominale
      </a>:
      <a href="/FamilyTree/Surnames.php?initial=$PREFIX&lang=fr">
			Surnoms qui commencent avec  '$PREFIX'
      </a>:
      <a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=fr">
			Surnom '$SURNAME'
      </a>:
      <a href="/FamilyTree/Person.php?idir=$IDIR&lang=fr">
			$NAME
      </a>:
    </div>
    <div class="body">
      <h1>
        <span class="right">
		  <a href="grantIndividHelpen.html" target="help">? Help</a>
        </span>
		Accès refusé à $NAME
      </h1>
      $TRACE
      $MSG
      <p class="message">
        Vous n'ètes pas autorizé a mise à jour cette personne.
      </p>
    </div>	<!-- end of <div id="body"> -->
    <div class="balloon" id="HelpUser">
      <p>This list permits you to identify the other user to whom you wish
        to grant permission to view the private data and update the current 
        individual and that individual's
        ancestors and descendants.
      </p>
    </div>
    <div class="balloon" id="HelpSubmit">
      <p>
        Clicking on this button grants access to the individual and his/her
        ancestors and descendants to the indicated user.
      </p>
    </div>
    <script src="/jscripts/js20/http.js" type="application/javascript">
    </script>
    <script src="/jscripts/util.js" type="application/javascript">
    </script>
    <script src="/jscripts/CommonForm.js" type="application/javascript">
    </script>
    <script src="/FamilyTree/grantIndivid.js" type="application/javascript">
    </script>
