<!--*********************************************************************
 *  History.html														*
 * 																		*
 *  Display overview of Scottish history								*
 * 																		*
 *  History: 															*
 * 		2010/08/21		Change to use new page format					*
 *		2015/03/25		top page of hierarchy is now genealogy.php		*
 *		2018/02/03		change breadcrumbs to new standard				*
 **********************************************************************-->
  <style type='text/css'>
    table.history {
			border-left: 2px solid black;
			border-top: 2px solid black;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			border-spacing: 0px; 
			padding: 2px;
		}
    td.date {	font-family: sans-serif;
			font-weight: bold;
			text-align: right;
			border: solid 1px black;
		}
    td.desc {	font-family: sans-serif;
			text-align: left;
			border: solid 1px black;
			background-color: white;
		}
  </style>
  <div class='hidden' id='breadcrumbs'>
    <a href="/home.html">Home</a>:
		<a href="/genealogy.php">
		Genealogy
      </a>:
      <a href="/genCountry.php?cc=GB">
		United Kingdom
      </a>:
		<a href='/displayPage.php?template=cobban.html'>
		Cobban Family
      </a>
  </div>
  <div class='body'>
    <h1>Summary of Scottish History</h1>
    <table class='history'>
      <thead>
        <tr>
          <th width="11%">
    	Date
          </th>
          <th>
    	Event
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='date'>~9700 BCE</td>
          <td class='desc'>
    	    End of the Younger Dryas, the last cold period of the Ice Age.
            The temperature rose by 7&deg;C in just a few years.  
            In many places this marks the end of the Paleolithic or 
            Old Stone Age.  It is also the dividing point between the
            Pleistocene Epoch and the Holocene Epoch as a result of the
            sudden change in the character of both animal and plant species.
          </td>
        </tr>
        <tr>
          <td class='date'>~6500 BCE</td>
          <td class='desc'>
    	    Sea level rising from the melting ice caps and isostatic 
            rebound drowned the Dogger Bank and
            separated the British Isles from the mainland of Europe. 
          </td>
        </tr>
        <tr>
          <td class='date'>~4300 BCE</td>
          <td class='desc'>
    	    Migrants from the Danube
    	    Valley (Beaker People) crossed the Channel and spread out
    	    through Britain, Ireland, and Scotland, 
            introducing agriculture, pottery, and the smelting of 
            copper and bronze.
          </td>
        </tr>
        <tr>
          <td class='date'>~3000 BCE</td>
          <td class='desc'>
    	    Copper mines developed near the Clyde and free-standing stone 
            monuments erected, such as Callanish on the island of Lewis
            and the Ring of Brodgar in the Orkneys.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	3200 - 2200 BCE
          </td>
          <td class='desc'>
    	The neolithic stone village of 
    	<a href="http://www.orkneyjar.com/history/skarabrae/home.html">Skara Brae</a>
    	in the Orkneys was occupied.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	about 2000 BCE
          </td>
          <td class='desc'>
    	Peoples speaking a language related to Celtic settle the northern 
    	portion of Britain. They apparently called themselves the
    	<i>Cruithni</i>, which the Romans 
    	later represented as Caledoni.  They left behind them the
    	round stone towers called <i>brochs</i> and the underground houses
    	called <i>weems</i>.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	about 700 BCE
          </td>
          <td class='desc'>
    	Further migrations from the alpine area brought two waves of Celts
    	to the British Isles. The first wave spoke Q-Celtic and sometimes
    	called themselves <i>Goidels</i> or <i>Gaels</i>.
    	They came to dominate in Ireland. Their dialect formed the basis
    	of Gaelic.
    	The second wave spoke P-Celtic and called themselves the
    	<i>Pretani</i>, which the Romans heard as <i>Britanni</i>.
    	They eventually dominated all of Britain south of the Forth-Clyde line.
    	Their dialect formed the basis of the Welsh, Cornish, and Breton
    	languages.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	about 325 BCE
          </td>
          <td class='desc'>
    	Pytheas of Massilia circumnavigated the island of Britain, or 
          <i>Pretannia</i>.  He apparently visited the islands of Man and
    	Lewis, and the Orkneys before travelling on to <i>Ultima Thule</i>.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	43 CE
          </td>
          <td class='desc'>
    	The invasion of southern Britain by the growing Roman Empire
    	on the initiative of the Emperor Claudius, did not 
    	initially affect northern Britain (Scotland) or Ireland
          </td>
        </tr>
        <tr>
          <td class='date'>
    	80 CE
          </td>
          <td class='desc'>
    	The Romans under governor Cnaeus Julius Agricola invade southern
    	and eastern Caledonia with camps at regular intervals along the
    	line of advance as far as the Spey river in Morayshire. In 83 CE
    	he defeated the combined native forces at Mons Graupius, probably
    	in Perthshire.  The Roman historian Tacitus, the son-in-law of
    	governor Agricola, records that before this battle
    	the native commander, <i>Calgacus</i>,
    	said of the Romans "They make a wasteland and call it peace."
          </td>
        </tr>
        <tr>
          <td class='date'>
    	114 CE
          </td>
          <td class='desc'>
    	Marinus of Tyre published collected geographical information,
    	which was incorporated into the Geography of Claudius Ptolemy. 
    	This provides the names of many locations in Britain including
    	capes, bays, rivers, "towns", and ethnic groups. 
    	There seem to be two main sources for the description of
    	Northern Britain: sailing directions for the coastline and
    	the results of the Agricola expedition.  In northern
    	Britain, or <i>Albion</i>, Ptolemy identifies the tribes of: 
    	<i>Novantae</i>, in south-western Scotland including Galloway;
    	<i>Selgovae</i>, in the upper Tweed basin;
    	<i>Damnonii</i>, Ayrshire, Renfrewshire, Stirlingshire, and
    		southern Perthshire;  
    	<i>Votadini</i>, Northumberland and the Lothians;
    	<i>Epidii</i>, Kintyre;
    	<i>Creones</i>, north of the Epidii;
    	<i>Carnonacae</i>, further on;
    	<i>Careni</i>, further on;
    	<i>Cornovii</i>, Caithness;  
    	<i>Caledonii</i>, the Great Glen;  
    	<i>Decantae</i>, eastern Ross &amp; Cromarty;
    	<i>Lugi</i>, eastern Sutherland;
    	<i>Smertae</i>, western Sutherland;
    	<i>Vacomagi</i>, Moray and Banffshire;
    	<i>Venicones</i>, Strathmore;
    	<i>Taexali</i>, Aberdeenshire.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	120 CE
          </td>
          <td class='desc'>
    	Emperor Hadrian (117&mdash;138) ordered a wall built starting
        in 122 along the line from
    	Carlisle to Newcastle to divide the portion of the island that was
    	administered by Rome from the rest.  This primarily functioned as
        a customs and immigration boundary with modest military units
        for quick response.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	140 CE
          </td>
          <td class='desc'>
    	The emperor Antoninus Pius (138&mdash;161) ordered the border of the
    	empire advanced to the line from the Clyde to the Forth, the
    	narrowest, and therefore most easily defended boundary line
    	in Britain, where a new wall
    	was constructed.  However this wall was abandoned later in the century.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	208 CE
          </td>
          <td class='desc'>
    	Septimus Severus invades eastern Caledonia. A line of camps reaches
    	the passes leading onto the Moray Firth.  He assumed the title 
    	<i>Britannicus</i> to celebrate this conquest.  However, aside from 
    	briefly reoccupying the wall from the Clyde to the Forth, no
    	new territory was incorporated into the empire.
        He divided the province in to <i>Britannia Superior</i>, 
        the south-east administered from London, and
        <i>Britannia Inferior</i>, the north-west administered from York.
          </td>
        </tr>
        <tr>
    	<td class='date'>
    	211 CE
          </td>
          <td class='desc'>
    	Septimus Severus dies at York while preparing for a new attack on
    	northern Britain.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	235 CE
          </td>
          <td class='desc'>
    	The assassination of the Emperor Alexander Severus starts a
    	fifty year period during which central administration of 
    	the Roman Empire broke down as a result of catastrophic plagues,
    	probably the first appearance of measles or possibly chicken pox
    	in the west, and a collapse of the frontier defences which led to
    	raids from across the borders. There were 26 Emperors officially
    	recognized during these five decades as well as many unrecognized
    	usurpers.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	260 &mdash; 274 CE
          </td>
          <td class='desc'>
    	Roman Britain was part of the Gallic Empire created by the
    	successful general Postumus.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	286 &mdash; 293 CE
          </td>
          <td class='desc'>
              To protect Britain and northern Gaul during the collapse of
              central authority admiral Carausius commanding the Roman 
              <i>Classis Britannica</i>, a fleet in
              the English Channel declared an independent empire.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	296 CE
          </td>
          <td class='desc'>
    	Constantius Chlorus, deputy emperor in the west, restores
    	central authority over Britain, defeating Allectus, who had
        assassinated Carausius.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	297 CE
          </td>
          <td class='desc'>
        The province of Britannia, that is the portion
    	of the island south of Hadrian's Wall, is reorganized into four
    	smaller provinces intended to prevent any one governor from
    	uniting enough military power to challenge the central government.
        This is documented in the
        <a href="https://en.wikipedia.org/wiki/Laterculus_Veronensis">Verona List</a>.
        <br>Because of their habit of wearing war-paint
    	the Romans started to call the people north of
        Hadrian's wall the "Painted ones" or
    	in Latin <i>Picti</i>, as evidenced by the
        <a href="https://en.wikipedia.org/wiki/Panegyrici_Latini"><i>Panegyrici Latini</i></a>.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	25 July 306 CE
          </td>
          <td class='desc'>
        Emperor Constantius Chlorus dies at Eboracum (York) and is
        succeeded by his son Constantine on the acclamation of the
        legions.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	312 CE
          </td>
          <td class='desc'>
    	Irish and Pictish raiding parties begin attacking the northern and
    	western frontiers of Roman Britain.
    	The earliest use of the word <i>Scoti</i> is in
        the <a href="https://en.wikipedia.org/wiki/Laterculus_Veronensis">Verona List</a>, or <i>Nomina Provinciarum Omnium</i>, 
        where they appear as Irish
    	raiders who posed a threat to the Roman Empire.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	364 CE
          </td>
          <td class='desc'>
    	A marauding force comprising, <i>Scotti</i>, <i>Picti</i>,
    	<i>Attacotti</i>, Saxons, and
    	Roman military deserters terrorized the province of Britain,
    	defeating all local attempts to subdue them.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	367 CE
          </td>
          <td class='desc'>
    	The response to the collapse of the military defence of Britain was
    	to send a large force under Count Theodosius
        which restored order. Naval forces were used against
    	the home bases of the invaders. The British tribes just beyond the
    	Roman frontier, such as the <i>Votadini</i> 
    	centered on the Grampian hills south of 
    	Edinburgh, were given payments and privileges to encourage them to
    	defend the frontier.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	378 CE
          </td>
          <td class='desc'>
    	The historian Ammianus Marcellinus described the <i>Picti</i> as
    	being divided into the <i>Verturiones</i> and the
    	<i>Dicaledones</i>.  Speculatively the <i>Verturiones</i> were
    	south of Moray Firth, in the later kingdom of Fortriu, 
    	and the <i>Dicaledones</i> lived to the north.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	381 CE
          </td>
          <td class='desc'>
    	General Magnus Maximum defeated an incursion of Picts and Scots
    	into Britain.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	383 CE
          </td>
          <td class='desc'>
    	Magnus Maximus is declared Emperor and leads much of the military forces
    	of Britain into the mainland of Gaul to contest its rule with
    	the Emperor Gratian.
    	He is defeated by the Emperor Theodosius, the son of 
    	Count Theodosius above, 
    	but some of the troops never return to Britain.
    	Magnus Maximum appears to have addressed the need to continue the
    	defence of the west coast of Roman Britain by formally establishing
    	local rulers in Wales and south-western Scotland as kings.  The
    	traditional genealogies of a number of these kingdoms, including 
    	Powys, Gwent, and Galloway, trace their
    	line back to <i>Macsen Wledig</i>.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	397 CE
          </td>
          <td class='desc'>
    	St.Ninian founds the monastery of Whithorn or 
    	<i>Candida Casa</i> in Galloway,
    	converting many pagan Celts and Picts to Christianity.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	407 CE
          </td>
          <td class='desc'>
    	As a result of the invasion of Gaul, modern France, by a barbarian
    	army led by the Siling Vandals, who had not only broken the frontier
    	on the Rhine, but also destroyed the Roman central field army,
    	the central field army stationed in Britain was transferred across 
    	the channel, leaving only second class frontier units in place.
    	Roman Britain, tired of paying taxes to support a military which has
    	abandoned them, drives out the Imperial administration and 
    	crowns a series of rival emperors.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	410 CE
          </td>
          <td class='desc'>
    	The Emperor Honorius, directly threatened by Vandal and Visigothic 
    	attacks which
    	led to the sack of Rome itself, washes his hands of responsibility
    	for Britain.  This cuts off Britain's supply of coin, ending the
    	payment of salaries to the remaining military force, and disrupting
    	the distribution of manufactured goods, most significantly pottery.
    	Control passed to a coalition of the fading city administrations,
    	the wealthy landowners, and the native kings recognized by
    	Magnus Maximus.  No coinage minted after this year has been
    	found on Romano-British sites.
          </td>
        </tr>
        <tr>
          <td class='date'>429 CE
          </td>
          <td class='desc'>
    	Bishop Germanus of Auxerre makes a visit to Britain to counter the
    	influence of the teachings of the theologian Pelagius, a native of
    	Britain (or possibly Ireland), who had lost the contest for 
    	orthodoxy with St Augustine of Hippo.
          </td>
        </tr>
        <tr>
          <td class='date'>~430 CE
          </td>
          <td class='desc'>
    	Sub-Roman Britain is under the control of a man with the British title
    	<i>Vortigern</i>, early Welsh for "high prince" or overlord.
    	This title was translated into Latin by Nennius as <i>superbus 
    	tyrranus</i> or "proud tyrant". 
    	<i>Vortigern</i> attempts to secure his realm by settling mercenaries
    	on the frontier. One such group is of Saxons under the leadership
    	of a man nicknamed <a href="http://en.wikipedia.org/wiki/Hengest">
    	<i>Hengist</i></a> the "Stallion", traditionally in 449. 
    	He also re-settles a group
    	of <i>Votadini</i> under their leader Cunedda from the 
    	Grampian hills south of Edinburgh to Northern Wales
    	to defend against Irish attacks.  This settlement is later known as 
    	Gwynedd.
        Irish invaders settled in south-west Wales, founding ruling dynasties 
        in the kingdoms of Dyfed and Brycheiniog (Brecon), both place-names 
        of Irish origin.  Also there are hundreds of stone inscriptions
        in Wales, Cornwall, and Devon that are written in Irish using the
        Ogham alphabet.
          </td>
        </tr>
        <tr>
          <td class='date'>431 CE</td>
          <td class='desc'>
    	Palladius, a Gallic deacon probably working in Rome, is ordained by
    	Pope Celestine and sent as the first Bishop to the Irish believing
    	in Christ.  He arrived at Wicklow but got into a conflict with the 
    	king of Leinster.  According to Prosper of Aquitaine he moved on to 
    	the Pictish kingdom of Circinn, in Aberdeenshire, where he died
    	about 450 CE.
          </td>
        </tr>
        <tr>
          <td class='date'>~435 CE
          </td>
          <td class='desc'>
        The kingdom of Strathclyde or <i>Alt Clut</i> was established in
        south-western Scotland with its capital at Dunbarton Rock.  At this
        time it was ruled by <i>Ceretic Guletic</i> the apparent
        addressee of a letter of criticism from St Patrick.
          </td>
        </tr>
        <tr>
          <td class='date'>~500 CE</td>
          <td class='desc'>
    	The kingdom of Dalriata is established, centered on the sea between
    	Ireland and western Scotland.  It included Antrim in northern
        Ireland (<i>Ulaid</i>) and Argyll.
    	The traditional story, from the <i>Duan Albanach</i> was that three
    	sons of Erc: Fergus Mór, Loarn, and Óengus, carried out the conquest.
    	Another version, from Bede, is that it was established by someone 
    	named Reuda.  The name Dalriata can be interpreted as "Reuda's Share".
          </td>
        </tr>
        <tr>
          <td class='date'>
    	563 CE
          </td>
          <td class='desc'>
    	The Irish monk St. Columba established a monastery on the 
    	island of Iona in the Hebrides from which he set out
        on missions that converted both Picts and Scots to
    	Christianity.  In one famous incident he impressed the Pictish king
    	Bridei of Fortriu at his capital at Inverness.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	574&mdash;608 CE
          </td>
          <td class='desc'>
    	Reign of Áedán mac Gabráin, greatest king of Dalriata.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	603 CE
          </td>
          <td class='desc'>
    	Battle of Degsastan. English forces, under Aethelfrith of 
    	Northumbria, deal a crushing defeat to a British force from the
    	kingdom of Strathclyde,
    	and a Scottish force under Áedán mac Gabráin, and take over
    	south-eastern Scotland. The English
        come to be referred to as <i>Sassenachs</i> s
        from the Gaelic for Saxons.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	642 CE
          </td>
          <td class='desc'>
        The Britons of Alt Clut, led by Eugein son of Beli, defeated 
        the men of Dál Riata at Strathcarron as recorded in the 
        Annals of Ulster and the poem <i>Y Gododdin</i>.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	685 CE
          </td>
          <td class='desc'>
    	Battle of Dun Nechtain in which Bridei mac Beli, king of Pictland
    	defeated the Anglian army from Northumberland, led by Ecgfrith.
    	The Anglians continued to control the area south of the Firth of 
        Forth where the spoken language was the root of Lowland Scots.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	756 CE
          </td>
          <td class='desc'>
        The Picts under Óengus allied with the Northumbrians under 
        Eadberht besieged Dumbarton Rock.  Although Dumnugual III son of 
        Teudebur, king of Strathclyde from about 754&mdash;760, surrendered
        King Eadberht was waylaid on his way back to Northumbria.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	780 CE
          </td>
          <td class='desc'>
        The burning of Alt Clut.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	793 CE
          </td>
          <td class='desc'>
    	From this point on Viking raids and settlement dominate Scottish
    	events.  Iona was sacked in 802 and 806.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	843 CE
          </td>
          <td class='desc'>
    	The throne of the Irish kingdom of Dalriata descended through the 
    	male line while the Pictish
    	inheritance was more fluid. Kenneth MacAlpin united
    	the two kingdoms because he was heir to the Scottish throne 
        through his
    	father and an candidate for the Pictish throne through his mother.  
        A major motivation for uniting the two kingdoms was to present 
        a united defence against the Vikings.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	870 CE
          </td>
          <td class='desc'>
        The island fortress of Alt Clut, Dumbarton Rock, was destroyed
        by the Viking Kings Amlaíb (Olaf) and Ímar (Ivar the Boneless).
        The capital of Strathclyde moved upriver to Govan, south-west of
        Glasgow.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	900's CE
          </td>
          <td class='desc'>
    	Norwegians settled in the Orkneys, the Isles and Sutherland
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1016 CE
          </td>
          <td class='desc'>
    	England came under Danish rule (Canute)
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1040 CE
          </td>
          <td class='desc'>
    	MacBeth succeeded Duncan (1034&mdash;1040) as king of Alba
        when Duncan died at the battle of Pitgaveny in Morayshire,
        in part based
    	upon the claim of his wife Gruoch as daughter of the preceding King of 
    	the Pictish royal family. Duncan's sons, Malcolm Canmore and
    	Donald Bane ("the Fair") fled to England.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1057 CE
          </td>
          <td class='desc'>
    	Malcom III Canmore (king 1058&mdash;1092) returned to defeat 
        MacBeth and assume the throne of Scotland.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1066 CE
          </td>
          <td class='desc'>
    	England conquered by Normans under William I. The Saxon prince
    	Edgar was driven out of England and took sanctuary with Malcolm,
    	who married Margaret, last Saxon princess of England. Malcolm
    	acknowledged the authority of William but then made several 
        invasions of England on behalf of his Queen.  Margaret was 
        canonized in 1250.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1093 CE
          </td>
          <td class='desc'>
    	Malcolm III was killed near Alnwick during a raid on England.
        He was succeeded by his brother Donald III Bán (1093&mdash;1097)
        The Scottish throne remained in his family until 1290.  Malcolm's 
        son by his first wife, Duncan, contested the throne 
        but died in 1094.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1097 &mdash; 1107 CE
          </td>
          <td class='desc'>
        The reign of Edgar MacMalcolm, 4th son of Malcolm III and
        Margaret of Wessex, king of Scotland
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1107 &mdash; 1124 CE
          </td>
          <td class='desc'>
        The reign of Alexander I MacMalcolm, 5th son of Malcolm III and
        Margaret of Wessex, king of Scotland
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1124 &mdash; 1153 CE
          </td>
          <td class='desc'>
        Reign of King David I of Scotland, also known as 
        Dauíd mac Maíl Choluim, the youngest son of Malcolm III and
        Margaret of Wessex.  David spent much of his youth at
        the Norman court of his brother-in-law King Henry I of England.
        He introduced administrative changes based upon the
        the institutions of the Normans.  
	    Many of the nobles had joint fealty to both kings, and
        the English kings always asserted that the King of Scotland
        owed fealty to the King of England.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1214 &mdash; 1249 CE
          </td>
          <td class='desc'>
            Reign of Alexander II, son of King William the Lion and
            Ermengarde of Beaumont.  He was also closely connected to
            the Norman rulers of England.
    	    Alexander II seized the Isles and the north from the Vikings
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1266 &mdash; 1308 CE
          </td>
          <td class='desc'>
    	John Duns, commonly known as <i>Duns Scotus</i>, was one of the three
    	most important philosophers and theologians of the Middles Ages.
    	He was born at Duns in Berwickshire, taught both at Oxford and at
    	Paris, and died at Köln.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1292 &mdash; 1296 CE
          </td>
          <td class='desc'>
    	There was no recognized male heir and Edward I of England, when asked,
    	named John Balliol, 6th Baron Balliol and a 
        great-great-great-grandson of King David I, as King of Scotland.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1297 CE
          </td>
          <td class='desc'>
    	    Revolt by William Wallace against King Edward I of England.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	    1306 CE
          </td>
          <td class='desc'>
    	Revolt by
        <a href="https://www.jamescobban.net/FamilyTree/Person.php?idir=91698&lang=en">Robert de Bruce</a> in 1306 resulted
    	in major defeat for King Edward II of England
        and Bruce became King Robert I of Scotland. 
          </td>
        </tr>
        <tr>
          <td class='date'>
    	    1300s CE
          </td>
          <td class='desc'>
        David II was made prisoner by the English.
    	A Stewart became regent and on the death of the king became king
    	in 1371 as Robert II. Wars with France, a peasant
    	revolt, the Black Death and the disastrous civil Wars of the Roses left
    	little time for English interference with Scotland,
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1500's CE
          </td>
          <td class='desc'>
    	The discovery of America and sea routes to Asia changed
    	attitudes, most significantly in religion, and massively expanded
    	the economy of Europe.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1542 CE
          </td>
          <td class='desc'>
    	After the death of James V in a fruitless attack on England, 
    	his daughter Mary became Queen of Scots. She was in problems with
    	the nobility.  Mary had spent her entire youth at the
    	French court and had no understanding of the political realities of the
    	Scottish court and people.  She chose poor allies and her fervent
    	Catholicism was a constant issue both with her own, largely
    	Calvinist citizens, and with
    	England, ruled by her cousin Elizabeth I.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1567 CE
          </td>
          <td class='desc'>
    	Mary was forced to abdicate and her son became King James VI of
    	Scotland.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1603 CE
          </td>
          <td class='desc'>
    	On the death of Elizabeth I of England, her closest living relative,
    	James VI of Scotland, became King James I of England and Ireland. 
    	For the next 104 years the king or queen of England was also
    	simultaneously, but independently, the king or queen of Scotland. 
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1600's CE
          </td>
          <td class='desc'>
    	The religious reformation movement in the 15th and 16th centuries in
    	Europe extended to England and Scotland and combined with disputes
    	over trade and territories
    	caused almost continuous war. In England religion was a major factor in
    	a revolution that deposed the Stuart kings in 1645, reinstated them in
    	1660 and again deposed them in 1688 and established William and Mary of
    	Orange as king and queen
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1695 CE
          </td>
          <td class='desc'>
    	The government of Scotland, desiring to pursue an independent
    	foreign policy from England, despite the fact that they shared a
    	monarch,
    	invested in an expensive project to establish a colony in
    	<a href='http://en.wikipedia.org/wiki/Darien_scheme'>"Darien"</a> on the
    	Isthmus of Panama.  Facing opposition both from the English and Spanish 
    	governments the project failed, bankrupting the Scottish government.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1707 CE
          </td>
          <td class='desc'>
    	Facing bankruptcy the Scottish parliament agreed to formal
    	political union
    	with England, which absorbed the Scottish debts.  This union
    	created the United Kingdom.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1700s CE
          </td>
          <td class='desc'>
    	Attempts to return were made by James II
    	in 1715 (defeated at Boyne in Ireland), and his son
    	"Bonnie Prince Charlie" (defeated at Culloden in Scotland in 1745).
    	Repressive measures were strict
    	on the Scots for years, denying them the use of their style of dress and
    	music. With local opportunities constrained
    	Scots became a major factor in the wars that established the
    	British Empire and in the banking and industrial life of the
    	country during the Industrial Revolution.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1800's CE
          </td>
          <td class='desc'>
    	Massive changes in agriculture and industry were accompanied by a sharply
    	rising population but a reduction in the required labour force. At the
    	same time, huge areas of new lands in the Americas and Australia became
    	available. The surplus population of Europe moved to settle these lands.
    	Scots also faced the use of new equipment on the farms and the conversion
    	of marginal land to sheep meant many thousands went into the new industries
    	or emigrated. 40 million moved from Europe (34 million to America, 3 million
    	to Canada, 2 million to Australia) from 1820&mdash;1920. Other countries, Italy,
    	Germany, Greece, Russia, etc. had the same problems and contributed to
    	the movement.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1845&mdash;1852
          </td>
          <td class='desc'>
    	The "Great Famine".
    	Failures in the potato crop in Ireland due to blight resulted in
    	the death of about a million people, and forced a million
    	to emigrate.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1900's CE
          </td>
          <td class='desc'>
    	Scotland had a large industrial output and probably the
    	largest population
    	of any time, despite the major emigrations still continuing.
          </td>
        </tr>
        <tr>
          <td class='date'>
    	1999 CE
          </td>
          <td class='desc'>
    	Reestablishment of separate Scottish Parliament with
    	control of local matters such as education and the administration
    	of justice.
          </td>
        </tr>
      </tbody>
    </table>
  </div> <!-- class='body' -->
