<!--*********************************************************************
 *  Histoct.html														*
 * 																		*
 *  Display a web page with general information about the project.		*
 * 																		*
 *  History: 															*
 * 		2010/08/21		Change to use new page format					*
 *		2012/01/13		change class names								*
 *		2014/02/10		eliminate use of tables for layout				*
 *		2018/02/03		change breadcrumbs to new standard				*
 *						convert to template								*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div class='hidden' id='breadcrumbs'>
    <a href="/home.html">Home</a>:
    <a href='/displayPage.php?template=cobban.html'>
	Back to Cobban Family
    </a>
  </div>
  <div class='body'>
  <h1>Cobban Family History - 1999</h1>
  <p>
    From: Donald A. Cobban,964 Jalna Blvd,London,On,Canada N6E 2R3, Feb 4 1999
  </p>
  <p>Over the past two decades, several of the family members have been involved
    in developing data on the family from the Caradoc Canada group and expanding
    backward to Scotland, to Australia, to the USA and to other areas of Canada.
  </p>
  <p>Early issues of data were basically graphs and required further data
    to support them. Other issues made many corrections, especially in the
    pattern and code structure. As data was obtained from other sources such
    as the Mormon library, major shifts in the order of listing had to be made.
    Most of these corrections have been made and newer members added in the
    attached. (I hope)
  </p>
  <p>It now is a matter of adding even newer members, rechecking the data
    for those already there and where possible adding some touches of history.
    For this purpose, the data has been assembled in family units and the
    history would relate to that family unit.
  </p>
  <p>I would like to receive:
  </p>
  <ul>
    <li>As much data as you can develop on added members
    </li>
    <li>Check and correct or complete data on current members listed
    </li>
    <li>Any information you may have on other groups not included with
      suggestions, names, addresses of possible correspondents
    </li>
    <li>Any stories, history of family units which could be of future interest.
    </li>
    <li>Any comments on the current method of representation and the assembly of
      history by individual family units
    </li>
  </ul>
  <p>
    The information I receive will be added and used in a further issue of
    this book. hopefully in early 2000. If you can, present it
    in the same format as I am using or one of your own, ready for printing.
    After this issue, future ones will be a group at a time, prepared by the
    group with a copy to a central group to issue to the other groups.
  </p>
  <p><i><a href='/FamilyTree/Person.php?idir=2'>Don Cobban</a></i>
	(8 Oct 1920—13 Oct 2006)
  </p>
</div>
