<!DOCTYPE HTML>
<html>
  <head>
    <title>Genealogy</title>
    <meta http-equiv='content-type' CONTENT='text/html; charset=UTF-8'>
    <meta http-equiv='default-style' CONTENT='text/css'>
    <meta name='Author' content='James Cobban'>
    <meta name='Copyright' content='&copy; James Cobban 2018'>
<!--*********************************************************************
 *    History:								                            *
 *	    2018/11/17	    created		                    				*
 ***********************************************************************-->
    <script language='JavaScript'>
	    window.location	= "/templates/index.php";
    </script>
  </head>
  <body>
  </body>
</html>
