<!--*********************************************************************
 *  ListOfAdvertisersfr.html											*
 *																		*
 *  This template displays a list of advertisers.						*
 *																		*
 *    History:															*
 *		2018/10/18		created         								*
 *																		*
 *  Copyright 2018 James A. Cobban										*
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php?lang=fr">
	    Généalogie
    </a>:
    <a href="/Services.php?lang=fr">
		Services
    </a>:
  </div>
  <div class="body">
    <h1>
      <span class="right">
		<a href="MenuHelpfr.html" target="help">? Aide</a>
      </span>
        Liste des Annonceurs
   </h1>
    $TRACE
    $MSG
    <div id="adrow" style="margin-bottom: 15px;">
        $AD
    </div>
    <p class="label">
        S'il vous plaît condescendance nos annonceurs.
    </p>
    <form name="buttonForm" id="buttonForm"
        action="/genealogy.php" method="get">
        <input type="hidden" id="lang" name="lang" value="fr">
        <button type="submit" id="Close">Fermer</button>
    </form>
  </div> <!-- class=body -->
	<script src="/jscripts/util.js" type="text/javascript"></script>
	<script src="/ListOfAdvertisers.js" type="text/javascript"></script>
