<!--*********************************************************************
 *  LocationDialogsde.html												*
 *																		*
 *  Common layout of the popup dialogs presented by the common support	*
 *  for dynamic management of Locations.								*
 *  Note:	Although this is an HTML file and is stored in the		    *
 *			same directory used for template files used by			    *
 *			class Template, this file is used by the dynamic		    *
 *			display functionality in Javascript.					    *
 *																		*
 *  History:															*
 *		2020/03/04		translated                                      *
 *      2021/06/02      support popup Help                              *
 *                                                                      *
 *  Copyright &copy; 2021 James A. Cobban                               *
 **********************************************************************-->
<div class="hidden">
  <!-- template for dialog reporting new location 
	var parms	= {"template"	: "",
	    		   "name"	: name,
		    	   "formname"	: formname,
			       "field"	: field};

  	displayDialog('NewLocationMsg$template',
    		      parms,
	    	      element,		// position
		          closeNewDialog,	// button closes dialog
		          false);		// default show on open
-->
  <form name='NewLocationMsg$template' id='NewLocationMsg$template'>
    <p class='label'>$name</p>
    <p class='warning'>Hinweis: Dies ist ein zuvor nicht definierter Speicherort</p>
    <p>
      <input type='hidden' id='formname' name='formname' value='$formname'/>
      <input type='hidden' id='field' name='field' value='$field'/>
      <button type='button' id='closeDlg$template'>
        Fahren Sie mit dem Erstellen eines neuen Standorts fort
      </button>
    </p>
  </form>

  <!-- template for dialog for choosing new location
	var parms	= {"template"	: "",
			   "name"	: name};

	displayDialog('ChooseLocationMsg$template',
		      parms,
		      element,		// position
		      null,		// button closes dialog
		      true);		// do not show yet

	// update selection list for choice
	var	select	= document.getElementById('locationSelect');
	select.onchange	= locationChosen;
	select.setAttribute("for", field);
	select.setAttribute("formname", formname);
	// code to add options to select
	select.selectedIndex	= 0;

	// make the dialog visible
	show(msgDiv);
-->
  <form name='ChooseLocationMsg$template' id='ChooseLocationMsg$template'>
    <h2>
    Mehrere Übereinstimmungen für '$name' gefunden
    </h2>
    <select id='locationSelect$template' size='5'>
	<option value="-1">[Wählen Sie einen Ort]</option>
    </select>
    <p>
      <button type='button' id='closeChooser$template'>
	    Stornieren
      </button>
    </p>
  </form>
    <div class="balloon" id="HelplocationSelect">
      This selection list permits the user to choose from a list
      of locations which match the partial locaion name supplied by
      the user.
    </div>
    <div class="balloon" id="HelpcloseChooser">
        Click on this button to close the selection list of locations.
    </div>
</div>
