<!--*********************************************************************
 *  mergeUpdIndividen.html												*
 *																		*
 *  Template to display the results of merging two individuals in 		*
 *  the family tree database.									        *
 *																		*
 *  History:															*
 *		2019/05/06		created											*
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->

    <div id="breadcrumbs" class="hidden">
	  <a href="/index.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">
			  Genealogy
      </a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">
			  Services
      </a>:
      <a href="/FamilyTree/nominalIndex.php?name=$NAMEURI&treename=$TREENAME&lang=$LANG">
			  Nominal Index
      </a>:
      <span id="crumbsSurname">
      <a href="/FamilyTree/Surnames.php?initial=$PREFIX&lang=$LANG">
			  Surnames Starting with '$PREFIX'
      </a>:
      <a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=$LANG">
			  Surname '$SURNAME'
      </a>:
	  <a href="/FamilyTree/Person.php?idir=$idir1&lang=$LANG">
			  $NAME1
      </a>:
      </span>
    </div>
    <div class="body">
      <h1>
        <span class="right">
		  <a href="mergeUpdIndividHelpen.html" target="help">? Help</a>
        </span>
        <span id="titleNames">
	          Merge  $NAME1 and $NAME2
        </span>
        <span id="titleFailed">
	          Merge Failed
        </span>
      </h1>
      $TRACE
      $MSG
      <!-- error messages -->
      <div class="hidden">
          <span id="firstMissing">
              The parameter idir1 is missing.
          </span>
          <span id="firstInvalid">
              The parameter idir1='$idir' is invalid.
          </span>
          <span id="firstNotAuth">
              You are not authorized to update the person with idir1=$idir. 
          </span>
          <span id="secondMissing">
              The parameter idir2 is missing.
          </span>
          <span id="secondInvalid">
              The parameter idir2='$idir' is invalid.
          </span>
          <span id="secondNotAuth">
              You are not authorized to update the person with idir2=$idir. 
          </span>
      </div> <!-- error messages -->
      <div id="results">
	    <p>Values from individual record IDIR=$IDIR2 are
	       selectively merged into individual record IDIR=$IDIR1.
	    </p>
		<p id="replaceSurname">Surname replaced by '$NEWSURNAME'.
	    </p>
		<p id="replaceGivenname">Given name replaced by '$NEWGIVENNAME'.
	    </p>
		<p id="replaceBirthDate">Birth date replaced by '$BIRTHDATE2'.
	    </p>
		<p id="replaceBirthLoc">Birth location replaced by '$BIRTHLOCATION2'.
	    </p>
		<p id="birthCount">Copy $BIRTHCITATIONSCOUNT citations to birth.
	    </p>
		<p id="replaceChrisDate">Christening date replaced by '$CHRISDATE2'.
	    </p>
		<p id="replaceChrisLoc">Christening location replaced by '$CHRISLOCATION2'.
	    </p>
		<p id="chrisCount">Copy $CHRISCITATIONSCOUNT citations to christening.
	    </p>
		<p id="replaceDeathDate">Death date replaced by '$DEATHDATE2'.
	    </p>
		<p id="replaceDeathLoc">Death location replaced by '$DEATHLOCATION2'.
	    </p>
		<p id="deathCount">Copy $DEATHCITATIONSCOUNT citations to death.
	    </p>
		<p id="replaceBurialDate">
            Burial date replaced by '$burieddate2'.
	    </p>
		<p id="replaceBurialLoc">
            Burial location replaced by '$buriedlocation2'.
	    </p>
		<p id="burialCount">
            Copy $count citations to burial.
	    </p>
		<p id="eventCount">
            Moved $MOVEDEVENTCOUNT individual event records from $IDIR2 
			to $idir1.
	    </p>
		<p id="deletedNames">
            Deleted $DELETEDNAMES nominal index records for second individual. 
	    </p>
		<p>Update nominal index records for merged individual.
	    </p>
		<p id="updateFamily2">
            In Family record IDMR=$idmr2 field '$midirfld' set to '$idir1'.
	    </p>
		<p id="mergeFamilies">
            All information merged into family IDMR=$idmr1
			and family IDMR=$idmr2 deleted.
	    </p>
		<p id="famNameUpdate">
            In marriage record IDMR=$idmr fields '$msurnfld' and '$mgivnfld'
            set to $surname, $givenname.
	    </p>
		<p id="childDeleted">
            Child record IDCR=$idcr is deleted as a duplicate.
	    </p>
		<p id="childUpdated">
            In child record IDCR=$idcr field 'IDIR' set to '$idir1'.
	    </p>
		<p id="sourceCitationsUpdated">Update $RESULT source citations
			  to point to individual record IDIR=$idir1
	    </p>
		<p id="birthRegUpdated">
            Update the transcription of the birth registration.
	    </p>
        <p id="deathRegUpdated">
            Update the transcription of the death registration.
	    </p>
		<p id="marrRegUpdated">
            Update the transcription of the marriage registration.
	    </p>
		<p id="moveBlogs">
            Move $BLOGSETCOUNT blog messages.
	    </p>
		<p id="deletePerson2">
            Delete the Person record $IDIR2
	    </p>
	  </div>
      $TEXT
      <form action="Person.php?idir=$idir1"
				  name="mainForm" method="get">
        <div class="hidden" id="hiddenElements">
		  <input type="hidden" name="birthd" id="birthd"
				  value="$BIRTHD">
		  <input type="hidden" name="birthloc" id="birthloc" 
				  value="$BIRTHLOC">
		  <input type="hidden" name="chrisd" id="chrisd" 
				  value="$CHRISD">
		  <input type="hidden" name="chrisloc" id="chrisloc" 
				  value="$CHRISLOC">
		  <input type="hidden" name="deathd" id="deathd" 
				  value="$DEATHD">
		  <input type="hidden" name="deathloc" id="deathloc" 
				  value="$DEATHLOC">
		  <input type="hidden" name="buriald" id="buriald" 
				  value="$BURIALD">
		  <input type="hidden" name="burialloc" id="burialloc" 
				  value="$BURIALLOC">
		  <input type="hidden" name="givenname" id="givenname" 
				  value="$GIVENNAME">
		  <input type="hidden" name="surname" id="surname" 
				  value="$SURNAME">
          <span id="movedevent">
		  <input type="hidden" name="eventd$IDER"
				  id="eventd$IDER"
				  value="$DATE">
		  <input type="hidden" name="eventtype$IDER"
				  id="eventtype$IDER"
				  value="$IDET">
		  <input type="hidden" name="eventcittype$IDER"
				  id="eventcittype$IDER"
				  value="$CITTYPE">
		  <input type="hidden" name="eventdescription$IDER"
				  id="eventdescription$IDER"
				  value="$DESCRIPTION">
		  <input type="hidden" name="eventloc$IDER"
				  id="eventloc$IDER"
				  value="$LOCATION">
          </span>
        </div>
        <button type="submit" id="Submit">
		  Close
        </button>
      </form>
    </div>  <!-- end of <div id="body"> -->
    <script src="/jscripts/js20/http.js" type="application/javascript">
    </script>
    <script src="/jscripts/util.js" type="application/javascript">
    </script>
    <script src="/jscripts/CommonForm.js" type="application/javascript">
    </script>
    <script src="/FamilyTree/mergeUpdIndivid.js" type="application/javascript">
    </script>
