<!--*********************************************************************
 *  Messagesen.html														*
 *																		*
 *  French language template for the Messages management page			*
 *																		*
 *  History:															*
 *		2020/10/28		Created											*
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=fr">Généalogie</a>:
    </div>	
    <div class="body">
      <h1 class="clear">Gestión de Mensajes
        <span class="right">
		  <a href="/MessagesHelpfr.html" target="help">?&nbsp;Ayuda</a>
        </span>
      </h1>
      $TRACE
      $MSG
      <form name="blogForm" id="blogform">
          <p class="clear">
		    <span class="pad">
		      <button type="button" id="Close">
		        Cerrar
		      </button>
		    </span>
          </p>
        <div id="blog$blid">
          <p class="label">
		    A $datetime el usario '$username' 
		    escribió:
          </p>
          <p>
		    $text 
          </p>
          <p>
		    <!-- Note that any characters that occur between the opening and
		         closing textarea tags become part of the value of the tag-->
		    <textarea name="message$blid"
			    rows="5" cols="80"></textarea>
          </p>
          <p>
		    <button type="button" id="Delete$blid">
		      Eliminar Blog
		    </button>
		    &nbsp;
		    <button type="button" id="Reply$blid">
		      Responder 
		    </button>
          </p>
        </div>
      </form>
    </div> <!-- div class="body" -->
    <div class="balloon" id="HelpClose">
	  Al hacer clic en este botón con el mouse, se cierra el diálogo. 
	  Como atajo, también puede cerrar el cuadro de diálogo presionando
      la combinación de teclas alt-C.
    </div>
    <div id="HelpDelete" class="balloon">
	  Haga clic en este botón para eliminar el mensaje.
    </div>
    <div id="HelpReply" class="balloon">
	  Haga clic en este botón para responder al mensaje.
    </div>
    <script src="/jscripts/tinymce/js/tinymce/tinymce.js" type="application/javascript">
    </script>
    <script src="/Messages.js" type="module">
    </script>
