<!--*********************************************************************
 *  MonthlyUpdateses.html												*
 *																		*
 *  Template of list of technical status updates in Spanish.			*
 *																		*
 *  History:															*
 *		2018/11/18		created         								*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
<div id="breadcrumbs" class="hidden">
	<a href="/home.html">Inicio</a>:
  <a href="/genealogy.php?lang=es">Genealogía</a>:
  <a href="/FamilyTree/Services.php?lang=es">Services</a>:
</div> <!-- id="breadcrumbs" -->
<div class="body">
  <h1>Informes Técnicos Mensuales
    <span class="right">
	<a href="/MonthlyUpdates/index.php?lang=en">Inglés</a>
	<a href="/MonthlyUpdates/index.php?lang=de">Alemán</a>
	<a href="/MonthlyUpdates/index.php?lang=de">Francés</a>
	<a href="/genealogyHelpes.html" target="help">?&nbsp;Ayuda</a>
    </span>
  </h1>
    $TRACE
    $MSG
  <p class="label"  id="report$mm$year">
	<a href="/MonthlyUpdates/$filename" target="_blank">
		$month $year
		Informe Técnico
	</a>
  </p>
  </div> <!-- class=body -->
    <script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
    <script src="/jscripts/util.js" type="text/javascript">
    </script>
    <script src="/genealogy.js" type="text/javascript">
    </script>

