<!--*********************************************************************
 *  MonthlyUpdatesde.html												*
 *																		*
 *  Template of list of technical status updates in German.				*
 *																		*
 *  History:															*
 *		2018/11/18		created         								*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
<div id="breadcrumbs" class="hidden">
	<a href="/index.html">Startseite</a>:
    <a href="/genealogy.php?lang=de">
	Genealogie
    </a>:
    <a href="/FamilyTree/Services.php?lang=de">
	Bedienungs
    </a>:
</div> <!-- id="breadcrumbs" -->
<div class="body">
  <h1>Monatliche technische Statusberichte
    <span class="right">
	<a href="/MonthlyUpdates/index.php?lang=en">
	English
	</a>
	<a href="/MonthlyUpdates/index.php?lang=fr">
	Français
	</a>
	<a href="/MonthlyUpdates/index.php?lang=es">
	Español
	</a>
	<a href="/genealogyHelpde.html" target="help">?&nbsp;Hilfe</a>
    </span>
  </h1>
    $TRACE
    $MSG
      <p class="label"  id="report$mm$year">
  	<a href="/MonthlyUpdates/$filename" target="_blank">
  		$month $year
  		Aktualisierungen der Website-Funktionalität
  	</a>
      </p>
  </div> <!-- class=body -->
    <script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
    <script src="/jscripts/util.js" type="text/javascript">
    </script>
    <script src="/genealogy.js" type="text/javascript">
    </script>
