<!--*********************************************************************
 *  NamesUpdateen.html													*
 *																		*
 *  Display a web page containing all of the individuals with a			*
 *  given surname.														*
 *																		*
 *  History:															*
 *		2018/10/27		created                                         *
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
	<a href="/index.html">Home</a>:
    <a href="/genealogy.php?lang=$LANG">
			Genealogy
    </a>:
    <a href="/genCountry.php?cc=CA&lang=$LANG">
			Canada
    </a>:
    <a href="/Canada/genProvince.php?Domain=CAON&lang=$LANG">
			Ontario
    </a>:
    <a href="/FamilyTree/Services.php?lang=$LANG">
			Services
    </a>:
    <a href="/FamilyTree/nominalIndex.php?name=$NAMEURI&treename=$TREENAME&lang=$LANG">
			Nominal Index
    </a>:
    <a href="/FamilyTree/Surnames.php?initial=$PREFIX&lang=$LANG">
			Surnames Starting with '$PREFIX'
    </a>:
    <span id="allNamesInSurname">
    <a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=$LANG">
            All Persons with Surname '$SURNAME'
    </a>:
    </span>
  </div>
  <div class="body">
    <h1>
	  <span class="right">
	    <a href="/FamilyTree/NamesHelpen.html" target="help">? Help</a>
	  </span>
	  $TITLE
    </h1>
    $TRACE
	$MSG

    <h2>The $SURNAME Family Record</h2>
      <div class="row" id="IdnrRow">
        <label class="column1" for="Idnr">
	      IDNR:
        </label>
	       $IDNR
        <div style="clear: both;"></div>
      </div>
      <div class="row" id="SurnameRow">
        <label class="column1" for="Surname">
	      Surname:
        </label>
	      $SURNAME
        <div style="clear: both;"></div>
      </div>
      <div class="row" id="SoundsLikeRow">
        <label class="column1" for="SoundsLike">
	      SOUNDEX Code:
        </label>
	      $SOUNDSLIKE
        <div style="clear: both;"></div>
      </div>
      <div class="row" id="PatternRow">
        <label class="column1" for="Pattern">
	      Regular Expr. Pattern:
        </label>
	      $PATTERN
        <div style="clear: both;"></div>
      </div>
      <div class="row" id="NotesRow">
        <label class="column1" for="Notes">
	      Notes:
        </label>
        <div style="float: left; width: 80%; white-space: normal;">
        $NOTES
        </div>
        <div style="clear: both;"></div>
      </div>
    <form name="surnameForm" id="surnameForm"
	  action="/FamilyTree/Names.php" method="get">
      <p>
        <input type="hidden" name="Surname" 
	            value="$SURNAME">
        <input type="hidden" name="Edit" value="Y">
        <input type="hidden" name="lang" value="$LANG">
        <button type="submit" id="EditRecordButton">
	      <u>E</u>dit Surname Record
        </button>
      </p>
    </form>
  
    <p class="label">
	  <a href="/FamilyTree/Surnames.php?soundex=$SOUNDEX&lang=$LANG"
	  		id="soundexLink">
	      Surnames with the Same Soundex '$SOUNDEX'
	  </a>
    </p>
    <p class="label">
	  $COUNT individuals have the surname '$SURNAME'.
    </p>
  <!--- Put out a line with links to previous and next section of table -->
  <div class="center" id="showActualCount" >
    <span class="left" id="npPrevFront">
	<a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=$LANG&offset=$PREV&limit=$LIMIT" id="prenpprev">
	&lt;---
	</a>
    </span>
    <span class="right" id="npNextFront">
	<a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=$LANG&offset=$NEXT&limit=$LIMIT" id="prenpnext">
	    ---&gt;
	</a>
    </span>
      <span id="respdescrows">
      Displaying $ACTUALCOUNT starting with entry $OFFSET.
      </span>
    <div style="clear: both;"></div>
  </div> <!-- left and right arrow links -->
    <p id="deletedUnused">Deleted unused record for surname '$SURNAME'</p>
    <!--- Put out the response as a table -->
    <table id="namesTable">
    <!--- Put out the column headers -->
	  <tr id="row">
	      <td class="button" id="entry">
	  		<a href="/FamilyTree/Person.php?idir=$IDIR&lang=$LANG"
	  		   id="show$IDIR"
	  		    class="$GENDER">
	  		    $NAME
	  		</a>
	      </td>
	  </tr>
    </table>
    <hr>	<!-- start of blog section of page -->
    <form name="blogForm" id="blogForm" action="blogIndiv.php" method="post"
	  enctype="multipart/form-data">
        <div id="blogEntry">
		    <p class="label">
			  At $DATETIME user '$USERNAME' 
			  wrote:
		    </p>
		    <p>
			  $TEXT 
		    </p>
		    <p id="blogActions">
		      <button type="button" id="blEdit$BLID">
			    Edit Message
		      </button>
		      <button type="button" id="blDel$BLID">
			    Delete Message
		      </button>
		    </p>
        </div> <!-- id="blogEntry" -->
    <div class="hidden" id="hidden">
        <input type="hidden" name="userid" id="userid" value="$USERID">
        <input type="hidden" name="idnr" id="idnr" value="$IDNR">
        <input type="hidden" name="lang" id="lang" value="$LANG">
    </div>
    <p>
    <textarea name="message" id="message" placeholder="[message]"
	  rows="5" cols="100"></textarea>
    </p>
    <div class="row" id="blogEmailRow">
    <label class="column1" for="emailAddress">
	  Your E-Mail Address:
    </label>
    <input type="text" class="$EMAILCLASS leftnc" $EMAILREADONLY
            id="emailAddress" name="emailAddress"
	  		size="80" value="$EMAILADDRESS">
    </div>
    <div class="row" id="blogPostRow">
    <button type="button" id="PostBlog" accessKey="B">
	  Post <u>B</u>log
    </button>
    </div>
    </form> <!-- name="blogform" id="blogform" -->
  </div> <!-- class="body" -->
  <div class="hidden" id="templates">
	<span id="missing">Persons List Missing Surname</span>
	<span id="nosurname">Persons with No Surname</span>
	<span id="surname">Persons with the Surname '$SURNAME'</span>
    <div id="tranTab">
		<span data-key="No">No</span>
		<span data-key="female">female</span>
		<span data-key="male">male</span>
		<span data-key="unknown">unknown</span>
    </div>
  </div> <!-- id="templates" -->
  <div class="balloon" id="Helpidnr">
    This field displays the internal record number which is used by other
    records to link to this record
  </div>
  <div class="balloon" id="HelpSurname">
	This field displays the surname of the record.
  </div>
  <div class="balloon" id="HelpSoundsLike">
	This field displays the
    <a href="https://en.wikipedia.org/wiki/Soundex">SOUNDEX</a>
	code which is a representation of the surname
	that ignores minor differences between surnames.
  </div>
  <div class="balloon" id="HelpPattern">
	This field is used to manage a 
	<a href="https://en.wikipedia.org/wiki/Regular_expression">regular expression</a> pattern that provides a
	match which is more limited than the SoundsLike pattern.  Specifying
	a pattern of 'Smith' will include any individuals whose surnames
	<em>contain</em> the text 'smith'.  For example it will match against
	"Smithson" and "Sexsmith".  The
	pattern "^Sm[aeiouy]th" matches any string that starts with "sm" 
	followed by any vowel followed by the characters "th". 
	For example it will match "Smythe" and "Smothers".

  </div>
  <div class="balloon" id="HelpNotes">
	This field permits editing a general description of the family sharing the
	surname.
  </div>
  <div class="balloon" id="HelpUpdateRecordButton">
	Click on this button to apply changes to the record for this family.
  </div>
  <div class="balloon" id="HelpEditRecordButton">
	Click on this button to request an input form to modify the family record.
  </div>
  <div class="balloon" id="HelpsoundexLink">
    Click on this link to see a list of surnames that have a similar
    pronunciation to this one based upon the SOUNDEX algorithm.
  </div>
  <div class="balloon" id="Helpshow">
    Click on this link to see detailed information about
    the identified individual.
  </div>
  <div class="balloon" id="Help">
	Click on this link to go to the described part of the web site.
  </div>
  <div class="balloon" id="Helpmessage">
	Enter any information which you wish to share with other researchers
    working on this family.
  </div>
  <div class="balloon" id="HelpemailAddress">
	If you are not signed in as a registered contributor to the web-site you
	are required to supply an e-mail address to identify the source of any
	blog messages you post.
  </div>
  <div class="balloon" id="HelpPostBlog">
	Click on this button to post the message you have typed as a blog entry
	against this individual.
	The application also supports the keyboard shortcut Alt-B.
  </div>
	<script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
	<script src="/jscripts/util.js" type="text/javascript">
    </script>
	<script src="/jscripts/CommonForm.js" type="text/javascript">
    </script>
	<script src="/tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript">
    </script>
	<script src="/FamilyTree/Names.js" type="text/javascript">
    </script>
