<!--*********************************************************************
 *  Newsletterses.html												    *
 *																		*
 *  Template of list of monthly newsletters in Spanish.			        *
 *																		*
 *  History:															*
 *		2019/05/30		created   	      							    *
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
	<div id="breadcrumbs" class="hidden">
	  <a href="/index.html">Inicio</a>:
	  <a href="/genealogy.php?lang=es">Genealogía</a>:
	  <a href="/FamilyTree/Services.php?lang=es">Services</a>:
	</div> <!-- id="breadcrumbs" -->
	<div class="body">
	  <h1>Boletíns Mensuales
	    <span class="right">
		  <a href="/genealogyHelpes.html" target="help">?&nbsp;Ayuda</a>
	    </span>
	  </h1>
	  $TRACE
	  $MSG
	  <p class="label"  id="report$mm$year">
		<a href="/Newsletters/$filename" target="_blank">
			Boletín $month $year
		</a>
	  </p>
	</div> <!-- class=body -->
    <script src="/jscripts/util.js" type="text/javascript"></script>
	
