<!--*********************************************************************
 *  Newslettersde.html												    *
 *																		*
 *  Template of list of monthly newsletters in German.				    *
 *																		*
 *  History:															*
 *		2019/05/30		created   	      							    *
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
	<div id="breadcrumbs" class="hidden">
		<a href="/home.html">Startseite</a>:
	    <a href="/genealogy.php?lang=de">
		Stammbaumforschung
	    </a>:
	    <a href="/FamilyTree/Services.php?lang=de">
		Bedienungs
	    </a>:
	</div> <!-- id="breadcrumbs" -->
	<div class="body">
	  <h1>Monatliche Rundschreiben 
	    <span class="right">
		  <a href="/genealogyHelpde.html" target="help">?&nbsp;Hilfe</a>
	    </span>
	  </h1>
	  $TRACE
	  $MSG
	  <p class="label"  id="report$mm$year">
	    <a href="/Newsletters/$filename" target="_blank">
	  		$month $year
	  		Rundschreiben 
	  	</a>
	  </p>
	</div> <!-- class=body -->
    <script src="/jscripts/util.js" type="text/javascript"></script>
