<!--*********************************************************************
 *  Newslettersen.html												    *
 *																		*
 *  Template of list of monthly newsletters in English.			        *
 *																		*
 *  History:															*
 *		2019/05/30		created   	      							    *
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
	  <a href="/index.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">
	  Genealogy
      </a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">
	  Services
      </a>:
    </div> <!-- id="breadcrumbs" -->
    <div class="body">
      <h1>Monthly Newsletters 
        <span class="right">
		  <a href="/genealogyHelpen.html" target="help">?&nbsp;Help</a>
        </span>
      </h1>
      $TRACE
      $MSG
      <p class="label"  id="report$mm$year">
	    <a href="/Newsletters/$filename" target="_blank">
	  	    $month $year
	  	    Newsletter  
	    </a>
      </p>
    </div> <!-- class=body -->
    <script src="/jscripts/util.js" type="text/javascript"></script>
