<!--*********************************************************************
 *  OcfaDoQueryen.html													*
 *																		*
 *  Display the response to a query of the Ontario                      *
 *  Cemetery Finding Aid database										*
 *																		*
 *  History:															*
 *		2012/12/13		created											*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
      <a href="/genCountry.php?cc=CA&amp;lang=$LANG">Canada</a>:
      <a href="/Canada/genProvince.php?Domain=CAON&amp;lang=$LANG">Ontario</a>: 
      <a href="/Ontario/OcfaQuery.php?County=$COUNTY&amp;Township=$TOWNSHIP&amp;Cemetery=$CEMETERY&amp;GivenNames=$GIVENNAMES&amp;Surname=$SURNAME&amp;lang=$LANG">
		New Query
      </a>
    </div>
    <div class="body">
      <h1>Ontario Cemetery Finding Aid Query
        <span class="right">
	      <a href='OcfaDoQueryHelpen.html' target='_blank'>Help?</a>
        </span>
      </h1>
      $MSG
      $TRACE
      <!--- Put out a line with links to previous and next section of table -->
      <div class='center' id="topBrowse">
        <span class='left' id="topPrev">
            <a href='OcfaDoQuery.php?County=$COUNTY&amp;Township=$TOWNSHIP&amp;GivenName=$GIVENNAMES&amp;Surname=$SURNAME&amp;SurnameSoundex=$SURNAMESOUNDEX&amp;Count=$LIMIT&Offset=$PREVOFFSET' id='nextPage'>&lt;---</a>
        </span>
        <span class='right' id="topNext">
            <a href='OcfaDoQuery.php?County=$COUNTY&amp;Township=$TOWNSHIP&amp;GivenName=$GIVENNAMES&amp;Surname=$SURNAME&amp;SurnameSoundex=$SURNAMESOUNDEX&amp;Count=$LIMIT&Offset=$NEXTOFFSET' id='nextPage'>---&gt;</a>
        </span>
        	displaying rows $OFFSET1 to $OFFSETLAST of $TOTALROWS 
      </div>
      <!--- Put out the response as a table -->
      <table class='details' id="dataTable">
        <thead>
        <!--- Put out the column headers -->
          <tr>
			<th class='colhead'>
			  Surname
			</th>
			<th class='colhead'>
			  Given Names
			</th>
			<th class='colhead'>
			  Cemetery
			</th>
			<th class='colhead'>
			  Township
			</th>
			<th class='colhead'>
			  County
			</th>
		  </tr>
    	</thead>
    	<tbody>
    	  <tr id="Row$recordindex">
    		<td class='$class'>$surname</td>
	    	<td class='$class'>$givenname</td>
		    <td class='$class'>$cemetery</td>
    		<td class='$class'>$township</td>
    		<td class='$class'>$county</td>
    	  </tr>
        </tbody>
	  </table>
	  <!--- Put out a line with links to previous and next section of table -->
	  <div class='center'id="botBrowse">
	    <span class='left' id="botPrev">
            <a href='OcfaDoQuery.php?County=$COUNTY&amp;Township=$TOWNSHIP&amp;GivenName=$GIVENNAMES&amp;Surname=$SURNAME&amp;SurnameSoundex=$SURNAMESOUNDEX&amp;Count=$LIMIT&Offset=$PREVOFFSET' id='nextPage'>&lt;---</a>
	    </span>
	    <span class='right' id="botNext">
            <a href='OcfaDoQuery.php?County=$COUNTY&amp;Township=$TOWNSHIP&amp;GivenName=$GIVENNAMES&amp;Surname=$SURNAME&amp;SurnameSoundex=$SURNAMESOUNDEX&amp;Count=$LIMIT&Offset=$NEXTOFFSET' id='nextPage'>---&gt;</a>
	    </span>
	&nbsp;
	  </div>
	</div> <!-- end of <div id='body'> -->
	<script src="/jscripts/util.js"         language="JavaScript"></script>
	<script src="/Ontario/OcfaDoQuery.js"   language="JavaScript"></script>
