<!DOCTYPE HTML >
<html lang="es">
  <head>
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  pagees.html															*
 *																		*
 *  HTML template used for pages which are not dialogs.					*
 *																		*
 *  History:															*
 *      2018/11/28      created                                         *
 *      2019/01/29      use menu button                                 *
 *      2019/02/05      remove rightTop button                          *
 *      2019/04/14      add Facebook activation                         *
 *      2019/05/03      use classes to style advert and facebook        *
 *		2020/02/16      add right hand notification column              *
 *      2020/03/31      change advert iframe to div                     *
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2019 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada $KEYWORDS'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='/styles.css'>
    <link rel='stylesheet' type='text/css' href='$filename.css'
            id="otherStylesheets">
  </head>
  <body>
      
<script>
   var tinyMCEparms = {
		selector            : 'textarea',
	    plugins             : 'link lists image',
	    menubar             : false,
        language            : '$LANGTINY',
        skin                : 'oxide-dark',
	    toolbar             : "undo redo | styleselect | bold italic | " 
	                           + "alignleft aligncenter alignright alignjustify | " 
	                           + "bullist numlist | link image",
        height              : "170px",
	    content_css		    : "/styles.css"
	};
	
</script>
    <header id="headSection">
      <div class="topcrumbs"> <!-- start of page header -->
    	<img src="/logo70.gif" id="logo" class="right"
                height="70" width="70" alt="James Cobban Logo">
          &nbsp;
        <span class="advert" id="advertSpan">
          <div id="advertFrame" class="advert" data-load="$ADURL">
          </div>
        </span>
        <span id="menuButton" class="left">
          <div class="menuicon"></div>
          <div class="menuicon"></div>
          <div class="menuicon"></div>
        </span>
        <div class="menu" id="menu">
            $BREADCRUMBS
        </div>
        <div style='clear: both;'></div>
      </div> <!-- end of page header -->
    </header>
    <main id="mainSection">
      <noscript>
        <p class="warning">
          Para obtener una funcionalidad completa de este sitio es necesario 
          activar EcmaScript/JavaScript.  Aquí están las 
          <a href="https://www.enable-javascript.com/" target="_blank">
          instrucciones de cómo habilitar JavaScript en su navegador web</a>.
        </p>
      </noscript>
      $MAIN
    </main>
    <div id="rightColumn" class="rightCol">
        <p id="userWelcome">
          <b>Bienvenido $USERID</b>
        </p>
        <p>Puede publicar su árbol genealógico en este sitio 
        en un estilo que se parece a un libro tradicional, pero agrega 
        todas las capacidades dinámicas de la Web y protege a su familia 
        del robo de identidad al garantizar que solo las personas 
        que autoriza puedan ver detalles sobre cualquier persona 
        menor que 105 años
        </p>
    </div>
    <footer id="footSection">
      <div class='botcrumbs'>
  	    <a href='/contactAuthor.php?lang=de&amp;idir=$CONTACTKEY&amp;tableName=$CONTACTTABLE&amp;subject=$CONTACTSUBJECT' target='_blank'>
  	      Contactar al Autor</a>
  	    <br>
        <div style='clear: both;'></div>
      </div> <!-- end of page footer -->
    </footer>
    <div class='hidden' id='UserInfo'>
      <span id='UserInfoUserid'>$USERID</span>
      <span id='UserInfoAuthorized'>$AUTHORIZED</span>
      <span id='UserInfoOptions'>$OPTIONS</span>
      <span id='UserInfoSignon'><span title="Inicie sesión en su cuenta o regístrese para contribuir">Inscribirse</span></span>
      <span id='UserInfoAccount'>
          <a href="/Account.php?lang=es" id="session" target="_blank"
              title="le Estado de su Cuenta" class="menuitem">
              Cuenta $USERID
          <br></a>
          <a href="/Messages.php?lang=$LANG" id="messages" target="_blank"
              title="Your messages" class="menuitem">
              Mensajes
            <span id="gotMail">
                <img src="/envelope.svg" alt="You have mail" style="display: inline-block; height: 19px;"/>
            </span>
          <br></a>
      </span>
      <span id='UserInfoAbout'>Sobre Este Sitio</span>
    </div>
    <div class='balloon' id='msgDiv'>
    </div>
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for dialog reporting error from getIndivNamesXml.php -->
      <form name='Msg\$template' id='Msg\$template'>
	<p class='message'>\$msg</p>
	<p>
	  <button type='button' id='closeDlg\$template'>
    	OK
	  </button>
	</p>
      </form>
    </div>		<!-- id='hideMsgTemplate'-->
  </body>
</html>
