<!DOCTYPE HTML >
<html lang="fr">
  <head>
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  pagefr.html															*
 *																		*
 *  HTML template used for pages which are not dialogs.					*
 *																		*
 *  History:															*
 *		2018/11/28		Created											*
 *      2019/01/29      use menu button                                 *
 *      2019/02/05      remove rightTop button                          *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2019 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada $KEYWORDS'>
    <link rel='stylesheet' type='text/css' href='/styles.css'>
    <link rel='stylesheet' type='text/css' href='$filename.css'
            id="otherStylesheets">
  </head>
  <body>
    <header id="headSection">
      <div class="topcrumbs"> <!-- start of page header -->
    	<img src="/logo70.gif" id="logo" class="right"
                height="70" width="70" alt="James Cobban Logo">
          &nbsp;
        <span class="right" style="width: 360px;" id="facebookSpan">
      	  <iframe id='facebookFrame' class='facebook' $IECRAP>
      	  </iframe>
          &nbsp;
        </span>
        <span class="right" style="width: 500px;" id="advertSpan">
          <iframe id='advertFrame' class='advert' $IECRAP src='$ADURL'>
          </iframe>
        </span>
        <span id="menuButton" class="left">
          <div class="menuicon"></div>
          <div class="menuicon"></div>
          <div class="menuicon"></div>
        </span>
        <div class="menu" id="menu">
          $BREADCRUMBS
        </div>
        <div style='clear: both;'></div>
      </div> <!-- end of page header -->
    </header>
    <main id="mainSection">
	  <noscript>
	    <p class="warning">
	      Pour utiliser toutes les fonctionnalités de ce site, 
	      il faut d'activer EcmaScript/JavaScript.
	      Voici <a href="https://www.enable-javascript.com/" target="_blank">
	      les instructions pour activer JavaScript dans votre navigateur Web</a>.
	    </p>
      </noscript>
      $MAIN
    </main>
    <footer id="footSection">
      <div class='botcrumbs'>
  	    <a href='/contactAuthor.php?lang=fr&idir=$CONTACTKEY&amp;tableName=$CONTACTTABLE&amp;subject=$CONTACTSUBJECT' target='_blank'>
  	      Contacter l'auteur</a>
  	    <br>
        <div style='clear: both;'></div>
      </div> <!-- end of page footer -->
    </footer>
    <div class='hidden' id='UserInfo'>
      <span id='UserInfoUserid'>$USERID</span>
      <span id='UserInfoAuthorized'>$AUTHORIZED</span>
      <span id='UserInfoOptions'>$OPTIONS</span>
      <span id='UserInfoSignon'><span title="Connectez-vous à votre compte ou inscrivez-vous pour contribuer">se Connecter</span></span>
      <span id='UserInfoAccount'>
          <a href="/Account.php?lang=fr" id="session" target="_blank"
              title="le Statut de votre Compte">
              Compte $USERID
            <span id="gotMail">
                <img src="/envelope.svg" alt="You have mail" style="display: inline; height: 19px;"/>
            </span>
          </a><br>
      </span>
      <span id='UserInfoAbout'>à Propos de ce Site</span>
    </div>
    <div class='balloon' id='msgDiv'>
    </div>
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for dialog reporting error -->
      <form name='Msg\$template' id='Msg\$template'>
	    <p class='message'>\$msg</p>
	    <p>
	      <button type='button' id='closeDlg\$template'>
        	d'Accord
	      </button>
	    </p>
      </form>
    </div>		<!-- id='hideMsgTemplate'-->
  </body>
</html>
