<!--*********************************************************************
 *  PageFormDisplayen.html												*
 *																		*
 *  Template to display page to display the Pages database for a single *
 *  enumeration division.		                                        *
 *																		*
 *  History:															*
 *      2019/11/12      created                                         *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
      <a href="/genealogy.php?lang=$LANG">
        Genealogy</a>: 
      <a href="/genCountry.php?cc=$CC&lang=$LANG">
		$COUNTRYNAME</a>:
      <a href="/database/genCensuses.php?cc=$CC&lang=$LANG">
        Censuses</a>:
      <a href="/database/EditCensuses.php?cc=$CC&lang=$LANG">
        Censuses Admin</a>:
      <a href="/database/DistForm.php?Census=$CENSUSID&Province=$PROVINCE&lang=$LANG">
	    $CENSUSID Districts Admin</a>:
      <a href="/database/ReqUpdateSubDists.php?Census=$CENSUSID&Province=$PROVINCE&District=$DISTID&lang=$LANG">
	    Select Sub-District</a>:
      <a href="SubDistForm.php?Census=$CENSUSID&Province=$PROVINCE&District=$DISTID&lang=$LANG">
	    District $DISTID $DISTNAME SubDistricts Admin</a>:
	  <a href="ReqUpdatePages.php?Census=$CENSUSID&Province=$PROVINCE&District=$DISTID&SubDistrict=$SUBDISTID&lang=$LANG">
	    Select Division</a>:
    </div> <!-- id="breadcrumbs" -->
    <div class="body" id="transcription"
            style="overflow: auto; overflow-x: scroll">
      <h1>
        <span class="right">
	      <a href="PageFormHelpen.html" target="_blank">
	        Help?
	      </a>
        </span>
            Census Administration: $COUNTRYNAME $CENSUSYEAR Census,
            Page Table Display
      </h1>
	  <p class="warning">
        The database will not be updated because you are not signed on as
        a user authorized to update this table.
      </p>
      $TRACE
      $MSG
      <div class="spaceBetween" id="topBrowse">
        <span id="topPrev">
    	    <a href="PageForm.php$NPPREV"><img src="/Images/ArrowLeft.svg"></a>
        </span>
        <span id="topNext">
	        <a href="PageForm.php$NPNEXT"><img src="/Images/ArrowRight.svg"></a>
        </span>
          Census=$CENSUSID, Province=$PROVINCE, Dist $DISTID $DISTNAME,
          SubDist $SUBDISTID $SUBDISTNAME
            <span id="topDiv">, Div $DIVISION</span>
      </div>
      <!--- Put out the response as a table -->
      <form name="censusForm" id="censusForm"
	        action="PageUpdate.php" 
	        method="post" 
	        autocomplete="off" 
	        enctype="multipart/form-data">
        <!-- parameters identifying the division being editted -->
        <input type="hidden" name="Census" id="Census" 
            value="$CENSUSID">
        <input type="hidden" name="Province" id="Province" 
            value="$PROVINCE">
        <input type="hidden" name="District" id="District" 
            value="$DISTID">
        <input type="hidden" name="SubDistrict" id="SubDistrict" 
            value="$SUBDISTID">
        <input type="hidden" name="Division" id="Division" 
            value="$DIVISION">
        <input type="hidden" name="Debug" id="Debug" 
            value="$DEBUG">
        <table id="dataTable" class="form fixed_header">
		  <thead><!--- Put out the column headers -->
			<tr>
			  <th class="colhead">
	            Page
			  </th>
			  <th class="colhead">
	            Count
			  </th>
			  <th class="colhead">
	            Transcriber
			  </th>
			  <th class="colhead">
	            Proofreader
			  </th>
			  <th class="colhead">
	            Image URL
			  </th>
			  <th class="colhead">
	            View
			  </th>
			</tr>
          </thead>
          <tbody>
			<tr id="pageRow$page">
			  <td>
			    <input type="text" name="PT_Page$page"
			    		id="PT_Page$page"
			    		value="$page" readonly="readonly"
			    		class="ina rightnc" size="3">
			  </td>
			  <td>
			    <input type="text" name="PT_Population$page" 
			    		id="PT_Population$page" 
			    		value="$population" readonly="readonly" 
			    		class="ina rightnc" size="3">
			  </td>
			  <td>
			    <input type="text" name="PT_Transcriber$page" 
			    		id="PT_Transcriber$page" 
			    		value="$transcriber" readonly="readonly" 
			    		class="ina leftnc" size="10">
			  </td>
			  <td>
			    <input type="text" name="PT_ProofReader$page" 
			    		id="PT_ProofReader$page" 
			    		value="$proofreader" readonly="readonly" 
			    		class="ina leftnc" size="10">
			  </td>
			  <td>
			    <input type="text" name="PT_Image$page" 
			    		id="PT_Image$page" 
			    		value="$image" readonly="readonly" 
			    		class="ina leftnc" size="64">
			  </td>
			  <td>
			    <button type="button" id="View$page">View</button>
			  </td>
			</tr>
          </tbody>
        </table>
      </form>
      <div class="spaceBetween" id="botBrowse">
        <span id="botPrev">
	      <a href="$NPURI$NPPREV"><img src="/Images/ArrowLeft.svg"></a>
        </span>
        <span>
          Census=$CENSUSID, Province=$PROVINCE, Dist $DISTID $DISTNAME,
          SubDist $SUBDISTID $SUBDISTNAME
            <span id="botDiv">, Div $DIVISION</span>
        </span>
        <span id="botNext">
	      <a href="$NPURI$NPNEXT"><img src="/Images/ArrowRight.svg"></a>
        </span>
      </div>
    </div> <!-- end of <div id="body"> -->
    <!-- templates for dynamic HTML -->
    <div class="hidden" id="templates">
        <span id="censusUndefined">
            Census='$CENSUSID' is not defined.
        </span>  
        <span id="countryUndefined">
            Country code '$CC' is not defined.
        </span>  
        <span id="censusMissing">
            Census identifier parameter is missing.
        </span>
        <span id="provinceInvalid">
            Province '$province' is syntactically invalid.
        </span>  
        <span id="provinceUndefined">
            Province '$PROVINCE' not supported for '$CENSUSID' census.
        </span>  
        <span id="provinceMissing">
            Province parameter is missing for Census='$CENSUSID'.
        </span>
        <span id="districtUndefined">
            District='$DISTID' is not defined.
        </span>  
        <span id="districtInvalid">
            District identifier '$DISTID' is invalid.
        </span>  
        <span id="districtMissing">
            District identifier parameter is missing.
        </span>
        <span id="subdistrictUndefined">
            Sub-District='$SUBDISTID' is not defined for Census='$CENSUSID' District='$DISTID'.
        </span>  
        <span id="subdistrictMissing">
            Sub-District identifier parameter is missing.
        </span>
      <!-- no matching names dialog -->
      <form id="ChangeImageForm$sub">
        <p class="label">Image URL Changed</p>
        <p>Increment URLs for Pages Following 
    	<input type="text" name="Page" value="$page"
    		size="3" class="white rightnc"> by
    	<input type="text" name="Increment" value="$increment"
    		size="3" class="white rightnc">
        </p>
        <p>
  	    <button type="button" id="incrementImage$sub">Increment</button>
  	    <button type="button" id="closeDlg$sub">Close</button>
        </p>
      </form>
    </div> <!-- id="templates" -->
    <!-- The remainder of the page consists of context specific help text.
    -->
    <div class="balloon" id="HelpCensus">
      The census for which you wish to update the Census Page description table
      is identified by selecting the year of the census from this list.
    </div>
    <div class="balloon" id="HelpProvince">
      The province selection list is populated once you have selected a
      particular census.  This is used to restrict the list of districts
      displayed to those within the selected province.  For pre-confederation
      censuses it is mandatory to select a province, because the census was
      administered separately within each colony.
    </div>
    <div class="balloon" id="HelpDistrict">
      The District selection list is populated once you have selected a
      particular Census, and is modified if you select a province
      within the Census.
      Select one district.
    </div>
    <div class="balloon" id="HelpSubDistrict">
      The Sub-District selection list is populated once you have selected a
      particular district.
    </div>
    <div class="balloon" id="HelpDivision">
      If the Sub-District is divided into multiple enumeration divisions, then
      this selection list is presented to permit you to select the specific
      division.
    </div>
    <div class="balloon" id="HelpPT_Page">
      This field identifies the page number within the division. 
      It is not editable.
    </div>
    <div class="balloon" id="HelpPT_Population">
      This field contains the count of the number of individuals enumerated in
      the image of the original.  For most pages it is the number of rows on
      the original form.
      This is a decimal number.
    </div>
    <div class="balloon" id="HelpPT_Image">
      The Image field contains the URL of the original census image as
      it is available from the Library and Archives of Canada web-site.
      If you change just the last numeric part of the image, then a dialog
      pops up to ask if you wish the URLs of the following pages to be
      adjusted by the same increment you applied to the current image.
    </div>
    <div class="balloon" id="HelpPT_Transcriber">
      The transcriber field contains the user identifier of the individual 
      responsible for transcribing this page.  It is set to the first user
      to edit the page.  Once set the page is edittable only by that user,
      all other users, including the proofreader, can only comment on the 
      transcription.
    </div>
    <div class="balloon" id="HelpPT_ProofReader">
      The proofreader field contains the user identifier of the individual 
      responsible for proofreading this page.
    </div>
    <div class="balloon" id="HelpView">
      Click on this button to view the image file identified in the preceding
      field in a new window.
    </div>
    <div class="balloon" id="HelpSubmit">
      Click on this button to apply the changes to the page table database.
      alternatively you may use the keyboard shortcut Alt-U.
    </div>
    <script src= '/jscripts/CommonForm.js' type="text/javascript">
    </script>
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= '/database/PageForm.js' type="text/javascript">
    </script>
