<!DOCTYPE HTML >
<html lang="de">
  <head>
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  pagede.html															*
 *																		*
 *  HTML template used for pages which are not dialogs.					*
 *																		*
 *  History:															*
 *      2018/11/28      created                                         *
 *      2019/01/29      use menu button                                 *
 *      2019/02/05      remove rightTop button                          *
 *      2019/04/14      add Facebook activation                         *
 *      2019/05/03      use classes to style advert and facebook        *
 *		2020/02/16      add right hand notification column              *
 *      2020/03/31      change advert iframe to div                     *
 *      2021/03/19      drop support for alignment in tinyMCE           *
 *																		*
 *  Copyright &copy; 2021 James A. Cobban								*
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2021 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada $KEYWORDS'>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='/styles.css'>
    <link rel='stylesheet' type='text/css' href='$filename.css'
            id="otherStylesheets">
  </head>
  <body>
      
<script>
   var tinyMCEparms = {
		selector            : 'textarea',
	    plugins             : 'link lists image',
	    menubar             : false,
        language            : '$LANGTINY',
        skin                : 'oxide-dark',
	    toolbar             : "undo redo | styleselect | bold italic | " 
	                           + "bullist numlist | link image",
        height              : "170px",
	    content_css		    : "/styles.css"
	};
	
</script>
    <header id="headSection">
      <div class="topcrumbs"> <!-- start of page header -->
    	<img src="/logo70.gif" id="logo" class="right"
                height="70" width="70" alt="James Cobban Logo">
          &nbsp;
        <span class="advert" id="advertSpan">
          <div id="advertFrame" class="advert" data-load="$ADURL">
          </div>
        </span>
        <span id="menuButton" class="left">
          <div class="menuicon"></div>
          <div class="menuicon"></div>
          <div class="menuicon"></div>
        </span>
        <div class="menu" id="menu">
            $BREADCRUMBS
        </div>
        <div style='clear: both;'></div>
      </div> <!-- end of page header -->
    </header>
    <main id="mainSection">
      <noscript>
        <p class="warning">
          Für die volle Funktionalität dieser Website muss EcmaScript/JavaScript
          aktiviert sein.  Hier finden Sie die
          <a href="https://www.enable-javascript.com/" target="_blank">
          Anweisungen zum Aktivieren von JavaScript in Ihrem Webbrowser</a>.
        </p>
      </noscript>
      $MAIN
    </main>
    <div id="rightColumn" class="rightCol">
        <p id="userWelcome">
          <b>Willkommen $USERID</b>
        </p>
        <p>Sie können Ihren Stammbaum auf dieser Website 
        in einem Stil veröffentlichen, der wie ein traditionelles 
        Buch aussieht, jedoch alle dynamischen Funktionen des Webs 
        hinzufügt und Ihre Familie vor Identitätsdiebstahl schützt, 
        indem sichergestellt wird, dass nur von Ihnen 
        autorisierte Personen Details zu Personen sehen können, 
        die kleiner als sind 105 Jahre alt.
        </p>
    </div>
    <footer id="footSection">
      <div class='botcrumbs'>
  	    <a href='/contactAuthor.php?lang=de&amp;idir=$CONTACTKEY&amp;tableName=$CONTACTTABLE&amp;subject=$CONTACTSUBJECT' target='_blank'>
  	      Autor kontaktieren</a>
  	    <br>
        <div style='clear: both;'></div>
      </div> <!-- end of page footer -->
    </footer>
    <div class='hidden' id='UserInfo'>
      <span id='UserInfoUserid'>$USERID</span>
      <span id='UserInfoAuthorized'>$AUTHORIZED</span>
      <span id='UserInfoOptions'>$OPTIONS</span>
      <span id='UserInfoSignon'><span title="Melden Sie sich bei Ihrem Konto an oder registrieren Sie sich, um beizutragen">Anmelden</span></span>
      <span id='UserInfoAccount'>
          <a href="/Account.php?lang=de" id="session" target="_blank"
              title="Ihr Kontostatus" class="menuitem">
              Konto $USERID
          <br></a>
          <a href="/Messages.php?lang=$LANG" id="messages" target="_blank"
              title="Ihre Mitteilungen" class="menuitem">
              Mitteilungen
            <span id="gotMail">
                <img src="/envelope.svg" alt="You have mail" style="display: inline-block; height: 19px;"/>
            </span>
          <br></a>
      </span>
      <span id='UserInfoAbout'>Über diese Seite</span>
    </div>
    <div class='balloon' id='msgDiv'>
    </div>
    <div class="hidden">
      <span id="maxLengthMessage">
          In dieses Feld dürfen maximal $maxlength Zeichen eingegeben werden.
      </span>
      <span id="capitalizationMessage">
          Der in dieses Feld eingegebene Text wird automatisch großgeschrieben.
      </span>
      <span id="abbrMessage">
          Die folgenden Abkürzungen werden erweitert:
      </span>
    </div>
                
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for customized alerts -->
      <form name='Msg\$template' id='Msg\$template'>
	<p class='message'>\$msg</p>
	<p>
	  <button type='button' id='closeDlg\$template'>
    	OK
	  </button>
	</p>
      </form>
	  <div class="balloon" id="HelpcloseDlg">
	    Klicken Sie auf diese Schaltfläche, um diesen Nachrichtendialog
        zu schließen.
	  </div>
    </div>		<!-- id='hideMsgTemplate'-->
  </body>
</html>
