<!DOCTYPE HTML >
<html lang="en">
  <head>
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  page.html															*
 *																		*
 *  HTML template used for pages which are not dialogs.					*
 *																		*
 *  History:															*
 *		2017/09/15		Created											*
 *		2018/01/25		optional CSS and Javascript removed				*
 *		2018/02/04		update header/footer links						*
 *		2018/05/27		add insertion for other style sheets			*
 *      2019/01/29      use menu button                                 *
 *      2019/02/05      remove rightTop button                          *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2019 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada $KEYWORDS'>
    <link rel='stylesheet' type='text/css' href='/styles.css'>
    <link rel='stylesheet' type='text/css' href='$filename.css'
            id="otherStylesheets">
  </head>
  <body>
      
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2096433630426301',
      cookie     : true,
      xfbml      : true,
      version    : 'v3.2'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <header id="headSection">
      <div class="topcrumbs"> <!-- start of page header -->
    	<img src="/logo70.gif" id="logo" class="right"
                height="70" width="70" alt="James Cobban Logo">
          &nbsp;
        <span class="right" style="width: 360px;" id="facebookSpan">
      	  <iframe id='facebookFrame' class='facebook' $IECRAP>
      	  </iframe>
          &nbsp;
        </span>
        <span class="right" style="width: 500px;" id="advertSpan">
          <iframe id='advertFrame' class='advert' $IECRAP src='$ADURL'>
          </iframe>
        </span>
        <span id="menuButton" class="left">
          <div class="menuicon"></div>
          <div class="menuicon"></div>
          <div class="menuicon"></div>
        </span>
        <div class="menu" id="menu">
            $BREADCRUMBS
        </div>
        <div style='clear: both;'></div>
      </div> <!-- end of page header -->
    </header>
    <main id="mainSection">
  	<noscript>
  	  <p class="warning">
      	 For full functionality of this site it is necessary to enable
           JavaScript.  Here are the
           <a href="https://www.enable-javascript.com/" target="_blank">
      	 instructions how to enable JavaScript in your web browser</a>.
        </p>
  	</noscript>
  	$MAIN
    </main>
    <footer id="footSection">
      <div class='botcrumbs'>
      	<a href='/contactAuthor.php?idir=$CONTACTKEY&amp;tableName=$CONTACTTABLE&amp;subject=$CONTACTSUBJECT' target='_blank'>
      	    Contact Author</a>
        <div style='clear: both;'></div>
      </div> <!-- end of page footer -->
    </footer>
    <div class='hidden' id='UserInfo'>
      <span id='UserInfoUserid'>$USERID</span>
      <span id='UserInfoAuthorized'>$AUTHORIZED</span>
      <span id='UserInfoOptions'>$OPTIONS</span>
      <span id='UserInfoSignon'>Sign On</span>
      <span id='UserInfoAccount'>
          <a href="/Account.php?lang=$LANG" id="session" target="_blank"
              title="el Estado de su Cuenta">
              Cuenta $USERID
            <span id="gotMail">
                <img src="/envelope.svg" alt="You have mail" style="display: inline; height: 19px;"/>
            </span>
          </a><br>
      </span>
      <span id='UserInfoAbout'>About this Site</span>
    </div>
    <div class='balloon' id='msgDiv'>
    </div>
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for dialog reporting error from getIndivNamesXml.php -->
      <form name='Msg\$template' id='Msg\$template'>
	<p class='message'>\$msg</p>
	<p>
	  <button type='button' id='closeDlg\$template'>
    	OK
	  </button>
	</p>
      </form>
    </div>		<!-- id='hideMsgTemplate'-->
  </body>
</html>
