<!DOCTYPE HTML >
<html lang="en">
  <head>
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  page.html															*
 *																		*
 *  HTML template used for pages which are not dialogs.					*
 *																		*
 *  History:															*
 *		2017/09/15		Created											*
 *		2018/01/25		optional CSS and Javascript removed				*
 *		2018/02/04		update header/footer links						*
 *		2018/05/27		add insertion for other style sheets			*
 *      2019/01/29      use menu button                                 *
 *      2019/02/05      remove rightTop button                          *
 *      2020/03/09      remove facebook                                 *
 *      2020/03/31      change advert iframe to div                     *
 *      2021/03/19      drop support for alignment in tinyMCE           *
 *																		*
 *  Copyright &copy; 2021 James A. Cobban								*
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2021 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada $KEYWORDS'>
    <link rel='stylesheet' type='text/css' href='/styles.css'>
    <link rel='stylesheet' type='text/css' href='$filename.css'
            id="otherStylesheets">
  </head>
  <body>
      
<script>
   var tinyMCEparms = {
		selector            : 'textarea',
	    plugins             : 'link lists image',
	    menubar             : false,
        language            : '$LANG',
        skin                : 'oxide-dark',
	    toolbar             : "undo redo | styleselect | bold italic | " 
	                           + "bullist numlist | link image",
        height              : "170px",
	    content_css		    : "/styles.css"
	};
	
</script>
    <header id="headSection">
      <div class="topcrumbs"> <!-- start of page header -->
    	<img src="/logo70.gif" id="logo" class="right"
                height="70" width="70" alt="James Cobban Logo">
          &nbsp;
        <span class="right" style="width: 500px;" id="advertSpan">
          <div id="advertFrame" class="advert" data-load="$ADURL">
          </div>
        </span>
        <span id="menuButton" class="left">
          <div class="menuicon"></div>
          <div class="menuicon"></div>
          <div class="menuicon"></div>
        </span>
        <div class="menu" id="menu">
            $BREADCRUMBS
        </div>
        <div style='clear: both;'></div>
      </div> <!-- end of page header -->
    </header>
    <main id="mainSection">
  	<noscript>
  	  <p class="warning">
      	 For full functionality of this site it is necessary to enable
           JavaScript.  Here are the
           <a href="https://www.enable-javascript.com/" target="_blank">
      	 instructions how to enable JavaScript in your web browser</a>.
        </p>
  	</noscript>
  	$MAIN
    </main>
    <footer id="footSection">
      <div class='botcrumbs'>
      	<a href='/contactAuthor.php?idir=$CONTACTKEY&amp;tableName=$CONTACTTABLE&amp;subject=$CONTACTSUBJECT' target='_blank'>
      	    Contact Author</a>
        <div style='clear: both;'></div>
      </div> <!-- end of page footer -->
    </footer>
    <div class='hidden' id='UserInfo'>
      <span id='UserInfoUserid'>$USERID</span>
      <span id='UserInfoAuthorized'>$AUTHORIZED</span>
      <span id='UserInfoOptions'>$OPTIONS</span>
      <span id='UserInfoSignon'>Sign On</span>
      <span id='UserInfoAccount'>
          <a href="/Account.php?lang=$LANG" id="session" target="_blank"
              title="Your account status">
              Account $USERID
          </a><br>
          <a href="/Messages.php?lang=$LANG" id="messages" target="_blank"
              title="Your messages" class="menuitem">
              Messages
            <span id="gotMail">
                <img src="/envelope.svg" alt="You have mail" style="display: inline-block; height: 19px;"/>
            </span>
          </a><br>
      </span>
      <span id='UserInfoAbout'>About this Site</span>
    </div>
    <div class='balloon' id='msgDiv'>
    </div>
    <div class="hidden">
      <span id="maxLengthMessage">
          A maximum of $maxlength characters may be entered in this field.
      </span>
      <span id="capitalizationMessage">
          Text entered in this field is automatically capitalized.
      </span>
      <span id="abbrMessage">
          The following abbreviations are expanded:
      </span>
    </div>
                
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for customized alerts -->
      <form name='Msg\$template' id='Msg\$template'>
	<p class='message'>\$msg</p>
	<p>
	  <button type='button' id='closeDlg\$template'>
    	OK
	  </button>
	</p>
      </form>
	  <div class="balloon" id="HelpcloseDlg">
	    Click this button to close this message dialog.
	  </div>
    </div>		<!-- id='hideMsgTemplate'-->
  </body>
</html>
