<!--*********************************************************************
 *  PageForm.php														*
 *																		*
 *  Update the Pages database for a single enumeration division.		*
 *																		*
 *  History:															*
 *      2019/02/26      created                                         *
 *																		*
 *  Copyright &copy; 2017 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
      <a href="/genealogy.php?lang=$LANG">
        Génealogie</a>: 
      <a href="/genCountry.php?cc=$CC&lang=$LANG">
		$COUNTRYNAME</a>:
      <a href="/database/genCensuses.php?lang=$LANG">
        Recensements</a>:
      <a href="/database/EditCensuses.php?lang=$LANG">
        Administration des Recensements</a>:
      <a href="/database/DistForm.php?Census=$CENSUSID&Province=$PROVINCE&lang=$LANG">
	    Administration des Districts $CENSUSID</a>:
      <a href="/database/ReqUpdateSubDists.php$SEARCH&lang=$LANG">
	    Choisir un Sous-District</a>:
      <a href="SubDistForm.php?Census=$CENSUSID&Province=$PROVINCE&District=$DISTID">
	    Administration des Sous-Districts de District $DISTID $DISTNAME</a>:
	  <a href="ReqUpdatePages.php$SEARCH">
	    Choisir une Division</a>:
    </div> <!-- id="breadcrumbs" -->
    <div class="body" id="transcription"
            style="overflow: auto; overflow-x: scroll">
      <h1>
        <span class="right">
	      <a href="PageFormHelpen.html" target="_blank">
	        Aide?
	      </a>
        </span>
    Administration des Recensements: Recensement de $COUNTRYNAME $CENSUSYEAR,
    District $DISTID, Sous-District $SUBDISTID,
    Mise a Jour la Table des Pages
        <div style="clear: both;"></div>
      </h1>
      <div class="center" id="topBrowse">
        <span class="left" id="topPrev">
    	    <a href="$NPURI$NPPREV">&lt;---</a>
        </span>
        <span class="right" id="topNext">
	      <a href="$NPURI$NPNEXT">---&gt;</a>
        </span>
          Census=$CENSUSID, Province=$PROVINCE, Dist $DISTID $DISTNAME,
          SubDist $SUBDISTID $SUBDISTNAME
            <span id="topDiv">, Div $DIVISION</span>
        <span style="clear: both;"></span>
      </div>
      <!--- Put out the response as a table -->
      <form name="censusForm"
	        action="PageUpdate.php" 
	        method="post" 
	        autocomplete="off" 
	        enctype="multipart/form-data">
        <!-- parameters identifying the division being editted -->
        <input type="hidden" name="Census" id="Census" 
            value="$CENSUSID">
        <input type="hidden" name="Province" id="Province" 
            value="$PROVINCE">
        <input type="hidden" name="District" id="District" 
            value="$DISTID">
        <input type="hidden" name="SubDistrict" id="SubDistrict" 
            value="<?php print $SUBDISTID;?>">
        <input type="hidden" name="Division" id="Division" 
            value="$DIVISION">
        <input type="hidden" name="Debug" id="Debug" 
            value="$DEBUG">
        <table id="dataTable" class="form">
		  <thead><!--- Put out the column headers -->
			<tr>
			  <th class="colhead">
	            Page
			  </th>
			  <th class="colhead">
	            Nombre
			  </th>
			  <th class="colhead">
	            transcripteur
			  </th>
			  <th class="colhead">
	            Rédacteur
			  </th>
			  <th class="colhead">
	            URL de l'Image
			  </th>
			  <th class="colhead">
	            Voir
			  </th>
			</tr>
          </thead>
          <tbody>
			<tr>
			  <td>
			    <input type="text" name="PT_Page$PAGENUM"
			    		id="PT_Page$PAGENUM"
			    		value="$PAGENUM" readonly="readonly"
			    		class="ina rightnc" size="3">
			  </td>
			  <td>
			    <input type="text" name="PT_Population$PAGENUM" 
			    		id="PT_Population$PAGENUM" 
			    		value="$POPULATION" $READONLY 
			    		class="white rightnc" size="3">
			  </td>
			  <td>
			    <input type="text" name="PT_Transcriber$PAGENUM" 
			    		id="PT_Transcriber$PAGENUM" 
			    		value="$TRANSCRIBER" $READONLY 
			    		class="white leftnc" size="10">
			  </td>
			  <td>
			    <input type="text" name="PT_ProofReader$PAGENUM" 
			    		id="PT_ProofReader$PAGENUM" 
			    		value="$PROOFREADER" $READONLY 
			    		class="white leftnc" size="10">
			  </td>
			  <td>
			    <input type="text" name="PT_Image$PAGENUM" 
			    		id="PT_Image$PAGENUM" 
			    		value="$IMAGE" $READONLY 
			    		class="white leftnc" size="64">
			  </td>
			  <td>
			    <button type="button" id="View$PAGENUM">View</button>
			  </td>
			</tr>
          </tbody>
        </table>
        <p>
          <button type="submit" id="Submit">
		    Mise a Jo<u>u</u>r la Base des Données
          </button>
        </p>
      </form>
      <div class="center" id="botBrowse">
        <span class="left" id="botPrev">
	      <a href="$NPURI$NPPREV">&lt;---</a>
        </span>
        <span class="right" id="botNext">
	      <a href="$NPURI$NPNEXT">---&gt;</a>
        </span>
          Census=$CENSUSID, Province=$PROVINCE, Dist $DISTID $DISTNAME,
          SubDist $SUBDISTID $SUBDISTNAME
            <span id="botDiv">, Div $DIVISION</span>
        <span style="clear: both;"></span>
      </div>
    </div> <!-- end of <div id="body"> -->
    <!-- templates for dynamic HTML -->
    <div class="hidden" id="templates">
      <!-- no matching names dialog -->
      <form id="ChangeImageForm$SUB">
        <p class="label">Image URL Changed</p>
        <p>Increment URLs for Pages Following 
    	<input type="text" name="Page" value="$PAGE"
    		size="3" class="white rightnc"> by
    	<input type="text" name="Increment" value="$INCREMENT"
    		size="3" class="white rightnc">
        <p>
  	    <button type="button" id="incrementImage$SUB">Increment</button>
  	    <button type="button" id="closeDlg$SUB">Close</button>
        </p>
      </form>
    </div> <!-- id="templates" -->
    <!-- The remainder of the page consists of context specific help text.
    -->
    <div class="balloon" id="HelpCensus">
      The census for which you wish to update the Census Page description table
      is identified by selecting the year of the census from this list.
    </div>
    <div class="balloon" id="HelpProvince">
      The province selection list is populated once you have selected a
      particular census.  This is used to restrict the list of districts
      displayed to those within the selected province.  For pre-confederation
      censuses it is mandatory to select a province, because the census was
      administered separately within each colony.
    </div>
    <div class="balloon" id="HelpDistrict">
      The District selection list is populated once you have selected a
      particular Census, and is modified if you select a province
      within the Census.
      Select one district.
    </div>
    <div class="balloon" id="HelpSubDistrict">
      The Sub-District selection list is populated once you have selected a
      particular district.
    </div>
    <div class="balloon" id="HelpDivision">
      If the Sub-District is divided into multiple enumeration divisions, then
      this selection list is presented to permit you to select the specific
      division.
    </div>
    <div class="balloon" id="HelpPT_Page">
      This field identifies the page number within the division. 
      It is not editable.
    </div>
    <div class="balloon" id="HelpPT_Population">
      This field contains the count of the number of individuals enumerated in
      the image of the original.  For most pages it is the number of rows on
      the original form.
      This is a decimal number.
    </div>
    <div class="balloon" id="HelpPT_Image">
      The Image field contains the URL of the original census image as
      it is available from the Library and Archives of Canada web-site.
      If you change just the last numeric part of the image, then a dialog
      pops up to ask if you wish the URLs of the following pages to be
      adjusted by the same increment you applied to the current image.
    </div>
    <div class="balloon" id="HelpPT_Transcriber">
      The transcriber field contains the user identifier of the individual 
      responsible for transcribing this page.  It is set to the first user
      to edit the page.  Once set the page is edittable only by that user,
      all other users, including the proofreader, can only comment on the 
      transcription.
    </div>
    <div class="balloon" id="HelpPT_ProofReader">
      The proofreader field contains the user identifier of the individual 
      responsible for proofreading this page.
    </div>
    <div class="balloon" id="HelpView">
      Click on this button to view the image file identified in the preceding
      field in a new window.
    </div>
    <div class="balloon" id="HelpSubmit">
      Click on this button to apply the changes to the page table database.
      alternatively you may use the keyboard shortcut Alt-U.
    </div>
    <script src= '/jscripts/CommonForm.js' type="text/javascript">
    </script>
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= '/database/PageForm.js' type="text/javascript">
    </script>
