<!DOCTYPE HTML >
<html lang="$LANG">
  <head>
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  page.html															*
 *																		*
 *  HTML template used for pages which are not dialogs.					*
 *																		*
 *  History:															*
 *		2017/09/15		Created											*
 *		2018/01/25		optional CSS and Javascript removed				*
 *		2018/02/04		update header/footer links						*
 *		2018/05/27		add insertion for other style sheets			*
 *																		*
 *  Copyright &copy; 2017 James A. Cobban								*
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2018 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada $KEYWORDS'>
    <link rel='stylesheet' type='text/css' href='/styles.css'>
    <link rel='stylesheet' type='text/css' href='$filename.css'
            id="otherStylesheets">
  </head>
  <body>
  <header>
  <div class='topcrumbs'> <!-- start of page header -->
    <span class='right'>
      <button id='rightTop' type='button'>
	    $BLOGFLAG$USERID$CONTRIBUTE
      </button>
    </span>
    <span class='right368'>
      <iframe id='advertFrame' class='advert' $IECRAP src='$ADURL'>
      </iframe>
    </span>
    $BREADCRUMBS
    <div style='clear: both;'></div>
    </div> <!-- end of page header -->
  </header>
  <main>
<noscript>
  <p class="warning">
 For full functionality of this site it is necessary to enable JavaScript.
 Here are the <a href="https://www.enable-javascript.com/" target="_blank">
 instructions how to enable JavaScript in your web browser</a>.
  </p>
</noscript>
$MAIN
  </main>
  <footer>
    <div class='botcrumbs'>
      <span class='right450'>
	<iframe id='facebookFrame' class='facebook' $IECRAP>
	</iframe>
	&nbsp;
	<img src='/logo70.gif' height='70' width='70' alt='James Cobban Logo'>
      </span>
	<a href='/contactAuthor.php?idir=$CONTACTKEY&amp;tableName=$CONTACTTABLE&amp;subject=$CONTACTSUBJECT' target='_blank'>
	  Contact Author</a>
	<br>
    $BREADCRUMBS
      <div style='clear: both;'></div>
    </div> <!-- end of page footer -->
  </footer>
    <div class='hidden' id='UserInfo'>
      <span id='UserInfoUserid'>$USERID</span>
      <span id='UserInfoAuthorized'>$AUTHORIZED</span>
      <span id='UserInfoOptions'>$OPTIONS</span>
    </div>
    <div class='balloon' id='HelprightTop'>
    Click on this button to signon to access extended features of the web-site
    or to manage your account with the web-site.
    </div>
    <div class='balloon' id='msgDiv'>
    </div>
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for dialog reporting error from getIndivNamesXml.php -->
      <form name='Msg\$template' id='Msg\$template'>
	<p class='message'>\$msg</p>
	<p>
	  <button type='button' id='closeDlg\$template'>
    	OK
	  </button>
	</p>
      </form>
    </div>		<!-- id='hideMsgTemplate'-->
  </body>
</html>
