<!--*********************************************************************
 *  Personfr.html                                                       *
 *                                                                      *
 *  Display a web page containing details of an particular individual   *
 *  from the Legacy table of individuals.                               *
 *                                                                      *
 * History:                                                             *
 *      2017/11/13      created     template for popups                 *
 *      2018/01/27      extend template to whole body                   *
 *      2019/05/17      correct initialization of Blog form             *
 *      2019/05/30      use current tinyMCE                             *
 *                                                                      *
 *  Copyright &copy; 2019 James A. Cobban                               *
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/home.html">Accueil</a>:
      <a href="/genealogy.php?lang=fr">
            Généalogie
      </a>:
      <a href="/FamilyTree/Services.php?lang=fr">
            Services
      </a>:
      <a href="/FamilyTree/nominalIndex.php?name=$NAMEURI&treename=$TREENAME&lang=fr">
            Indice Nominale
      </a>:
      <a href="/FamilyTree/Surnames.php?initial=$PREFIX&lang=fr">
            Noms de famille qui commence avec '$PREFIX'
      </a>:
      <a href="/FamilyTree/Names.php?Surname=$SURNAME&lang=fr">
            Nom de famille '$SURNAME'
      </a>:
    </div>
    <div class="body">
      <h1>
        <span class="right">
          <a href="/FamilyTree/PersonHelpfr.html" target="help">? Aide</a>
        </span>
          $TITLE
          <span id="inTree">: en arbre "$treeName"</span>
      </h1>
      $TRACE
      $MSG
      <div id="display">
          $BODY
      </div> <!-- id="display" -->
      <p id='wishtosee'>
          Si vous souhaitez voir les informations privées sur cet individu
        <span id='notloggedon'>
          <a href='/Register.php?lang=fr' target='_blank'>
            s'inscrire comme nouvel utilisateur</a> or
          <a href='/Signon.php?lang=fr' target='_blank'>
            connectez-vous en tant qu'utilisateur déjà inscrit</a>.
        </span>
        <span id='contactOwners'>
          <a href='/contactAuthor.php?idir=$IDIR&tableName=tblIR&subject=%5BFamily%20Tree%5D%20Please%20Grant%20Access%20to%20$TITLE%3A%20IDIR%3D$IDIR' target='_blank'>
            contacter les utilisateurs qui ont déjà accès
          </a>
            pour demander qu'ils vous accordent l'accès.
        </span>
      </p>
      <form name="actionsForm" id="actionsForm" action="nothing.php" method="post"
            enctype='multipart/form-data'>
        <div class="row" id="buttonsRow">
          <button type="button" id="showDescTree" accessKey="D">
                Arbre des <u>D</u>escendants
          </button>
          &nbsp;
          <button type="button" id="showAncTree" accessKey="A">
                Arbre des <u>A</u>ncêtres
          </button>
          &nbsp;
          <button type="button" id="relationshipCalc" accessKey="R">
                Calculateur de la <u>R</u>elation
          </button>
          &nbsp;
          <button type="button" id="edit" accessKey="E">
                Modifier cette personne
          </button>
          &nbsp;
          <button type="button" id="reqgrant" accessKey="I">
                Puis je modifier cette personne
          </button>
          &nbsp;
          <a href='/FamilyTree/getPersonSvg.php?idir=$IDIR&lang=en'
                    id="showGraphTree" target="picture" class="button">
              <img src='/logobutton.gif' height='25' width='81'
                        alt='James Cobban Logo'>
          </a>
        </div>
        <div id="searchParmsHidden" class="hidden">
          <input type="hidden" name="idir" id="idir"
                    value="$IDIR">
          <input type="hidden" name="givenname" id="givenname"
                    value="$GIVENNAME">
          <input type="hidden" name="surname" id="surname"
                    value="$SURNAME">
          <input type="hidden" name="treeName" id="treeName"
                    value="$TREENAME">
          <input type="hidden" name="birthDate" id="birthDate"
                    value="$BIRTHDATE">
          <input type="hidden" name="birthPlace" id="birthPlace"
                    value="$BIRTHPLACE">
          <input type="hidden" name="deathDate" id="deathDate"
                    value="$DEATHDATE">
          <input type="hidden" name="deathPlace" id="deathPlace"
                    value="$DEATHPLACE">
          <input type="hidden" name="fatherGivenName" id="fatherGivenName"
                    value="$FATHERGIVENNAME">
          <input type="hidden" name="fatherSurname" id="fatherSurname"
                    value="$FATHERSURNAME">
          <input type="hidden" name="motherGivenName" id="motherGivenName"
                    value="$MOTHERGIVENNAME">
          <input type="hidden" name="motherSurname" id="motherSurname"
                    value="$MOTHERSURNAME">
        </div>
      </form>
      <div class="row" style="width: 100%" id="blogHr">
        <hr>	<!-- start of blog section of page -->
      </div>
      <form name="blogForm" id="blogForm" 
            action="blogIndiv.php" method="post"
            enctype='multipart/form-data'>
        <div id="blog$blid">
          <p class='label'>
              le $datetime employeur '$username' a écrit:
          </p>
          <p>
          $text
          </p>
          <div id="deleteButtons$showButtons">
            <p>
              <button type="button" id="blEdit$blid">
                    Modifier la Message
              </button>
              <button type="button" id="blDel$blid">
                    Ecraser la Message
              </button>
            </p>
          </div> <!-- id="deleteButtons$showButtons" -->
        </div> <!-- id="blog$blid" -->
      <input type="hidden" name="userid" id="userid"
            value="$USERID">
      <input type="hidden" name="idir" id="blogidir"
            value="$IDIR">
        <div style="width: 80%;">
          <textarea name="message" id="message" 
                    placeholder="[entrer message]"
                    rows='5' cols='100'></textarea>
        </div>
    <div class="row" id="blogEmailRow">
      <label class='column1' for='emailAddress'>
            Votre Addresse Courriel:
      </label>
      <input type="text" class="white leftnc"
                    id="emailAddress" name="emailAddress"
                    size="80" value="$EMAIL">
    </div>
    <div class="row" id="blogPostRow">
      <button type="button" id="PostBlog" accessKey="B">
            Poster <u>B</u>log
      </button>
    </div>
  </form> <!-- name="blogform" id="blogform" -->
      </div>
      <div id="footnotesSection">
        <hr class='footnotes'/>
        <p class='label'>Notes de bas de page:</p>
        <div id='footnote$key'>
          <div class="row">
            <div class="column1" id="#fn$key">
              $key
            </div>
            $text
          </div> <!-- class='row' -->
          <div style="margin-left: 3em;">
            $other
          </div>
        </div> <!-- class='footnote$key' -->
      </div> <!-- id="footnotesSection" -->
    </div> <!-- class="body" -->

    <div class="hidden" id="messages">
      <span id="missingID">
        Paramètre d'identification obligatoire manquant.
      </span>
      <span id="notFoundTitle">
        Personne non trouvée
      </span>
      <span id="invisibleTitle">
        La personne n'est pas visible publiquement
      </span>
      <span id="neverMarried">
        Ce couple ne s'est jamais marié. 
      </span>
      <div id="showText$IDSX" class="row" style="white-space: normal;">
        $TEXT 
      </div>
      <div id="showNote$IDSX" class="row" style="white-space: normal;">
          <strong>Note:</strong> $NOTE 
      </div>
    </div> <!-- id="messages" -->

    <div class="hidden" id="rightColSelection">
      <span id="rightcol1">
        <p>
        Lorsque l'on utilise cette page sur un ordinateur avec
        un dispositif de pointage, par exemple une souris, le fait 
        de maintenir le dispositif de pointage au-dessus de n'importe 
        quel élément d'information entraîne l'affichage d'une 
        explication de cet élément d'information dans une fenêtre 
        contextuelle. Ceci comprend:
        </p>
        <ol>
          <li>Les noms des membres de la famille mis en évidence 
              sous forme d'hyperliens.
          </li>
          <li>Lieux où se sont déroulés les événements. Cela offre 
              la possibilité de voir une carte de l'emplacement.
          </li>
          <li>Causes de décès expliquées par un dictionnaire médical.
          </li>
          <li>Noms des sources
          </li>
          <li>Identifications des pages de citation.
          </li>
        </ol>
      </span>

      <p id="rightcol2">
        Si vous êtes connecté et que vous avez reçu l'autorisation
        d'un propriétaire existant de cette famille, vous pouvez ajouter, 
        supprimer ou modifier les informations enregistrées.
      </p>
        
    </div> <!-- id="rightColSelection" -->
    <!--*****************************************************************
     *  generate popups                                                 *
     ******************************************************************-->
  <!-- division within which to display a Google map -->
  <div class="map" id="mapDiv">
  </div>
  <!-- a division containing a button to hide the map division -->
  <div class="balloon" id="hideMapDiv">
    <center>
      <button id="hideMap" class="button">Hide Map</button>
    </center>
  </div>
<!--*********************************************************************
 *  generate popups                                                     *
 **********************************************************************-->
  <div id="Individ$idir" class="balloon">
    <b>$name</b>
    <p>
      <span id="deletePers$birthd">née $birthd
        <span id="deletePers$birthloc">à $birthloc</span>
      </span>
      <span id="deletePers$deathd">décédé $deathd
        <span id="deletePers$deathloc">$description à $deathloc</span>
      </span>
    </p>
    <p id="families$families">Mariage de $name. </p>
    <p id="parents$parents">Enfant de $name</p>
  </div> 

  <div id="Source$idsr" class="balloon">
    <b>Source: $title</b>
    <p>Auteur: $author</p>
    <p>Type: $typetext</p>
    <p id="deleteSource$note">Note: $note</p>
    <p id="deleteSource$callnumurl">
      <a href='$callnumurl' target='_blank'>$name</a>
    </p>
  </div> 

    <div id="showLocDiv$idlr" class="balloon">
      <b>$name</b>
      <p class="normal">
        $notes
      </p>
      <form name='locForm$idlr'>
        <input type="hidden" name="searchName" value="$searchName">
        <input type="hidden" name="county" value="$county">
        <input type="hidden" name="Location" value="$location">
        <input type="hidden" name="Latitude" value="$latitude">
        <input type="hidden" name="Longitude" value="$longitude">
        <input type="hidden" name="Zoom" value="$zoom">
        <input type="hidden" name="Boundary" value="$boundary">
        <button type="button" id="showMap$idlr" class="button">
              Montrer la carte
        </button>
        &nbsp;
        <button type="button" id="editLoc$idlr" class="button">
              Modifier l'endroit
        </button>
      </form>
    </div>

  <div id="showTplDiv$idtr" class="balloon">
    <b>Temple: $name</b>
    <p>
    $notes
    </p>
    <form name='tplForm$idtr'>
        <input type="hidden" name="Location" value="$temple">
        <input type="hidden" name="Latitude" value="$latitude">
        <input type="hidden" name="Longitude" value="$longitude">
        <button type="button" id="tshowMap$idtr" class="button">
              Montrer la carte
        </button>
    </form>
  </div> <!-- end of id=showTplDiv$idtr -->

  <div id="showAdrDiv$idar" class="balloon">
    <b>Addresse: $name</b>
    <p>
    $notes
    </p>
    <form name='adrForm$idar'>
        <input type="hidden" name="Location" value="$address">
        <input type="hidden" name="Latitude" value="$latitude">
        <input type="hidden" name="Longitude" value="$longitude">
        <button type="button" id="ashowMap$idar" class="button">
              Montrer la carte
        </button>
    </form>
  </div> <!-- end of id=showAdrDiv$idar -->
$DEATHCAUSES

    <!--*****************************************************************
     *  'eventStmt'                                                     *
     *                                                                  *
     *  This table provides a translation from an event type to the     *
     *  sentence to display to the user in the anecdotal text.          *
     ******************************************************************-->
    <div id="eventStmt" class="hidden">
      <span data-key='1'>$Pronoun $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='2'>$Pronoun est adopté$gsuf $onDate $atLocation by $Description.$Citations $Notes</span>
      <span data-key='3'>$Pronoun est né$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='4'>$Pronoun a été enterré$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='5'>$Pronoun a été baptizé$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='6'>$Pronoun est mort$gsuf $onDate $Description $atLocation.$Citations $Notes</span>
      <span data-key='7'>$Pronoun a sa mariage annullée $Description, $onDate $atLocation.$Citations $Notes</span>
      <span data-key='8'>$Pronoun est baptizé de LDS $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='9'>Il a celebré son bar mitzvah $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='10'>Elle a celebré sa bas mitzvah $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='11'>$Pronoun est beni$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='12'>$Pronoun a apparait a le $Description census $onDate $atLocation.$Citations $Notes</span>
      <span data-key='13'>$Pronoun a été circoncis $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='14'>$Pronoun est devenu$gsuf citoyenne $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='15'>$Pronoun a été confirmé$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='16'>$Pronoun a été confirmé$gsuf dans l'Église de Jésus-Christ des Saints des Derniers Jours $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='17'>$Pronoun est involvé$gsuf in a court case about $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='18'>$Pronoun est cremé$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='19'>$Pronoun a recu une degreée de $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='20'>Ils sont divorcés $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='21'>Ils ont demandé le divorce $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='22'>$Pronoun est educé$gsuf à $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='23'>$Pronoun a emigré $Description $onDate de $atLocation.$Citations $Notes</span>
      <span data-key='24'>$Pronoun est employé$gsuf comme un $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='25'>$Pronoun sont engagés $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='26'>$Pronoun a reçu First Holy Communion $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='27'>$Pronoun a gradué de $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='28'>$Pronoun a enjoui $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='29'>$Pronoun est honoré$gsuf pour $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='30'>$Pronoun est à l'hôpital pour $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='31'>$Pronoun était malade avec $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='32'>$Pronoun a immigré $Description $onDate a $atLocation.$Citations $Notes</span>
      <span data-key='33'>$Pronoun a été interviewé$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='34'>$Pronoun $Description land $onDate $atLocation.$Citations $Notes</span>
      <span data-key='35'>Ils ont publié les banns de mariage $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='36'>Ils ont signé un contract de mariage $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='37'>Ils ont obtenu un license pour mariage $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='38'>Ils ont publié un intent a marier $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='39'>Ils ont obtenu un settlement de mariage $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='40'>$Pronoun a reçu des attentions medicaux pour $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='41'>$Pronoun est un$gsuf membre de $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='42'>$Pronoun a servie dans le militaire $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='43'>$Pronoun a servie dans une mission $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='44'>$Pronoun est named after $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='45'>$Pronoun est naturalizé $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='46'>$Pronoun obituary est publié dans le $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='47'>$Pronoun a travaillé comme un $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='48'>$Pronoun a l'ordinance LDS $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='49'>$Pronoun est ordiné$gsuf a $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='50'>$Pronoun est descrit$gsuf comme $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='51'>$Pronoun a un estate probé $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='52'>$Pronoun $Description proprieté $onDate $atLocation.$Citations $Notes</span>
      <span data-key='53'>$Pronoun a appartenu a la croyance $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='54'>$Pronoun a demeuré $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='55'>$Pronoun retired $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='56'>$Pronoun attended school $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='57'>$Pronoun est assigné US Social Security Number $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='58'>$Pronoun signed a will $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='59'>$Pronoun had a medical condition of $Description, $onDate, $atLocation.$Citations $Notes</span>
      <span data-key='60'>$Pronoun served in the military: $Description, $onDate, $atLocation.$Citations $Notes</span>
      <span data-key='61'>$Pronoun had a photo taken $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='62'>$Pronoun est assigned US Social Security Number $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='63'>$Pronoun had another occupation as $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='64'>$Pronoun est $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='65'>$Pronoun a appartenu à une groupe familielle $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='66'>$Pronoun a s'identifié comme $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='67'>Ses funérailles ont eu lieu $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='68'>$Pronoun est eligé$gsuf comme $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='69'>$Pronoun est marie $Description $onDate and $atLocation.$Citations $Notes</span>
      <span data-key='70'>Evenement de mariage $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='71'>$possesivePronoun naissance est registré$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='72'>$possesivePronoun mort est registré$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='73'>Son mariage est registré$gsuf $Description $onDate $atLocation.$Citations $Notes</span>
      <span data-key='2000'>$Pronoun est né$gsuf $onDate $atLocation.$Citations $Notes</span>
      <span data-key='3000'>$Pronoun est baptizé$gsuf $onDate $atLocation.$Citations $Notes</span>
      <span data-key='4000'>$Pronoun est mort$gsuf $onDate $atLocation.$Citations $Notes</span>
      <span data-key='5000'>$Pronoun est sepulté$gsuf $onDate $atLocation.$Citations $Notes</span>
      <span data-key='5001'>$Pronoun est incenéré$gsuf $onDate $atLocation.$Citations $Notes</span>
      <span data-key='15000'>$Pronoun a reçu le Baptism LDS $onDate $atLocation.$Citations $Notes</span>
      <span data-key='16000'>$Pronoun a reçu l'Endowment LDS $onDate $atLocation.$Citations $Notes</span>
      <span data-key='26000'>$Pronoun a reçu la Confirmation LDS $onDate $atLocation.$Citations $Notes</span>
      <span data-key='27000'>$Pronoun a reçu l'Initiatory LDS $onDate $atLocation.$Citations $Notes</span>
    </div>

    <!-- the remaining portion of the page is divisions containing popup help -->
    <div class="balloon" id="HelpshowDescTree">
        Cliquez sur ce bouton pour voir un arbre récapitulatif
        des descendants de cette individuel.
        L'application prend également en charge le raccourci clavier Alt-D.
    </div>
    <div class="balloon" id="HelpshowAncTree">
        Cliquez sur ce bouton pour voir un arbre récapitulatif
        des ancêtres de cette individuel.
        L'application prend également en charge le raccourci clavier  Alt-A.
    </div>
    <div class="balloon" id="HelprelationshipCalc">
        Click on this button to display a dialog to calculate the degree of
        relationship between the current individual and another individual in the
        family tree.
        The application also supports the keyboard shortcut Alt-R.
    </div>
    <div class="balloon" id="HelpancestrySearch">
        Click on this button to split the screen horizontally between the display
        of the individual page and the results of a search of the Ancestry.ca
        database for document records with a similar name, birth date, birth place,
        and parents names.
        The application also supports the keyboard shortcut Alt-S.
    </div>
    <div class="balloon" id="HelpshowGraphTree">
        Click on this button to see a graphical family tree centered on this
        individual.
    </div>
    <div class="balloon" id="Helpedit">
        Click on this button to edit the information recorded for this individual.
        The application also supports the keyboard shortcut Alt-E.
    </div>
    <div class="balloon" id="Helpmessage">
        This field is used to edit a message to be posted as a blog entry against
        this individual.
    </div>
    <div class="balloon" id="HelpemailAddress">
        If you are not signed in as a registré contributor to the web-site you
        are required to supply an e-mail address to identify the source of any
        blog messages you post.
    </div>
    <div class="balloon" id="HelpPostBlog">
        Click on this button to post the message you have typed as a blog entry
        against this individual.
        The application also supports the keyboard shortcut Alt-B.
    </div>
    <div class="balloon" id="HelpblEdit">
        Click on this button to edit the text of the message immediately above
        the button, which is a message that you posted.
    </div>
    <div class="balloon" id="HelpblDel">
        Click on this button to delete the message immediately above
        the button, which is a message that you posted.
    </div>
    <div class="balloon" id="Helpreqgrant">
        Click on this button to request permission to update the current individual,
        and the current individual's ancestors and descendants.
    </div>
    <div class="balloon" id="HelpshowMap">
        Click on this button to display a popup map of the location.
    </div>
    <div class="balloon" id="HelpeditLoc">
        Click on this button to open a dialog to edit the information recorded about
        a location.  This can include changing the name of the location,
        although this will not be reflected in the description
        of this individual until the page is refreshed.
    </div>
    <script src="/jscripts/tinymce/js/tinymce/tinymce.min.js" type="application/javascript">
    </script>
    <script src="/FamilyTree/Person.js" type="module">
    </script>
    <script defer src="https://maps.googleapis.com/maps/api/js?v=weekly&callback=initializeMaps&region=$GOOGLECC&key=$GOOGLEKEY" type="application/javascript"></script>
