<!--*********************************************************************
 *  PictureDefault.html													*
 *																		*
 *  English language template for displaying a media file	    		*
 *																		*
 *  History:															*
 *		2018/11/03		Created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
	<div id="pictureTemplate" class="picture">
	  <img src="$PICNAMEURL"
			alt="$PICCAPTION">
	  <p class="large">
			$PICCAPTION : $PICDATE;
	  </p>
	  <p id="picDesc" class="picdesc">$PICDESC 
	  </p>
	</div> <!-- id="pictureTemplate" -->
	<audio id="audioTemplate" controls="controls">
	  <source src="$PICNAMEURL" 
			type="audio/$FILETYPE">
	    Your browser does not support the audio element.
	</audio>
	<video id="videoTemplate" controls="controls"
	        width="320" height="240">
	  <source src="$PICNAMEURL"
			type="video/$FILETYPE">
	    Your browser does not support the video element.
	</video>
	<p id="otherTemplate">
	    Unable to display or play media $PICNAMEURL.
	</p>
	
