<!--*********************************************************************
 *  PropertyTaxen.html							*
 *									*
 *  Arguments against property taxes.					*
 *									*
 *  History:								*
 *	2018/08/21	created						*
 ************************************************************************-->
<div class="hidden" id="breadcrumbs">
</div>
<div class="body">
<h1>Property Taxes</h1>
<p>
Every aspect of our daily lives has been completely reinvented over the past few decades but some traditional policies remain unchanged.
</p>
<p>
I am trying to find anyone who can explain any advantage to the use of property taxes to pay for municipal services. Property taxes were originally instituted because unlike taxes on movable property they are hard to avoid in a society with poor record keeping.  That argument does not apply in our digital economy.   Property taxes only imperfectly reflect the ability of taxpayers to pay them. As recent newspaper editorials point out property owners who have no personal motivation to sell their property are penalized because of inflation in the sale prices of other properties in their community and reductions in municipal income due to small business failures and growth in on-line purchases.
</p>
<p>
I recently was forced to sell the family home that we had lived in for over 30 years because on retirement I could no longer pay the property taxes.  This antiquated policy throws millions of seniors prematurely into tax-financed programs at an age when their ability to cope with change is naturally compromised.  This increases the cost of health and social services.
</p>
<p>
Property taxes and development charges penalize start-up businesses and investment by existing businesses.  This has a negative impact on the growth of the Canadian economy.
</p>
<p>
Property taxes are extremely inefficient, both in conventional and in economic terms, compared to sales taxes.  Maintaining the information upon which property taxation is collected requires a massive army of civil servants plus the private MPAC to maintain.  This army must be paid even though it does not deliver any direct services to taxpayers.
</p>
<p>
The single biggest issue raised in all municipal elections is restraining increases in property tax rates, so almost every municipal politician got into office on a promise to keep property tax rates low.
</p>
<p>
The inefficiency of property taxes, together with the politically driven constraints on property tax rates, mean that municipalities are perennially short of revenue which leads to failure to maintain services and infrastructure. Maintenance of those services and infrastructure is also critical to growing the Canadian economy.
</p>
<p>
A lack of property taxes would be an excellent selling point to businesses that you hope will relocate to Ontario communities.
</p>
<p>
Many of the irresponsible policies being proposed in the recent election in Ontario, for example a cut to middle-class income taxes and increased subsidies for health care, would be unnecessary if low-income households, which already pay little or no income tax, were not forced to pay property taxes that they cannot afford.
</p>
<p>
The provinces themselves have a legal right to collect property taxes as they are "direct" taxes. None of them do. That says something about the effectiveness of property taxes as a revenue tool.
</p>
<p>
So why are municipalities denied permission to enter into agreements with the CCRA to obtain revenue from much more efficient sources that would not require any additional staffing, merely a one time change to the computer programs at the CCRA?
</p>
<p>
Property taxes and user fees are so manifestly ineffective that I do not believe they satisfy the constitutional requirement that they be "justified in a free and democratic society".  If I could afford to I would take the Province to court to have property taxes and development charges declared unconstitutional.
</p>
<p>
I believe that the elimination of property taxes is also something that the NDP and PC caucuses could agree on.  It is an attractive policy for the NDP because it addresses inequality of finances for those households which are already paying over 30% of income for shelter, and for seniors.  For the PC party it is attractive because it reduces the administrative cost of running government without attacking service delivery, and because it directly applies to their core constituency of small businesses and farms.
</p>
<p>
Eliminate property taxes: because it is 2018.
</p>
<p>
-- 
</p>
<p>
“Some men see things as they are and say, why; I dream things that never were and say, why not.” <em>George Bernard Shaw</em>
</p>
<p>
James Cobban <a href="mailto:webmaster@jamescobban.net">webmaster@jamescobban.net </a>
<br>
911-500 Springbank Dr
London, ON, CANADA
N6J 4G6
</p">
