<!--*********************************************************************
 *  Query1891en.html													*
 *																		*
 *  Form to determine options for selecting individuals from the		*
 *  1891 Census of Canada template										*
 *																		*
 *  History:															*
 *		2017/09/19		created											*
 *																		*
 *  Copyright &copy; 2017 James A. Cobban								*
 **********************************************************************-->
  <div class='hidden' id='breadcrumbs'>
    <a href='/genealogy.php?lang=$LANG'>Genealogy</a>:
    <a href='/genCountry.php?cc=CA&amp;lang=$LANG'>Canada</a>:
    <a href='/database/genCensuses.php?lang=$LANG'>Censuses</a>:
  </div>
<div class='body'>
  <h1>
	1891 Census of $COUNTRYNAME: Nominal Search
      <span class='right'>
	<a href='/database/QueryDetail1891Helpen.html' target='help'>? Help</a>
      </span>
    <div style='clear: both;'></div>
  </h1>
  $TRACE
  $MSG
  <form action='/database/CensusResponse.php'
        name='distForm' id='distForm'>
      <p>
	<button type='submit' name='Query' id='Query' class='label'>
	    <u>Q</u>uery
	</button>
	&nbsp;
	<button type='button' name='Coverage' id='Coverage' class='label'>
	    <u>C</u>overage
	</button>
	<input type='hidden' name='Census' id='Census' value='CA1891'/>
      </p>
    <div class='row'>
      <div class='column1'>
		<label class='labelSmall9em' for='Province'>
		  Province:
		</label>
		<select size='5' name='Province' id='Province' class='white leftwide'>
		  <option value='' selected='selected'>
		    Any Province:</option>
		  <option value='$state' id='stateoption' $selected>
		    $name
	      </option>
		</select> 
      </div> <!-- column1 -->
      <div class='column2'>
		<label class='labelSmall9em' for='District'>
		  District:
		</label>
		<select size='5' multiple='multiple'
                name='District[]' id='District'
			    class='white leftwide'>
		</select> 
      </div> <!-- column2 -->
      <div class='column3'>
		<label class='labelSmall6em' for='Count'>
		  Count:
		</label>
		<input type='text' class='white rightnc' size='2'
                name='Count' id='Count' 
			    maxlength='4' value='20'/>
      </div> <!-- column3 -->
      <div style='clear: both;'></div>
    </div>
    <div class='row' id='divRow'>
      <div class='column1'>
		<label class='labelSmall9em' for='SubDistrict'>
		  Sub-District:
		</label>
		<select size='5' name='SubDistrict' id='SubDistrict'
			class='white leftwide'>
	  	</select> 
      </div>
      <div class='column2' id='divCell'>
		<label class='labelSmall9em' id='divLabel' for='Division'>
		  Division:
		</label>
		<select size='1' class='white leftwide'
                name='Division' id='Division'>
		</select>
      </div>
      <div class='column3'>
		<label class='labelSmall6em' for='Page'>
		  Page:
		</label>
		<input type='text' class='white rightnc' size='2' 
                name='Page' id='Page' 
			    maxlength='2'/>
      </div>
      <div style='clear: both;'></div>
    </div>
    <div class='row'>
      <div class='column1'>
		<label class='labelSmall9em' for='GivenNames'>
		  Given Names:
		</label>
		<input type='text' class='white left' size='20'
			    name='GivenNames' id='GivenNames' maxlength='48'/>
      </div>
      <div class='column2'>
		<label class='labelSmall9em' for='Surname'>
		  Surname:
		</label>
		<input type='text' class='white left' size='20'
			    name='Surname' id='Surname' maxlength='48'/>
      </div>
      <div class='column3'>
		<label class='labelSmall6em' for='SurnameSoundex'>
		  Soundex:
		</label>
		<input type='checkbox' name='SurnameSoundex' id='SurnameSoundex' 
			    value='yes'/>
      </div>
      <div style='clear: both;'></div>
    </div>
    <div class='row'>
      <div class='column1'>
		<label class='labelSmall9em' for='Sex'>
		  Sex:
		</label>
		<select class='white left' size='1' name='Sex' id='Sex'>
		  <option value=''>Don't Care</option>
		  <option value='F'>Female</option>
		  <option value='M'>Male</option>
		</select>
      </div>
      <div class='column2'>
		<label class='labelSmall9em' for='MStat'>
		  Marital Status:
		</label>
		<select class='white left' size='1' name='MStat' id='MStat'>
		  <option value=''>Don't Care</option>
		  <option value='D'>Divorced</option>
		  <option value='M'>Married</option>
		  <option value='S'>Single</option>
		  <option value='W'>Widowed</option>
		</select>
      </div>
      <div style='clear: both;'></div>
    </div>
    <div class='row'>
      <div class='column1'>
		<label class='labelSmall9em' for='Occupation'>
		  Occupation:
		</label>
		<input type='text' class='white left' size='20'
			    name='Occupation' id='Occupation' maxlength='48'/>
      </div>
      <div class='column2'>
		<label class='labelSmall9em' for='BPlace'>
		  Birth Place:
		</label>
		<input type='text' class='white left' size='20'
			name='BPlace' id='BPlace' maxlength='32'/>
      </div>
      <div style='clear: both;'></div>
    </div>
    <div class='row'>
      <div class='column1'>
		<label class='labelSmall9em' for='Religion'>
		  Religion:
		</label>
		<input type='text' class='white left' size='20'
			name='Religion' id='Religion' maxlength='32'/>
      </div>
      <div style='clear: both;'></div>
    </div>
    <div class='row'>
      <div class='column1'>
		<label class='labelSmall9em' for='BYear'>
		  Birth Year:
		</label>
		<input type='text' class='white rightnc' size='4' 
			name='BYear' id='BYear' maxlength='8'/>
      </div>
      <div class='column2'>
		<label class='labelSmall9em' for='Range'>
		  Range:
		</label>
		<input type='text' class='white rightnc' size='4' 
			name='Range' id='Range' maxlength='8'/>
      </div>
      <div style='clear: both;'></div>
    </div>
  </form>
</div> <!-- class='body' -->
    $POPUPS
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= '/jscripts/Cookie.js' type="text/javascript">
    </script>
    <script src= 'QueryDetail.js' type="text/javascript">
    </script>
