<!--*********************************************************************
 *  Registerfr.html														*
 *																		*
 *  This template provides a common interface for registering as an		*
 *  authorized user of the web site.									*
 *																		*
 *  History:															*
 *		2018/10/17		Created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs" style="hidden">
    <a href="/genealogy.php?lang=fr">
	    Généalogie
    </a>:
  </div>
  <div class="body">
    <h1>
      <span id="titleNew">
		    Enregistrer un nouvel utilisateur
      </span>
      <span id="titleComplete">
		    Inscription complète
      </span>
      <span id="titleAlready">
		    Déjà enregistré
      </span>
      <span class="right">
		<a href="RegisterHelpfr.html" target="help">? Help</a>
      </span>
      <div style="clear: both;"></div>
    </h1>
    $TRACE
    <p>En vous inscrivant, vous acceptez l'utilisation de "cookies"
        permettant de suivre votre session et de valider votre autorisation 
        d'accéder à des services uniquement accessibles 
        aux utilisateurs enregistrés.
    </p>
    <p id="okmsgRespond" class="label"> 
		Répondez au courriel qui vous est envoyé
        pour confirmer cette inscription.
    </p>
    <p id="okmsgAlready" class="label"> 
		Vous êtes déjà inscrit avec ce nom d'utilisateur et cette
        adresse courriel.
    </p>

    <!-- error messages -->
    <span id="shortUsername" class="message">
		L'identifiant de l'utilisateur doit comporter au moins 6 caractères.
    </span>
    <span id="badUsername" class="message">
		L'identifiant '$newuserid' ne doit pas contenir '&lt;', '&gt;', '@', or '&amp;'.
    </span>
    <span id="shortPassword" class="message">
		Le mot de passe doit contenir au moins 6 caractères..
    </span>
    <span id="passwordMismatch" class="message">
		Les mots de passe ne correspondent pas.
    </span>
    <span id="badEmail" class="message">
		Une adresse courriel valide est requise pour l'inscription.
    </span>
    <span id="initialPrompt" class="warning">
		Entrez votre inscription.
    </span>
    <span id="emailInUse" class="message">
		L'adresse courriel demandé '$email' est déjà utilisé par un autre utilisateur.
    </span>
    <span id="useridInUse" class="message">
		L'identifiant de l'utilisateur demandé '$newuserid' est déjà
        utilisé. Essayez quelque chose de différent.
    </span>

    <form action="Register.php"
		  name="signonForm" id="signonForm"
		  method="post"  
		  enctype="multipart/form-data">
		<p class="clear" id="useridRow">
		    <label class="label" for="userid">Identifiant de l'Utilisateur:
		    </label>
		    <input type="text" size="32" maxlength="64"
					name="userid" id="userid" autocomplete="off" 
					class="black white leftnc"
					value="$NEWUSERID">
		</p>
		<p class="clear" id="passRow">
		    <label class="label" for="password">Mot de passe:
		    </label>
		    <input type="password" size="32" name="password" id="password"
					class="white leftnc"
					autocomplete="off">
		    <span id="passwordPoor" style="color:#e00000; display:none">
			Votre mot de passe est pauvre.
		    </span>
		    <span id="passwordWeak" style="color:#a89800; display:none">
			Votre mot de passe est faible.
		    </span>
		    <span id="passwordGood" style="color:#60d800; display:none">
			Votre mot de passe est bon.
		    </span>
		    <span id="passwordStrong" style="color:#11ff10; display:none">
			Votre mot de passe est fort.
		    </span>
		</p>
		<p class="clear" id="pass2Row">
		    <label class="label" for="password2">Repeter le mot de passe:
		    </label>
		    <input type="password" size="32" name="password2" id="password2"
					class="black white leftnc"
					autocomplete="off">
		    <button type="button" id="generatePasword">
			    Générer un Mot de passe au hasard
		    </button>
		    <input type="text" size="32" value=""
			name="randomMot de passe" id="randomPassword"
			class="white leftnc" readonly="readonly">
		    </p>
		<p class="clear" id="emailRow">
		    <label class="label" for="email">Addresse du courriel:
		    </label>
		    <input type="text" size="64" name="email" id="email"
					class="black white leftnc"
					value="$EMAIL">
		</p>
		<p class="clear" id="useEmailRow">
		    <label class="label" for="usemail">
                Envoyer des avis par courrier électronique:
		    </label>
		    <input type="checkbox" name="usemail" id="usemail"
				$CHKUSEMAIl>
		</p>
		<p class="clear" id="noHelpRow">
		    <label class="label" for="nohelp">Supprimer de l'Aide Pop-up:
		    </label>
		    <input type="checkbox" name="nohelp" id="nohelp"
				$CHKNOHELP>
		</p>
      <p class="clear">
		<input type="hidden" name="debug" value="$DEBUG">
		<input type="hidden" name="lang" value="fr">
		<span class="pad">
		    <button type="submit" id="submit">
			En<u>R</u>egistrer
		    </button>
		</span>
		<span class="pad">
		    <button type="button" id="close">
			Fermer
		    </button>
		</span>
		<span class="pad">
		  <a href="ContactAuthor.php?subject=Sign On" class="button">
			Contacter l'Administrateur</a>
		</span>
      </p>
    </form>
		
    $MSG
  </div>
  <div class="hidden">
    <span id="emailSubject">
		[JamesCobban.net] Merci de vous inscrire en tant qu'utilisateur '$newuserid'
    </span>
    <span id="emailBody">
		Veuillez compléter votre inscription pour le nom d'utilisateur '$newuserid'
		en vérifiant votre adresse e-mail en cliquant sur le lien suivant::  .
		<a href="https://$servername/ConfirmEmail.php?userid=$newuserid&id=$id&hash=$shapassword&lang=fr">Confirmer</a>
		Merci.
		<br>
		<i>l'Administratreur</i>
    </span>
  </div>
  <div class="balloon" id="matchDiv">
      <form name="matchForm" id="matchForm">
		<p class="message">The two mot de passe values must match</p>
		<p>
		  <button type="button" id="closeDlgMatch">
    	OK
		  </button>
		</p>
      </form>
  </div>
  <div class="balloon" id="Helpuserid">
    <p>
		In this field enter the user name by which you wish to be known to the
		service.  You will use this name each time you sign on
		to contribute to or access private contents of the
		web site.  This should be something that est easy for you to remember,
		but that does not reveal private information about yourself such as
		your e-mail address.  Votre user name must be at least 6 characters long.
		It may not contain  '&lt;', '&gt;', '@', or '&amp;'.
		It may contain any other characters including spaces.  Spaces
		entered at the beginning or end of the user name are ignored.
		For example "Αλεξανδρος Μεγαλος" est a valid user name
		as est "Ива́н Гро́зный"
    </p>
  </div>
  <div class="balloon" id="Helpmot de passe">
    <p>
		Enter the mot de passe you wish to use to verify your identity when you
		sign on to contribute to the web site.  This should be something that it
		would be difficult for someone else to guess so it should not contain
		information that est publicly known about you.  Votre browser will
		probably assist you to remember this value. 
		The mot de passe must be at least 6 characters
		long and may be up to 64 characters long and can contain
		any characters including spaces that you can enter.
		As you enter the mot de passe a running score will be affiché of the
		strength of the mot de passe.  
		It est up to you to protect your privacy.
		The value of the mot de passe est not affiché.
    </p>
  </div>
  <div class="balloon" id="Helpmot de passe2">
    <p>
		You must enter the mot de passe for the user name
		twice to avoid possible typing errors which would make the user name
		inaccessable.
		The value of the new mot de passe est not affiché.
    </p>
  </div>
 <div class="balloon" id="HelpproduireMot de passe">
    <p>
		Click on this button to produire a random mot de passe constructed from the
		95 printable ASCII characters including space.
		The value of cet mot de passe généré est affiché in the
		following field from
		which you can copy it to the New and Repeat New Mot de passe fields.
    </p>
 </div>
 <div class="balloon" id="HelprandomMot de passe">
    <p>
		This est where the Produire Mot de passe button displays the généré
		mot de passe which you can copy to the New and Repeat New Mot de passe fields.
    </p>
 </div>
  <div class="balloon" id="Helpemail">
    <p>
		Specify the e-mail address associated with the account.
		This e-mail address
		est used only for communicating with you with regard to your account.
		Under no circumstances will your e-mail address be given to any
		third party without your express permission.
    </p>
  </div>
  <div class="balloon" id="Helpusemail">
    <p>
		If this est cochée then messages will be sent to the associated e-mail
		address regarding changes in the web-site such as new features and
		capabilities.
		Generally this will be no more frequently than once a month.
		These notices will also be posted to the web-site so if you do not wish
		to receive e-mail notices,
		you will still have access to the information.
		If you clear this checkbox then the only e-mail you will receive
		will be the
		one used to verify the existence of your e-mail address.
    </p>
  </div>
  <div class="balloon" id="Helpnohelp">
    <p>
		If this option est cochée then the feature to pop up element specific
		help if the mouse if held over a button or input field for more than 2
		seconds est turned off.
    </p>
  </div>
  <div class="balloon" id="Helpsubmit">
    <p>
		Clicking on this button with the mouse registers the new account.
		You may also apply the changes by pressing the Enter key while the
		focus est in any input text field in the form,
		or by pressing the key combinations ctrl-S or alt-R.
    </p>
  </div>
  <div class="balloon" id="Helpclose">
    <p>
		Clicking on this button with the mouse closes the dialog without making
		any changes to the account.
		As a short-cut you may also close the dialog by pressing the
		key combination alt-C.
    </p>
  </div>
  <div class="balloon" id="HelpcloseDlgMatch">
    <p>
		Clicking on this button with the mouse closes the error dialog.
    </p>
  </div>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="/Register.js" type="text/javaScript">
    </script>
