<!DOCTYPE HTML >
<html>
  <head>
    <title>
	$TITLE
    </title>
<!--*********************************************************************
 *  repost.html															*
 *																		*
 *  HTML template used during automatic signon to reissue the users		*
 *  request.															*
 *																		*
 *  History:															*
 *		2018/02/09		created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
    <meta charset='utf-8'>
    <meta http-equiv='default-style' content='text/css'>
    <meta name='author' content='James A. Cobban'>
    <meta name='copyright' content='&copy; 2018 James A. Cobban'>
    <meta name='keywords' content='genealogy, family, tree, ontario, canada'>
    <link rel='stylesheet' type='text/css' href='/styles.css'/>
  </head>
  <body>
    <noscript>
      <p class="warning">
        For full functionality of this site it is necessary
        to enable JavaScript.
        Here are the 
        <a href="https://www.enable-javascript.com/" target="_blank">
        instructions how to enable JavaScript in your web browser</a>.
      </p>
    </noscript>
    <script src="/HistoryBackup.js" type="text/javaScript">
    </script>
  </body>
</html>
