<!--*********************************************************************
 *  ReqUpdateSubDistsen.html											*
 *																		*
 *  Page to request updating the sub-districts for a particular         *
 *  district within a census.                                           *
 *																		*
 *  History:															*
 *		2020/03/08		created											*
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <div class='hidden' id='breadcrumbs'>
      <a href='/genealogy.php?lang=$LANG'>
		Genealogy
	  </a>:
      <a href='/genCountry.php?cc=$CC&amp;lang=$LANG'>
		$COUNTRYNAME
	  </a>:
     <a href='/database/EditCensuses.php?cc=$CC&amp;lang=$LANG'>
	    Censuses Admin
	  </a>:
	  <a href="/database/DistForm.php?Census=$CENSUSID&Province=$PROVINCE">
        Districts
	  </a>:
    </div>
    <div class='body'>
      <h1>
        Census Administration: $COUNTRYNAME: Sub-District Table
        <span class='right'>
	    <a href='/database/ReqUpdateSubDistsHelpen.html' target='help'>? Help</a>
        </span>
      </h1>
      $TRACE
      $MSG
	  <form action='SubDistForm.php'
	          name='distForm'>
	    <table id='formTable'>
	      <tr id='distRow'>
	        <td class='label'>
		        Census:
		    </td>
		    <td>
		      <input type='hidden' name='censusId' value='$CENSUSID'>
		      <input type='hidden' name='debug' value='$DEBUG'>
		      <input type='hidden' name='lang' value='$LANG'>
		      <select size='9' name='CensusYear'>
		        <option value='' $SELECTED>
		            Choose a Census:
                </option>
		        <option value='$censusid' id="option$censusid" $selected>
		            $name
                </option>
		      </select>
	        </td>
	        <td class='label'>
		        $PROVINCETEXT:
		    </td>
		    <td>
		      <select size='9' name='Province'>
	            <option id="provopt$pc" value='$pc' $select>
		            $name
	            </option>
		      </select> 
	        </td>
	        <td id='msgCell'>
	            <span class='label'>District:</span>
	        </td>
	        <td>
		      <select size='9' name='District'>
		      </select> 
		    </td>
	      </tr>
	    </table>
	    <button type='submit' class='button' id='Submit'>Request Form</button>
	  </form>
    </div> <!-- class="body"-->
    <div class='balloon' id='msgDiv'>
    </div>
    <div id='hideMsgTemplate' class='hidden'>
      <!-- template for dialog reporting error -->
      <form name='Msg$template' id='Msg$template'>
        <p class='message'>$msg</p>
        <p>
          <button type='button' id='closeDlg$template'>
    	OK
          </button>
        </p>
      </form>
    </div>		<!-- id='hideMsgTemplate'-->
    <div id="messages" class="hidden">
        <span id="notAuthorized">
            You must be signed on to use this feature.
        </span>
    </div>
    <!-- popup help balloons -->
    <div class='balloon' id='HelpCensusYear'>
      The Census selection list is used to specify the year of the
      census enumeration for which you wish to update a Sub-District description.
    </div>
    <div class='balloon' id='HelpProvince'>
      The Province selection list is an alphabetical list of the
      provinces in the specified census.  It is used if you wish to limit the 
      displayed list of districts to a specific province.
    </div>
    <div class='balloon' id='HelpDistrict'>
      The District selection list is an alphabetical list of census
      districts, roughly equivalent to federal electoral ridings.  This tool
      permits editting the descriptions of the sub-districts within a specified
      census district.  You may either highlight a district and then click on
      "Request Form" or double-click on a district.
    </div>
    <div class='balloon' id='HelpSubmit'>
      Click on this button to open the form for editing the information
      about the sub-districts of the selected district.
    </div>
    <!-- templates for dynamic HTML -->
    <div class='hidden' id='templates'>
      <div id='noDistFileMsg'>
        Census summary script 'CensusGetDistricts.php?Census=$census' failed
      </div>
      <div id='badDistFileMsg'>
        ReqUpdateSubdists.js:gotDistFile: error response: $msgs
      </div>
      <div id='chooseDistText'>
        Select a District:
      </div>
      <form id='censusinfo' name='censusinfo'>
        <input id='Provinces$censusid'
  				name='Provinces$censusid'
  				value='$provinces'
  				type='hidden'>
      </form>
    </div> <!-- end of templates -->
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= '/database/ReqUpdateSubDists.js' type="text/javascript">
    </script>
