<!--*********************************************************************
 *  ReqUpdateDistsen.html                                               *
 *                                                                      *
 *  Page to request updating the districts for a particular             *
 *  state or province within a census.                                  *
 *                                                                      *
 *  History:                                                            *
 *      2017/10/23      created                                         *
 *      2018/01/04      remove Template from template file names        *
 *      2023/01/21      message texts moved to template                 *
 *                                                                      *
 *  Copyright &copy; 2023 James A. Cobban                               *
 **********************************************************************-->
    <div class='hidden' id='breadcrumbs'>
      <a href='/genealogy.php?lang=$LANG'>Genealogy</a>:
      <a href='/genCountry.php?cc=$CC&amp;lang=$LANG'>$COUNTRYNAME</a>:
      <a href='/database/genCensuses.php?cc=$CC&amp;lang=$LANG'>Censuses</a>:
      <a href='/database/EditCensuses.php?cc=$CC&amp;lang=$LANG'>Censuses Admin</a>:
    </div>
    <div class='body'>
      <h1>
        <span class='right'>
        <a href='/database/ReqUpdateDistsHelpen.html' target='help'>? Help</a>
        </span>
        Census Administration: $COUNTRYNAME: $CENSUSYEAR Census:
            Choose District Table
      </h1>
    
      $TRACE
      $MSG
      <form action='DistForm.php' name='distForm' id='distForm'>
        <div id='formTable'>
          <div class='row' id='distRow'>
            <div class='left'>
              <label class='labelSmall' style='width: 6em;' for='Census'>
                Census:
              </label>
              <select size='20' name='Census' id='Census' 
                  class='white left'>
                <option value=''>Choose a Census:</option>
                <option id='censusOpt' value='$id' $selected>
                  $name:
                </option>
              </select> 
            </div>
            <div class='left'>
              <label class='labelSmall' style='width: 6em;' for='Province'>
                Province:
              </label>
              <select size='20' name='Province' id='Province' 
                  class='white left'>
                <option id='allProvincesOpt' value='' $selected>
                  All Provinces
                </option>
                <option id='provinceOpt' value='$pc' $selected>
                  $name
                </option>
              </select> 
            </div>
          </div>
        </div>
        <p>
          <button type='submit' id='Submit'>Request Form</button>
        </p>
      </form>
    </div> <!-- end of <div id='body'> -->
    <!-- The remainder of the page consists of context specific help text.
    -->
    <div class='balloon' id='HelpCensus'>
      The Census selection list is used to specify the year of the
      census enumeration for which you wish to update a District
      description.
    </div>
    <div class='balloon' id='HelpProvince'>
      The Province selection list is an alphabetical list of the
      provinces in the specified census.  It is used if you wish to limit
      the displayed list of districts to a specific province.
      The list of districts in the province is displayed as soon as you
      select an entry from this list.
    </div>
    <div class='balloon' id='HelpSubmit'>
      Click on this button to request the display of the list of districts.
    </div>
    <div class="hidden">
      <span id="notsignedon">
          You must be signed on to manage the Census configuration. 
      </span>
      <span id="censusInvalid">
          Census identifier '$censusId' is syntactically invalid.  
      </span>
      <span id="censusUnsupp">
          Census '$censusId' is unsupported.
      </span>
      <span id="censusMissing">
          Census not identified. 
      </span>
      <span id="provinceInvalid">
          Province identifier '$province' is syntactically invalid.  
      </span>
      <span id="provinceUnsupp">
          Province code '$value' is not supported for census '$censusId'.   
      </span>
      <span id="countryInvalid">
          Country identifier '$cc' is syntactically invalid.  
      </span>
      <span id="countryUnsupp">
          Country code '$cc' is unsupported.
      </span>
    </div> 
    <script src= '/jscripts/CommonForm.js' type="text/javascript">
    </script>
    <script src= '/jscripts/js20/http.js' type="text/javascript">
    </script>
    <script src= '/jscripts/util.js' type="text/javascript">
    </script>
    <script src= '/database/ReqUpdateDists.js' type="text/javascript">
    </script>
