<!--*********************************************************************
 *  resetPasswordes.html                                                *
 *                                                                      *
 *  This template resets the user's password and displays the new       *
 *  password over the encrypted link.                                   *
 *                                                                      *
 *  History:                                                            *
 *      2018/01/29  Created                                             *
 *      2022/06/16  change validation                                   *
 *                                                                      *
 *  Copyright &copy; 2022 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href='/genealogy.php?lang=$LANG'>Genealogía</a>:
      <a href='/Signon.php?lang=$LANG'>Iniciar Sesión</a>:
    </div>    
    <div class='body'>
      <h1 class='clear'>
        <span class='right'>
          <a href='resetPasswordHelpen.html' target='help'>? Ayuda</a>
        </span>
        Restablecer la Contraseña
      </h1>
      $MSG
      $TRACE
      <p id='passwordreset'>
        La contraseña de la cuenta '$USERID' se ha restablecido a 
        '$NEWPASSWORD'.
      </p>
    </div> <!-- class="body" -->
      <div class="hidden" id="messages">
        <span id="noUsernameMatch">
            Unable to find account record for user '$username'.
        </span>
        <span id="noEmailMatch">
            Unable to find account record for address '$email'.
        </span>
        <span id="MissingUserid">
            Missing user identification. 
        </span>
        <span id="InvalidCode">
            Invalid validation code. 
        </span>
      </div>
    <script src='jscripts/util.js' type="text/javaScript">
    </script>
    <script src='jscripts/js20/http.js' type="text/javaScript">
    </script>
    <script src='resetPassword.js' type="text/javaScript">
    </script>
