<!--*********************************************************************
 *  resetPassworden.html						                        *
 *									                                    *
 *  This template resets the user's password and sends an e-mail to the	*
 *  user with the new password.						                    *
 *									                                    *
 *  History:								                            *
 *	    2018/01/29	Created						                        *
 *									                                    *
 *  Copyright &copy; 2018 James A. Cobban				                *
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php">Genealogy</a>:
    <a href='/Signon.php'>Signon</a>:
  </div>	
 <div class='body'>
    <h1 class='clear'>
      <span class='right'>
	<a href='resetPasswordHelpen.html' target='help'>? Help</a>
      </span>
	Reset Password
    </h1>
    $MSG
    $TRACE
    <p id='needuser' class='message'>
	This script can only be invoked from the Signon page.
    </p>
    <p id='passwordreset'>
	The password on the account '$username' has been reset to 
	'$newpassword'.
    </p>
  </div> <!-- class="body" -->
  <div class='hidden' id='emailsubject'>
    [JamesCobban.net] Password Reset for User $username,
  </div> <!-- id="emailsubject" -->
  <div class='hidden' id='emailbody'>
    The password on your account '$username' has been reset  .
    by the administrator to '$newpassword'.
    You are advised to change your password as soon as convenient,
    by clicking on the account management entry in the menu.
  </div>
  <div class='balloon' id='Helpuserid'>
    <p>
	This read-only field displays the username identifying
	the current account for which the password is reset.
    </p>
  </div>
  <div class='balloon' id='Helppassword'>
    <p>
	Enter the current password for this account to permit modification of
	the account.  The value of the password is not displayed.
    </p>
  </div>
  <div class='balloon' id='HelpnewPassword'>
    <p>
	If you wish to change the password on this account enter it here.
	The value of the new password is not displayed.
    </p>
  </div>
  <div class='balloon' id='HelpnewPassword2'>
    <p>
	If you wish to change the password on this account you must enter it
	twice to avoid possible typing errors which would make the account
	inaccessable.
	The value of the new password is not displayed.
    </p>
  </div>
  <div class='balloon' id='Helpemail'>
    <p>
	This is the e-mail address associated with the account. 
	This e-mail address is used for authentication purposes.
    </p>
  </div>
  <div class='balloon' id='Helpusemail'>
    <p>
	If this is checked then messages will be sent to the associated e-mail
	address regarding changes in the web-site such as new features
	and capabilities.
	Generally this will be no more frequently than once a month.
	These notices will also be posted to the web-site.
	If you clear this checkbox then the only e-mail you will receive
	will be the
	one used to verify the existence of your e-mail address.
    </p>
  </div>
  <div class='balloon' id='Helpnohelp'>
    <p>
	If this option is checked then the feature to pop up element specific
	help if the mouse if held over a button or input field for more than 2
	seconds is turned off.
    </p>
  </div>
  <div class='balloon' id='HelpSubmit'>
	Clicking on this button with the mouse applies the changes
	to the account.
	You may also apply the changes by pressing the Enter key 
	while the focus is
	in any input text field in the form, or by pressing the key combinations
	ctrl-S or alt-A.
  </div>
  <div class='balloon' id='HelpSignoff'>
	Clicking on this button with the mouse signs the current user off
	the application so extended capabilities are disables
	As a short-cut you may also signoff by pressing the
	key combination alt-S.
  </div>
  <div class='balloon' id='HelpClose'>
	Clicking on this button with the mouse closes the dialog without making
	any changes to the account.
	As a short-cut you may also close the dialog by pressing the
	key combination alt-C.
  </div>
  <div id='Helpmessage' class='balloon'>
	Use this text area to enter a reply to the blog, and then click on the
	Reply button.
  </div>
  <div id='HelpDelete' class='balloon'>
	Click on this button to delete the blog.
  </div>
  <div id='HelpReply' class='balloon'>
	Click on this button to reply to the blog.
  </div>
    <script src='jscripts/util.js' type="text/javaScript">
    </script>
    <script src='jscripts/js20/http.js' type="text/javaScript">
    </script>
    <script src='resetPassword.js' type="text/javaScript">
    </script>
