<!--*********************************************************************
 *  resetPasswordfr.html                                                *
 *                                                                      *
 *  This template resets the user's password and displays the new       *
 *  password over the encrypted link.                                   *
 *                                                                      *
 *  History:                                                            *
 *      2018/01/29  Created                                             *
 *      2022/06/16  change validation                                   *
 *                                                                      *
 *  Copyright &copy; 2022 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=fr">Genealogie</a>:
      <a href='/Signon.php?lang=fr'>se Connecter</a>:
    </div>    
    <div class='body'>
      <h1 class='clear'>
        <span class='right'>
          <a href='resetPasswordHelpen.html' target='help'>? Aide</a>
        </span>
        Réinitialiser le Mot de Passe
      </h1>
      $MSG
      $TRACE
      <p id='passwordreset'>
        Le mot de passe du compte '$USERID' a été réinitialisé à 
        '$NEWPASSWORD'.
      </p>
    </div> <!-- class="body" -->
      <div class="hidden" id="messages">
        <span id="noUsernameMatch">
            Impossible de trouver l'enregistrement de compte pour
            le nom d'utilisateur '$username'.
        </span>
        <span id="noEmailMatch">
            Impossible de trouver l'enregistrement de compte pour
            l'adresse courriel '$email'.
        </span>
        <span id="MissingUserid">
            Identification de l'utilisateur manquante. 
        </span>
        <span id="InvalidCode">
            Code de validation invalide. 
        </span>
      </div>
    <script src='jscripts/util.js' type="text/javaScript">
    </script>
    <script src='jscripts/js20/http.js' type="text/javaScript">
    </script>
    <script src='resetPassword.js' type="text/javaScript">
    </script>
