<!--*********************************************************************
 *  ResendConfirmEmailen.html                                           *
 *                                                                      *
 *  This template provides the layout of the page for requesting        *
 *  pending users to confirm their e-mail addresses.                    *
 *  This script is only used by an administrator so it is currently     *
 *  only available in English.                                          (
 *                                                                      *
 *  History:                                                            *
 *      2018/09/05      Created                                         *
 *      2021/05/31      use email address of invoking administrator     *
 *                      use servername of current server                *
 *                                                                      *
 *  Copyright &copy; 2021 James A. Cobban                               *
 **********************************************************************-->
    <div id='breadcrumbs' style='hidden'>
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
      <a href="/Users.php?lang=$LANG">Users</a>:
    </div>
    <div class='body'>
      <h1>
        Resend Confirm Email to Pending Users
        <span class='right'>
      <a href='ResendConfirmEmailHelpen.html' target='help'>? Help</a>
        </span>
      </h1>
      $TRACE
      <p class="message" id="notAuthorized">
          Current User is not authorized to use this function.
      </p>
      $MSG
    </div>
    <div class='hidden'>
      <span id="emailSubject">
      [$servername] Thank You for Registering as User '$newuserid'
      </span>
      <span id="emailBody">
        <p>
          You have not confirmed your registration by accessing the
          confirmation page on $servername.  
          Either the e-mail requesting you to confirm your identity
          was not delivered, or you may have failed to respond to it.
          Since you may have forgotten your password,
          and the site does not know what you chose as a password when you
          registered, the password on user name '$newuserid' has been
          reset to '$newpassword'.  Since the contents of this e-mail are 
          not encrypted you should log on to
          your account and change this password as soon as possible.
        </p>
        <p>
          Please complete your registration for user name '$newuserid'
          by verifying your e-mail address by clicking on the following link: 
          <a href="https://$servername/ConfirmEmail.php?userid=$newuserid&id=$id&confirmid=$confirmid">Confirm</a>
        </p>
        <p>
          Thank you.
      <br>
      <i>Administrator</i>
        </p>
      </span>
    </div>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="/ResendConfirmEmail.js" type="text/javaScript">
    </script>
