<!--*********************************************************************
 *  ServicesDisplayfr.html												*
 *																		*
 *  Display a web page with a list of genealogical database				*
 *  services.															*
 *																		*
 *  History:															*
 *		2017/10/27		created											*
 *		2018/01/04		remove Template from template file names		*
 *		2018/02/21		did not invoke standard dynamic initialization	*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
<div class="hidden" id="breadcrumbs">
  <a href="/genealogy.php?lang=fr">Généalogie</a>:
</div>
  <div class="body">
    <h1>
      <span class="right">
    <a href="/FamilyTree/ServicesContributorHelpfr.html" target="help">? Aide</a>
      </span>
      Services de la Base des Données de l'Arbre Familiale
    </h1>
    $TRACE
    $MSG
  <p class="label">
    <a href="/FamilyTree/nominalIndex.php?lang=fr" target="_blank">
		Indice nominale de l'Arbre Familiale
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/showAddedIndividuals.php?lang=fr">
		Liste des personnes récemment Ajoutées
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/Status.php?lang=fr">
		Statistiques de la base des données
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/reqReportIndivids.php?lang=fr">
	Demander un rapport sur les individus sélectionnés
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/Citations.php?lang=fr">
	Montre citations correspondre à un motif
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/calcBirthDate.php?lang=fr" target="_blank">
	Calculer la date de naissance estimée à partir de l'événement et de l'âge
    </a>:
  </p>
  <h2>Gestion des Tables</h2>
  <p class="label">
    <a href="/Canada/CountriesEdit.php?lang=fr">
	    Voir les Pays Soutenus</a>:
  </p>
  <p class="label">
    <a href="/Canada/LanguagesEdit.php?lang=fr">
	    Voir les Langages Soutenues</a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/Locations.php?lang=fr">
	    Voir la Liste des Lieus
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/Temples.php?lang=fr">
	    Voir la Liste des Temples de l'Eglise SDJ
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/Addresses.php?lang=fr">
	    Voir la Liste des Addresses
    </a>:
  </p>
  <p class="label">
    <a href="/FamilyTree/Sources.php?lang=fr">
	    Voir la Liste des Sources 
    </a>:
  </p>
</div> <!-- class="body" -->
    <script src="/jscripts/util.js" type="text/javascript"></script>
    <script src="/jscripts/default.js" type="text/javascript"></script>
