<!--*********************************************************************
 *  Signonen.html                                                       *
 *                                                                      *
 *  This is the English version of the template for displaying the      *
 *  sign-on dialog for the site.                                        *
 *                                                                      *
 *  History:                                                            *
 *      2017/11/16      created                                         *
 *      2018/01/04      remove Template from template file names        *
 *      2018/01/25      add local CSS and Javascript references         *
 *                                                                      *
 *  Copyright &copy; 2018 James A. Cobban                               *
 **********************************************************************-->
    <div class='hidden' id='breadcrumbs'>
      <a href='/genealogy.php?lang=$LANG'>Genealogy</a>:
    </div>
    <div class='body'>
      <h1>
      Sign In for Contributing
        <span class='right'>
        <a href='/SignonHelpen.html' target='help'>? Help</a>
        </span>
      </h1>
      $TRACE
      $MSG 
      <p>In compliance with European Union regulations please note 
        that by signing on you agree that the site may use cookies to
        track your use of the site.
      </p>
      <form action='/Signon.php'
          name='signonForm' id='signonForm'
          method='post'  
          enctype='multipart/form-data'>
        <p class='clear' id='useridRow'>
        <label class='label' for='userid'>
          User Name:
        </label>
        <input type='text' size='32' maxlength='64' name='userid' id='userid'
            class='white leftnc' value='$USERID'/>
        <input type='hidden' name='debug' id='debug' value='$DEBUG'>
        <input type='hidden' name='lang' id='lang' value='$LANG'>
        <input type='hidden' name='validToken' id='validToken' 
                value='$VALIDTOKEN'>
        </p>
        <p class='clear' id='passRow'>
        <label class='label' for='password'>
          Password:
        </label>
        <input type='password' size='16' name='password' id='password'
            class='white leftnc'/>
        </p>
        <p class='clear' id='emailRow'>
        <label class='label' for='email'>
          E-Mail Address:
        </label>
        <input type='text' size='64' maxlength='256' name='email' id='email'
            class='white leftnc' value='$EMAIL'/>
        </p>
        <p class='clear' id='rememberRow'>
        <label class='label' for='remember'>
          Remember:
        </label>
        <input type='checkbox' name='remember' id='remember' 
            value='on'/>
        Remember me on this computer.
        </p>
        <p class='clear'>
        <span class='pad'>
            <button type='submit' id='Submit' accesskey='I'> 
            Sign <u>I</u>n
            </button>
        </span>
        <span class='pad'>
            <button type='button' id='Signoff' accesskey='O'>
            Sign <u>O</u>ff
            </button>
        </span>
        <span class='pad'>
            <button type='button' id='Register' accesskey='R'>
            <u>R</u>egister
            </button>
        </span>
        <span class='pad'>
            <button type='button' id='ForgotPassword' accesskey='F'>
            <u>F</u>orgot My Password
            </button>
        </span>
        <span class='pad'>
            <button type='button' id='Close' accesskey='C'>
            <u>C</u>lose
            </button>
        </span>
        <span class='pad'>
          <a href='/ContactAuthor.php?subject=Sign On' class="button">
            Contact Administrator</a>
        </span>
        <input type='hidden' name='act' value=''>
        <input type='hidden' name='redirect' 
            value='$REDIRECTTO'>
        </p>
      </form>
    </div>
    <div class="hidden" id='messages'>
      <span id='signedoff'>Signed off.</span>
      <span id='specify'>
            Please specify your user name and password.</span>
      <span id='enterpassword'>
            Please enter your password.</span>
      <span id='incorrect'>
            User Name and/or Password Incorrect.</span>
      <div class="hidden" id="noAccount">
          Unable to find account record for user '$username' or
          email address '$email'. 
      </div>
      <div class="hidden" id="noAccountUser">
          Unable to find account record for user '$username'. 
      </div>
      <div class="hidden" id="noAccountEmail">
          Unable to find account record for email address '$email'. 
      </div>
      <div id="rightCol1">
        <p>
          If you cannot remember your username, enter your e-mail address
          and the service will look up your account.
          If you cannot remember your password click on "Forgot Password"
          and the service will send you an e-mail with instructions on
          how to reset your password.
        </p>
        <p>You can contribute to this web-site by adding transcriptions of
          census pages, birth/marriage/death registrations, or by adding
          information about your family to the family tree.
          If you are not already a subscriber to this web-site, please click
          on the <b>Register</b> button or hold down the Alt shift and press R.
        </p>
      </div>
      <p id='respond'>Please respond to the e-mail sent to '$EMAIL'.</p>
      <p id='failed' class="warning">Unable to send e-mail to '$EMAIL'</p>
      <div id='emailsubject'>
        [JamesCobban.net] Lost Userid or Password
      </div> <!-- id="emailsubject" -->
      <div id='emailfrom'>
        Administrator &lt;webmaster@$serverName&gt;
      </div> <!-- id="emailfrom" -->
      <div class='hidden' id='emailbody'>
        <p>Your userid is '$username'.  A request has been made to reset
         your password.  If you made this request 
         <a href="$proto://$serverName/resetPassword.php?username=$username&validate=$validToken">
             click here to reset your password</a>.
        </p>
      </div>
    </div><!-- id="messages" --!>
    <div class='balloon' id='Helpuserid'>
      Enter the unique user name which you have previously registered.
      This is up to 64 characters long and may contain almost any
      characters,
      including spaces.  For example it may be your name.
      Avoid using anything that contains private information that uniquely
      identifies you such as your e-mail address.
    </div>
    <div class='balloon' id='Helpemail'>
      Enter the electronic mail address that you used when you first
      subscribed to the service.  This field is only used for
      administrative purposes related to the web-site.
    </div>
    <div class='balloon' id='Helppassword'>
      This is the password that you registered for the above user name.  It
      must be at least 6 characters long, and should be hard to guess.
    </div>
    <div class='balloon' id='Helpremember'>
      If you are accessing the site from a trusted computer, for example
      one that belongs to you and is not used by any other person, then
      selecting this option will cause the userid and password you have 
      entered to be remembered on your computer and you will be 
      automatically logged to the
      site when you access it in the future.
    </div>
    <div class='balloon' id='HelpSubmit'>
      Click on this button to sign on.  You may also sign on by pressing the
      Enter key after completing typing your userid and password, or by the
      keyboard short-cuts Alt-I or Ctrl-S.
    </div>
    <div class='balloon' id='HelpSignoff'>
      Click on this button to sign off.  You may also sign off by the
      keyboard short-cut Alt-O (letter 'O').
    </div>
    <div class='balloon' id='HelpRegister'>
      Click on this button, or use the keyboard short-cut Alt-R, to
      register a new user identifier and associated password. 
      You will be prompted to enter additional registration information.
    </div>
    <div class='balloon' id='HelpForgotPassword'>
      Click on this button, or use the keyboard short-cut Alt-F, if you
      have forgotten either your password or your userid.
      If you have forgotten 
      your userid enter the electronic mail address that you used when 
      you first registered.
    </div>
    <div class='balloon' id='HelpClose'>
      Click on this button, or use the keyboard short-cut Alt-C, 
      to close the dialog.
    </div>
    <script src='/Signon.js' type='module'>
    </script>
