<!--*********************************************************************
 *  Signonfr.html                                                       *
 *                                                                      *
 *  This is the French version of the template for displaying the       *
 *  sign-on dialog for the site.                                        *
 *                                                                      *
 *  History:                                                            *
 *      2017/11/16      created                                         *
 *      2018/01/04      remove Template from template file names        *
 *      2018/01/25      add local CSS and Javascript references         *
 *                                                                      *
 *  Copyright &copy; 2018 James A. Cobban                               *
 **********************************************************************-->
  <div class="hidden" id="breadcrumbs">
    <a href="/genealogy.php?lang=fr">
            Généalogie</a>:
  </div>
  <div class="body">
    <h1>
    s'Inscrire pour Contribuer
      <span class="right">
        <a href="/SignonHelpfr.html" target="help">? Aide</a>
      </span>
    </h1>
    $TRACE
    $MSG 
    <p>
        Conformément aux réglementations de l'Union Européenne,
        veuillez noter que ce site utilise un cookie pour enregistrer 
        le fait que vous êtes connecté.
    </p>
    <form action="/Signon.php"
          name="signonForm" id="signonForm"
          method="post"  
          enctype="multipart/form-data">
      <p class="clear" id="useridRow">
        <label class="label" for="userid">
          Identifiant de l'Usager:
        </label>
        <input type="text" size="32" maxlength="64" name="userid" id="userid"
            class="white leftnc" value="$USERID"/>
        <input type="hidden" name="debug" id="debug" value="$DEBUG">
        <input type='hidden' name='lang' id='lang' value='$LANG'>
        <input type='hidden' name='validToken' id='validToken' 
                value='$VALIDTOKEN'>
      </p>
      <p class="clear" id="passRow">
        <label class="label" for="password">
          Mot de Passe:
        </label>
        <input type="password" size="16" name="password" id="password"
            class="white leftnc"/>
      </p>
      <p class="clear" id="emailRow">
        <label class="label" for="email">
          Addresse Courriel:
        </label>
        <input type="text" size="64" maxlength="256" name="email" id="email"
            class="white leftnc" value=""/>
      </p>
      <p class="clear" id="rememberRow">
        <label class="label" for="remember">
          me Souvenir:
        </label>
        <input type="checkbox" name="remember" id="remember" 
            value="on"/>
        me souvenir en cet ordinateur
      </p>
      <p class="clear">
        <span class="pad">
            <button type="submit" id="Submit" accesskey="I"> 
            m'<u>I</u>nscrire
            </button>
        </span>
        <span class="pad">
            <button type="button" id="Signoff" accesskey="O">
            Terminer
            </button>
        </span>
        <span class="pad">
            <button type="button" id="Register" accesskey="R">
            m'En<u>r</u>egistrer  
            </button>
        </span>
        <span class="pad">
            <button type="button" id="ForgotPassword" accesskey="F">
            J'ai oublié mon mot de passe
            </button>
        </span>
        <span class="pad">
            <button type="button" id="Close" accesskey="C">
            Fermer
            </button>
        </span>
        <span class="pad">
          <a href="/ContactAuthor.php?subject=Sign On" class="button">
            Communiquer a l'Administrateur</a>
        </span>
        <input type="hidden" name="act" value="">
        <input type="hidden" name="redirect" 
            value="$REDIRECTTO">
      </p>
    </form>
</div>
      <div class="hidden" id='messages'>
        <span class="message" id="signedoff">
            Terminé.</span>
        <span class="message" id="specify">
            Priere de specifier votre identifiant utilisateur
            et mot de passe.</span>
        <span class="message" id="enterpassword">
            Priere d'entrer votre mot de passe.</span>
        <span class="message" id="incorrect">
            L'identifiant utilisateur et/ou mot de pass faux.</span>
      <div id="rightCol1">
        <p>
          Si vous ne vous souvenez pas de votre nom d'utilisateur, entrez 
          votre adresse e-mail et le service recherchera votre compte.
          Si vous ne vous souvenez pas de votre mot de passe, cliquez 
          sur "J'ai oublié mon mot de passe" et le service vous 
          enverra un courriel avec des instructions pour réinitialiser 
          votre mot de passe.
        </p>
        <p>
          Vous pouvez contribuer a cette web-site en ajoutant des transcriptions 
          des pages de recensement, des enregistrements de naissance /
          mariage / décès, ou en ajoutant des informations sur votre
          famille à l'arbre généalogique.
          Si vous n'êtes pas déjà abonné à ce site Web, veuillez cliquer
          sur le bouton <b>S'inscrire</b> ou maintenez 
          la touche Alt enfoncée et appuyez sur R.
        </p>
      </div>
      <p id='respond'>Veuillez répondre à le courriel envoyé à '$EMAIL'.</p>
      <p id='failed' class="warning">Impossible d'envoyer un courriel à '$EMAIL'</p>
      <div id='emailsubject'>
	    [JamesCobban.net] Identifiant ou mot de passe perdu
      </div> <!-- id="emailsubject" -->
      <div id='emailfrom'>
        Administrateur &lt;webmaster@$serverName&gt;
      </div> <!-- id="emailfrom" -->
      <div class='hidden' id='emailbody'>
        <p>Votre identifiant est '$username'. Une demande a été faite
        pour réinitialiser votre mot de passe. Si vous avez fait 
        cette demande 
         <a href="$proto://$serverName/resetPassword.php?username=$username&validate=$validToken&lang=fr">
             cliquez ici pour réinitialiser votre mot de passe</a>.
        </p>
      </div>
    </div><!-- id="messages" --!>
    <div class="balloon" id="Helpuserid">
        Entrez l'identificateur vous avez enregistre auparavant.
        Celui-ci peut contenir jusqu'à 64 caractères et peut contenir 
        presque tous les caractères, y compris les espaces. Par exemple, 
        il peut s'agir de votre nom.
    </div>
    <div class="balloon" id="Helpemail">
        Entrez l'adresse de courrier électronique que vous avez
        utilisée lors de votre première souscription au service. 
        Ce champ n'est utilisé que lorsque vous souhaitez qu'on vous 
        rappelle l'identifiant utilisateur avec lequel vous vous êtes 
        inscrit à l'origine ou pour réinitialiser votre mot de passe. 
        Votre identifiant utilisateur est envoyé à l'adresse courriel 
        enregistrée.
    </div>
    <div class="balloon" id="Helppassword">
        Il s'agit du mot de passe que vous avez enregistré pour
        l'identifiant utilisateur ci-dessus. Il doit comporter 
        au moins 6 caractères et être difficile à deviner.
    </div>
    <div class="balloon" id="Helpremember">
        Si vous accédez au site à partir d'un ordinateur de confiance,
        par exemple un qui vous appartient et n'est utilisé par aucune 
        autre personne, la sélection de cette option entraînera 
        la mémorisation de l'identifiant utilisateur et du mot de passe 
        que vous avez entrés dans un fichier sur votre ordinateur et 
        vous serez automatiquement connecté au site lorsque vous y 
        accéderez à l'avenir.
    </div>
    <div class="balloon" id="HelpSubmit">
        Cliquez sur ce bouton pour vous connecter. Vous pouvez également
        vous connecter en appuyant sur la touche Entrée après avoir saisi 
        votre identifiant et votre mot de passe, ou en utilisant les 
        raccourcis clavier Alt-I ou Ctrl-S.
    </div>
    <div class="balloon" id="HelpSignoff">
        Cliquez sur ce bouton pour vous déconnecter. Vous pouvez
        également vous déconnecter par le raccourci clavier
        Alt-O (lettre 'O').
    </div>
    <div class="balloon" id="HelpRegister">
        Cliquez sur ce bouton, ou utilisez le raccourci clavier Alt-R,
        pour enregistrer un nouvel identifiant utilisateur et le mot 
        de passe associé. Vous serez invité à entrer des informations 
        d'enregistrement supplémentaires.
    </div>
    <div class="balloon" id="HelpForgotPassword">
        Cliquez sur ce bouton, ou utilisez le raccourci clavier Alt-F, 
        si vous avez oublié soit votre mot de passe, soit votre identifiant.
        Si vous avez oublié votre mot de passe, entrez votre identifiant. 
        Si vous avez oublié votre identifiant, saisissez l'adresse e-mail 
        que vous avez utilisée lors de votre première inscription.
    </div>
    <div class="balloon" id="HelpClose">
        Cliquez sur ce bouton ou utilisez le raccourci clavier Alt-C
        pour fermer la boîte de dialogue.
    </div>
    <script src="/Signon.js" type="module">
    </script>
    
