<!--*********************************************************************
 *  SourcesUpdatefr.html												*
 *																		*
 *  Template to display a web page containing all of the Sources        *
 *  matching a pattern.													*
 *																		*
 *  History:															*
 *		2019/07/22      created                                         *
 *      2019/11/06      add option to create new source                 *
 *                      add translate table for IDST for Javascript     *
 *      2020/04/29      add fields and buttons for creating new source  *
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <div class="hidden" id="breadcrumbs">
	  <a href="/home.html">Accueil</a>:
      <a href="/genealogy.php?lang=$LANG">Génealogie</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>:
      <a href="/FamilyTree/editSource.php?idsr=0&lang=$LANG">
          Creer une Source Nouvelle
      </a>:
    </div>
    <div class="body">
      <h1>
		  <span class="right">
		    <a href="SourcesHelpen.html" target="help">? Help</a>
		  </span>
		  Liste des Sources
      </h1>
      $TRACE
      $MSG
      <form name="srcForm" action="Sources.php">
        <div class="row" id="patternRow">
		  <label class="label" for="pattern" style="width: 8em;">
		      Modèle:
		  </label>
		  <input name="pattern" type="text" size="64" class="white leftnc"
				    value="$PATTERN">
        </div>
        <div class="row">
          <label class="label" for="namefld" style="width: 8em;">
              Nom:
          </label>
          <input name="namefld" id="namefld" type="text" size="64"
                      class="white leftnc" value="">
        </div>
        <div class="row" id="buttonRow">
		  <label class="label" for="Search" style="width: 8em;">
		      Actions:
		  </label>
		  <button type="submit" id="Search">
		      Fouiller
		  </button>
          &nbsp;
          <button type="button" class="button" id="Close" accesskey="c">
              Fermer
          </button>
          &nbsp;
          <button type="button" class="button" id="CreateNew" accesskey="n">
              Creer <u>N</u>ouvelle Source
          </button>
        </div>
        <p class="label" id="nomatch">
           Aucune source ne correspond au modèle spécifié.
        </p>
        <div class="spaceBetween" id="topBrowse">
          <div id="topPrev">
		    <a href="Sources.php?pattern=$PATTERN&amp;limit=$LIMIT&amp;offset=$PREVOFFSET&amp;lang=$LANG">
		    <img src="/Images/ArrowLeft.svg">
		    </a>
		  </div>
		  rangs $SHOWOFFSET à $LAST de $COUNT
	      <div id="topNext"> 
		    <a href="Sources.php?pattern=$PATTERN&amp;limit=$LIMIT&amp;offset=$NEXTOFFSET&amp;lang=$LANG"><img src="/Images/ArrowRight.svg"></a>
		  </div>
        </div>
	    <!--- Put out the response as a table -->
	    <table class="details" id="dataTable">
	    <!--- Put out the column headers -->
	      <thead>
	        <tr>
	          <th class="colhead">
			    Modifier
	          </th>
	          <th class="colhead">
			    Type
	          </th>
	          <th class="colhead">
			    Nom de la Source
	          </th>
	          <th class="colhead" style="max-width: 7em;">
			    Nombre de citations
	          </th>
	        </tr>
	      </thead>
          <tbody>
            <tr id="sourceRow$IDSR">
			  <td class="$ROWCLASS right">
			      <button type="button" class="width110" 
                            style="min-width: 120px;" 
					        id="Edit$IDSR">
					Modifier $IDSR 
			      </button>
			  </td>
			  <td class="$ROWCLASS left" id="Type$IDSR">
			        $TYPETEXT  
			  </td>
			  <td class="$ROWCLASS left" id="Name$IDSR">
			        $NAME 
			  </td>
			  <td class="$ROWCLASS right" id="count$IDSR"
                  style="max-width: 7em;">
			        $CCOUNT 
			  </td>
			  <td class="$ROWCLASS center" id="DeleteCell$IDSR">
			      <button type="button" class="width110"
						id="Delete$IDSR">
					Ecraser
			      </button>
			  </td>
	        </tr>
	      </tbody>
	    </table>
	  </form>
    </div>
    <div class="hidden" id="srcTypes">
        <span id="IDST$idst">$name</span>
    </div>
    <div class="hidden" id="templates">
    
      <!-- template for confirming the deletion of an event-->
      <form name="ClrInd$template" id="ClrInd$template">
        <p class="message">$msg</p>
        <p>
          <button type="button" id="confirmClear$type">
		    Faire
          </button>
          <input type="hidden" id="formname$type" name="formname$type"
				    value="$formname">
		    &nbsp;
          <button type="button" id="cancelDelete$type">
		    Annuler
          </button>
        </p>
      </form>
    
    </div> <!-- id="templates" -->
    <div class="balloon" id="Helppattern">
        This is a regular expression, as supported by MySQL, which is used
        to limit the Sources to be displayed.
        See <a href="http://www.tin.org/bin/man.cgi?section=7&topic=regex">Henry Spencer"s regex page</a>.
      <ul>
        <li>If the pattern contains no special 
	    characters then only Sources containing that string will be included.
        For example the pattern "London" will match Sources containing the
        string "London".  Note that the search ignores case, so that pattern
        will also match "LONDON" and "london".
        </li>
        <li>If the pattern begins with a caret '^' then only Sources that
        begin with the remainder of the pattern are included.  For example
        the pattern "^Ba" displays Sources starting with "Ba" (or "ba" or "BA").
        </li>
        <li>If the pattern ends with a dollar sign '$', then only Sources that
        end with the remainder of the pattern are included.  For example
        the pattern "CA$" matches Sources that end with "CA" (or "ca" or "Ca").
        </li>
        <li>In a pattern a period '.' matches any single character.  For example
        the pattern 'B.b' matches any Source that contains two letter Bs
        separated
	    by one character, for example "Bab", "Beb", "Bib", "Bob", or "Bub".
        </li>
        <li>In a pattern an asterisk '*' matches zero or more of the preceding
	    character; "bo*b" matches "bb", "bob", and "boob".
        </li>
      </ul>
    </div>
    <div class="balloon" id="HelpSearch">
        Click on this button to update the list of displayed sources
        to include only those sources that match the supplied pattern.
    </div>
    <div class="balloon" id="HelpShow">
	    Click on this button to display the detailed information about a source.
    </div>
    <div class="balloon" id="HelpEdit">
	    Click on this button to display a form 
	    to update the information recorded abbout a source.
    </div>
    <div class="balloon" id="HelpDelete">
	    This button is displayed for sources that are not associated with any
	    citations.  Click on this button to delete the source from the database.
    </div>
    <div class="balloon" id="HelpCreateNew">
	    Click on this button to open a dialog to create a new source.
    </div>
    <script src="/jscripts/js20/http.js" type="application/javascript">
    </script>
    <script src="/jscripts/CommonForm.js" type="application/javascript">
    </script>
    <script src="/jscripts/util.js" type="application/javascript">
    </script>
	<script src="Sources.js" type="application/javascript">
    </script>
