<!--*********************************************************************
 *  Sourceen.html	    												*
 *																		*
 *  Display a web page containing details of an particular source		*
 *  from the Legacy database.											*
 *																		*
 *  History:															*
 *		2018/12/02      created                                         *
 *      2020/06/14      add message texts for i18n                      *
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>:
      <a href="/FamilyTree/Sources.php?lang=$LANG">Sources</a>:
    </div> <!-- id="breadcrumbs" -->
    <div class="body">
      <h1>Source $NAME
        <span class="right">
 		 <a href="SourceHelpen.html" target="help">? Help</a>
        </span>
      </h1>
      $TRACE
      $MSG
    <div class="row" id="idsrRow">
      <div class="labelRight" class="label">IDSR:</div>
      <div class="data">
		$IDSR
      </div>
    </div>
    <div class="row" id="titleRow">
      <div class="labelRight" class="label">Title:</div>
      <div class="data">
		$SRCTITLE
      </div>
    </div>
    <div class="row">
      <div class="labelRight" class="label">Type:</div>
      <div class="data">
		$TYPETEXT
      </div>
    </div>
    <div class="row" id="authorRow">
      <div class="labelRight" class="label">Author:</div>
      <div class="data">
		$SRCAUTHOR
      </div>
    </div>
    <div class="row" is="publisherRow">
      <div class="labelRight" class="label">Publication Data:</div>
      <div class="data">
		$SRCPUBL
      </div>
    </div>
    <div class="row" id="textRow">
      <div class="labelRight" class="label">Text:</div>
      <div class="data">
		$SRCTEXT
      </div>
    </div>
    <div class="row" id="notesRow">
      <div class="labelRight" class="label">Notes:</div>
      <div class="data">
		$SRCNOTE
      </div>
    </div>
    <div class="row" id="callNumRow">
      <div class="labelRight" class="label">CallNum:</div>
      <div class="data">
		<a href="$SRCCALLNUM" id="callNum">$SRCCALLNUM
		</a>
      </div>
    </div>
    <div class="row" id="repositoryRow">
      <div class="labelRight" class="label">Repository:</div>
      <div class="data">
          <span id="repoName"><a href="/FamilyTree/Address.php?idar=$IDAR&lang=en">$REPONAME</a><br/></span>
		    <span id="repoAddress1">$REPOADDRESS1<br/></span>
		    <span id="repoAddress2">$REPOADDRESS2<br/></span>
		    <span id="repoCity">$REPOCITY<br/></span>
		    <span id="repoState">$REPOSTATE<br/></span>
		    <span id="repoPostalCode">$REPOPOSTALCODE<br/></span>
		    <span id="repoCountry">$REPOCOUNTRY<br/></span>
      </div>
    </div>
    <div class="row" id="homePageRow">
      <div class="labelRight" class="label">Home Page:</div>
      <div class="data">
		<a href="$HOMEPAGE" id="repoHomePageLink">
				$HOMEPAGE</a>
      </div>
    </div>
    <div class="row" id="repoNotesRow">
      <div class="labelRight" class="label">Notes:</div>
      <div class="data">
		<a href="Notes" id="repoNotesLink">$REPONOTES</a>
      </div>
    </div>
    <div class="row" id="enteredDateRow">
      <div class="labelRight" class="label">Entered Date:</div>
      <div class="data">
    $ENTEREDD
      </div>
    </div>
		<p id="editButtonRow">
		  <a href="editSource.php?idsr=$IDSR&lang=$LANG&Debug=$DEBUG"
		     class="button">Edit
		  </a>
		</p>
    </div> <!-- class="body" -->
    <div class="hidden" id="messages">`
        <span id="Display">Display</span>
        <span id="Edit">Edit</span>
        <span id="Create">Create New</span>
        <span id="InvalidIDSR">Invalid value idsr='$idsr'. </span>
        <span id="noParms">Missing parameter to identify Source. </span>
	    <span id="cannotUseName">
            Only signed on contributors may use the name parameter 
            since it can cause a new source to be created.
        </span>
        <span id="missingIdsr">
            Neither IDSR nor name parameter specified.
        </span>
        <span id="sourceCreated">
            <p>New Source '$name' created.</p>
        </span>
    </div><!-- id="messages" -->
