<!--*********************************************************************
 *  splitKmlen.html												        *
 *																		*
 *  Template for processing Ontario Townships Boundaries KML file.      *
 *																		*
 *  History:															*
 *		2021/01/14		created											*
 *																		*
 *  Copyright &copy; 2022 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">
		  Genealogy
      </a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">
		  Services
      </a>:
      <a href="/genCountry.php?cc=CA&amp;lang=$LANG">
		  Canada
      </a>:
      <a href="/Canada/genProvince.php?Domain=CAON&amp;lang=$LANG">
		  Ontario
      </a>:
	    <a href='/FamilyTree/Locations.php?lang=$LANG'>
		Locations Master List
	    </a>:
    </div>	
    <div class="body">
      <h1>
        <span class="right">
		  <a href="/AdvertiserHelpen.html" target="help">? Help</a>
        </span>
		  Process Ontario Townships Boundaries Keyhole Markup Language
      </h1>
      $TRACE
      $MSG
      <div id="results">
      <h2>$FILENAME</h2>
      <p>Filesize=$FILESIZE, Start=$START, Limit=$LIMIT</p>
      $DATA
      <p><a href="splitKml.php?offset=$LIMIT&distname=$DISTNAME">Continue</a></p>
      </div>
    </div> <!-- class="body" -->
    <div class="hidden" id="messages">
    </div>
    <div class="balloon" id="HelpAdMail">
      This field permits the user to change the e-mail address associated
      with the advertiser account.
    </div>
    <div class="balloon" id="HelpSubmit">
      Click on this button to apply changes to the account.
    </div>
    <script src="/jscripts/js20/http.js" type="text/javaScript">
    </script>
    <script src="/jscripts/CommonForm.js" type="text/javaScript">
    </script>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
