<!--*********************************************************************
 *  SqlCommandfr.html                                                   *
 *                                                                      *
 *  Issue arbitrary SQL command against the database.                   *
 *                                                                      *
 *  History:                                                            *
 *      2020/02/17      created                                         *
 *                                                                      *
 *  Copyright &copy; 2020 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">Genealogie</a>:
    </div>  
    <div class="body">
      <h1>
        <span class="right">
          <a href='SqlCommandHelpen.html' target='help'>? Aide</a>
        </span>
        Ëmettre une Commande de Langage de Requête Structurée (SQL)
      </h1>
      $TRACE
      $MSG
      <p id="command"><span class="label">Commande:</span> '$COMMAND'
      </p>

      <p id="table"><span class="label">Table:</span> '$TABLE'
      </p>
      <div id="badtable">
      <p class="message">Table '$TABLE' non définie sur le serveur.
      </p>
      <p>Les $TABLECOUNT tables définies sont:</p>
      <p id="tableNames" style='text-align: left; margin-left: 5em;'>
        <span id="tableName$I">
            $TABLENAME,
        </span>
      </p>
      </div> <!-- id="badtable" -->
      <p id="join">
      <span class="label">Rejoindre:</span> '$JOIN'
      </p>
      <p id="operands">
      <span class="label">Opérandes:</span> '$OPERANDS'
      </p>
      <p id="where">
      <span class="label">L'Ou:</span> '$WHERE'
      </p>
      <p id="groupby">
      <span class="label">Grouper par:</span> '$GROUPBY'
      </p>
      <p id="having">
      <span class="label">Avoir:</span> '$HAVING'
      </p>
      <p id="orderby">
      <span class="label">Ordre par:</span> '$ORDERBY'
      </p>
      <p id="limit">
      <span class="label">Limite:</span> '$LIMIT'
      </p>
      <p id="offset">
      <span class="label">Décalage:</span> '$OFFSET'
      </p>
      <p id="emsg" class="message">$EMSG</p>
      <div id="fieldnames">
          <p>Les $FIELDCOUNT champs définis dans la table 
            <code>`$TABLENAME`</code> sont:</p>
        <p style='font-weight: bold; margin-left: 15px;'>$FIELDSNAME</p>
      </div><!-- id="fieldnames" -->
      <form name='sqlform' action='SqlCommand.php' method='post'>
        <input type='hidden' id="debug" name='debug' value='$DEBUG'>
        <input type='hidden' id="lang" name='lang' value='$LANG'>
        <p id="stats" class="warning">Cette commande  
          <span id="displaystats">affichera $COUNT lignes de</span>
          <span id="updatestats">mettra à jour $COUNT lignes dans</span> 
          la base de données.
        </p>
        <p>
          <button type='button' id="Submit">Ëmettre la Commande</button>
          <input type='hidden' id="Confirm" name='Confirm' value=''>
        </p>
        <p>
          <label class="label" style='width: 7em;' for='SqlCommand'>
              Commande:
          </label>
          <input type='text' name='SqlCommand' id="SqlCommand"
                  class='white leftnc' size='80'
                  value='$SQLCOMMAND'>
        </p>
      </form>
      <div id="response">
      <p id="respCount" class="label">$COUNT rows in response</p>
      <table id="respTable" class="summary" cellspacing='0px'>
        <thead>
          <tr>
            <th id="respCol" class="colhead">$NAME</th>
          </tr>
        </thead>
        <tbody>
          <tr id="data$ROW">
            <td id="linkCell" class='$CELLCLASS right'>
              <a href='$LINK' target='_blank'>
                  $VALUE
              </a>
              =$NAME
            </td>
            <td id="recordCell" class='$CELLCLASS right'>
              <a href='$LINK' target='_blank'>
                  $VALUE
              </a>
            </td>
            <td id="dateCell" class='$CELLCLASS right'>
                  $DATE
            </td>
            <td id="interpretCell" class='$CELLCLASS right'>
                  $VALUE
                  =$TEXT
            </td>
            <td id="intStyleCell" class='$CELLCLASS right'>
                  $VALUE=<span class="$TEXT">$TEXT</span>
            </td>
            <td id="rightCell" class='$CELLCLASS right'>
              $VALUE
            </td>
            <td id="simpleCell" class='$CELLCLASS'>
              $VALUE
            </td>
            <td id="soundexCell" class='$CELLCLASS'>
              $SOUNDEX
            </td>
          </tr>
        </tbody>
      </table>
      <p id="sresult" class="label">
          Updated $SRESULT rows in the table.
      </p>
      </div><!-- id="response" -->
    </div>
    <div class="balloon" id="HelpSqlCommand">
      Use this selection list to limit the response to a single province within 
      the census.
    </div>
    <div class="balloon" id="HelpSubmit">
      Click on this button to issue the SQL command.
    </div>
    <div id="templates" class="hidden">
        <span id="badFieldName">`$expr` n'est pas un nom de champ dans la table `$table`.
        </span>
    </div>
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
    <script src="/database/SqlCommand.js" type="application/javaScript">
    </script>
