<!--*********************************************************************
 *  Tablesen.html														*
 *																		*
 *  Display a web page to provide access to the database tables that	*
 *  interpret type and status fields.									*
 *																		*
 *  History:															*
 *		2019/07/23      created                                         *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <div class='hidden' id='breadcrumbs'>
      <a href='/genealogy.php?lang=$LANG'>Genealogy</a>:
      <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>:
    </div>
    <div class="body">
      <h1>Tables for Interpreting Status and Type Fields
        <span class="right">
		  <a href="TablesHelpen.html" target="help">? Help</a>
        </span>
      </h1>
      $TRACE
      $MSG
      <p class="label">
		<a href="EventTypes.php">
				Event Types List
		</a>:
      </p>
      <p class="label">
		<a href="ChildStatus.php">
				Child Status List
		</a>:
      </p>
      <p class="label">
		<a href="ChildRelations.php">
				Child/Parent Relationship List
		</a>:
      </p>
    </div>
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>
