<!--*********************************************************************
 *  TempleDialogsen.html												*
 *																		*
 *  Common layout of the popup dialogs presented by the common support	*
 *  for dynamic management of Temples.								    *
 *  Note:	Although this is an HTML file and is stored in the		    *
 *			same directory used for template files used by			    *
 *			class Template, this file is used by the dynamic		    *
 *			display functionality in Javascript.					    *
 *																		*
 *  History:															*
 *		2020/03/04	    created so that the dialogs displayed by		*
 *						/jscripts/templecommon.js are identical		    *
 *						in all scripts.									*
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
<div class="hidden">
  <!-- template for dialog reporting new temple 
	var parms	= {"template"	: "",
	    		   "name"	    : name,
		    	   "formname"	: formname,
			       "field"	    : field};

  	displayDialog('NewTempleMsg$template',
    		      parms,
	    	      element,		// position
		          closeNewDialog,	// button closes dialog
		          false);		// default show on open
-->
  <form name='NewTempleMsg$template' id='NewTempleMsg$template'>
    <p class='label'>$name</p>
    <p class='warning'>Note: This is an undefined Temple</p>
    <p>
      <input type='hidden' id='formname' name='formname' value='$formname'/>
      <input type='hidden' id='field' name='field' value='$field'/>
      <button type='button' id='closeDlg$template'>
	    Close
      </button>
    </p>
  </form>

  <!-- template for dialog for choosing new temple
	var parms	= {"template"	: "",
			   "name"	: name};

	displayDialog('ChooseTempleMsg$template',
		      parms,
		      element,		// position
		      null,		// button closes dialog
		      true);		// do not show yet

	// update selection list for choice
	var	select	= document.getElementById('templeSelect');
	select.onchange	= templeChosen;
	select.setAttribute("for", field);
	select.setAttribute("formname", formname);
	// code to add options to select
	select.selectedIndex	= 0;

	// make the dialog visible
	show(msgDiv);
-->
  <form name='ChooseTempleMsg$template' id='ChooseTempleMsg$template'>
    <h2>Multiple Matches Found for '$name'</h2>
    <select id='templeSelect$template' size='5'>
	<option value="-1">[choose a Temple]</option>
    </select>
    <p>
      <button type='button' id='closeChooser$template'>
	Cancel
      </button>
    </p>
  </form>
</div>
