<!--*********************************************************************
 *  testUpdateUserXmlen.html											*
 *																		*
 *  English language template for the test updateUserXml.php script.    *
 *																		*
 *  History:															*
 *		2019/12/26		Created											*
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    </div>	
    <div class="body">
      <h1>Test Update User
      </h1>
      $TRACE
      $MSG
        <form action="/updateUserXml.php"
    	    name="accountForm" id="accountForm"
    	    method="post"  
    	    enctype="multipart/form-data">
          <p id="useridRow" class="clear">
    	    <label class="label" for="username">
    	      User Identifier:
    	    </label>
	        <input type="text" size="32" maxlength="64"
	    	    class="white leftnc" name="username" id="username"
		        autocomplete="off" 
		        value=""/>
          </p>
          <p id="passRow" class="clear">
	        <label class="label" for="password">
    	      Current Password:
    	    </label>
    	    <input type="password" size="32" maxlength="64"
    	    	name="password" id="password"
    	    	class="white leftnc" autocomplete="off"/>
	      </p>
	      <p id="newPassRow" class="clear">
		<label class="label" for="newPassword">
		  New Password:
		</label>
		<input type="password" size="32" maxlength="64" 
			name="newPassword" id="newPassword" class="white leftnc"
			autocomplete="off"/>
	      </p>
	      <p id="newPass2Row" class="clear">
		<label class="label" for="newPassword2">
		  Repeat New Password:
		</label>
		<input type="password" size="32" maxlength="64"
			name="newPassword2" id="newPassword2" class="white leftnc"
			autocomplete="off"/>
	      </p>
	      <p id="emailRow" class="clear">
		<label class="label" for="email">
		  E-Mail Address:
		</label>
		<input type="text" size="64" name="email" id="email"
			class="white leftnc" autocomplete="off"
			value=""/>
	      </p>
	      <p class="clear">
		<span class="pad">
		  <button type="submit" id="Submit"> 
		    <u>A</u>pply Changes
		  </button>
		</span>
	      </p>
      </form>
    </div>
    <div class="balloon" id="Helpuserid">
	  This read-only field displays the userid identifying the user identifier
	  of the current account for which account management functions may be
	  performed.
    </div>
    <div class="balloon" id="Helppassword">
	  Enter the current password for this account to permit modification of
	  the account.  The value of the password is not displayed.
    </div>
    <div class="balloon" id="HelpnewPassword">
	  If you wish to change the password on this account enter it here.
	  The value of the new password is not displayed.  The password can be
	  up to 64 characters long and can contain any character you can enter.
    </div>
    <div class="balloon" id="HelpgeneratePassword">
	  Click on this button to generate a random password constructed from the
	  95 printable ASCII characters including space.
	  The value of this generated password is displayed in the
	  following field from
	  which you can copy it to the New and Repeat New Password fields.
    </div>
    <div class="balloon" id="HelprandomPassword">
	  This is where the Generate Password button displays the generated
	  password which you can copy to the New and Repeat New Password fields.
    </div>
    <div class="balloon" id="HelpnewPassword2">
	  If you wish to change the password on this account you must enter it
	  twice to avoid possible typing errors which would make the account
	  inaccessable.
	  The value of the new password is not displayed.
    </div>
    <div class="balloon" id="Helpemail">
	  This is the e-mail address associated with the account.  This e-mail address
	  is used only for authorization purposes.
    </div>
    <div class="balloon" id="Helpusemail">
	  If this is checked then messages will be sent to the associated e-mail
	  address regarding changes in the web-site such as new features and capabilities.
	  Generally this will be no more frequently than once a month.
	  These notices will also be posted to the web-site.
	  If you clear this checkbox then the only e-mail you will receive will be the
	  one used to verify the existence of your e-mail address.
    </div>
    <div class="balloon" id="Helpnohelp">
	  If this option is checked then the feature to pop up element specific
	  help if the mouse if held over a button or input field for more than 2
	  seconds is turned off.
    </div>
    <div class="balloon" id="HelpSubmit">
	  Clicking on this button with the mouse applies the changes to the account.
	  You may also apply the changes by pressing the Enter key while the focus is
	  in any input text field in the form, or by pressing the key combinations
	  ctrl-S or alt-A.
    </div>
    <div class="balloon" id="HelpSignoff">
	  Clicking on this button with the mouse signs the current user off
	  the application so extended capabilities are disables
	  As a short-cut you may also signoff by pressing the
	  key combination alt-S.
    </div>
    <div class="balloon" id="HelpClose">
	  Clicking on this button with the mouse closes the dialog without making
	  any changes to the account.
	  As a short-cut you may also close the dialog by pressing the
	  key combination alt-C.
    </div>
    <div id="Helpmessage" class="balloon">
	  Use this text area to enter a reply to the blog, and then click on the
	  Reply button.
    </div>
    <div id="HelpDelete" class="balloon">
	  Click on this button to delete the blog.
    </div>
    <div id="HelpReply" class="balloon">
	  Click on this button to reply to the blog.
    </div>
    <script src="/jscripts/util.js" type="application/javaScript">
    </script>

