<!--*********************************************************************
 *  Blogsen.html														*
 *																		*
 *  English language template for the Blogs management page				*
 *																		*
 *  History:															*
 *		2018/09/15		Created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/home.html">Home</a>:
  </div>	
  <div class="body">
    <h1>Blogs Management
      <span class="right">
		<a href="/Blogs.php?lang=fr">Français</a>
		<a href="/BlogsHelpen.html" target="help">?&nbsp;Help</a>
      </span>
    </h1>
    $TRACE
    $MSG
  </div>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="/jscripts/js20/http.js" type="text/javaScript">
    </script>
    <script src="/testFile.js" type="text/javaScript">
    </script>
