<!--*********************************************************************
 *  Trantabfr.html														*
 *																		*
 *  Template for common translations to French.                         *
 *																		*
 * History:																*
 *		2018/12/27		created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div class="hidden">
    <div id="Months">
      <span></span>
      <span>Jan</span>
      <span>Fev</span>
      <span>Mar</span>
      <span>Avr</span>
      <span>Mai</span>
      <span>Jun</span>
      <span>Jul</span>
      <span>Aut</span>
      <span>Sep</span>
      <span>Oct</span>
      <span>Nov</span>
      <span>Dec</span>
    </div>
    <div id="LMonths">
      <span></span>
      <span>Janvier</span>
      <span>Fevrier</span>
      <span>Mars</span>
      <span>Avril</span>
      <span>Mai</span>
      <span>Juin</span>
      <span>Juillet</span>
      <span>Août</span>
      <span>Septembre</span>
      <span>Octobre</span>
      <span>Novembre</span>
      <span>Decembre</span>
    </div>
  </div>
