<!--*********************************************************************
 *  Trantaben.html														*
 *																		*
 *  Common translation table to English                                 *
 *  Common layout of the popup dialogs presented by the common support	*
 *  for dynamic management of Locations.								*
 *  Although this is an HTML file and is stored in the		            *
 *	same directory used for template files used by			            *
 *	class Template, this file is used by the dynamic		            *
 *	display functionality in Javascript.					            *
 *																		*
 *  History:															*
 *		2018/09/12		created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div class="hidden">
    <div id="Months">
	  <span></span>
	  <span>Jan</span>
	  <span>Feb</span>
	  <span>Mar</span>
	  <span>Apr</span>
	  <span>May</span>
	  <span>Jun</span>
	  <span>Jul</span>
	  <span>Aug</span>
	  <span>Sep</span>
	  <span>Oct</span>
	  <span>Nov</span>
	  <span>Dec</span>
    </div>
    <div id="LMonths">
	  <span></span>
      <span>Enero</span>
      <span>Febrero</span>
      <span>Marzo</span>
      <span>Abril</span>
      <span>Mayo</span>
      <span>Junio</span>
      <span>Julio</span>
      <span>Agosto</span>
      <span>Septiembre</span>
      <span>Octubre</span>
      <span>Noviembre</span>
      <span>Diciembre</span>
    </div> <!-- id="LMonths" -->
  </div>
