<!--*********************************************************************
 *  Trantaben.html														*
 *																		*
 *  Common translation table to English                                 *
 *  Common layout of the popup dialogs presented by the common support	*
 *  for dynamic management of Locations.								*
 *  Although this is an HTML file and is stored in the		            *
 *	same directory used for template files used by			            *
 *	class Template, this file is used by the dynamic		            *
 *	display functionality in Javascript.					            *
 *																		*
 *  History:															*
 *		2018/09/12		created											*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div class="hidden">
    <div id="Months">
	  <span></span>
	  <span>Jan</span>
	  <span>Feb</span>
	  <span>Mar</span>
	  <span>Apr</span>
	  <span>Mai</span>
	  <span>Jun</span>
	  <span>Jul</span>
	  <span>Aug</span>
	  <span>Sep</span>
	  <span>Okt</span>
	  <span>Nov</span>
	  <span>Dez</span>
    </div>
    <div id="LMonths">
	  <span></span>
      <span>Januar</span>
      <span>Februar</span>
      <span>Marz</span>
      <span>April</span>
      <span>Mai</span>
      <span>Juni</span>
      <span>Juli</span>
      <span>August</span>
      <span>September</span>
      <span>Oktober</span>
      <span>November</span>
      <span>Dezember</span>
    </div> <!-- id="LMonths" -->
  </div>
