<!--*********************************************************************
 *  Trantabes.html                                                      *
 *                                                                      *
 *  Common translation table to Spanish                                 *
 *                                                                      *
 *  History:                                                            *
 *      2018/09/12      created                                         *
 *      2019/04/06      add translate tables used by Person.php         *
 *                      add translate tables used by EditEvent.php      *
 *      2020/03/12      add date format                                 *
 *                                                                      *
 *  Copyright &copy; 2020 James A. Cobban                               *
 **********************************************************************-->
  <div class="hidden">
    <span id="dateFormat">
        [dd] [Mon] [yyyy][BC]
    </span>
    <span id="dateFormatFull">
        [dd] [Month] [yyyy][BC]
    </span>
    <div id="Months">
      <span></span>    <!--  0 -->
      <span>Ene</span> <!--  1 -->
      <span>Feb</span>
      <span>Mar</span>
      <span>Abr</span>
      <span>May</span>
      <span>Jun</span>
      <span>Jul</span>
      <span>Ago</span>
      <span>Sep</span>
      <span>Oct</span>
      <span>Nov</span>
      <span>Dec</span> <!-- 12 -->
    </div>
    <div id="LMonths">
      <span></span>           <!--  0 -->
      <span>Enero</span>      <!--  1 -->
      <span>Febrero</span>    <!--  2 -->
      <span>Marzo</span>      <!--  3 -->
      <span>Abril</span>      <!--  4 -->
      <span>Mayo</span>       <!--  5 -->
      <span>Junio</span>      <!--  6 -->
      <span>Julio</span>      <!--  7 -->
      <span>Agosto</span>     <!--  8 -->
      <span>Septiembre</span> <!--  9 -->
      <span>Octubre</span>    <!-- 10 -->
      <span>Noviembre</span>  <!-- 11 -->
      <span>Diciembre</span>  <!-- 12 -->
    </div> <!-- id="LMonths" -->

    <!-- general I18N translate table -->
    <div id="tranTab">
      <span data-key=""></span>
      <span data-key="a[fem]">
        una
      </span>
      <span data-key="a[masc]">
        uno
      </span>
      <span data-key="about">
        alrededor de
      </span>
      <span data-key="AD">
        AD
      </span>
      <span data-key="adopted">
        adoptado
      </span>
      <span data-key="after">
        después de
      </span>
      <span data-key="an unknown person">
        una persona inconnida
      </span>
      <span data-key="and">
        y
      </span>
      <span data-key="Apr">
        Abr
      </span>
      <span data-key="April">
        Abril
      </span>
      <span data-key="at">
        en
      </span>
      <span data-key="Aug">
        Ago
      </span>
      <span data-key="August">
        Agosto
      </span>
      <span data-key="Banns">
        Amonestaciones
      </span>
      <span data-key="BC">
        AC
      </span>
      <span data-key="BCE">
        BCE
      </span>
      <span data-key="before 1970">
        antes de 1970
      </span>
      <span data-key="before">
        antes de
      </span>
      <span data-key="between">
        entre
      </span>
      <span data-key="bic">
        bic
      </span>
      <span data-key="biological">
        biological
      </span>
      <span data-key="brother">
        hermano
      </span>
      <span data-key="calculated as">
        calculated as
      </span>
      <span data-key="Cancelled">
        Cancellado
      </span>
      <span data-key="CE">
        CE
      </span>
      <span data-key="challenged">
        challengado
      </span>
      <span data-key="Child">
        Niño
      </span>
      <span data-key="child">
        niño
      </span>
      <span data-key="Children of">
        Niños de
      </span>
      <span data-key="circa">
        hacia
      </span>
      <span data-key="cleared">
        clearado
      </span>
      <span data-key="Completed">
        Completado
      </span>
      <span data-key="County">
        Condado
      </span>
      <span data-key="Countys">
        Condados
      </span>
      <span data-key="daughter">
        hija
      </span>
      <span data-key="Dec">
        Dec
      </span>
      <span data-key="Deceased">
        Muerto
      </span>
      <span data-key="December">
        Deciembre
      </span>
      <span data-key="deleted">
        eliminado
      </span>
      <span data-key="Did not say">
        Did not say
      </span>
      <span data-key="Display">
        Mostrar
      </span>
      <span data-key="disproved">
        disprovado
      </span>
      <span data-key="dns/can">
        dns/can
      </span>
      <span data-key="Done">
        Fatto
      </span>
      <span data-key="estimated as">
        estimated as
      </span>
      <span data-key="event">
        evento
      </span>
      <span data-key="family member">
        family member
      </span>
      <span data-key="Feb">
        Feb
      </span>
      <span data-key="February">
        Febrero
      </span>
      <span data-key="female">
        female
      </span>
      <span data-key="Find">
        Descubrir
      </span>
      <span data-key="for">
        por
      </span>
      <span data-key="foster">
        foster
      </span>
      <span data-key="from">
        desde
      </span>
      <span data-key="guardianship">
        guardianship
      </span>
      <span data-key="had">
        had
      </span>
      <span data-key="had a Common Law relationship with">
        tenía una relación de ley común con
      </span>
      <span data-key="had some other relationship with">
        tenia alguna otra relacion con
      </span>
      <span data-key="had a relationship with">
        tenía una relación con
      </span>
      <span data-key="has no recorded parents">
        no tiene padres registrados
      </span>
      <span data-key="He">Él
      </span>
      <span data-key="He/She">Él/Ella
      </span>
      <span data-key="husband">
        marido
      </span>
      <span data-key="Illegitimate">
        Ilegítimo
      </span>
      <span data-key="illegitimate">
        ilegítimo
      </span>
      <span data-key="in Q">
        en Q
      </span>
      <span data-key="in">
        en
      </span>
      <span data-key="in[masc]">
        en
      </span>
      <span data-key="Infant">
        bebé</span>
      <span data-key="Jan">
        Ene
      </span>
      <span data-key="January">
        Enero
      </span>
      <span data-key="Jul">
        Jul
      </span>
      <span data-key="July">
        Julio
      </span>
      <span data-key="Jun">
        Jun
      </span>
      <span data-key="June">
        Junio
      </span>
      <span data-key="License">
        Licencia
      </span>
      <span data-key="mailing">
        envío
      </span>
      <span data-key="male">
        masculino
      </span>
      <span data-key="Mar">
        Mar
      </span>
      <span data-key="March">
        Marzo
      </span>
      <span data-key="married">
        se casó con
      </span>
      <span data-key="May">
        Mayo
      </span>
      <span data-key="missing">
        omitido
      </span>
      <span data-key="Never married">
        Nunca fue casado
      </span>
      <span data-key="No">
        Ninguna
      </span>
      <span data-key="None">
        None
      </span>
      <span data-key="Not married">
        No casdado
      </span>
      <span data-key="Nov">
        Nov
      </span>
      <span data-key="November">
        Noviembre
      </span>
      <span data-key="Oct">
        Oct
      </span>
      <span data-key="October">
        Octubre
      </span>
      <span data-key="of">
        de
      </span>
      <span data-key="on">
        el
      </span>
      <span data-key="or">
        o
      </span>
      <span data-key="Private">
        Privada
      </span>
      <span data-key="private">
        privada
      </span>
      <span data-key="[Private]">
        [Privada]
      </span>
      <span data-key="Province">
        Provincia
      </span>
      <span data-key="Province">
        Provincias
      </span>
      <span data-key="repository">
        repositorio
      </span>
      <span data-key="See Notes">
        See Notes
      </span>
      <span data-key="sealing">
        sealing
      </span>
      <span data-key="Sep">
        Sep
      </span>
      <span data-key="September">
        Septiembre
      </span>
      <span data-key="She">
        Ella
      </span>
      <span data-key="Shoemaker">
        Zapatero
      </span>
      <span data-key="Show">
        Mostrar
      </span>
      <span data-key="sibling">
        hermano
      </span>
      <span data-key="sister">
        hermana
      </span>
      <span data-key="son">
        hijo
      </span>
      <span data-key="spouse">
        conyugé
      </span>
      <span data-key="State">
        Estado
      </span>
      <span data-key="States">
        Estados
      </span>
      <span data-key="step">
        step-</span>
      <span data-key="stepdaughter">
        hijastra
      </span>
      <span data-key="stepson">
        hijastro
      </span>
      <span data-key="Stillborn">
        Nacido muerto
      </span>
      <span data-key="submitted">
        Enviado 
      </span>
      <span data-key="The cause of death was">
        La causa de la muerte fue
      </span>
      <span data-key="The marriage ended">
        El matrimonio termino
      </span>
      <span data-key="They">
        Ellos
      </span>
      <span data-key="to">
        hasta
      </span>
      <span data-key="Twin">
        Gemelo
      </span>
      <span data-key="uncleared">
        uncleared
      </span>
      <span data-key="unexpected null value">
        unexpected null value
      </span>
      <span data-key="Unknown">
        Desconocido
      </span>
      <span data-key="unknown">
        desconocido
      </span>
      <span data-key="Unsupported">
        No Admitido
      </span>
      <span data-key="unsupported">
        no admitido
      </span>
      <span data-key="Update">
        Ponerse al dia
      </span>
      <span data-key="was also known as">
        también fue conocido como
      </span>
      <span data-key="was never married">
        nunca fue casado
      </span>
      <span data-key="was sealed to">
        fue sellado al cónyuge
      </span>
      <span data-key="was sealed to parents">
        fue sellado a los padres
      </span>
      <span data-key="was the[male]">
        era el
      </span>
      <span data-key="was the[female]">
        era la
      </span>
      <span data-key="was the[unknown]">
        era el
      </span>
      <span data-key="was the partner of">
        fue el socio de
      </span>
      <span data-key="was widowed">
        fue viudo
      </span>
      <span data-key="was single">
        fue soltero
      </span>
      <span data-key="was a friend [with benefits]">
        era un amigo [con beneficios]</span>
      <span data-key="WFT estimate">
        WFT estimate
      </span>
      <span data-key="wife">
        esposa
      </span>
      <span data-key="Young">
        Joven
      </span>

    </div>
    <div class="hidden" id="srcTypes">`
      <span data-key="1"></span>
      <span data-key="2">
        Bible
      </span>
      <span data-key="3">
        Book
      </span>
      <span data-key="4">
        Census/Tax records
      </span>
      <span data-key="5">
        Church records
      </span>
      <span data-key="6">
        Court records
      </span>
      <span data-key="7">
        Interview
      </span>
      <span data-key="8">
        Personal Journal
      </span>
      <span data-key="9">Land records
      </span>
      <span data-key="10">Letter</span>
      <span data-key="11">Military records</span>
      <span data-key="12">Newspaper</span>
      <span data-key="13">Periodical</span>
      <span data-key="14">Personal Communication</span>
      <span data-key="15">Vital Statistics</span>
      <span data-key="16">Web Site</span>
    </div><!-- id="srcTypes" -->
    <!--*****************************************************************
     *  $typeText                                                        *
     *                                                                    *
     *  Events which are implemented by fields inside a record other    *
     *  than an instance of Event (tblER), are distinguished            *
     *    by the citation type, passed as parameter type.  This table        *
     *    is used to modify the title of the dialog based upon the type.    *
     ******************************************************************-->
    <div id="typeText">
      <span id="0">Hecho Genérico</span>
      <span id="1">Hecho de Nombre</span>
      <span id="2">Evento de Nacimiento</span>
      <span id="3">Evento de Bautizo</span>
      <span id="4">evento de muerte</span>
      <span id="5">evento de entierro</span>
      <span id="6">General Notes</span>
      <span id="7">Research Notes</span>
      <span id="8">Medical Notes</span>
      <span id="9">Cause of Death</span>
      <span id="10">Hecho de Nombre Alternativo</span>
      <span id="11">Child Status</span>
      <span id="12">Relationship to Father</span>
      <span id="13">Relationship to Mother</span>
      <span id="15">Evento de Bautismo de ISUD</span>
      <span id="16">Evento Endowment de ISUD</span>
      <span id="17">Evento sellado a los padres ISUD</span>
      <span id="18">Evento sellado al cónyuge ISUD</span>
      <span id="19">Person Never Married Fact</span>
      <span id="20">Evento de Matrimonio</span>
      <span id="21">Marriage Note</span>
      <span id="22">Never Married Fact</span>
      <span id="23">This Couple had no Children Fact</span>
      <span id="24">Marriage Ended</span>
      <span id="26">Confirmation Event ISUD</span>
      <span id="27">Initiatory Event ISUD</span>
      <span id="30">Evento</span>
      <span id="31">Evento de Matrimonio</span>
      <span id="40">To Do</span>
      <span id="100">Temporary</span>
    </div>

    <!--*****************************************************************
     *  $eventText                                                        *
     *                                                                    *
     *  This table provides a translation from an event type to the text*
     *  to display to the user.  This is ordered alphabetically for use    *
     *    constructing a select element in a web page.                    *
     ******************************************************************-->
    <div id="eventText">
      <span data-key="2">was adopted</span>
      <span data-key="63">also worked as a </span>
      <span data-key="17">appeared in court</span>
      <span data-key="56">attended school</span>
      <span data-key="15000">was baptized (LDS)</span>
      <span data-key="8">was baptized (LDS)</span>
      <span data-key="9">had his Bar Mitzvah</span>
      <span data-key="10">had her Bat Mitzvah</span>
      <span data-key="14">became a citizen</span>
      <span data-key="41">belonged to</span>
      <span data-key="71">birth was registered</span>
      <span data-key="11">was blessed (LDS)</span>
      <span data-key="2000">was born</span>
      <span data-key="3">was born</span>
      <span data-key="5000">was buried</span>
      <span data-key="4">was buried</span>
      <span data-key="3000">was christened</span>
      <span data-key="5">was christened</span>
      <span data-key="13">was circumcized</span>
      <span data-key="15">was confirmed</span>
      <span data-key="26000">was confirmed (LDS)</span>
      <span data-key="16">was confirmed (LDS)</span>
      <span data-key="18">was cremated</span>
      <span data-key="72">death was registered</span>
      <span data-key="50">was described as </span>
      <span data-key="4000">died</span>
      <span data-key="6">died</span>
      <span data-key="20">was divorced </span>
      <span data-key="22">had education </span>
      <span data-key="68">was elected as</span>
      <span data-key="23">emigrated from </span>
      <span data-key="24">fue empleado como</span>
      <span data-key="16000">was endowed (LDS)</span>
      <span data-key="74">was endowed (LDS)</span>
      <span data-key="25">se comprometieron</span>
      <span data-key="36">entered marriage contract</span>
      <span data-key="12">was enumerated in a census</span>
      <span data-key="66">identified with ethnicity</span>
      <span data-key="65">belonged to family group</span>
      <span data-key="21">filed for a divorce </span>
      <span data-key="26">had first communion</span>
      <span data-key="67">had a funeral</span>
      <span data-key="27">graduated from</span>
      <span data-key="28">had a hobby of</span>
      <span data-key="29">was honored as</span>
      <span data-key="31">was ill with</span>
      <span data-key="32">immigrated</span>
      <span data-key="30">in hospital</span>
      <span data-key="60">in the military</span>
      <span data-key="27000">initiatory (LDS)</span>
      <span data-key="75">initiatory (LDS)</span>
      <span data-key="33">was interviewed</span>
      <span data-key="54">lived</span>
      <span data-key="35">marriage banns issued</span>
      <span data-key="37">got a marriage license</span>
      <span data-key="39">got a marriage settlement</span>
      <span data-key="7">marriage was annulled</span>
      <span data-key="73">marriage was registered</span>
      <span data-key="38">fue casado</span>
      <span data-key="69">casado</span>
      <span data-key="20000">casado</span>
      <span data-key="70"></span>
      <span data-key="59">had a medical condition</span>
      <span data-key="40">had a medical event</span>
      <span data-key="42">served in the military</span>
      <span data-key="43">went on mission</span>
      <span data-key="44">was named for</span>
      <span data-key="64">had a nationality </span>
      <span data-key="45">was naturalized</span>
      <span data-key="1">null event 1</span>
      <span data-key="46">an obituary was published</span>
      <span data-key="49">was ordained as</span>
      <span data-key="48">ordinance (LDS)</span>
      <span data-key="34">owned land</span>
      <span data-key="52">owned property</span>
      <span data-key="61">had a photo</span>
      <span data-key="19">received a degree</span>
      <span data-key="53">belonged to the religious affiliation </span>
      <span data-key="55">retired</span>
      <span data-key="76">sealed to spouse</span>
      <span data-key="18000">sealed to spouse</span>    // obsolete
      <span data-key="57">Número de seguridad social</span>
      <span data-key="62">Número de seguridad social (62)</span>
      <span data-key="51">will was probated</span>
      <span data-key="58">wrote a will</span>
      <span data-key="47">worked as a </span>
      <span data-key="0">unused 0</span>
    </div>

    <!--*****************************************************************
     *  'msTypes'                                                        *
     *                                                                    *
     *  Translate from IDMS value of a Family record to text            *
     ******************************************************************-->
    <div class="hidden" id="msTypes">`
      <span data-key="1">
        Sin estado especial
      </span>
      <span data-key="2">
        Anulado
      </span>
      <span data-key="3">
        Unión de hecho
      </span>
      <span data-key="4">
        Divorciado/a
      </span>
      <span data-key="5">
        Casado/a
      </span>
      <span data-key="6">
        Otro/a
      </span>
      <span data-key="7">
        Separados
      </span>
      <span data-key="8">
        Soltero/a
      </span>
      <span data-key="9">
        Divorcio
      </span>
      <span data-key="10">
        Separación
      </span>
      <span data-key="11">
        Privado/a
      </span>
      <span data-key="12">
        Parejas
      </span>
      <span data-key="13">
        Muerte de un cónyuge
      </span>
      <span data-key="14">
        Soltero/a
      </span>
      <span data-key="15">
        Amigos
      </span>
    </div>

    <!--*****************************************************************
     *  'msStmts'                                                        *
     *                                                                    *
     *  Translate from IDMS value of a Family record to a sentence.     *
     ******************************************************************-->
    <div class="hidden" id="msStmts">`
      <span data-key="1">
      </span>
      <span data-key="2">
        Su matrimonio fue anulado.
      </span>
      <span data-key="3">
        Ellos estaban en una relación de derecho común.
      </span>
      <span data-key="4">
        Su matrimonio terminó en divorcio.
      </span>
      <span data-key="5">
      </span>
      <span data-key="6">
        Ellos estaban en una relación no especificada.
      </span>
      <span data-key="7">
        Su matrimonio terminó en una separación.
      </span>
      <span data-key="8">
        Ellos no estaban casados.
      </span>
      <span data-key="9">
        Ellos estaban divorciados.
      </span>
      <span data-key="10">
        Ellos estaban separados.
      </span>
      <span data-key="11">
      </span>
      <span data-key="12">
        Eran socios.
      </span>
      <span data-key="13">
        Su matrimonio terminó con la muerte de un cónyuge.
      </span>
      <span data-key="14">
      </span>
      <span data-key="15">
        Solo eran amigos.
      </span>

    <!--*****************************************************************
     *  'cpRelType'                                                        *
     *                                                                    *
     *  This table provides a translation from a child to parent        *
     *  relationship type as specified in the Child record.             *
     ******************************************************************-->
    <div id="cpRelType">
      <span data-key="">unexpected null value</span>
      <span data-key="1"></span>
      <span data-key="2">adoptado</span>
      <span data-key="3">biológico</span>
      <span data-key="4">challenged</span>
      <span data-key="5">disproved</span>
      <span data-key="6">adoptivo</span>
      <span data-key="7">guardianship</span>
      <span data-key="8">sealing</span>
      <span data-key="9">step</span>
      <span data-key="10">unknown</span>
      <span data-key="11">private</span>
      <span data-key="12">family member</span>
      <span data-key="13">illegitimate</span>
    </div>

    <!--*****************************************************************
     *  'MarriedNameRule'                                                *
     *                                                                    *
     *  This table provides a translation from the value of             *
     *  field 'marriednamerule' in class Family.                        *
     ******************************************************************-->
    <div id="MarriedNameRule">
      <span data-key="0">
        No generar nombres casados
      </span>
      <span data-key="1">
        Reemplace el apellido de la esposa con el apellido del esposo
      </span>
    </div>

    <!--*****************************************************************
     *  $personEvents                                                    *
     *                                                                    *
     *  This table is used to create the selection list for                *
     *    events specific to an individual.  Where the event type            *
     *    is greater than 999 it indicates an event recorded in the        *
     *    Person record itself, and the code is the citation                *
     *    type times 1000.                                                *
     ******************************************************************-->
    <div id="personidualEvents">
      <span data-key="0">Elige un tipo de evento:</span>
      <span data-key="1"></span>
      <span data-key="2">Adoption</span>
      <span data-key="3">Birth</span>
      <span data-key="4">Burial</span>
      <span data-key="5">Christening</span>
      <span data-key="16">Confirmation (LDS)</span>
      <span data-key="6">Death</span>
      <span data-key="8">Baptism</span>
      <span data-key="15000">Baptism (LDS)</span>
      <span data-key="9">BarMitzvah</span>
      <span data-key="10">BasMitzvah</span>
      <span data-key="71">Birth Registration</span>
      <span data-key="11">Blessing</span>
      <span data-key="12">Census</span>
      <span data-key="13">Circumcision</span>
      <span data-key="14">Citizenship</span>
      <span data-key="15">Confirmation</span>
      <span data-key="26000">Confirmation (LDS)</span>
      <span data-key="17">Court</span>
      <span data-key="18">Cremation</span>
      <span data-key="72">Death Registration</span>
      <span data-key="19">Degree</span>
      <span data-key="22">Education</span>
      <span data-key="68">Election</span>
      <span data-key="23">Emigration</span>
      <span data-key="24">Employment</span>
      <span data-key="16000">Endowment (LDS)</span>
      <span data-key="66">Ethnicity</span>
      <span data-key="65">Family Group</span>
      <span data-key="26">First Communion</span>
      <span data-key="67">Funeral</span>
      <span data-key="27">Graduation</span>
      <span data-key="28">Hobbies</span>
      <span data-key="29">Honours</span>
      <span data-key="30">Hospital</span>
      <span data-key="31">Illness</span>
      <span data-key="27000">Initiatory (LDS)</span>
      <span data-key="32">Immigration</span>
      <span data-key="33">Interview</span>
      <span data-key="34">Land</span>
      <span data-key="40">Medical</span>
      <span data-key="59">Medical Condition</span>
      <span data-key="41">Membership</span>
      <span data-key="60">Military</span>
      <span data-key="42">Military Service</span>
      <span data-key="43">Mission</span>
      <span data-key="44">Namesake</span>
      <span data-key="64">Nationality</span>
      <span data-key="45">Naturalization</span>
      <span data-key="46">Obituary</span>
      <span data-key="47">Occupation</span>
      <span data-key="63">Occupation 1</span>
      <span data-key="48">Ordinance</span>
      <span data-key="49">Ordination</span>
      <span data-key="61">Photo</span>
      <span data-key="50">Physical Description</span>
      <span data-key="51">Probate</span>
      <span data-key="52">Property</span>
      <span data-key="53">Religion</span>
      <span data-key="54">Residence</span>
      <span data-key="55">Retirement</span>
      <span data-key="56">School</span>
      <span data-key="57">Social Security Number</span>
      <span data-key="62">Soc Sec Num</span>
      <span data-key="58">Will</span>
    </div>

    <!--*****************************************************************
     *  $marriageEvents                                                    *
     *                                                                    *
     *  This table is used to create the selection list for                *
     *    events specific to a marriage.  Where the event type            *
     *    is greater than 999 it indicates an event recorded in the        *
     *    Family record itself, and the code is the citation                *
     *    type times 1000.                                                *
     ******************************************************************-->
    <div id="marriageEvents">
      <span data-key="0">Choose an event type:</span>
      <span data-key="69">Marriage</span>
      <span data-key="7">Annulment</span>
      <span data-key="20">Divorce</span>
      <span data-key="25">Engagement</span>
      <span data-key="21">Filed for Divorce</span>
      <span data-key="36">Marriage Contract</span>
      <span data-key="24000">Marriage Ended</span>
      <span data-key="37">Marriage License</span>
      <span data-key="38">Marriage Notice</span>
      <span data-key="72">Marriage Registered</span>
      <span data-key="39">Marriage Settlement</span>
      <span data-key="22000">Never Married</span>
      <span data-key="23000">No Children</span>
      <span data-key="70">Other Marriage Fact</span>
      <span data-key="76">sealed to spouse</span>
      <span data-key="18000">Sealed to Spouse (LDS)</span>
    </div>

    <!--*****************************************************************
     *  $idetTitleText                                                    *
     *                                                                    *
     *  This table is used to construct a customized title for events    *
     *    represented by a row in table tblER.                            *
     ******************************************************************-->
    <div id="idetTitleText">
      <span data-key="0"></span>
      <span data-key="1"></span>
      <span data-key="2">Adoption</span>
      <span data-key="3">Birth</span>
      <span data-key="4">Burial</span>
      <span data-key="5">Christening</span>
      <span data-key="6">Death</span>
      <span data-key="7">Annulment</span>
      <span data-key="8">LDS Baptism</span>
      <span data-key="9">Bar Mitzvah</span>
      <span data-key="10">Bas Mitzvah</span>
      <span data-key="11">LDS Blessing</span>
      <span data-key="12">Census Enumeration</span>
      <span data-key="13">Circumcision</span>
      <span data-key="14">Citizenship</span>
      <span data-key="15">Confirmation</span>
      <span data-key="16">LDS Confirmation</span>
      <span data-key="17">Court</span>
      <span data-key="18">Cremation</span>
      <span data-key="19">Degree</span>
      <span data-key="20">Divorce</span>
      <span data-key="21">Divorce Filing</span>
      <span data-key="22">Education</span>
      <span data-key="23">Emigration</span>
      <span data-key="24">Employment</span>
      <span data-key="25">Engagement</span>
      <span data-key="26">First Communion</span>
      <span data-key="27">Graduation</span>
      <span data-key="28">Hobbies</span>
      <span data-key="29">Honours</span>
      <span data-key="30">Hospital</span>
      <span data-key="31">Illness</span>
      <span data-key="32">Immigration</span>
      <span data-key="33">Interview</span>
      <span data-key="34">Land</span>
      <span data-key="35">Marriage Banns</span>
      <span data-key="36">Marriage Contract</span>
      <span data-key="37">Marriage License</span>
      <span data-key="38">Marriage Notice</span>
      <span data-key="39">Marriage Settlement</span>
      <span data-key="40">Medical</span>
      <span data-key="41">Membership</span>
      <span data-key="42">Military Service</span>
      <span data-key="43">Mission</span>
      <span data-key="44">Namesake</span>
      <span data-key="45">Naturalization</span>
      <span data-key="46">Obituary</span>
      <span data-key="47">Occupation</span>
      <span data-key="48">Ordinance</span>
      <span data-key="49">Ordination</span>
      <span data-key="50">Physical Description</span>
      <span data-key="51">Probate</span>
      <span data-key="52">Property</span>
      <span data-key="53">Religion</span>
      <span data-key="54">Residence</span>
      <span data-key="55">Retirement</span>
      <span data-key="56">School</span>
      <span data-key="57">Social Security Number</span>
      <span data-key="59">Will</span>
      <span data-key="59">Medical Condition</span>
      <span data-key="60">Military</span>
      <span data-key="61">Photo</span>
      <span data-key="62">Social Security Number</span>
      <span data-key="63">Other Occupation</span>
      <span data-key="64">Nationality</span>
      <span data-key="65">Family Group</span>
      <span data-key="66">Ethnicity</span>
      <span data-key="67">Funeral</span>
      <span data-key="68">Election</span>
      <span data-key="69">Marriage</span>
      <span data-key="70">Marriage Fact</span>
      <span data-key="71">Birth Registration</span>
      <span data-key="72">Death Registration</span>
      <span data-key="73">Marriage Registration</span>
      <span data-key="74">LDS Endowed</span>
      <span data-key="75">LDS Initiatory</span>
      <span data-key="76">LDS Sealed</span>
      <span data-key="77">Marriage End</span>
      <span data-key="78">LDS Child Sealed to Parents</span>
    </div>

  </div> <!-- class="hidden" -->
