<!--*********************************************************************
 *  Trantabfr.html                                                      *
 *                                                                      *
 *  Template for common translations to French.                         *
 *                                                                      *
 * History:                                                             *
 *      2018/12/27      created                                         *
 *      2019/04/06      add translate tables used by Person.php         *
 *                      add translate tables used by EditEvent.php      *
 *      2020/03/12      add date format                                 *
 *                                                                      *
 *  Copyright &copy; 2020 James A. Cobban                               *
 **********************************************************************-->
  <div class="hidden">
    <span id="dateFormat">
        [dd] [Mon] [yyyy][BC]
    </span>
    <span id="dateFormatFull">
        [dd] [Month] [yyyy][BC]
    </span>
    <div id="Months">
      <span></span>    <!--  0 -->
      <span>Jan</span> <!--  1 -->
      <span>Fev</span> <!--  2 -->
      <span>Mar</span> <!--  3 -->
      <span>Avr</span> <!--  4 -->
      <span>Mai</span> <!--  5 -->
      <span>Jun</span> <!--  6 -->
      <span>Jul</span> <!--  7 -->
      <span>Aut</span> <!--  8 -->
      <span>Sep</span> <!--  9 -->
      <span>Oct</span> <!-- 10 -->
      <span>Nov</span> <!-- 11 -->
      <span>Dec</span> <!-- 12 -->
    </div>
    <div id="LMonths">
      <span></span>         <!--  0 -->
      <span>Janvier</span>  <!--  1 -->
      <span>Fevrier</span>  <!--  2 -->
      <span>Mars</span>     <!--  3 -->
      <span>Avril</span>    <!--  4 -->
      <span>Mai</span>      <!--  5 -->
      <span>Juin</span>     <!--  6 -->
      <span>Juillet</span>  <!--  7 -->
      <span>Août</span>     <!--  8 -->
      <span>Septembre</span><!--  9 -->
      <span>Octobre</span>  <!-- 10 -->
      <span>Novembre</span> <!-- 11 -->
      <span>Décembre</span> <!-- 12 -->
    </div>
    <!-- general I18N translate table -->
    <div id="tranTab" class="hidden">
      <span data-key=""></span>
      <span data-key="a[fem]">
        une
      </span>
      <span data-key="a[masc]">
        un
      </span>
      <span data-key="about">
        environ
      </span>
      <span data-key="AD">
        ap. J.-C.</span>
      <span data-key="adopted">
        adopté</span>
      <span data-key="after">
        apres
      </span>
      <span data-key="an unknown person">
        une personne inconnue
      </span>
      <span data-key="and">
        et
      </span>
      <span data-key="Apr">
        Avr
      </span>
      <span data-key="April">
        Avril
      </span>
      <span data-key="at">à</span>
      <span data-key="Aug">
        Aoû</span>
      <span data-key="August">
        Août
      </span>
      <span data-key="Banns">
        Banns
      </span>
      <span data-key="BC">
        av. J.-C.</span>
      <span data-key="BCE">
        av. EC
      </span>
      <span data-key="before 1970">
        avant 1970
      </span>
      <span data-key="before">
        avant
      </span>
      <span data-key="between">
        entre
      </span>
      <span data-key="bic">
        bic
      </span>
      <span data-key="biological">
        biologique
      </span>
      <span data-key="brother">
        frere
      </span>
      <span data-key="calculated as">
        calculée comme
      </span>
      <span data-key="Cancelled">
        Annullée
      </span>
      <span data-key="CE">
        EC
      </span>
      <span data-key="challenged">
        recusé</span>
      <span data-key="Child">
        Enfant
      </span>
      <span data-key="child">
        enfant
      </span>
      <span data-key="Children of">
        Les Enfants de
      </span>
      <span data-key="circa">
        environ
      </span>
      <span data-key="cleared">
        cleared
      </span>
      <span data-key="Completed">
        Fini
      </span>
      <span data-key="County">
        Comté
      </span>
      <span data-key="Countys">
        Comtés
      </span>
      <span data-key="daughter">
        fille
      </span>
      <span data-key="Day Laborer">
        Journalier
      </span>
      <span data-key="Dec">
        Dec
      </span>
      <span data-key="Deceased">
        Decedée
      </span>
      <span data-key="December">
        Decembre
      </span>
      <span data-key="deleted">
        écraser
      </span>
      <span data-key="Did not say">
        n'a dit pas
      </span>
      <span data-key="Display">
        Montrer
      </span>
      <span data-key="disproved">
        réfuté</span>
      <span data-key="dns/can">
        dns/can
      </span>
      <span data-key="Done">
        Fait
      </span>
      <span data-key="estimated as">
        estimée comme
      </span>
      <span data-key="event">
        evenement
      </span>
      <span data-key="family member">
        membre de famille
      </span>
      <span data-key="Farmer">
        Agriculteur
      </span>
      <span data-key="Farm Laborer">
        Ouvrier agricole
      </span>
      <span data-key="father">
        père
      </span>
      <span data-key="Father">
        Père
      </span>
      <span data-key="Feb">
        Fev
      </span>
      <span data-key="February">
        Fevrier
      </span>
      <span data-key="female">
        femelle
      </span>
      <span data-key="for">
        pour
      </span>
      <span data-key="foster">
        de lait
      </span>
      <span data-key="from">
        de
      </span>
      <span data-key="guardianship">
        tutelle
      </span>
      <span data-key="grand-">
        grand&nbsp;</span>
      <span data-key="great-">
        arrière&nbsp;</span>
      <span data-key="had">
        a eu
      </span>
      <span data-key="had a Common Law relationship with">
        a eu une relation Common-Law avec
      </span>
      <span data-key="had some other relationship with">
        a eu quelque autre relation avec
      </span>
      <span data-key="had a relationship with">
        a eu une relation avec
      </span>
      <span data-key="has no recorded parents">
        a aucune parents enregistrés
      </span>
      <span data-key="He">
        Il
      </span>
      <span data-key="He/She">
        Il/Elle
      </span>
      <span data-key="husband">
        l'époux
      </span>
      <span data-key="Illegitimate">
        Naturel
      </span>
      <span data-key="illegitimate">
        naturel
      </span>
      <span data-key="in Q">
        en Quartier
      </span>
      <span data-key="in">
        en
      </span>
      <span data-key="in[masc]">
        au
      </span>
      <span data-key="Infant">
        Bebé</span>
      <span data-key="Jan">
        Jan
      </span>
      <span data-key="January">
        Janvier
      </span>
      <span data-key="Jul">
        Jul
      </span>
      <span data-key="July">
        Juillet
      </span>
      <span data-key="Jun">
        Jun
      </span>
      <span data-key="June">
        Juin
      </span>
      <span data-key="License">
        License
      </span>
      <span data-key="Laborer">
        Ouvrier
      </span>
      <span data-key="mailing">
        postale
      </span>
      <span data-key="male">
        mâle
      </span>
      <span data-key="Mar">
        Mar
      </span>
      <span data-key="March">
        Mars
      </span>
      <span data-key="married">
        a marié</span>
      <span data-key="May">
        Mai
      </span>
      <span data-key="missing">
        manquant
      </span>
      <span data-key="mother">
        mère
      </span>
      <span data-key="Mother">
        Mère
      </span>
      <span data-key="Never married">
        Jamais marié</span>
      <span data-key="No">
        Aucun
      </span>
      <span data-key="None">
        Aucune
      </span>
      <span data-key="Not married">
        Pas marié</span>
      <span data-key="Nov">
        Nov
      </span>
      <span data-key="November">
        Novembre
      </span>
      <span data-key="Oct">
        Oct
      </span>
      <span data-key="October">
        Octobre
      </span>
      <span data-key="of">
        de
      </span>
      <span data-key="on">
        le
      </span>
      <span data-key="or">
        ou
      </span>
      <span data-key="Private">
        Privée
      </span>
      <span data-key="private">
        privée
      </span>
      <span data-key="[Private]">[Privée]</span>
      <span data-key="Province">
        Province
      </span>
      <span data-key="Provinces">
        Provinces
      </span>
      <span data-key="repository">
        dépôt
      </span>
      <span data-key="See Notes">
        Voir Notes
      </span>
      <span data-key="sealing">
        sceau
      </span>
      <span data-key="Sep">
        Sep
      </span>
      <span data-key="September">
        Septembre
      </span>
      <span data-key="She">
        Elle
      </span>
      <span data-key="Shoemaker">
        Cordonnier
      </span>
      <span data-key="sibling">
        frere ou soeur
      </span>
      <span data-key="sister">
        soeur
      </span>
      <span data-key="son">
        fils
      </span>
      <span data-key="spouse">
        épouse ou époux
      </span>
      <span data-key="State">
        État
      </span>
      <span data-key="States">
        États
      </span>
      <span data-key="step">
        beau-</span>
      <span data-key="Stillborn">
        Mort-née
      </span>
      <span data-key="submitted">
        Soumis
      </span>
      <span data-key="The cause of death was">
        La cause de mort etait
      </span>
      <span data-key="The marriage ended">
        Le mariage a pris fin
      </span>
      <span data-key="They">
        Ils
      </span>
      <span data-key="to">
        à
      </span>
      <span data-key="Twin">
        Jumeau
      </span>
      <span data-key="uncleared">
        uncleared
      </span>
      <span data-key="unexpected null value">
        unexpected null value
      </span>
      <span data-key="Unknown">
        Inconnu
      </span>
      <span data-key="unknown">
        inconnu
      </span>
      <span data-key="Unsupported">
        Non Pris en Charge
      </span>
      <span data-key="unsupported">
        non pris en charge
      </span>
      <span data-key="Update">
        Mise à jour
      </span>

      <span data-key="was also known as">était également connu comme</span>
      <span data-key="was never married">
        etait jamais marié</span>
      <span data-key="was sealed to">
        est étanchéité a
      </span>
      <span data-key="was sealed to parents">
        est étanchéité a parents
      </span>
      <span data-key="was the[male]">
        etait le
      </span>
      <span data-key="was the[female]">
        etait la
      </span>
      <span data-key="was the[unknown]">
        etait le
      </span>
      <span data-key="was the partner of">
        etait partenaire de
      </span>
      <span data-key="was widowed">
        est veuve
      </span>
      <span data-key="was single">
        etait celébitaire
      </span>
      <span data-key="was a friend [with benefits]">
        etait un ami [with benefits]</span>
      <span data-key="WFT estimate">
        WFT estimée
      </span>
      <span data-key="wife">
        l'épouse
      </span>
      <span data-key="Young">
        Jeune
      </span>
    </div>

    <div class="hidden" id="srcTypes">`
      <span data-key="1"></span>
      <span data-key="2">Bible</span>
      <span data-key="3">Livre</span>
      <span data-key="4">Document de recensement ou d'impôt</span>
      <span data-key="5">Document d'une Église</span>
      <span data-key="6">Document du tribunal</span>
      <span data-key="7">Entrevue</span>
      <span data-key="8">Journal intime</span>
      <span data-key="9">Registres fonciers</span>
      <span data-key="10">Lettre</span>
      <span data-key="11">Militaire</span>
      <span data-key="12">Journal</span>
      <span data-key="13">Périodiques</span>
      <span data-key="14">Communication personnelle</span>
      <span data-key="15">Statistiques vitales</span>
      <span data-key="16">Site-Web</span>
    </div><!-- id="srcTypes" -->

    <!--*****************************************************************
     *  'typeText'                                                      *
     *                                                                  *
     *  Events which are implemented by fields inside a record other    *
     *  than an instance of Event (tblER), are distinguished            *
     *  by the citation type, passed as parameter type.  This table     *
     *  is used to modify the title of the dialog based upon the type.  *
     ******************************************************************-->
    <div id="typeText">
      <span id="0">Fait Générique</span>
      <span id="1">Nom Fait</span>
      <span id="2">Évenement de Naissance</span>
      <span id="3">Évenement de Baptême</span>
      <span id="4">Évenement de Mort</span>
      <span id="5">Évenement de Sepulture</span>
      <span id="6">Notes Générale</span>
      <span id="7">Notes de Récherche</span>
      <span id="8">Notes Médicaux</span>
      <span id="9">Cause de Décès</span>
      <span id="10">Nom Alternatif</span>
      <span id="11">Statut d'Enfant</span>
      <span id="12">Relation avec le Père</span>
      <span id="13">Relation avec le Mère</span>
      <span id="15">Évenement de Baptême ESDJ</span>
      <span id="16">LDS Endowment Évenement</span>
      <span id="17">LDS Sealed to Parents Évenement</span>
      <span id="18">LDS Sealed to Spouse Évenement</span>
      <span id="19">Fait Personne Jamais Mariée</span>
      <span id="20">Évenement de Mariage</span>
      <span id="21">Notes de Mariage</span>
      <span id="22">Fait Jamais Mariée</span>
      <span id="23">ce Couple n'a pas eu d'Enfants</span>
      <span id="24">Termination de la Mariage</span>
      <span id="26">Évenement de la Confirmation ESDJ</span>
      <span id="27">Évenement de l'Initiatory ESDJ</span>
      <span id="30">Évenement</span>
      <span id="31">Évenement de la Mariage</span>
      <span id="40">à Faire</span>
      <span id="100">Temporaire</span>
    </div>

    <!--*****************************************************************
     *  'eventText'                                                     *
     *                                                                  *
     *  This table provides a translation from an event type to the text*
     *  to display to the user.  This is ordered alphabetically for use *
     *  constructing a select element in a web page.                    *
     ******************************************************************-->
    <div id="eventText">
      <span data-key="2">adopted</span>
      <span data-key="63">aussi travaillé comme un</span>
      <span data-key="17">appeared in court</span>
      <span data-key="56">attended school</span>
      <span data-key="15000">baptême (LDS)</span>
      <span data-key="8">baptême (LDS)</span>
      <span data-key="9">Bar Mitzvah</span>
      <span data-key="10">Bat Mitzvah</span>
      <span data-key="14">became a citizen</span>
      <span data-key="41">belonged to</span>
      <span data-key="71">birth registered</span>
      <span data-key="11">blessed (LDS)</span>
      <span data-key="2000">born</span>
      <span data-key="3">naissance</span>
      <span data-key="5000">enterré</span>
      <span data-key="4">enterré</span>
      <span data-key="3000">baptême</span>
      <span data-key="5">baptême</span>
      <span data-key="13">circumcized</span>
      <span data-key="15">confirmed</span>
      <span data-key="26000">confirmed (LDS)</span>
      <span data-key="16">confirmed (LDS)</span>
      <span data-key="18">cremated</span>
      <span data-key="72">death registered</span>
      <span data-key="50">described as </span>
      <span data-key="4000">mort</span>
      <span data-key="6">mort</span>
      <span data-key="20">divorcé</span>
      <span data-key="22">education </span>
      <span data-key="68">eligé</span>
      <span data-key="23">emigrated from </span>
      <span data-key="24">employed as</span>
      <span data-key="16000">endowed (LDS)</span>
      <span data-key="74">endowed (LDS)</span>
      <span data-key="25">got engaged</span>
      <span data-key="36">entered marriage contract</span>
      <span data-key="12">enumerated in a census</span>
      <span data-key="66">identified with ethnicity</span>
      <span data-key="65">belonged to family group</span>
      <span data-key="21">filed for a divorce </span>
      <span data-key="26">had first communion</span>
      <span data-key="67">funeral</span>
      <span data-key="27">graduated from</span>
      <span data-key="28">hobby of</span>
      <span data-key="29">honored as</span>
      <span data-key="31">ill with</span>
      <span data-key="32">immigrated</span>
      <span data-key="30">in hospital</span>
      <span data-key="60">in the military</span>
      <span data-key="27000">initiatory (LDS)</span>
      <span data-key="75">initiatory (LDS)</span>
      <span data-key="33">interviewed</span>
      <span data-key="54">lived</span>
      <span data-key="35">marriage banns issued</span>
      <span data-key="37">got a marriage license</span>
      <span data-key="39">got a marriage settlement</span>
      <span data-key="7">marriage annulled</span>
      <span data-key="73">marriage registered</span>
      <span data-key="38">married</span>
      <span data-key="69">married</span>
      <span data-key="20000">married</span>
      <span data-key="70"></span>
      <span data-key="59">medical condition</span>
      <span data-key="40">medical event</span>
      <span data-key="42">served in the military</span>
      <span data-key="43">went on mission</span>
      <span data-key="44">named for</span>
      <span data-key="64">nationality </span>
      <span data-key="45">naturalized</span>
      <span data-key="1">null event 1</span>
      <span data-key="46">an obituary published</span>
      <span data-key="49">ordained as</span>
      <span data-key="48">ordinance (LDS)</span>
      <span data-key="34">owned land</span>
      <span data-key="52">owned property</span>
      <span data-key="61">photo</span>
      <span data-key="19">received a degree</span>
      <span data-key="53">belonged to the religious affiliation </span>
      <span data-key="55">retired</span>
      <span data-key="76">sealed to spouse</span>
      <span data-key="18000">sealed to spouse</span>    // obsolete
      <span data-key="57">Numéro de sécurité sociale</span>
      <span data-key="62">Numéro de sécurité sociale (62)</span>
      <span data-key="51">will probated</span>
      <span data-key="58">wrote a will</span>
      <span data-key="47">travaillé comme un</span>
      <span data-key="0">unused 0</span>
    </div>

    <!--*****************************************************************
     *  'eventStmt'                                                     *
     *                                                                  *
     *  This table provides a translation from an event type to the     *
     *  sentence to display to the user in the anecdotal text.          *
     ******************************************************************-->
    <div id="eventStmt">
      <span data-key='1'>[Pronoun] [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='2'>[Pronoun] est adopté [onDate] [Location] by [Description].[Citations] [Notes]</span>
      <span data-key='3'>[Pronoun] est né [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='4'>[Pronoun] a été enterré [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='5'>[Pronoun] est baptizé [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='6'>[Pronoun] est mort [onDate] [Description] [Location].[Citations] [Notes]</span>
      <span data-key='7'>[Pronoun] a sa mariage annullée [Description], [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='8'>[Pronoun] est baptizé de LDS [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='9'>Il a celebré son bar mitzvah [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='10'>Elle a celebré sa bas mitzvah [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='11'>[Pronoun] est beni [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='12'>[Pronoun] a apparait a le [Description] census [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='13'>[Pronoun] est circumcisé [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='14'>[Pronoun] est devient un [Description] citizen [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='15'>[Pronoun] est confirmé [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='16'>[Pronoun] est confirmed in The Church of Jesus Christ of Latter-day Saints [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='17'>[Pronoun] est involvé in a court case about [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='18'>[Pronoun] est cremé [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='19'>[Pronoun] a recu une degreée de [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='20'>[Pronoun] sont divorcés [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='21'>[Pronoun] filed for divorce [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='22'>[Pronoun] est educé à [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='23'>[Pronoun] emigré [Description] [onDate] [fromLocation].[Citations] [Notes]</span>
      <span data-key='24'>[Pronoun] est employé comme un [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='25'>[Pronoun] sont engagés [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='26'>[Pronoun] a reçu First Holy Communion [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='27'>[Pronoun] a gradué de [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='28'>[Pronoun] a enjoui [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='29'>[Pronoun] est honoré pour [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='30'>[Pronoun] est à l'hôpital pour [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='31'>[Pronoun] est ill avec [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='32'>[Pronoun] a immigré [Description] [onDate] [toLocation].[Citations] [Notes]</span>
      <span data-key='33'>[Pronoun] est interviewed [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='34'>[Pronoun] [Description] land [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='35'>[Pronoun] a publié les banns de mariage [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='36'>[Pronoun] a signé un contract de mariage [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='37'>[Pronoun] a obtenu un license pour mariage [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='38'>[Pronoun] a publié un intent a marier [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='39'>[Pronoun] a obtenu un settlement de mariage [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='40'>[Pronoun] a reçu des attentions medicaux pour [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='41'>[Pronoun] est un membre de [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='42'>[Pronoun] a servie dans le militaire [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='43'>[Pronoun] a servie dans une mission [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='44'>[Pronoun] est named after [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='45'>[Pronoun] est naturalizé [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='46'>[Pronoun] obituary est publié dans le [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='47'>[Pronoun] a travaillé comme un [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='48'>[Pronoun] a l'ordinance LDS [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='49'>[Pronoun] est ordiné a [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='50'>[Pronoun] est descrit comme [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='51'>[Pronoun] a un estate probé [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='52'>[Pronoun] [Description] proprieté [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='53'>[Pronoun] a appartenu a la croyance [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='54'>[Pronoun] a demeuré [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='55'>[Pronoun] retired [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='56'>[Pronoun] attended school [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='57'>[Pronoun] est assigned US Social Security Number [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='58'>[Pronoun] signed a will [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='59'>[Pronoun] had a medical condition of [Description], [onDate], [Location].[Citations] [Notes]</span>
      <span data-key='60'>[Pronoun] served in the military: [Description], [onDate], [Location].[Citations] [Notes]</span>
      <span data-key='61'>[Pronoun] had a photo taken [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='62'>[Pronoun] est assigned US Social Security Number [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='63'>[Pronoun] had another occupation as [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='64'>[Pronoun] est [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='65'>[Pronoun] a appartenu à une groupe familielle [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='66'>[Pronoun] a s'identifié comme [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='67'>[Pronoun] funeral est held [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='68'>[Pronoun] est eligé comme [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='69'>[Pronoun] est marie [Description] [onDate] and [Location].[Citations] [Notes]</span>
      <span data-key='70'>Evenement de mariage [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='71'>[Her][!His] naissance est registré [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='72'>[Her][!His] mort est registré [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='73'>Son mariage est registré [Description] [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='2000'>[Pronoun] est né [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='3000'>[Pronoun] est baptizé [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='4000'>[Pronoun] est mort [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='5000'>[Pronoun] est sepulté [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='5001'>[Pronoun] est incenéré [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='15000'>[Pronoun] a reçu le Baptism LDS [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='16000'>[Pronoun] a reçu l'Endowment LDS [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='26000'>[Pronoun] a reçu la Confirmation LDS [onDate] [Location].[Citations] [Notes]</span>
      <span data-key='27000'>[Pronoun] a reçu l'Initiatory LDS [onDate] [Location].[Citations] [Notes]</span>
    </div>

    <!--*****************************************************************
     *  'msTypes'                                                       *
     *                                                                  *
     *  Translate from IDMS value of a Family record to text            *
     ******************************************************************-->
    <div class="hidden" id="msTypes">`
      <span data-key="1">
        Pas de statut spécial
      </span>
      <span data-key="2">
        Annulé
      </span>
      <span data-key="3">
        Mariage de fait
      </span>
      <span data-key="4">
        Divorcé[e]
      </span>
      <span data-key="5">
        Marié[e]
      </span>
      <span data-key="6">
        Autre
      </span>
      <span data-key="7">
        Separated
      </span>
      <span data-key="8">
        Célibataire
      </span>
      <span data-key="9">
        Divorce
      </span>
      <span data-key="10">
        Séparation
      </span>
      <span data-key="11">
        Privé
      </span>
      <span data-key="12">
        Partenaires
      </span>
      <span data-key="13">
        Décès d'un conjoint
      </span>
      <span data-key="14">
        Célibataire
      </span>
      <span data-key="15">
        Copains
      </span>
    </div>

    <!--*****************************************************************
     *  'msStmts'                                                       *
     *                                                                  *
     *  Translate from IDMS value of a Family record to a sentence.     *
     ******************************************************************-->
    <div class="hidden" id="msStmts">`
      <span data-key="1">
      </span>
      <span data-key="2">
        Leur mariage a été annulé.
      </span>
      <span data-key="3">
        Ils étaient en union de fait.
      </span>
      <span data-key="4">
        Leur mariage s'est terminé par un divorce.
      </span>
      <span data-key="5">
      </span>
      <span data-key="6">
        Ils étaient dans une relation non spécifiée.
      </span>
      <span data-key="7">
        Leur mariage s'est terminé par une séparation.
      </span>
      <span data-key="8">
        Ils n'étaient pas mariés.
      </span>
      <span data-key="9">
        Ils étaient divorcés.
      </span>
      <span data-key="10">
        Ils étaient séparés.
      </span>
      <span data-key="11">
      </span>
      <span data-key="12">
        Ils étaient partenaires.
      </span>
      <span data-key="13">
        Leur mariage a pris fin avec la mort d'un conjoint.
      </span>
      <span data-key="14">
      </span>
      <span data-key="15">
        Ce n'étaient que des amis.
      </span>

    <!--*****************************************************************
     *  'cpRelType'                                                     *
     *                                                                  *
     *  This table provides a translation from a child to parent        *
     *  relationship type as specified in the Child record.             *
     ******************************************************************-->
    <div id="cpRelType">
      <span data-key=''>unexpected null value</span>
      <span data-key='1'></span>
      <span data-key='2'>adopté</span>
      <span data-key='3'>biologique</span>
      <span data-key='4'>recusé</span>
      <span data-key='5'>réfuté</span>
      <span data-key='6'>de lait</span>
      <span data-key='7'>tutelle</span>
      <span data-key='8'>étanchéité</span>
      <span data-key='9'>beau-</span>
      <span data-key='10'>inconnu</span>
      <span data-key='11'>privée</span>
      <span data-key='12'>membre de famille</span>
      <span data-key='13'>naturel</span>
    </div>

    <!--*****************************************************************
     *  'MarriedNameRule'                                               *
     *                                                                  *
     *  This table provides a translation from the value of             *
     *  field 'marriednamerule' in class Family.                        *
     ******************************************************************-->
    <div id="MarriedNameRule">
      <span data-key="0">
        Ne pas générer de noms mariés
      </span>
      <span data-key="1">
        Remplacer le nom de famille de l'épouse par le nom de famille du mari
      </span>
    </div>

    <!--*****************************************************************
     *  $personEvents                                                   *
     *                                                                  *
     *  This table is used to create the selection list for             *
     *  events specific to an individual.  Where the event type         *
     *  is greater than 999 it indicates an event recorded in the       *
     *  Person record itself, and the code is the citation              *
     *  type times 1000.                                                *
     ******************************************************************-->
    <div id="personEvents">
      <span data-key="0">Choisir une type d'evenement:</span>
      <span data-key="1"></span>
      <span data-key="2">Adoption</span>
      <span data-key="3">Naissance</span>
      <span data-key="4">Enterrement</span>
      <span data-key="5">Christening</span>
      <span data-key="16">Confirmation (LDS)</span>
      <span data-key="6">Mort</span>
      <span data-key="8">Baptism</span>
      <span data-key="15000">Baptism (LDS)</span>
      <span data-key="9">BarMitzvah</span>
      <span data-key="10">BasMitzvah</span>
      <span data-key="71">Birth Registration</span>
      <span data-key="11">Blessing</span>
      <span data-key="12">Census</span>
      <span data-key="13">Circumcision</span>
      <span data-key="14">Citizenship</span>
      <span data-key="15">Confirmation</span>
      <span data-key="26000">Confirmation (LDS)</span>
      <span data-key="17">Court</span>
      <span data-key="18">Cremation</span>
      <span data-key="72">Death Registration</span>
      <span data-key="19">Degree</span>
      <span data-key="22">Education</span>
      <span data-key="68">Election</span>
      <span data-key="23">Emigration</span>
      <span data-key="24">Employment</span>
      <span data-key="16000">Endowment (LDS)</span>
      <span data-key="66">Ethnicity</span>
      <span data-key="65">Family Group</span>
      <span data-key="26">First Communion</span>
      <span data-key="67">Funeral</span>
      <span data-key="27">Graduation</span>
      <span data-key="28">Hobbies</span>
      <span data-key="29">Honours</span>
      <span data-key="30">Hospital</span>
      <span data-key="31">Illness</span>
      <span data-key="27000">Initiatory (LDS)</span>
      <span data-key="32">Immigration</span>
      <span data-key="33">Interview</span>
      <span data-key="34">Land</span>
      <span data-key="40">Medical</span>
      <span data-key="59">Medical Condition</span>
      <span data-key="41">Membership</span>
      <span data-key="60">Military</span>
      <span data-key="42">Military Service</span>
      <span data-key="43">Mission</span>
      <span data-key="44">Namesake</span>
      <span data-key="64">Nationality</span>
      <span data-key="45">Naturalization</span>
      <span data-key="46">Obituary</span>
      <span data-key="47">Occupation</span>
      <span data-key="63">Occupation 1</span>
      <span data-key="48">Ordinance</span>
      <span data-key="49">Ordination</span>
      <span data-key="61">Photo</span>
      <span data-key="50">Physical Description</span>
      <span data-key="51">Probate</span>
      <span data-key="52">Property</span>
      <span data-key="53">Religion</span>
      <span data-key="54">Residence</span>
      <span data-key="55">Retirement</span>
      <span data-key="56">School</span>
      <span data-key="57">Social Security Number</span>
      <span data-key="62">Soc Sec Num</span>
      <span data-key="58">Will</span>
    </div>

    <!--*****************************************************************
     *  $marriageEvents                                                 *
     *                                                                  *
     *  This table is used to create the selection list for             *
     *  events specific to a marriage.  Where the event type            *
     *  is greater than 999 it indicates an event recorded in the       *
     *  Family record itself, and the code is the citation              *
     *  type times 1000.                                                *
     ******************************************************************-->
    <div id="marriageEvents">
      <span data-key="0">Choisir une Type d'Évenement:</span>
      <span data-key="69">Mariage</span>
      <span data-key="7">Annulation</span>
      <span data-key="20">Divorce</span>
      <span data-key="25">Engagement</span>
      <span data-key="21">Demandé le Divorce</span>
      <span data-key="36">Contrat de mariage</span>
      <span data-key="24000">Termination de mariage</span>
      <span data-key="37">Licence de mariage</span>
      <span data-key="38">Avis de mariage</span>
      <span data-key="72">Mariage Enregistré</span>
      <span data-key="39">Règlement de mariage</span>
      <span data-key="22000">Jamais Marié</span>
      <span data-key="23000">Aucun Enfants</span>
      <span data-key="70">Autre Fait de Mariage</span>
      <span data-key="76">sealed to spouse</span>
      <span data-key="18000">Sealed to Spouse (LDS)</span>
    </div>

    <!--*****************************************************************
     *  $idetTitleText                                                  *
     *                                                                  *
     *  This table is used to construct a customized title for events   *
     *  represented by a row in table tblER.                            *
     ******************************************************************-->
    <div id="idetTitleText">
      <span data-key="0"></span>
      <span data-key="1"></span>
      <span data-key="2">Adoption</span>
      <span data-key="3">Birth</span>
      <span data-key="4">Burial</span>
      <span data-key="5">Christening</span>
      <span data-key="6">Death</span>
      <span data-key="7">Annulment</span>
      <span data-key="8">LDS Baptism</span>
      <span data-key="9">Bar Mitzvah</span>
      <span data-key="10">Bas Mitzvah</span>
      <span data-key="11">LDS Blessing</span>
      <span data-key="12">Census Enumeration</span>
      <span data-key="13">Circumcision</span>
      <span data-key="14">Citizenship</span>
      <span data-key="15">Confirmation</span>
      <span data-key="16">LDS Confirmation</span>
      <span data-key="17">Court</span>
      <span data-key="18">Cremation</span>
      <span data-key="19">Degree</span>
      <span data-key="20">Divorce</span>
      <span data-key="21">Divorce Filing</span>
      <span data-key="22">Education</span>
      <span data-key="23">Emigration</span>
      <span data-key="24">Employment</span>
      <span data-key="25">Engagement</span>
      <span data-key="26">First Communion</span>
      <span data-key="27">Graduation</span>
      <span data-key="28">Hobbies</span>
      <span data-key="29">Honours</span>
      <span data-key="30">Hospital</span>
      <span data-key="31">Illness</span>
      <span data-key="32">Immigration</span>
      <span data-key="33">Interview</span>
      <span data-key="34">Land</span>
      <span data-key="35">Marriage Banns</span>
      <span data-key="36">Marriage Contract</span>
      <span data-key="37">Marriage License</span>
      <span data-key="38">Marriage Notice</span>
      <span data-key="39">Marriage Settlement</span>
      <span data-key="40">Medical</span>
      <span data-key="41">Membership</span>
      <span data-key="42">Military Service</span>
      <span data-key="43">Mission</span>
      <span data-key="44">Namesake</span>
      <span data-key="45">Naturalization</span>
      <span data-key="46">Obituary</span>
      <span data-key="47">Occupation</span>
      <span data-key="48">Ordinance</span>
      <span data-key="49">Ordination</span>
      <span data-key="50">Physical Description</span>
      <span data-key="51">Probate</span>
      <span data-key="52">Property</span>
      <span data-key="53">Religion</span>
      <span data-key="54">Residence</span>
      <span data-key="55">Retirement</span>
      <span data-key="56">School</span>
      <span data-key="57">Social Security Number</span>
      <span data-key="59">Will</span>
      <span data-key="59">Medical Condition</span>
      <span data-key="60">Military</span>
      <span data-key="61">Photo</span>
      <span data-key="62">Social Security Number</span>
      <span data-key="63">Other Occupation</span>
      <span data-key="64">Nationality</span>
      <span data-key="65">Family Group</span>
      <span data-key="66">Ethnicity</span>
      <span data-key="67">Funeral</span>
      <span data-key="68">Election</span>
      <span data-key="69">Marriage</span>
      <span data-key="70">Marriage Fact</span>
      <span data-key="71">Birth Registration</span>
      <span data-key="72">Death Registration</span>
      <span data-key="73">Marriage Registration</span>
      <span data-key="74">LDS Endowed</span>
      <span data-key="75">LDS Initiatory</span>
      <span data-key="76">LDS Sealed</span>
      <span data-key="77">Marriage End</span>
      <span data-key="78">LDS Child Sealed to Parents</span>
    </div>

  </div> <!-- class="hidden" -->
