<!--*********************************************************************
 *  updateLocationOK.html                                               *
 *                                                                      *
 *  Handle a request to update an individual location in                *
 *  the Legacy family tree database.                                    *
 *                                                                      *
 *  History:                                                            *
 *      2018/02/22      created                                         *
 *                                                                      *
 *  Copyright &copy; 2018 James A. Cobban                               *
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php">Genealogy</a>:
  </div>
  <div class="body">
    <h1>Update Location</h1>
  </div>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="/FamilyTree/updateLocation.js" type="text/javaScript">
    </script>
