<!--*********************************************************************
 *  updateLocationError.html                                            *
 *                                                                      *
 *  Handle a request to update an individual location in                *
 *  the Legacy family tree database.                                    *
 *                                                                      *
 *  History:                                                            *
 *      2018/02/22      created                                         *
 *                                                                      *
 *  Copyright &copy; 2018 James A. Cobban                               *
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    <a href="/FamilyTree/Services.php?lang=$LANG">Services</a>
    <a href="/FamilyTree/Locations.php?lang=$LANG">Locations</a>
    <a href="/FamilyTree/Locations.php?pattern=^$NAMESTART&amp;lang=$LANG">
                Locations starting with '$NAMESTART'</a>
  </div>
  <div class="body">
  <h1>Update Location</h1>
    $MSG
    $TRACE
  </div>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
