<!--*********************************************************************
 *  UsersEditen.html													*
 *																		*
 *  Template for a web page for managing the Users.						*
 *																		*
 *  History:															*
 *		2018/02/02		created											*
 *      2019/04/11      add send email to pending users                 *
 *																		*
 *  Copyright &copy; 2019 James A. Cobban								*
 **********************************************************************-->
  <div id="breadcrumbs" class="hidden">
    <a href="/genealogy.php?lang=$LANG">
		Genealogy
    </a>:
    <a href="/FamilyTree/Services.php?lang=$LANG">
		Services
    </a>:
  </div>	
  <div class="body">
  <h1>
      <span class="right">
		<a href="/UsersHelpen.html" target="help">? Help</a>
      </span>
		Users Master List
  </h1>
    $TRACE
    $MSG
    <p class="message" id="notadmin">
		Only an administrator can use this application
    </p>
    <p class="label" id="userCount">
		$COUNT Users match the specified pattern.
    </p>
    <form id="locForm" name="locForm" action="Users.php" method="post">
      <div class="row">
		<label class="label" for="pattern" style="width: 12em;">
		    Pattern:
		</label>
		<input type="text" name="pattern" id="pattern" class="white leftnc"
			size="64" value="$PATTERN">
      </div>
      <div class="row">
		<label class="label" for="authPattern" style="width: 12em;">
		    Authorizations:
		</label>
		<input type="text" name="authPattern" id="authPattern"
			class="white leftnc" 
			size="64" value="$AUTHPATTERN">
      </div>
      <div class="row">
		<label class="label" for="mailPattern" style="width: 12em;">
		    E-Mail Address:
		</label>
		<input type="text" name="mailPattern" id="mailPattern"
			class="white leftnc" 
			size="64" value="$MAILPATTERN">
      </div>
    <input type="hidden" name="Debug" id="Debug" value="$DEBUG">
    <p class="label">
      <button type="submit" id="Submit">
		Search
      </button>
    &nbsp;
      <a href="mailto:?to=$TOLIST&amp;bcc=$BCCLIST&amp;subject=[JamesCobban.net]%20General%20Notice" T
		    class="buttonText" id="bulkMail">
		Send Mail to all Users
      </a>
    &nbsp;
      <a href="mailto:?to=$TOLIST&amp;bcc=$PENDLIST&amp;subject=[JamesCobban.net]%20General%20Notice" 
	    class="buttonText" id="bulkMail">
	    Send Mail to all Pending Users
      </a>
    </p>
      <div class="center" id="topBrowse">
        <span class="left" id="topPrev">
		  <a href="/Users.php?pattern=$pattern&amp;authpattern=$authpattern&amp;mailpattern=$mailpattern&amp;limit=$limit&amp;offset=$prevoffset">
            &lt;---
          </a>
        </span>
        <span class="right" id="topNext">
		  <a href="/Users.php?pattern=$pattern&amp;authpattern=$authpattern&amp;mailpattern=$mailpattern&amp;limit=$limit&amp;offset=$nextoffset">
		    ---&gt;
		  </a>
        </span>
        rows $OFFSET to $LAST of $COUNT
        <div style="clear: both;"></div>
      </div>
    <!--- Put out the response as a table -->
    <table class="details" id="dataTable">
    <!--- Put out the column headers -->
      <thead>
		<tr>
		  <th class="colhead">
		    User Name
		  </th>
		  <th class="colhead">
		    E-Mail Address
		  </th>
		  <th class="colhead">
		    Authorizations
		  </th>
		  <th class="colhead" colspan="3">
		    Actions
		  </th>
		</tr>
      </thead>
      <tbody>
		<tr id="Row$id">
		  <td class="$rowtype left">
		      <input type="text" class="white leftnc" size="18"
		    	name="User$id" id="User$id"
		      	value="$username">
		  </td>
		  <td class="$rowtype left">
		      <input type="text" class="white leftnc" size="24"
		    	name="EMail$id" id="EMail$id"
		      	value="$email">
		  </td>
		  <td class="$rowtype left">
		      <input type="text" class="white leftnc" size="18"
		    	name="Auth$id" id="Auth$id"
		      	value="$auth">
		  </td>
		  <td class="$rowtype left">
			<button type="button" id="delete$id">
		    	Delete
			</button>
		  </td>
		  <td class="$rowtype left">
			<button type="button" id="reset$id">
		    	Reset&nbsp;Password
			</button>
		  </td>
		  <td class="$rowtype left">
			<button type="button" id="confirm$id" $disabled>
		    	Confirm
			</button>
 	  </td>
		</tr>
      </tbody>
    </table>
    <input type="hidden" name="User999999999" value="">
  </form>
  </div> <!-- class="body" -->
  <div class="balloon" id="Helppattern">
    <p>
		This is an 
		<a href="https://www.regular-expressions.info/posix.html#ere">
		    extended regular expression</a>,
		as supported by MySQL,
		which is used to search for users based upon their user name.
    </p>
  <ul>
    <li>If the pattern contains no special 
		characters then only users containing that string will be included.
		For example the pattern "bob" will match users containing the
		string "bob".  Note that the search ignores case, so that pattern
		will also match "Bob" and "BOB".
    <li>If the pattern begins with a caret '^' then only users that
		<b>begin</b> with the remainder of the pattern are included.  
		For example the pattern
		"^Ba" displays users starting with "Ba" (or "ba" or "BA").
    <li>If the pattern ends with a dollar sign '$', then only users that
		<b>end</b> with the remainder of the pattern are included.  
		For example the pattern
		"CA$" matches users that end with "CA" (or "ca" or "Ca").
    <li>In a pattern a period '.' matches any single character.  For example
		the pattern "B.b" matches any user that contains two letter Bs
		separated by one character, for example "Bab", "Beb", "Bib", "Bob",
		or "Bub" anywhere in the user name.
    <li>In a pattern an asterisk '*' matches zero or more of the preceding
		character; "bo*b" matches "bb", "bob", and "boob"
		anywhere in the user name.
  <ul>
</p>
</div>
<div class="balloon" id="HelpmailPattern">
  <p>
		This is an 
		<a href="https://www.regular-expressions.info/posix.html#ere">
		    extended regular expression</a>,
		as supported by MySQL,
		which is used to search for users based upon their user name.
      <li>If the pattern contains no special 
		characters then only users whose e-mail address contains that string
		will be included.
		For example the pattern "London" will match users whose e-mail address
		contains the
		string "London".  Note that the search ignores case, so that pattern
		will also match "LONDON" and "london".
      <li>If the pattern begins with a caret '^' then only users whose e-mail
		address <b>begins</b> with the remainder of the pattern are included.  
		For example the pattern "^Ba" displays users whose e-mail address
		starts with "Ba" (or "ba" or "BA").
      <li>If the pattern ends with a dollar sign '$', then only users whose
		e-mail address <b>ends</b> with the remainder of the pattern are
		included.  For example the pattern "CA$" matches users whose e-mail
		address ends with "CA" (or "ca" or "Ca").
      <li>In a pattern a period '.' matches any single character.  For example
		the pattern "B.b" matches any user whose e-mail address contains two
		letter Bs separated by one character, for example "Bab", "Beb", "Bib",
		"Bob", or "Bub" anywhere in the e-mail address.
      <li>In a pattern an asterisk '*' matches zero or more of the preceding
		character; "bo*b" matches "bb", "bob", and "boob"
		anywhere in the e-mail address.
    <ul>
  </p>
  </div>
  <div class="balloon" id="HelpauthPattern">
    This is the identifier of a level of authorization, such as 'edit', or
    'blog', or 'all'.
  </div>
  <div class="balloon" id="HelpUser">
    This field permits the administrator to change the user name chosen by the
    contributor.
  </div>
  <div class="balloon" id="HelpEMail">
    This field permits the administrator to change the e-mail address supplied
    by the contributor.
  </div>
  <div class="balloon" id="HelpAuth">
    This field permits the administrator to change the list of authorizations
    for the contributor.
  </div>
  <div class="balloon" id="HelpSubmit">
    Click on this button to search for matching users.
  </div>
  <div class="balloon" id="Helpdelete">
    Click on this button to delete the associated user.
  </div>
  <div class="balloon" id="Helpreset">
    Click on this button to reset the password of the associated user to a new
    random string.
  </div>
  <div class="balloon" id="Helpconfirm">
    Click on this button to confirm the associated user and assign initial
    permissions.  This is in-case the e-mail exchange failed.
  </div>
    <script src="/jscripts/js20/http.js" type="text/javaScript">
    </script>
    <script src="/jscripts/CommonForm.js" type="text/javaScript">
    </script>
    <script src="/jscripts/util.js" type="text/javaScript">
    </script>
    <script src="Users.js" type="text/javaScript">
    </script>
