<!--*********************************************************************
 *  UserInfoen.html														*
 *																		*
 *  This is the English language template for the welcome page after	*
 *  sign-on.															*
 *																		*
 * History:																*
 *		2017/11/16		created											*
 *		2018/01/04		remove Template from template file names		*
 *																		*
 *  Copyright &copy; 2018 James A. Cobban								*
 **********************************************************************-->
  <div class="hidden" id="breadcrumbs">
    <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    <a href="/FamilyTree/Services.php?lang=$LANG">Family Tree Services</a>:
    <a href="/FamilyTree/nominalIndex.php?lang=$LANG">Family Tree</a>:
  </div>
  <div class="body">
    <h1>
      <span class="right">
	<a href="/UserInfoHelpen.html" target="help">? Help</a>
      </span>
	Welcome $USERID
    </h1>
    $TRACE
    $MSG

    <p class="warning">Notice:</p>
    <p id="Email">Under Canadian and international anti-SPAM legislation
	you have the right to not receive unsolicited e-mail messages from 
    this service.  That is e-mails that are not specifically related to
    the management of your account, such as promotions.
	If you wish to no longer receive regular e-mail notifications from
	this site follow <a href="/Account.php?lang=en">this link</a> and
	clear the flag authorizing the sending of those messages.
    </p>
    <p id="NoEmail">You have chosen to not 
	receive unsolicited e-mail messages from 
    this service.  That is e-mails that are not specifically related to
    the management of your account.
	If you change your mind and wish to receive e-mail notifications including
    advertisements and promotions from
	this site follow <a href="/Account.php?lang=en">this link</a> and
	set the option to reactivate the sending of those messages.
    </p>
    <p id="Pending">
        The site is waiting for you to confirm your e-mail address.
    </p>
    <p class="label" id="newsletter$i">
      <a href="/Newsletters/$filename" target="_blank">
		$month $y Newsletter
      </a>:
    </p>
    <p class="label" id="MonthlyUpdates$i">
      <a href="/MonthlyUpdates/$filename" target="_blank">
		$month $y
		Updates to Website Functionality
      </a>:
    </p>
    <p class="label">
      <a href="/FamilyTree/showAddedIndividuals.php">
		List of Recently Added Individuals
      </a>:
    </p>
    <form name="blogForm">
      <div id="blog$blid">
	<p class="label">
	    At $datetime user "$username" 
	    wrote:
	</p>
	<p>
	    $text 
	</p>
	<p>
	    <textarea name="message$blid"
		    rows="5" cols="80"></textarea>
	</p>
	<p>
	    <button type="button" id="Delete$blid">
	      Delete Blog
	    </button>
	    &nbsp;
	    <button type="button" id="Reply$blid">
	      Reply 
	    </button>
	</p>
      </div>
    </form>
  </div> <!-- class="body" -->
    <div id="Helpmessage" class="balloon">
	  Use this text area to enter a reply to the blog, and then click on the
	  Reply button.
    </div>
    <div id="HelpDelete" class="balloon">
	  Click on this button to delete the blog.
    </div>
    <div id="HelpReply" class="balloon">
	  Click on this button to reply to the blog.
    </div>
    <script src="/jscripts/tinymce/js/tinymce/tinymce.js">
    </script>
    <script src="/jscripts/util.js" type="text/javascript">
    </script>
    <script src="/jscripts/js20/http.js" type="text/javascript">
    </script>
    <script src="/UserInfo.js" type="text/javascript">
    </script>
