<!--*********************************************************************
 *  videoTutorialsen.html                                               *
 *                                                                      *
 *  This template provides access to a selection of video tutorials.    *
 *                                                                      *
 *    History:                                                          *
 *      2018/01/29      Created                                         *
 *                                                                      *
 *  Copyright &copy; 2018 James A. Cobban                               *
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/genealogy.php?lang=$LANG">Genealogy</a>:
    </div>    
    <div class="body">
      <h1>
        <span class="right">
            <a href="/videoTutorialsHelpen.html" target="help">? Help</a>
        </span>
            Video Tutorials
      </h1>
      $TRACE
      $MSG
      <div class="row">
        <a href="https://www.youtube.com/channel/UCRlV8grtf_3ZCB4bFvcXtgw">
          <img src="Images/icons8-youtube-48.png">
          YouTube Channel
        </a>
      </div>
      <ul id="listOfVideos">
        <li id="$filename">
          <span style="text-decoration: underline; color: blue;">
              <span id="Show$filename">Show</span>
              <span id="Hide$filename" style="display: none">Hide</span>
              $description
          </span>
          <div class="hidden" id="display$filename">
            <video controls>
              <source src="/Videos/$filename.webm" type="video/webm">
              <source src="/Videos/$filename.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos, 
                but don't worry, you can
                <a href="/Videos/$filename.webm">download it</a>
                and watch it with your favorite video player!
            </video>
          </div>
        </li>
      </ul>
    </div> <!-- body -->
    <script src="/jscripts6/util.js" type="module">
    </script>
    <script src="/videoTutorials.js" type="text/javaScript">
    </script>
