<!--*********************************************************************
 *  WmbUpdateen.html												    *
 *																		*
 *  Template to display the errors encountered when updating a          *
 *  Wesleyan Methodist record.                                          *
 *																		*
 *  History:															*
 *		2020/01/05		created											*
 *																		*
 *  Copyright &copy; 2020 James A. Cobban								*
 **********************************************************************-->
    <div id="breadcrumbs" class="hidden">
      <a href="/index.html">Home</a>:
      <a href="/genealogy.php?lang=$LANG">
      	Genealogy
      </a>:
      <a href="/Canada/CountriesEdit.php?lang=$LANG">
        List of Supported Countries
      </a>:
      <a href="/genCountry.php?cc=CA&amp;lang=$LANG">
      	Canada
      </a>:
      <a href="/Canada/genProvince.php?Domain=CAON&amp;lang=$LANG">
      	Ontario
      </a>:
      <a href="/Ontario/WmbQuery.php?lang=$LANG">
        Wesleyan Methodist Baptism Query
      </a>:
      <a href="/Ontario/WmbVolStats.php?lang=$LANG">
        Statistics by Volume
      </a>:
      <a href="/Ontario/WmbPageStats.php?volume=$VOLUME&amp;lang=$LANG">
        Volume $VOLUME
      </a>:
      <a href="/Ontario/WmbStats.php?lang=$LANG">
        Status 
      </a>:
      <a href="/Ontario/WmbResponse.php?volume=$VOLUME&Page=$PAGE&amp;lang=$LANG" id="pageDisplay">
		Volume $VOLUME Page $PAGE
      </a>:
    </div>
    <div class='body'>
      <h1>Update Wesleyan Methodist Baptism Registration
	    <span class='right'>
		  <a href='WmbDetailHelpen.html' target='help'>? Help</a>
	    </span>
      </h1>
	  $TRACE
	  $MSG
      <p class='label'>
       	<a href='WmbQuery.php?IDMB=$IDMB&Count=20' id='newQuery'>
       	    Specify next page to update
        </a>
      </p>
       
      <p class='label'>
       	<a href='WmbDetail.php?IDMB=$IDMB' id='updNext'>
       	    Update Baptism Registration $IDMB
       	</a>
      </p>
    </div>
	<script src="/jscripts/util.js"  language="JavaScript"></script>
	<script src="WmbDetail.js"  language="JavaScript"></script>
