/************************************************************************
 *  BirthRegDetail.css                                                  *
 *                                                                      *
 *  Stylesheet for the scripts BirthRegDetail.php                       *
 *                                                                      *
 *  History:                                                            *
 *      2013/12/21      created                                         *
 *      2015/02/01      add input.actlefterror and input.actleftncerror *
 *      2015/09/28      add input.actleftncerror and                    *
 *                      input.inaleftncerror                            *
 *      2018/03/17      increase width of labelSmall to 12em            *
 *      2019/12/10      separate input styling from color and bg        *
 *      2021/01/10      add input.wide for image field                  * 
 *                                                                      *
 *  Copyright &copy; 2021 James A. Cobban                               *
 ************************************************************************/

/*  column containers */
    div.column1 {   float:          left;
                    width:          26em;
                    margin-top:     1px;
                    margin-right:   3px;
                    }
    div.column2 {   float:          left;
                    margin-top:     1px;
                    margin-right:   3px;
                    }
    div.column3 {   float:          left;
                    margin-top:     1px;
                    margin-right:   3px;
                    }
/*  labels of various widths */
    label.labelSmall {
                    font-family:    sans-serif;
                    font-weight:    bold;
                    font-size:      smaller;
                    text-align:     right;
                    vertical-align: top;
                    padding:        0px 3px 0px 3px;
                    margin-top:     1px;
                    float:          left;
                    width:          12em;
                    }
    label.labelSmall6em {
                    font-family:    sans-serif;
                    font-weight:    bold;
                    font-size:      smaller;
                    text-align:     right;
                    vertical-align: top;
                    padding:        0px 3px 0px 3px;
                    margin-top:     1px;
                    float:          left;
                    width:          6em;
                    }

    input.left {
                    width:          16em;
                    margin-bottom:  2px;
                    }
    input.wide {
                    width:          50em;
                    text-transform: none;
                    margin-top:     1px;
                    }
    input.leftnc {
                    font-family:    sans-serif;
                    text-align:     left;
                    padding:        0px;
                    border-top:     1px solid black;
                    border-left:    1px solid black;
                    border-bottom:  1px solid white;
                    border-right:   1px solid white;
                    width:          16em;
                    margin-bottom:  2px;
                    }
    select.wide {
                    width:          18em;
                    text-transform: none;
                    }
    select.left {
                    font-family:    sans-serif;
                    text-align:     left;
                    padding:        0px;
                    margin-bottom:  2px;
                    }
    button.image {  width:          12em; 
                    padding:        0px 3px 0px 3px; 
                    margin-top:     1px;
                    margin-left:    3px; 
                    margin-right:   9px;
